[2020-06-03 20:03] suggestedfixes commented on #446
@MushMal @chehefen
This is still an ongoing experiment with both gstreamer master and file master.

[2020-06-03 20:06] MushMal commented on #446
I would suggest closing this issue as it's a generic description. Instead, as you make progress, open a targeted issues

[2020-06-03 21:00] chehefen commented on #493
our log shows that there was no offer sent in channel 00C002450461-2004ISBU00001 from 2020-06-01T12:11:06 UTC to 2020-06-02T08:37:30 UTC. Can you check that app is using the right channel?

[2020-06-03 21:06] chehefen commented on #513
It's not clear what you are trying to optimize. Can you be more specific? one example would be like the time taken when offer is received until picture appears in the browser. Reducing those timeouts wont help because if your network is good they should never be reached anyways. If you network is bad then you are increasing the likelihood of connection failure.

[2020-06-03 21:10] suggestedfixes commented on #513
The optimization is very generic. We have a signaling channel in us-east-2 region, and we have different offices in North America. Since we are WFH, Some of us have slow connections and some of us have very fast connections. The variables are distance and home network bandwidth.

[2020-06-03 21:12] suggestedfixes commented on #513
With caching from browser side. We can usually grab the video track within 1-2 seconds. From browser side logging, it seems like the bottleneck for now is the amount of time receiving the first candidate from the master side.

[2020-06-03 21:35] suggestedfixes commented on #446
@MushMal
Let's take file master sample, we need help on try to restart media thread. This means joining and creating the thread.

[2020-06-03 21:43] chehefen commented on #513
can you tell us what took 10 to 20 seconds? if you can narrow it down to certain calls that would be very helpful.

[2020-06-03 22:07] MushMal commented on #446
@suggestedfixes the samples are just that - samples. The thread in the master sample is to simply emulate a media pipeline. Most media pipelines operate on "PUSH" model where a thread in the media pipeline calls a callback to push a frame. You don't need any thread in that case.

In a real commercial application you might need to use the media capabilities and the liveness of the media pipeline at

[2020-06-03 22:38] suggestedfixes commented on #513
The measurement is from sending the offer to obtaining the video track. I'm going to attach some measurements.

[2020-06-04 00:41] suggestedfixes commented on #513
I'm not familiar with the protocols. How realistic is it to cache ice candidates on the device SDK side? In theory, those don't change very much, and worst case, we can refresh those once in a while.

[2020-06-04 02:22] tesnorindian commented on #510
Thanks @MushMal for the quick turnaround.

Meanwhile we have disabled SCTP in our offer to support an additional video track as we don't need application media line for our use case.

I will try with the new fix supporting up to 5 media lines.

Thanks once again.

[2020-06-04 03:49] MushMal commented on #510
I am resolving this issue for now. Please don’t hesitate to reopen

[2020-06-04 03:49] #510 closed

[2020-06-04 05:20] MushMal commented on #513
@suggestedfixes it's a good idea but one that will likely fail in many network topologies. If the network topology is static the entire WebRTC negotiation phase is kind of pointless.

Not sure if this is a general case to add. Per @chehefen suggestion, could you troubleshoot the bottlenecks to understand where we spend most of the time?

[2020-06-04 07:00] Teresa7755 commented on #493
Could you please help to check if there were offer requests sent in this channel from 2020-06-01T10:32:17 UTC to 2020-06-01T10:48:40 UTC? App sent the offer requests during that time, but camera didn't receive them.

[2020-06-04 08:53] ajjiang48 commented on #497
@chehefen checked-out and try the newer WebRTC SDK and this issue is disappeared. Thanks~~

[2020-06-04 09:17] ajjiang48 opened #517 "SET_LOGGER_LOG_LEVEL/GET_LOGGER_LOG_LEVEL not working issue"
Hi, I used SET_LOGGER_LOG_LEVEL to set a different log level than the AWS_KVS_LOG_LEVEL environment variable, but it looks the real log level always match what the AWS_KVS_LOG_LEVEL set, if there's no AWS_KVS_LOG_LEVEL, it looks the log level is always 7 (LOG_LEVEL_VERBOSE).
The SDK version I used is newer than 1.0.0 (I just git clone the C SDK to check this issue on 6/2).
Please help check it. Th

[2020-06-04 12:43] Nomidia opened #518 "[BUG]Memory is not released completely after session disconnecting"
**Describe the bug**
The memory usage rate is increasing during the connection.

I have customized the following params to reduce the size of the rolling buffers.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/Rtp.h#L11-L12
[code]
I added the definitions in CMakeLists.txt. And reset the allocators in code.
`	add_definitions(-DINSTRUMENTED

[2020-06-04 17:43] bdhandap commented on #488
@zwei333 Thanks for trying. I am checking the logs and will let you know.

[2020-06-04 18:01] MushMal commented on #517
Verbose is 1. Please set values between 1-7

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c#setup-desired-log-level

[2020-06-04 18:58] MushMal commented on #518
@Nomidia thanks for the report. Generally speaking, the RTP buffer is what can reserve most of the memory. On "bad" networks when packets get dropped there will be re-sends and hence more allocation. However, once the peer connection terminates, it should tear down the entire memory usage. Can you please check:

* When you are stopping the session, the peer connection can take some time to fully c

[2020-06-04 20:30] #497 closed

[2020-06-04 20:53] chehefen commented on #493
Log says that offer could not be sent because no master was connected. Can you check if your camera is connected to signaling channel?

[2020-06-04 20:56] chehefen commented on #513
We need you to pin point where the latency is coming from and then we can help you optimize.

[2020-06-04 20:58] chehefen commented on #442
closing as the issue should be fixed by #481

[2020-06-04 20:58] #442 closed

[2020-06-04 21:00] chehefen commented on #425
@zwei333, can you capture the packets for both the good and bad cases and send us the pcap file? thanks.

[2020-06-04 21:02] chehefen commented on #369
closing the issue as connection with echo show should be fine after release https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/v1.1.0

[2020-06-04 21:02] #369 closed

[2020-06-05 00:58] suggestedfixes commented on #513
I had been in meetings for the whole day. Will get the measurement ASAP.

[2020-06-05 01:28] juanea opened #520 "[QUESTION] gstreamer example not running"
I want to run the ./kvsWebrtcClientMasterGstSample and been able to see the live feed in https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html
with no success.
I am attaching the log file with this two flags:
AWS_KVS_LOG_LEVEL=4
GST_DEBUG=2
[2020-06-04_AWS_Webrtc_sdk_c.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4733135/2020-06

[2020-06-05 02:34] juanea opened #521 "[QUESTION] gstreamer through rtsp protocol"
I want to modify the gstreamer example https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c to be able to stream an ip camera throught rtsp.

I am able to see the camera feed with gstremer with this command launching it through terminal.
gst-launch-1.0 rtspsrc location=rtsp://ipaddress latency=100 ! queue ! rtph264depay ! h

[2020-06-05 02:39] disa6302 commented on #520
@juanea ,

Can you include the details about where you are running gstreamer sample from? Is gstreamer using the system camera?
Also, if you could, please attach logs with GST_DEBUG=4.

[2020-06-05 03:02] Nomidia commented on #518
I ran the demo and reproduced the problem. The final occupied memory minus the leaked memory equals to the vaule before connection. 2114006 - 2042016 = 71990
[master2.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4733655/master2.log)

[2020-06-05 03:09] Teresa7755 commented on #493
Yes, the log I shared shows that camera was connected to signaling channel at 2020-06-01T10:31:31 UTC and received ping_pong callback and writable callback regularly.
[
![D2E2EDF6-5524-4F81-BA76-56B57B05B034](https://user-images.githubusercontent.com/65950956/83831871-e0291b00-a71a-11ea-8123-2cfb3215e188.jpeg)
](url)

[2020-06-05 04:14] MushMal commented on #518
Thanks, it's not immediately clear what causes the leak - seems that some of the negative paths do not free allocations. Can you please confirm that you don't have any changes of your own?

I would love if we can reproduce this locally so we can look into this closer.

[2020-06-05 05:13] MushMal commented on #518
Looking at the leaked numbers (2042016 bytes) it seems that the rtp buffer didn't get freed perhaps. Hard to tell. Please try to answer the question about the modifications you've made. Would be nice to have a clear way to reproduce

[2020-06-05 06:10] Nomidia commented on #518
Sorry, it was lunch time. I only change the size of rolling buffer cause last week I found it occupied too much memory. The test was normal at the time. But when the network is sometimes not good, the live stream will stop after watching for a while.
[code]

[2020-06-05 06:12] MushMal commented on #518
Got it. Let us do some testing on our side to try to hit this so we can debug. We will also need to look closed at the logs you've produced - perhaps it can give better hints

[2020-06-05 07:24] ajjiang48 commented on #517
@MushMal sorry I mis-match the log level wording and the number; I used the defined log words LOG_LEVEL_SILENT in the code (SET_LOGGER_LOG_LEVEL(LOG_LEVEL_SILENT )), but it always prints DEBUG/INFO logs, but if I run the command "export AWS_KVS_LOG_LEVEL=7" before the sample webrtc viewer, the result will be correct (no DEBUG/INFO logs printed). that's why I said the SET_LOGGER_LOG_LEVEL/GET_LOGGE

[2020-06-05 08:00] ycyang1229 opened #522 "[QUESTION] The support of curl"
A one liner description about the use case and what you are trying to achieve
The support of curl
** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution
Will this sdk support curl?
** If you would not like to open an issue to discuss your solution in open-platform, please email your question to kinesis-video-support@amazon.com **

[2020-06-05 09:33] ycyang1229 opened #523 "[QUESTION] the length of pChannelName and pChannelArn @createValidateChannelInfo"
A one liner description about the use case and what you are trying to achieve
the length of pChannelName and pChannelArn @createValidateChannelInfo

** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution

Does the line#121 need to use strncpy since sdk already truncates the channel name at line#21 by using strnlen?
https://github.co

[2020-06-05 10:19] ajjiang48 opened #524 "Why KVS WebRTC Test Page master always received "Disconnected from signal channel" after 10 minutes?"
Hi, as the question title, and the viewer side is implemented in a Lunux-based WebRTC C SDK version v1.0.x., and, after the test page showed "Disconnected from signal channel", the webrtc data is still transmission without problem. below is the test page log:

[2020-06-05T05:49:25.050Z] [INFO] [MASTER] Starting master connection
[2020-06-05T05:49:25.480Z] [INFO] [MASTER] Connected to signaling ser

[2020-06-05 17:05] juanea commented on #520
Thank you very much @disa6302,
I am trying to run this sample https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c
With my system camera.

"Opened device 'Integrated Camera: Integrated C' (/dev/video0) successfully"

Here is the file with GST_DEBUG=4.
[2020-06-05_AWS_Webrtc_sdk_c.txt](https://github.com/awslabs/amazon-kines

[2020-06-05 17:05] MushMal commented on #517
@ajjiang48 it's hard to debug this without concrete code. Can you please provide a little more context as to what you are trying to do? Are you trying to set the log level in the sample application? If so, are you setting it before or after the sample application sets the log level from the env variable?

Also, NOTE: The signaling client will re-set the log level to the one that's specified in htt

[2020-06-05 17:07] MushMal commented on #522
We don't have any support for libCurl in the embedded WebRTC. Could you please specify your use case and why the libWebSockets solution will not work for you?

The main difficulty with libCurl is that we will still need to use libWebSockets as the communication requires web sockets.

[2020-06-05 17:10] disa6302 commented on #520
@juanea ,

The reason it is probably not working is your viewer and gstreamer master sample are accessing the same underlying camera that is causing some resource contention. Try to run the sample with testsrc and run the viewer js to confirm the sample works:

`./kvsWebrtcClientMasterGstSample <channel-name> audio-video testsrc`

Let me know how it goes.

[2020-06-05 17:17] MushMal commented on #523
No, it can actually use

MEMCPY(pCurPtr, pOrigChannelInfo->pChannelName, nameLen * SIZEOF(CHAR));

This said, there is not going to be any performance gains at all. Especially, since this is not a "hot" path.

Can I ask whether this is perf related or any correctness related?

[2020-06-05 17:18] MushMal commented on #523
Oh, one more thing. Just realized that this is actually STRCPY and not STRNCPY which will operate at almost the same speed as MEMCPY

[2020-06-05 17:26] chehefen commented on #493
which commit of sdk are you using?

[2020-06-05 17:34] chehefen commented on #524
Our signaling websocket connection has an idle timeout of 10min. If you want to keep the signaling connection alive, you will need to send ping pong messages through the websocket connection. I dont think that the js sdk is doing it; thats why you see Disconnected from signaling channel after 10min. You can still receive data because ICE is still connected. Signaling is only used to exchange SDP i

[2020-06-05 17:36] chehefen commented on #521
you can refer to this sample: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c. You just need to modify the upstream plugins to consume from rtsp.

[2020-06-05 18:18] juanea commented on #520
Thank you @disa6302 That worked.
![Screenshot from 2020-06-05 10-36-41](https://user-images.githubusercontent.com/9869942/83909667-1320de00-a71e-11ea-818d-eb7c4c8208cd.png)
So If I want to see my laptop camera direclty and see it in the console not the the javascript sample page what should I do?

Thank you.

[2020-06-05 18:27] MushMal commented on #520
@juanea there is no single answer as it depends - on your hardware, your OS, your browser and the GStreamer implementation. I doubt that you will find good solution in this forum. Perhaps some GStreamer and your browser specific forums might be a better place.

The gist of the issue is that most hardware resources are not "sharable" at the higher layers in the OS.

[2020-06-05 18:32] juanea commented on #520
Thank you @MushMal and @disa6302

[2020-06-05 18:32] #520 closed

[2020-06-05 21:22] chehefen commented on #518
this is the diff
[code]

RESET_INSTRUMENTED_ALLOCATORS isnt reporting any leak when kvsWebrtcSampleMaster is shut down. If you want to reduce the memory footprint you can try reduce DEFAULT_ROLLING_BUFFER_DURATION_IN_SECONDS and DEFAULT_SEQ_NUM_BUFFER_SIZE in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/Rtp.h

[2020-06-05 23:04] sharadrj commented on #427
@zwei333, Sorry missed your last comment earlier.

[2020-06-05 23:50] juanea commented on #521
@chehefen Thank you for your reply.

Yes, I am modifying the upstream so that it consumes rtsp from that specifi file that you mention.
`pipeline = gst_parse_launch(
                    "rtspsrc location=rtsp://192.168.1.10:554/live1.sdp latency=0 ! rtph264depay ! h264parse ! avdec_h264 !"
                    "appsink sync=TRUE emit-signals=TRUE name=appsink-video audiotestsrc is-live=TRUE ! "

[2020-06-06 01:23] mdonahoe opened #526 "ERROR turnConnectionStepState(): operation returned status code: 0x5a000020"
I'm using an LTE modem on my master device. I see this error on my master when a client tries to connect using TURN

[code]

Any ideas for how to investigate this?

Related, has there been any progress made on supported UDP-based TURN?

Thanks!

[2020-06-06 02:44] ycyang1229 commented on #523
They are good! Basically, they are the same thing, so I just want to know which one is the preference in this sdk.

[2020-06-06 02:44] #523 closed

[2020-06-06 05:18] suggestedfixes commented on #521
This one worked for us
[code]

[2020-06-06 08:31] Nomidia commented on #518
Yes, I have added these codes. I use the same codes to run on Ubuntu and IoT device. These are debugging information.

1. When the device and Ubuntu are  running under the same network through the wired network. The memory only occurs on device as so far. I connect to the device twice, only the second time there was a memory leak.
[wired.log](https://github.com/awslabs/amazon-kinesis-video-streams

[2020-06-06 18:23] juanea commented on #521
Thank you @suggestedfixes I will take a look and see that works for me as well.

[2020-06-08 02:33] chehefen commented on #526
the latest master uses UDP-based TURN by default. Log shows that you cant make tcp connection for some reason.

[2020-06-08 02:59] chehefen commented on #521
you need to omit the avdec_h264, you dont need to decode it. the webrtc client is expecting h264 frames.

[2020-06-08 03:18] ycyang1229 commented on #522
Hey, thanks for @chehefen, and he explained the processes of signaling channel for me. For my experience, some embedded device has the libcurl already, but does not have libwebsocket. So I am seeking the possibility of using libcurl excluding libwebsocket.

So I summarized the information for some people who may need. Please correct me if I am wrong. Thanks.

For these APIs, we can use either http

[2020-06-08 03:18] #522 closed

[2020-06-08 03:22] chehefen commented on #517
@ajjiang48, it's probably that the environment variable processing happened after your SET_LOGGER_LOG_LEVEL call and override your setting. Any reason you cant use the AWS_KVS_LOG_LEVEL environment variable to set log level?

[2020-06-08 03:47] ajjiang48 commented on #517
@MushMal @chehefen I just reference the the sample viewer source code and do the log level set ONLY in the createSampleConfiguration function; the codes is very simple as below:
+++++
   // Set the logger log level
    pLogLevel = NULL;
    pLogLevel = getenv(DEBUG_LOG_LEVEL_ENV_VAR);
    if (pLogLevel != NULL) {
    	STRTOUI32(pLogLevel, NULL, 10, &logLevel);
    }
    else {
	logLevel = LOG_LEVE

[2020-06-08 06:13] mdonahoe commented on #526
Ok, I'll try master. I'd prefer UDP anyway.

Weirdly, I am able to create TCP connection for the signaling to work, so I am a little confused why this TCP connection would fail when that one did not.

[2020-06-08 06:43] ajjiang48 commented on #524
@chehefen thank you for the explanation, so, it looks the C SDK implementation has do the ping pong message or other message exchange with the signal server within each 10 min, so my C SDK viewer side doesn't get the disconnect event; is my understanding correct ??

[2020-06-08 06:47] MushMal commented on #524
Correct, the C SDK handles pong and detection of disconnect with auto-reconnect. Resolving

[2020-06-08 06:47] #524 closed

[2020-06-08 21:14] suggestedfixes opened #527 "[QUESTION] Windows Build Error (Filename too long)"
How to solve this error with windows build?
[code]

[2020-06-08 21:39] suggestedfixes commented on #513
Initial brief browser side testing, will grab the device side log
[code]

[2020-06-08 22:12] suggestedfixes commented on #513
This is one of the faster connections, will try to find a slow one.
[code]

[code]

[2020-06-08 23:32] getash opened #528 "Signaling Channel as viewer does not work when stopped & started the Media Playback"
Hello,

Stepped performed,

(1) Downloaded the AWS WebRTC C SDK
(2) Created new C file based off the /home/driveevents/amazon-kinesis-video-streams-webrtc-sdk-c/samples/kvsWebRTCClientMasterGstreamerSample.c
(3) Altered to take in device port as an input so that it can read the camera attached to the device (I am using NVidia Jetson TX2)
(4) Edited the CMakeLists.txt to include the new C file
(5)

[2020-06-08 23:37] getash opened #529 "[Deleting an existing Signaling Channel & rerunning the Sample code on device gives error ]"
**Describe the bug**
Deleting an existing signaling channel on the AWS Management Console - Kinesis Video stream & running the modified kvsWebRTCClientMasterGstreamerSample.c (changed in order to accept video source as an input & it compiles/works fine)

**SDK version number**
master Latest

**To Reproduce**
Steps to reproduce the behavior:
1. Run ./kvsWebRTCClientMasterGstreamerSample test-channe

[2020-06-09 01:02] suggestedfixes commented on #446
In the case of Gstreamer, seems like there is a gstreamer event loop blocking, and we also have a webrtc loop blocking. It seems pretty difficult to merge those two event loops into one event loop without threads.

[2020-06-09 03:38] MushMal commented on #528
It's not immediately clear what's going on with the master. It seems that it receives the offer and responds with an answer and proceeds to connect where it succeeds (via TURN). Not sure why the peer closes the DTLS connection.

Can you please clarify what you are seeing in the console or JS test application? Do you see a blank screen? Can you check the JS test page as a viewer and see the output?

[2020-06-09 03:42] MushMal commented on #529
@getash could you please include the debug logs?

The correct behavior of the signaling client is to check if the channel exists (issuing DescribeChannel) call and if it's not then attempt to re-create it.

It's OK to get 404 - this is the normal negative path.

NOTE: The SDK/Signaling client does return status codes for machining.
NOTE: The DELETE operation is not 'prompt' - it's actually asynchr

[2020-06-09 03:58] zhuker opened #530 "release 1.1.1?"
feels like this commit  https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/3a083735266214286f4cc90c6ab5b2b7412e51ee is worth a micro release

[2020-06-09 03:59] getash commented on #528
@MushMal both on console and the test page, I see blank screen with attempt to get the stream circling. Are there any other information I can provide in regards to this? Thanks!

[2020-06-09 04:00] MushMal commented on #446
@suggestedfixes I am not sure what you mean. The samples codebase is minimized so we can have as little code as possible to demo simple interactions. Thus, most of the functionality is concentrated in Common.c which serves both the master samples and the viewer sample.

In order to not duplicate code, we do create a thread when the offer comes in using the function pointer that's specified by the

[2020-06-09 04:02] MushMal commented on #528
I would like to troubleshoot and understand whether this is an ICE connection (which it doesn't look like it) or an issue with the media thread. It's quite likely that the master sample simply can't start the media and there are no frames that are being submitted.

Could you please troubleshoot this part? Check to see if you are actually starting the media (depending on your integration)

[2020-06-09 04:03] MushMal commented on #530
Yes indeed. We were going to cut a Revision release but thought to accumulate into a minor release as there has been a bunch of new changes. Please stay tuned

[2020-06-09 04:07] zhuker commented on #530
it would also be cool to include `amazon-kinesis-video-streams-pic` and `amazon-kinesis-video-streams-producer-c` with the release vs downloading separately
a little less pain to bazelize the new version
please please

[2020-06-09 04:15] MushMal commented on #530
That's the idea indeed

[2020-06-09 04:29] zhuker commented on #530
@MushMal can you give me an ETA? i either wait for you guys or use a master commit

[2020-06-09 05:16] MushMal commented on #530
It’s hard to come up with an ETA due to few factors. We are targeting this week.

Can you please provide some information about what your intent is. Are you building a device firmware and need to lock down the date? It’s ok to reply to Kinesis-video-support@amazon.com - just will be easier to help and support you.

[2020-06-09 16:04] getash commented on #528
@MushMal I can go over the changes I did on the kvsWebRTCClientMasterGstreamerSample.c to give an idea.

(1) Needed to define an argument that would take in device port as the examples only does test sources. (btw, I tried runningthe unaltered /kvsWebRTCClientMasterGstreamerSample samplechannel video-onl y testsrc & did not see even the sample frames on the AWS Console. This is just FYI)
(2) For t

[2020-06-09 16:49] zhuker commented on #530
this week works for me! thanks

i am under NDA, sorry :/

[2020-06-09 18:21] suggestedfixes commented on #527
![gp](https://user-images.githubusercontent.com/61390265/84185035-42e42480-aa43-11ea-9fdc-5de15c6f4067.PNG)
Attempted to configure long win32 filename, didn't work.

[2020-06-09 18:24] disa6302 commented on #527
@suggestedfixes ,

Can you try this?
git config --system core.longpaths true

[2020-06-09 18:41] suggestedfixes commented on #527
I'm no longer experiencing this issue!
Now installing perl

[2020-06-09 18:42] #527 closed

[2020-06-09 18:44] MushMal commented on #528
Nothing that pops really. Something likely with the media pipeline shutdown.

Could you check whether this line gets executed under the debugger:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L497

That should lead to a call to https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamer

[2020-06-09 19:45] chehefen commented on #518
Hi @Nomidia, I tried various things but I still cant reproduce the leak. Can you print a stack backtrace using https://man7.org/linux/man-pages//man3/backtrace_symbols.3.html inside
- https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/utils/src/InstrumentedAllocators.c#L177
- https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/utils/src/Instrumented

[2020-06-09 19:45] getash commented on #528
@MushMal I put a breakpoint using gdb & it broke into the function when I stopped the video stream on the AWS WebRTC console.

I noticed that the onSampleStreamingSessionShutdown gets called in the receiveGstreamerAudioVideo which does only audio aspects to it & is a separate pipeline which I did not alter. Also, I am sending video or audio as a viewer. I am simply viewing it on the AWS Kinesis co

[2020-06-09 20:26] MushMal commented on #493
@Teresa7755 it seems that your viewer times out and can't connect within the 10 sec. From the viewer log it seems that it was able to connect to the websocket but the SDP exchange times out.

While I am not yet sure what's going on, I was wondering whether you can answer also the following. How often can you reproduce this issue? Once reproduced, does the viewer keep failing? During this time, cou

[2020-06-09 20:33] mateuszboryn opened #532 "[FEATURE] gstreamer sink and source component"
Dear developers,

There is an example `kvsWebRTCClientMasterGstreamerSample.c` which sets up a fixed gstreamer pipeline that is created in C code.
However there are no gstreamer components built, that could be used in a custom pipeline out of the box (using shell command gst-launch-1.0).

What I would expect is to have a sink and as source component(s) for gstreamer that could be used in custom pi

[2020-06-09 20:40] MushMal commented on #532
Thanks for opening this feature request. We are looking at this and trying to analyze the customer demand in order to assess the prioritization.

Could you please describe your use case and add some info why a custom built application won’t be able to handle your needs similar to the samples we publish?

Of course, aside from general usefulness of the plugin.

[2020-06-09 21:57] mateuszboryn commented on #532
Use case requires a component for well-known and media standardized streaming framework.

Platform-dependent video encoder is a must (for example in Raspberry PI using h264enc is CPU consuming, while omxh264enc is the recommended way for video encoding).

Tuning codec parameters is needed.

User defined algorithms for media processing should integrate well and easily with webrtc and IoT. Hardcodin

[2020-06-09 22:31] juanea commented on #521
Thank you @chehefen
I am still having the same problem. I connected a different camera and what @suggestedfixes suggested works perfectly.
But the camera that I need to use still has problems.
I am attaching the log.
[log_rtsp.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4755199/log_rtsp.txt)
Is there any specific setting that the camera should have?
This are the

[2020-06-09 22:38] MushMal commented on #521
It's hard to tell what might be wrong. Have you tried posting this question to GStreamer forums to get some help with regards to rtp? It really is not related to webrtc

[2020-06-09 23:01] MushMal commented on #532
Understood. To refine though, if you are building a particular device, you would actually hard-code the pipeline and use a custom application instead of a plugin.

What's the primary cause in your case to request a plugin?

[2020-06-09 23:25] MushMal commented on #518
@Nomidia what's the commit you are using? We did fix a mem leak https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/93dbd03699b9eaaa9c173de888da7e0dd2f5daec

I am not sure whether alignment has anything to do with this though.

[2020-06-09 23:47] getash commented on #529
@MushMal I retried this with providing more time before I initiated creation of a new channel. That worked. Thanks for the clarification. I shall close this issue.

[2020-06-09 23:47] #529 closed

[2020-06-10 02:02] Nomidia commented on #518
@MushMal The point you mentioned has been involved. I will use the latest version and add the stack backtrace to test.

[2020-06-10 04:55] zwei333 opened #534 "[QUESTION] failure in connectSignalingChannelLws()"
On one of our platforms, signaling channel client initialization gets stuck in the while loop of this line, and eventually returns error code 0x0000000f.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/acc94940a715ac5dec8f20cf5e51b65607e09e43/src/source/Signaling/LwsApiCalls.c#L1265
The problem doesn't happen every time.  There is 50% chance to see it.  The other 50% chan

[2020-06-10 05:20] MushMal commented on #534
@zwei333 the definition of this particular status code is here: https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/common/include/com/amazonaws/kinesis/video/common/CommonDefs.h#L457

You need to provide debug logs in order to understand why the connect is timing out.

Also, it might help to build debug version of the libWebSockets by uncommenting https://github.com/awslab

[2020-06-10 06:31] rossyeager opened #535 "CMakeLists.txt references several variables that do not exist anymore"
Just a quick glance at the `CMakeLists.txt` file after updating to latest master. I have an install step that I have added in my local copy with older versions of the library that referenced the following variables `KINESIS_VIDEO_PIC_SRC` and `KINESIS_VIDEO_PRODUCER_C_SRC`. These don't seem to be set in the latest `master`. The are referenced here:

`file(GLOB PIC_HEADERS "${KINESIS_VIDEO_PIC_SRC}

[2020-06-10 06:38] disa6302 commented on #535
@rossyeager ,

Thanks for pointing it out, will have a PR out to remove this soon!

[2020-06-10 06:38] MushMal commented on #535
@rossyeager you are correct - these should be cleaned up.

We have moved from directly submoduling the related projects to using them as a separate open source project with their own INSTALL command to get the public headers into the installation root.

We would love any contributions though :)

[2020-06-10 10:24] lory17 commented on #464
I meet this error too, it will happend in bad network status
this is my debug log, please help to check.
`root@OpenWrt:/mnt/diskd/install# ./kvsWebrtcClientMaster _arm_v37
[KVS Master] Using trickleICE by default
[KVS Master] Created signaling channel _arm_v37
[KVS Master] Finished setting audio and video handlers
[KVS Master] KVS WebRTC initialization completed successfully
2020-06-10 10:04:49 IN

[2020-06-10 11:11] Nomidia commented on #518
@chehefen The device doesn't support backtrace.
[code]
I test the device and Ubuntu again at the same time. I can't reproduce it except on the device. I even limit the bandwidth of the Ubuntu. I think we should find other ways to analyse it.

platform:
Linux localhost 3.4.43-gk #3 PREEMPT Tue Mar 31 17:48:17 CST 2020 armv6l GNU/Linux

[2020-06-11 01:47] rossyeager opened #538 "Missing libsrtp2 pc file [BUG]"
**Describe the bug**
Latest master does not create a package config file for libsrtp2 but includes it as a library

**SDK version number**
commit: acc94940a715ac5dec8f20cf5e51b65607e09e43

**Open source building**

I am building the repository and creating a deb package for installation in our build system. When I install the libraries, dependencies, and created pc files, I am missing the srtp2 pc

[2020-06-11 03:03] coldheartday commented on #493
@MushMal
 I reproduced it twice from the last 24 hours. In the last reproduced, app viewer keep failing and viewer through  AWS console also failed.  Attached is master's log, reproduced time is  from 2020-06-11 10:20:20( UTC+8) to 2020-06-11 10:39:29( UTC+8), chanel "749D79DD9DFF-2020CWA000299"
[webrtc_master_0611.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/476

[2020-06-11 07:53] hsinghaowang opened #540 "[BUG] Stucked in createLwsIotCredentialProvider()"
**Describe the bug**
sometimes it get stucked in createLwsIotCredentialProvider() for a long time (7minutes)

**SDK version number**
git commit: dbf484bae22f8d597edc61e047b46726f4664b46

**To Reproduce**
1. setup Iot Credential variables
2. call createSampleConfiguration(), it will call createLwsIotCredentialProvider()

**Expected behavior**
createLwsIotCredentialProvider() should return in a shor

[2020-06-11 08:22] hsinghaowang opened #541 "[BUG] Stucked in freePeerConnection()"
**Describe the bug**
sometimes it get stucked in freePeerConnection()

**SDK version number**
git commit: dbf484bae22f8d597edc61e047b46726f4664b46

**To Reproduce**
1. Start multiple WebRTC sessions
2. Stop each viewer.

**Expected behavior**
freePeerConnection() should return in a short time.

**Additional context**
 - OS: [ARM Linux 3.3 with 128MB RAM  600MHz CPU]

Log: after second "freeSampleS

[2020-06-11 18:19] disa6302 commented on #466
Stale ticket. Closing. Feel free to re-open or create a new issue if you have any questions!

[2020-06-11 18:19] #466 closed

[2020-06-11 18:49] MushMal commented on #541
@hsinghaowang could you please add more information about which asset you are using and whether you have any modifications?

If this is a stock asset (like the sample master application) could you provide more information what 'stuck' is? You can run it under the debugger and hit "pause" and dump the backtraces of all of the threads in debug build which will give us more context on the local varia

[2020-06-11 18:55] MushMal commented on #540
@hsinghaowang which asset you are using and whether you have any modifications?

I am not sure what's causing the call to be "stuck" as there are timeouts implemented in place but those should be a lot shorter than 7 mins. Can you run the debug build under the debugger to see where the threads are blocked? What happens after 7 minutes? Does this come back with an error? Do you have verbose logs? C

[2020-06-12 02:37] hsinghaowang commented on #540
It happened in our program which using WebRTC C SDK. So it might be our problems. But I put logs before and after createLwsIotCredentialProvider()...
After 7 mins, it continues as usual, works fine.

PS. If we replace createLwsIotCredentialProvider() with createStaticCredentialProvider(), it never stucked (for now)

[2020-06-12 02:44] disa6302 commented on #535
@rossyeager ,

This is fixed.

[2020-06-12 02:44] #535 closed

[2020-06-12 03:32] disa6302 commented on #530
@zhuker ,

New release is up. You can check out v1.2.0 now. Thank you for your patience.

I am closing this ticket now. Feel free to open a new issue if you have any questions.

[2020-06-12 03:32] #530 closed

[2020-06-12 04:11] MushMal commented on #493
Sorry for the delay. I have spent some time looking through the log. Mostly, it seems just fine and I do see some playback happening. However, just around the time mentioned 10:20:20 I see disconnect in the log:

`[2020-06-11 10:21:34 711657] lwsHttpCallbackRoutine(81): Client connection failed. Connection error string: closed before established
`
Due to the fact that you are using cached calls, t

[2020-06-12 04:24] MushMal commented on #518
@Nomidia sorry I am drawing blank here. It's puzzling why this would reproduce only on your device - not entirely sure yet. Just to confirm, on your device, are you using any special allocator? Are you using built-in system version of the open-source libraries that might operate differently (in either case I can't understand what could cause the leak).

Could I ask you perhaps to add instrumentati

[2020-06-12 04:38] MushMal commented on #540
The logic of the IoT credential provider is rather simple. As the credential provider could be "asked" by the lower-layers to get credentials, we do cache the credentials until it expires minus a certain grace period. If, however, the cache is invalidated, it will actually make the real call. Here, we use the IoT certificate, the endpoint and the private key to make the call using LibWebSockets (f

[2020-06-12 16:33] suggestedfixes opened #545 "[QUESTION] How long can we cache signalling endpoints for?"
We wanted to specify an expire time for signaling endpoints we cached on front end beyond which we know for sure has expired. So how often do HTTPS and WSS endpoints change?
We looked here and couldn't find anything
https://docs.aws.amazon.com/kinesisvideostreams-webrtc-dg/latest/devguide/kvswebrtc-limits.html
But from docs on kvs stream, it says 45 minutes for GetDataEndpoints, so I assume simila

[2020-06-12 18:07] suggestedfixes commented on #521
- h264parse after h264depay and before the caps filter might be helpful.
- h264 has multiple profiles, so try one of the baseline profiles if your device supports it.

[2020-06-12 18:10] MushMal commented on #545
@suggestedfixes the links you've been looking at are irrelevant to this conversation. The second link is the max session time in streams that's enforced by the backend, though, the SDK handles graceful session stitching. This is not relevant to WebRTC.

For WebRTC we do not publish any validity times. This is highly dependent on the system. At times, we take the backend instances out for servicing

[2020-06-12 20:03] suggestedfixes commented on #545
Got it I will cache for 10 hours on the front end.

[2020-06-12 20:03] #545 closed

[2020-06-12 22:31] suggestedfixes opened #547 "[QUESTION] Build help"
I'm trying to build this commit
f0ff7e6d58a9218ff829f22f99a296832eaf681a

Right now I'm stuck at this message, any idea how to solve it?
[ 26%] Building C object CMakeFiles/kvsCommonLws.dir/src/source/Common/Auth.c.o
In file included from /root/project/arm/amazon-kinesis-video-streams-webrtc-sdk-c/open-source/libkvsCommonLws/build/src/libkvsCommonLws-download/src/source/Common/Auth.c:5:0:
/root/pr

[2020-06-12 22:33] suggestedfixes commented on #547
My environment is similar to this in the travis file
    - name: "ARM Cross-compilation"
      os: linux
      addons:
        apt:
          packages:
            - gcc-arm-linux-gnueabi
            - g++-arm-linux-gnueabi
            - binutils-arm-linux-gnueabi
      compiler: gcc
      before_install:
        # TODO: Remove the following line. This is only a workaround for enabling IPv6, https

[2020-06-12 22:36] lherman-cs commented on #547
@suggestedfixes the issue is related to a typo within our `CMakeLists.txt`. We already have a PR in progress to fix this exact problem, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/546. We'll merge it as soon as it passes all the CI checks.

[2020-06-12 23:01] suggestedfixes commented on #547
Weird, did CI cache previous open-source folder?

[2020-06-12 23:13] MushMal commented on #547
This is indeed weird. We are not yet entirely sure of the root cause why this build clean on Linux subsystems and some MacOS-es

[2020-06-13 00:01] disa6302 commented on #547
@suggestedfixes ,

The fix is in. Please checkout the new commit. Thank you!

[2020-06-13 00:03] suggestedfixes commented on #547
Great!!

[2020-06-13 01:36] suggestedfixes commented on #547
I cloned the newest commit, still not working. I did a search for libwebsockets.h and it is located at ./open-source/include/, I think this folder was included before but got removed. Trying to include this rule.

[2020-06-13 01:39] suggestedfixes commented on #547
Nvm it is still there
include_directories(${OPEN_SRC_INSTALL_PREFIX}/include)

[2020-06-13 21:44] disa6302 commented on #538
@rossyeager ,

Perhaps @Sean-Der will have some context.

[2020-06-13 21:45] disa6302 commented on #547
@suggestedfixes ,

If the build is working fine, can you close this ticket? Thanks!

[2020-06-14 21:28] suggestedfixes commented on #513
Of the failed connections, I'm also seeing the following from log
[code]

[2020-06-15 04:29] disa6302 commented on #547
Closing this. Feel free to open a new ticket if you face any issues.

[2020-06-15 06:24] hsinghaowang commented on #541
I found the way to produce this problem:
1. start 2 viewers (all can see videos on web pages)
2. stop 2 viewers
3. start one more viewer in a short time, don't stop it.
4. wait, then the master will blocked in freePeerConnection()

here is the stack:
[code]

[2020-06-15 06:39] MushMal commented on #541
There are some unknown symbols on the stack trace for me. Is this stock master sample you are trying? We will also try to reproduce this. Suspect that the free somehow gets called from the timer callback. Need to analyze the stack closer

[2020-06-15 06:44] hsinghaowang commented on #541
No, this is our modified master integrated with our platform.

[2020-06-15 06:47] disa6302 commented on #399
@suggestedfixes ,

Is this still an issue? Any updates?

[2020-06-15 06:54] disa6302 commented on #517
@ajjiang48 ,

We do parse the environment variable in createPeerConnection as well. Again, to @chehefen's point, the environment variable is probably being read after you set logger level which is causing the override. Where in code are you calling GET_LOGGER_LEVEL?

Also, is there any specific reason you want to use the getters/setters instead of the environment variable?

[2020-06-15 07:01] disa6302 commented on #289
@suggestedfixes ,

The samples in top of master now has file logging support. Closing this.

[2020-06-15 07:01] #289 closed

[2020-06-15 14:37] ajhool opened #550 "[QUESTION] How to stream video from this client into KVS for analytics"
We would like to process WebRTC conference calls using AWS KVS (analytics) and are hoping to (1) use AWS KVS WebRTC to act as the signaling server; (2) use this client to receive all of the WebRTC streams; and (3) forward all of those streams to the AWS KVS (analytics) service for doing real-time video/audio processing in AWS Lambda.

** Any design considerations/constraints **
Ideally, this SDK c

[2020-06-15 15:36] suggestedfixes commented on #547
@disa6302 Was not able to make a new build, still building.

[2020-06-15 16:13] suggestedfixes opened #551 "[BUG] awaitGetIceConfigInfoCount(): Couldn't retrieve ICE configurations in alotted time."
**Describe the bug**
This issue occurs after running the sample app for a long time after a few days. The symptom from browser side is that the client cannot connect to master. The master process is still alive and still logging. There isn't any lws ping pong activity. The following is a sample log from master side where a client is repeatedly trying to reconnect.
[ice_timeout.log](https://github.

[2020-06-15 16:51] disa6302 commented on #547
@suggestedfixes ,

Can we help with any of your build issues?

[2020-06-15 17:48] chehefen commented on #541
I cant see any thread that is holding the lock timerQueueCancelTimer tries to acquire. Can you clarify which thread is calling freeSampleStreamingSession?

[2020-06-15 17:56] suggestedfixes commented on #547
I think it is because newly added dependency libkvsCommonLws needs libwebsockets. And include files are specified after installing libkvsCommonLws

[2020-06-15 17:57] suggestedfixes commented on #547
So I'm currently shuffling include_directories() around and make libkvsCommonLws to build dependencies. Am I on the right track?

[2020-06-15 18:33] MushMal commented on #550
Understand the scenario. Currently, we don't support persistence (aka the KVS ingestion) for WebRTC but you noted it right, it's possible to have one of the clients (say a master) to act as a dual-streaming mode. We had an older PR to do this: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/191

In this sample, we have dual stream - one for the master WebRTC peer and the

[2020-06-15 18:48] MushMal commented on #547
@suggestedfixes could you please do git clean -ddfx to get rid of all directories and start anew. For some reason, git clean -ddfx doesn't remove open-source directory and you might need to manually remove it. Try to build it again afterwards. It should build LWS first before it attempts to build common library so the installed library and the includes should already be present.

[2020-06-15 18:58] MushMal commented on #551
Seems like the libWebSockets is unable to connect. The logs really don't contain any thing useful. The master seems to be connected and is receiving messages but the peer connection is not created due to the fact that there are no ICE server configuration available due to failed get ICE server config calls. This, in turn, times out the receive message callback.

* Do you happen to have earlier log

[2020-06-15 19:01] MushMal commented on #513
The failures you are seeing have the same root cause as #551

In both cases your network client just stalls. I have some suggestions and questions in related https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/551 could you please provide more info on those?

[2020-06-15 21:14] suggestedfixes commented on #551
- Our logs are restricted to 5000 lines, so no earlier entries we can find.
- It's really hard to reproduce except waiting, one thing I can think of the difference is that we have a monitoring app with the same client id trying to poke at the master every minute.
- This is on armv7
- This is running on a modified example, I will build a non-modified example and try to reproduce it
- I'm going to d

[2020-06-15 22:05] MushMal commented on #551
@suggestedfixes we have recently implemented file logger capability - perhaps this could be useful for you if you have enough flash storage

[2020-06-16 02:19] hsinghaowang commented on #541
I don't know what you mean? Isn't freeSampleStreamingSession() called in thread 1?

[2020-06-16 02:29] hsinghaowang commented on #541
I got another idea, maybe it isn't locked by the mutex but in a finite loop? I'll keep trying

[2020-06-16 03:35] hsinghaowang commented on #541
Looks like it is not a infinite loop. I reproduced the condition, and it did blocked in mutex lock. And yes, I can not find any other threads which locked the mutex...

[2020-06-16 03:38] MushMal commented on #541
What’s the stack trace? Do you happen to have it? Is freeXXX getting called from within a callback by any chance?

[2020-06-16 03:43] hsinghaowang commented on #541
No, it is not called from a callback.

But I found thread 11 is blocked in pthread_cond_timedwait() which seems use the same mutex.

[2020-06-16 03:48] hsinghaowang commented on #541
Sorry, the mutexs are not the same...

[2020-06-16 04:04] hsinghaowang commented on #541
Stack with DEBUG build
[code]

[2020-06-16 04:16] hsinghaowang commented on #541
![image](https://user-images.githubusercontent.com/2101625/84731362-3a539700-afcb-11ea-9cf4-2decc1cbe231.png)

[2020-06-16 04:17] ajjiang48 commented on #517
@disa6302 1. that's what I confused case I just call the SET_LOGGER_LOG_LEVEL/GET_LOGGER_LOG_LEVEL in the createSampleConfiguration function (just as the sample viewer), that's all what I do, and don't know why my settings are overridden.
2. I want to use SILENT log level if there's no env variable setting (daily-use scenario, if I need to do debugging, then set the log level env variable), but it

[2020-06-16 04:23] MushMal commented on #541
I am not yet sure what's interlocking. The executor lock in the timer queue is interlocked for the major operations. It's also "grabbed" by the executor thread LN 547 in TimerQueue.c. I am looking at all of the stacks across the threads and there are only two instances of the timer queue mutex locks - one is the thread that is stuck but the two others are awaiting on LN 547 on a released lock on a

[2020-06-16 04:49] MushMal commented on #541
Have been looking at this for a while but really can't tell what's keeping the executor lock - there isn't really anything in the stack traces. The mutex value of 0x6040000AD3D0 (105827994883024) which is the executor lock does not occur anywhere else in the stack. Is it possible at all that this is a double-free scenario?

[2020-06-16 04:57] MushMal commented on #517
Not sure I am following on what's gong on with the thread.

You can "silence" the KVS WebRTC side logging by setting AWS_KVS_LOG_LEVEL=7 like this

`export AWS_KVS_LOG_LEVEL=7`

Could you try this and report in details what's observed. This is a super simple issue and for some reason it's being iterated over for days with no resolution.

[2020-06-16 05:42] hsinghaowang commented on #541
It seems like that. I will check this.

[2020-06-16 06:18] hsinghaowang commented on #541
I can't not reproduce it on master sample.
I think I know what might be go wrong. I will look into my code for masterMessageReceived() which calls createSampleStreamingSession().

[2020-06-16 06:23] MushMal commented on #541
hmm, ok. One thing to note is that the receive message callback is called from a new thread so you can be somewhat free to "hold" the thread and do some lengthier processing. The status code returned from the receiveLwsMessageWrapper is the status code you return from the callback but it doesn't affect anything but simply gets printed in the log if its non success

[2020-06-16 06:58] ycyang1229 opened #554 "[QUESTION] the compile option of libwebsocket"
A one liner description about the use case and what you are trying to achieve
the compile option of libwebsocket.

** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution

Recently, I am working on porting this sdk on non-linux based RTOS.
For libwebsocket, I am trying to disable the compile options of libwebsocket as much as I can i

[2020-06-16 07:02] MushMal commented on #554
I am not even familiar with these. I would love to see the footprint to be smaller by removing any of the dependencies we are not actually using. My advise is this - if the sample works fine - submit a PR and we will get this pushed in. We will also run the unit/integ tests as part of TravisCI run (needs to run under our own account) to validate this further.

[2020-06-16 11:27] Nomidia commented on #518
@MushMal Hi, I notice the struct PtpPacket has a member pRawPacket.
[code]
So I add printing here.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/43ede519ebd4fda0b17bc02bf5baab8dd2461da7/src/source/Rtp/RtpPacket.c#L76

[code]
To reproduce the problem, I decrease the bandwidth . You can see the log like this "Possible rtpPacket mem leak (*ppRtpPacket)->pRawPacket = 1312".

[2020-06-16 14:25] suggestedfixes commented on #547
It is likely due to one of the previous commits was installing libwebsocksets.pc into system PKG_CONFIG_PATH. Now there are two versions of libwebsockets.pc, pkg-config got confused on which version to grab.

[2020-06-16 16:22] suggestedfixes commented on #547
Yep, pkgconfig got confused and loaded the directory of my global one.

[2020-06-16 16:23] #547 closed

[2020-06-16 17:31] bdhandap commented on #454
@suggestedfixes Changes are deployed to IAD. Can you try now and let us know?

[2020-06-16 19:24] suggestedfixes commented on #551
I was able to duplicate this problem after building with new shared object file, but with old common.c. But this is completely a different code path but might be helpful
[awaitGetIce.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4788696/awaitGetIce.log)

[2020-06-16 19:36] MushMal commented on #551
Hmm, there really isn't much going on aside from somewhat flaky network earlier on. Wonder if you could get the stack traces for all of the threads (debug mode) when it reproduces. You can easily do it under the debugger when hitting this case - put a breakpoint in the error clause for create. I understand that this is not a trivial way of debugging but there really isn't much available.

[2020-06-16 21:47] MushMal commented on #493
Ping

[2020-06-17 01:49] ycyang1229 commented on #554
Thanks for your reply.

[2020-06-17 01:49] #554 closed

[2020-06-17 03:07] hsinghaowang commented on #540
Thanks for your ideas and your time.
It looks like about booting sequence. Restart the application later seems fixed it. Need more tests.

[2020-06-17 03:09] hsinghaowang commented on #541
Thanks for your time.
It looks like is our platform's problem.

[2020-06-17 03:09] #541 closed

[2020-06-17 09:13] lory17 opened #555 "[QUESTION]How can I using iot credential"
I have replace createSampleConfiguration by createLwsIotCredentialProvider like this:
`CHK_STATUS(createLwsIotCredentialProvider(
        "c3hfsep1hhoyce.credentials.iot.ap-northeast-1.amazonaws.com",
        "./certs/iot-cert/certificate.pem",
        "./certs/iot-cert/private.pem.key",
        "./certs/iot-cert/cacert.pem",
        "KvsCameraIoTRoleAlias01",
        channelName,
        &pSample

[2020-06-17 13:44] zwei333 commented on #488
Can we have a short debug meeting to go through this bug?

[2020-06-17 22:19] MushMal commented on #555
Looks like the ca cert is not found/not specified. You can specify the ca cert via an env var: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/ae7462f38d71823d87ed284013e2ea976b48011a/samples/Common.c#L589

or use the default path but make sure you point to https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/master/certs

[2020-06-18 01:10] lory17 commented on #555
Hi @MushMal
Thanks for your advise !
I removed  lookForSslCert step, before call createLwsIotCredentialProvider. that casue the problem!

[2020-06-18 01:10] #555 closed

[2020-06-18 01:59] coldheartday commented on #493
Sorry for late, test environment changed recently.
This issue can happened on all device.  As suggested, I disabled the caching and reproduced this issue again. Reproduced time is from 2020-06-18 09:30:00( UTC+8) to 2020-06-17 09:35:00( UTC+8),
channel "749D79DD9DFF-2020CWA000299". Both app viewer and AWS console palyer keep failing.
![image](https://user-images.githubusercontent.com/46836038/8496

[2020-06-18 02:21] coldheartday commented on #493
Add one reproduce. I stop AWS console live streaming , try on app but failed. Then keep failing.
From 2020-06-18 10:00:00( UTC+8) to 2020-06-18 10:10:00, both viewer keep failing even though refreshed the ICE Configuration.  Viewer return to normal after restart Master process.
[webrtc_0618_1012.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4795905/webrtc_0618_101

[2020-06-18 12:55] fernandoc1 opened #556 "[BUG] Unable to build libwebsockets"
I'm trying to compile the code for Amazon Kinesis with gcc version 4.8.3 20131202 (Hisilicon_v300) for an ARM board.

My compilation command is:

`CC=arm-hisiv300-linux-gcc CXX=arm-hisiv300-linux-g++ AR=arm-hisiv300-linux-ar cmake .. -DBUILD_OPENSSL=TRUE -DBUILD_OPENSSL_PLATFORM=linux-generic32 -DBUILD_LIBSRTP_HOST_PLATFORM=x86_64-unknown-linux-gnu -DBUILD_LIBSRTP_DESTINATION_PLATFORM=arm-unknown-

[2020-06-18 14:00] fernandoc1 commented on #556
I fixed my compilation issues with the following changes:
[](https://gist.github.com/fernandoc1/e2b6821bf7431caec8bac7d8dd47921c)

[2020-06-18 19:16] MushMal commented on #556
@fernandoc1 this is a good change I believe. Could you please submit a PR? All you need to do is rebase on the latest master branch, git checkout -b <your_branch_name> and git push. This will produce a link for the PR. Please submit it so we can integrate.

[2020-06-18 19:38] fernandoc1 commented on #556
Done:
[557](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/557)

[2020-06-18 21:53] suggestedfixes commented on #454
@bdhandap We have not seen issues yet. I'm curious about the changes?

[2020-06-19 12:45] taufeeq25 opened #558 "[QUESTION] Unable to stream video from adroid to Ubuntu 16.04"
Hello,

I am trying to test KVS webrtc sdk on Ubuntu 16.04 and Raspberry pi.
Raspberry pi=>

i am able to stream audio and video to Android, but i am unable to stream video from Android to Raspberry pi or Ubuntu.

Sometimes i am able to get audio from android to raspberry pi/ubuntu but its not stable.

i was going through example code(samples/kvsWebRTCClientMasterGstreamerSample.c) but looks like

[2020-06-19 21:28] mdonahoe commented on #526
As an update, this is still not working right, despite getting the latest build with UDP TURN support.

I am testing four different setups for my "Master".
1. Ubuntu desktop with wired ethernet
2. Nvidia TX2 with wired ethernet
3. Ubuntu desktop with LTE modem
4. Nvidia TX2 with LTE modem

In all four cases, my WebRTC "Client" is a macbook on wifi using the KVS WebRTC test webpage in Chrome. The c

[2020-06-19 21:34] MushMal commented on #526
Seems that the networking is the main issue here. Could you run some network-level troubleshooting using some online tools to guarantee you have proper network with the LTE? There is a case with LTE reported by a customer - perhaps unrelated: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/447

[2020-06-19 22:05] mdonahoe commented on #526
Thanks for that case reference. His errors look different than mine, but the notion of "mobile terminated data" is interesting.

Do you have any recommended online-based tools? I feel like that's my best bet at tracking down packet drops that happen on the LTE network.

While using the modem, I am able to:
* ping google.com
* connect to the KVS signaling service
* use ssh
* send and receive UDP pa

[2020-06-19 22:32] chehefen commented on #526
on your XT2, run https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/discoverNatBehavior.c and see what says.

On your Ubuntu desktop, check what's the MTU of your network interface. By default we use 1300. you can configure it here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/include/com/amazonaws/kinesis/video/webrtccl

[2020-06-19 23:09] suggestedfixes commented on #551
For the new build duplicated three days ago, the reason is that new Signaling Channel deployment no longer allowing empty string as Client ID. Before we got away not doing this step https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c#L419.

But for the long term reproducibility, it might have to do with signaling client in

[2020-06-22 02:38] ycyang1229 commented on #556
@fernandoc1 Hey, the platform is interesting. Does linux run on your platform or other non-linux-based RTOS?

[2020-06-22 11:16] fernandoc1 commented on #556
My platform is Linux based.
I can share my compiler toolchain for kinesis testing it's compatibility.

[2020-06-22 18:55] MushMal commented on #551
I am going to resolve this issue as I don't see anything immediately actionable.

Recommend opening separate targeted issues for each one of the issues you are seeing. I am not sure if the deployment breaks the existing behavior.

[2020-06-22 19:12] MushMal commented on #493
@coldheartday looking at the attached log (webrtc_0618_1012.txt) I don't see any offers coming to the master but the connection is OK.

Can you clarify whether you are using stock master sample without any modifications? If not, could you keep running the stock master sample and see whether this issue reproduces? If it does then what's the output on the viewer side? Is it possible that the viewer

[2020-06-23 06:07] mdonahoe commented on #526
I ran the discoverNatBehavior on my desktop, and got the following.

[code]

`Can only connect using TCP relay` seems suspicious. Does that really mean that UDP TURN won't work?

[2020-06-23 07:31] ycyang1229 opened #561 "[QUESTION] The support of IPv6"
A one liner description about the use case and what you are trying to achieve
The support of IPv6

** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution
The readme said the support of ipv6 is todo, but some pull req. said this sdk has the support of ipv6. So I am a little confused. Does this sdk already supports the ipv6? Or some f

[2020-06-23 09:53] yuma-m opened #562 "[BUG] signaling messages don't reach to the kvsWebrtcClientMaster after a long period of idling"
**Describe the bug**

I use `kvsWebrtcClientMaster` and JavaScript SDK sample page to establish connection. When the viewer is started soon after the master is launched, signaling messages reach to `kvsWebrtcClientMaster`. However, a long time (> 1hour) is passed after it launches and if viewer send signaling messages, no signaling messages are reached to the master. I confirmed that signaling mes

[2020-06-23 11:51] fernandoc1 opened #563 "[QUESTION] How to add OpenSSL engines to Kinesis?"
I'm create an streaming solution for a camera with an SOC that has cryptography hardware support.
So I need to write an engine to take advantage of this hardware. What is the best / recommended way of adding this engine?

[2020-06-23 15:09] MushMal commented on #562
@yuma-m this scenario is supported and should work as expected. I am suspecting that there is a problem with dropped connection or something similar if you succeed some times.

To get this debugged further, can you please capture the debug logs from the master sample so we can see what's happened after an hour?

[2020-06-23 15:11] MushMal commented on #561
Clients do support IPv6 with these changes. However, our backend TURN and STUN do not. The Readme should be updated perhaps to reflect the latest greatest on this. Resolving. Please feel free to reopen

[2020-06-23 15:11] #561 closed

[2020-06-23 15:13] MushMal commented on #563
@fernandoc1 the KVS SDKs operate with either OpenSSL or MbedTLS. Your custom hardware likely has crypto library that plugs into OpenSSL or MbedTLS that you might need to investigate/get answers from the manufacturer.

Resolving this issue - please feel free to reopen or cut a new issue

[2020-06-23 15:13] #563 closed

[2020-06-23 16:53] chehefen commented on #526
yes, that means your NAT drops UDP packets.

[2020-06-23 16:56] chehefen commented on #526
I see that you didnt pass a local interface for the NAT behavior discovery "local network interface (null)". It may have chosen one that has no connectivity. can you pass a interface to it with the -i option?

[2020-06-24 00:51] bdhandap commented on #454
Most of the time this issue happens when the websocket connections are not closed properly i.e clients abruptly terminating the underlyingTCP connection without sending close frame. Such stale connections are kicked out after [connection duration limit of 1 hour](https://docs.aws.amazon.com/kinesisvideostreams-webrtc-dg/latest/devguide/kvswebrtc-limits.html#limits-signaling-service).

[2020-06-24 00:52] bdhandap commented on #454
Resolving this issue. Feel free to reopen a new one if the issue persists.

[2020-06-24 00:52] #454 closed

[2020-06-24 02:05] ycyang1229 commented on #561
@MushMal  I have one more question about ipv6. I checked the libwebsocket, and there is one compile option for ipv6. But I did not see this sdk enables the option in libwebsocket.
https://github.com/warmcat/libwebsockets/blob/master/CMakeLists.txt#L93
Is this option necessary for webrtc?
Btw, just curious, will the backend add the support of ipv6 in the future?
thanks,

[2020-06-24 02:10] ycyang1229 commented on #561
@MushMal  I can not reopen this issue, so I left it this way. thanks,

[2020-06-24 06:26] MushMal commented on #561
Actually, you are correct. We haven't considered this option as most of the communication between the client and the backend is done in IpV4 format due to some backend APIs (like TURN for example) not supporting it. We will need to add support for Ipv6 cmake flag once the backend supports it. I would keep that issue separate though from the P2P IPv6 support that was added.

[2020-06-24 06:52] ycyang1229 commented on #561
Cool, thanks. Like you said, I think the backend does not support ipv6  should be mentioned somewhere, since this is different  from the capabilities of p2p ipv6. It is easier to confuse users, and make people mistake the support of ipv6.

[2020-06-24 06:55] MushMal commented on #561
Indeed, thanks for the input. The reason I would like to take this a little deeper because we need to understand the overall investment and the strategy across our products - including KVS streams and webRtc implementations and make a coherent story for our customers.
We will follow-up with "Enhancements" issues once we get more information.

[2020-06-24 06:55] ycyang1229 commented on #561
@MushMal This notification of github did not notify me of the change of this issue if I am not tagged. I assume it will happen to you so I tag you here.

[2020-06-24 06:59] ycyang1229 commented on #561
Thanks, please let me know if you have one clear story. However, I think backend probably does not support the ipv6 since it is not popular.

[2020-06-24 07:02] MushMal commented on #561
Sorry, I didn't want to confuse you. There are technical and product reasons why the backend support for IpV6 is not uniform across the services and APIs. This goes a little beyond a single service (WebRTC in question) and this is the reason why I wouldn't just cut a separate issue just now about work items for support IpV6 across the board.

[2020-06-24 07:42] ycyang1229 commented on #561
Do not be sorry. It is one discussion about the capability of kvs service and webrtc, and I just try to have one clear view on these stuff. big thanks!

[2020-06-24 09:23] huyhoangk50 opened #566 "cannot clone submodule"
**Describe the bug**
Cannot clone two submodules in file .gitmodules

**To Reproduce**
Steps to reproduce the behavior:
git clone --recursive https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c.git

**Expected behavior**
Clone with submodules inside open-source folder

**Desktop (please complete the following information):**
 - OS:ubuntu

**Additional context**
It seems that some

[2020-06-24 13:50] yuma-m commented on #562
Do you mean the master should receive signaling messages even after an hour from the launch?

I attached the logs of the master and the viewer. The time line is below.

[20200624_master.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4825738/20200624_master.log)
[20200624_viewer.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4825740/

[2020-06-24 15:35] suggestedfixes commented on #551
@MushMal

This is with new source after the we added strcpy. So like suspected, SampleConfig lost handle to client Id again.

2020-06-24 07:36:45 DEBUG   lwsHttpCallbackRoutine(): Client append handshake header

2020-06-24 07:36:45 DEBUG   lwsHttpCallbackRoutine(): Sending the body {
        "ChannelARN": "arn:aws:kinesisvideo:us-east-2:465671368404:channel/1C8259185F63/1589152785691",
        "Cl

[2020-06-24 19:30] MushMal commented on #562
@yuma-m the embedded signaling client sends pong messages to keep the connection alive for max duration the backend allows. The connection could get interrupted for multiple other reasons - for example networking problems. The signaling client should re-connect when detecting disconnect.

Looking at the master logs, I don't see any disconnect events. Nor, do I see any messages that are received.

[2020-06-24 19:40] MushMal commented on #566
@huyhoangk50 we removed the submodules intentionally. The related sub-projects are now pulled as other open-source projects. You can git clone with --recursive and it won't break anything. During the build process when CMake is run, it will pull down the appropriate commit from the projects and build libraries from them. Installing the library will also install the header files in your open-source

[2020-06-24 20:03] #518 closed

[2020-06-25 02:28] huyhoangk50 commented on #566
@MushMal No, it does not work  now.

[2020-06-25 02:32] MushMal commented on #566
@huyhoangk50 could you please elaborate? Can you get a clean repository by git clone then run the build steps highlighted in readme? Simply create a directory called build, then cd into build and cmake .. and then make

I am reopening this but please provide the details so we can help

[2020-06-25 03:10] MushMal commented on #562
To provide an update... Thanks @yuma-m for the information. We are investigating this issue and will provide mitigation shortly. We are able to reproduce this.

[2020-06-25 08:47] huyhoangk50 commented on #566
@MushMal It worked now.

[2020-06-25 08:47] #566 closed

[2020-06-25 12:54] yuma-m commented on #562
@MushMal Thank you for your update. Waiting for the good news.

[2020-06-25 16:40] zhuker opened #568 "[question] can you explain why knowing interface+ip ahead of time is required for turn?"
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/327a1aafd51c040d6d7661f1dc655199117bfe56/src/source/Ice/IceAgent.c#L1643-L1656

i've been thinking of replacing this with a programmatic `ip route get $MY_TURN_SERVER_IP_ADDR` which most of the time is default gateway

[2020-06-25 16:41] zhuker commented on #568
@chehefen @lherman-cs ?

[2020-06-26 04:28] MushMal commented on #558
@taufeeq25 I believe you report a couple of issues if I am not mistaken. I will address the C WebRTC SDK specifics. The sample is indeed not wired up for the audio. We are trying to keep a balance between the readability and feature completeness of the samples. We will be looking at adding a more involved sample at some stage to another repository for samples. But, for now, there are no immediate

[2020-06-26 04:40] MushMal commented on #538
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/549

[2020-06-26 04:41] MushMal commented on #534
Resolving as stale. Please reopen or cut a new issue with details and try the suggestions in the body of the issue

[2020-06-26 04:41] #534 closed

[2020-06-26 04:43] MushMal commented on #532
I am going to resolve this for now. GStreamer plugin might be a good idea for platform bringup/quick checking. We will be adding a new "enhancement" issue  if/when we proceed with the plugin

[2020-06-26 04:43] #532 closed

[2020-06-26 04:43] MushMal commented on #526
Updates?

[2020-06-26 04:44] MushMal commented on #521
I am going to resolve this issue. Please feel free to cut a new issue with more targeted details

[2020-06-26 04:44] #521 closed

[2020-06-26 04:45] MushMal commented on #517
Resolving due to staleness. Please reopen or cut a new issue if need further assistance

[2020-06-26 04:45] #517 closed

[2020-06-26 04:46] MushMal commented on #513
I am going to resolve this as the issue is way too generic. Please feel free to cut a new issue with more targeted question

[2020-06-26 04:46] #513 closed

[2020-06-26 04:47] MushMal commented on #502
I am going to resolve this for now. Will re-open when/if we start working on it. The prioritization will also be based on the browser and other clients support for VP9

[2020-06-26 04:47] #502 closed

[2020-06-26 04:48] MushMal commented on #488
Can someone update this thread? What's the latest on this issue?

[2020-06-26 04:49] MushMal commented on #446
I am going to resolve this issue. Please feel free to cut a new one with more precise details if needed

[2020-06-26 04:49] #446 closed

[2020-06-26 04:51] MushMal commented on #427
Seems this has gone stale. @zwei333 can you please provide the latest information on this issue with debug logs?

[2020-06-26 04:52] MushMal commented on #425
I am going to resolve this due to staleness. Please cut a new issue and include the details on the issue you are having

[2020-06-26 04:52] #425 closed

[2020-06-26 04:52] MushMal commented on #399
Resolving as stale

[2020-06-26 04:52] #399 closed

[2020-06-26 17:08] MushMal commented on #556
@fernandoc1 after some thinking it might be possible that the fix you've submitted could break some customers. In order to not regress, the customers who are affected by this we recommend modifying the appropriate lib...Cmake directly in their environment. We will try to think how we can improve this custom flags passing to third party libs better.

Resolving this for now, please don't hesitate to

[2020-06-26 19:33] lherman-cs opened #569 "[BUG] Data race in generateSignatureDateTime"
**Describe the bug**
After https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/559, `generateJSONSafeString` became faster and introduced a data race in `generateSignatureDateTime`, very likely due to a timing change. Currently, the data race is being suppressed here, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/58c77c45839547db5b780366b09ad1817

[2020-06-26 19:49] chehefen commented on #568
yh, it's not necessary to bind to an address for relay candidates.

[2020-06-26 23:19] ssalexa opened #573 "ld: library not found for -lkvsCommonLws error when using kvs sdk-c"
Hi,

I am going to integrate this library with my project. It works good if I only link to kvsWebrtcClient. However, it shows  ld: library not found for -lkvsCommonLws error when I link kvsWebrtcSignalingClient. Would you help with this? I can provide log later.

I added these lines in CmakeList.

link_directories("${CMAKE_CURRENT_BINARY_DIR}/amazon-kinesis-video-streams-webrtc-sdk-c")
link_direct

[2020-06-26 23:26] MushMal commented on #573
@ssalexa can you build the samples? Those link both the webrtc library and the signaling. Each, in turn link the common.

If you are able to build and run the stock samples, you should modify your cmake to have the same pattern. Unfortunately, we don't provide direct support for customers cmake files

[2020-06-29 00:45] MushMal commented on #551
@suggestedfixes can you please clarify whether any of the samples exhibit this behavior?

[2020-06-29 00:46] MushMal commented on #550
Resolving as answered.

[2020-06-29 00:46] #550 closed

[2020-06-29 03:03] coldheartday commented on #493
Hi @MushMal , we have only changed things like getting video/audio frame, cert, server path, thing name...etc. These should not affect signaling.
Viewer offer request to server and failed with timeout while master never receive request. Could you please help to check if there were offer requests sent in this channel from 2020-06-18 10:00:00( UTC+8) to 2020-06-18 10:10:00.

[2020-06-29 15:23] dorfindoor opened #575 "[QUESTION] Delay after a few minutes of use in GStream"
I'm having delay issues with the kvsWebrtcClientMasterGstSample after a few minutes of streaming

So I took the kvsWebrtcClientMasterGstSample.c and try to us liv stream of my camera.
Th gstream pipeline I use is:
`"v4l2src device=/dev/video3 ! queue ! h264parse ! "
                        "video/x-h264 ,alignment=au ! "
                        "appsink sync=TRUE emit-signals=TRUE name=appsink-vid

[2020-06-29 16:09] lherman-cs commented on #575
@dorfindoor could you rerun the sample with `AWS_KVS_LOG_LEVEL=2` and attach the log here? Thanks

[2020-06-29 16:54] lherman-cs commented on #493
This seems to be related to https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/562.

[2020-06-29 19:18] zhuker opened #576 "[QUESTION] anyone working on RtcPeerConnectionGetMetrics?"
I couldn't find implementation for https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/74cf636e5694c0687287df308e8c3e2e650e0233/src/include/com/amazonaws/kinesis/video/webrtcclient/Include.h#L1838

Is anyone working on it? Am I missing something?

[2020-06-29 19:22] lherman-cs commented on #576
I think @disa6302 and @MushMal have more context on this.

[2020-06-29 19:24] MushMal commented on #576
This is WIP. For WebRTC metrics, we will be adding some very shortly. For Signaling, we will ad those also soon.

[2020-06-29 19:49] zhuker commented on #576
Any ETAs? Need help?

[2020-06-29 19:58] #568 closed

[2020-06-29 19:59] MushMal commented on #576
@zhuker , while we can't give a precise ETA, it's one of the highest priority items.

We would LOVE if you could contribute. How about we push the main APIs and we can all incrementally iterate on the support?

[2020-06-29 20:03] zhuker commented on #576
Sounds good

do you guys have a public chat? discord? gitter? slack?

[2020-06-29 20:33] MushMal commented on #576
Nothing yet really. We should set something up. In the meanwhile, if you could send us your email to kinesis-video-support@amazon.com, I would follow-up with you and set up a quick sync-up or something

[2020-06-30 00:15] disa6302 commented on #576
@zhuker ,

Apologies for the delayed response. I am working on it in this branch:
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/set-up-ice-metrics
It is a WIP.

[2020-06-30 06:42] dorfindoor commented on #575
`dor@dforer:/indoorRobotics/amazon-kinesis-video-streams-webrtc-sdk-c/build$ ./kvsWebrtcClientMasterGstSample dor video-only /dev/video3
[KVS GStreamer Master] Using trickleICEsadadadasdasd by default
[KVS GStreamer Master] Created signaling channel dor
[KVS Gstreamer Master] Finished initializing GStreamer
[KVS Gstreamer Master] Streaming video only

[KVS GStreamer Master] streaming type video-on

[2020-06-30 11:20] dorfindoor commented on #575
Also, as you can see from the pipe, I'm not using any type of encoding, but my CPU reches over 100%, maybe that can cause the delay issues?

[2020-06-30 15:55] lherman-cs commented on #575
@dorfindoor I don't see any issue from your logs. I'm afraid that the issue is related to your gstreamer pipeline instead.

Could you try to pipe your video stream to `autovideosink` and see if the reoccurs? This way, we'll know if it's related to your pipeline.

Could you also try to remove `queue` from your pipeline so that it doesn't buffer the frames from your camera?

Also, we can try to incr

[2020-06-30 23:10] disa6302 opened #578 "[FEATURE] WebRTC Metrics"
**Is your feature request related to a problem? Please describe.**
An application using the WebRTC SDK expects to monitor the performance of the underlying SDK performance and to provide the flexibility for the applications to take decisions based on a metric

**Describe the solution you'd like**
The application should be able to pull the metrics out periodically based on a type. The following is

[2020-06-30 23:17] MushMal commented on #578
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/577 for Signaling metrics

[2020-07-01 03:29] hsinghaowang commented on #540
Restart the applicaion later doesn't fix the problem.
The problem happens more often with WiFi than cable.
We have make sure NTP is ready and CPU is not busy.

PS. I disabled cache, because the default output filesystem is ready only. Can I specify another place to store the cache?
[code]

[2020-07-01 05:53] MushMal commented on #540
First thing. You can change the file location by modifying https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/FileCache.h#L15

Regarding the hung. We will need you to debug your code a little and give a little more information including:

* Which asset you are trying to test - assuming master sample with NO modification but using IoT credential pr

[2020-07-01 16:13] suggestedfixes opened #580 "[BUG] getaddr info failed: -11"
**Describe the bug**
Discovered after running SDK on armv7 after running for about 16 hours. Had 2 processes running on the same device, occurred on one of the processes.
It was not a network issue because another process can still connect to the network on the same device.

**SDK version number**
59c70fe0f33ef94ed

Sample messages
2020-07-01 16:08:43 DEBUG   stepStateMachine(): State Machine - Cu

[2020-07-01 16:57] lherman-cs commented on #580
That's really strange. From the log, it looks like it `getaddrinfo` returned `EAI_SYSTEM`, which means it's a system error. Unfortunately, we didn't print out the errno when we got this, so there's no way to actually know what caused this.

To make sure that this will not happen again, I'll harden the API. Thanks for reporting this!

[2020-07-01 17:09] lherman-cs commented on #580
@suggestedfixes I noticed that your logging is different from what the SDK has, is there a way for you to get the `errno` instead of the return value from getaddrinfo? This will allow us to get more context of the error. Thanks.

[2020-07-01 19:59] Sean-Der opened #582 "[BUG] Static and cross-compile builders should assert that artifacts are correct"
**Describe the bug**
Static and cross-compile builders succeed right now. We broke these builds in our CMakeLists, but our testers didn't catch it.

**SDK version number**
b3f40e80c6a8f2075f8f2f8673d1dc2e87fb6862

**Open source building**
None

**To Reproduce**
Run current build and it will succeed incorrectly

**Expected behavior**
Builders should fail

**Screenshots**
N/A

**Desktop (please comp

[2020-07-01 22:19] suggestedfixes opened #583 "[BUG] handleStunPacket(): local candidate ip address does not match with xor mapped address in binding response"
**Describe the bug**
This was observed occasionally throughout the past, the conditions that caused this was unknown. See log
[xor-mapped.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4860916/xor-mapped.txt)

**SDK version number**
59c70fe

[2020-07-01 23:25] lherman-cs commented on #583
@suggestedfixes do you mind to share your platform details, e.g. architecture, endianness, OS, etc.?

[2020-07-01 23:44] suggestedfixes commented on #583
Architecture:          armv7l
Byte Order:            Little Endian
CPU(s):                1
On-line CPU(s) list:   0
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             1
Model name:            ARMv7 Processor rev 1 (v7l)
CPU max MHz:           816.0000
CPU min MHz:           96.0000
# uname -r
3.10.104
#

[2020-07-02 08:51] ycyang1229 opened #584 "[QUESTION] use find_package(OpenSSL REQUIRED) when doing cross-compiling."
A one liner description about the use case and what you are trying to achieve
cross-compiling.

** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution
For cross-compiling and find_package(OpenSSL REQUIRED), how about using CMAKE_FIND_ROOT_PATH instead of OPENSSL_ROOT_DIR?
thanks,

** If you would not like to open an issue to discuss

[2020-07-02 16:18] lherman-cs opened #585 "[BUG] Example doesn't work properly when LWS is compiled with -DLWS_WITHOUT_SERVER=0"
**Describe the bug**
When LWS is compiled with `-DLWS_WITHOUT_SERVER=0`, the examples will stop working, signaling keeps failing to connect.

Although the bug won't cause any issue if the user compiles LWS with our provided script, some users can still be impacted if they use a pre-compiled version of LWS with `-DLWS_WITHOUT_SERVER=0`.

**SDK version number**
https://github.com/awslabs/amazon-kine

[2020-07-02 16:49] lherman-cs commented on #584
@ycyang1229 I'm not really sure about `CMAKE_FIND_ROOT_PATH` and `OPENSSL_ROOT_DIR`. How do they differ? And, how `CMAKE_FIND_ROOT_PATH` can help with cross compiling? Do you mind to explain them in more details?

Also, please feel free to open a PR! We'll be happy to review it.

[2020-07-02 18:19] lherman-cs commented on #583
@suggestedfixes did this happen intermittently on the same device? Also, your log shows that this device acted as a master. Did your viewer use JS SDK or C SDK? Could you share more details for the viewer also, e.g. browser version, sdk version, logs, device details?

I'm sorry for asking for a lot more details. I'm trying to get as much details as I can so that we can hopefully find the root caus

[2020-07-02 19:36] suggestedfixes commented on #583
This happen intermittently on the same device and difficult to reproduce.
My viewer uses JS SDK 1.0.8.
Browser version: Version 83.0.4103.116 (Official Build) (64-bit).
OS: Windows 10
Device: Thinkpad P52

[2020-07-02 22:13] zhuker commented on #576
@disa6302 you wanna merge https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/set-up-ice-metrics with https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/579 ?
`Metrics.h` seems to conflict

[2020-07-02 22:30] zhuker commented on #576
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/586

[2020-07-02 23:35] lherman-cs commented on #585
The problem seems to be improper handling http2 sequence.

By having `LWS_WITH_HTTP2=ON` and `LWS_WITHOUT_SERVER=ON`, our signaling will use http/1 where as `LWS_WITH_HTTP2=ON` and `LWS_WITHOUT_SERVER=OFF`, our signaling will use http/2.

So, if http2 is off, `LWS_WITH_HTTP2=OFF` and `LWS_WITHOUT_SERVER=ON`, the sample will run properly.

Logs with `LWS_WITH_HTTP2=ON` and `LWS_WITHOUT_SERVER=OFF`:

[2020-07-03 01:58] ycyang1229 commented on #584
@lherman-cs
I prefer using the cmakefile of toolchain to cross-compile this sdk, and I use the CMAKE_FIND_ROOT_PATH and "only" mode to constrain the access of includes/lib.

Here is one example.
https://github.com/warmcat/libwebsockets/blob/master/contrib/cross-esp32.cmake#L59
https://github.com/warmcat/libwebsockets/blob/master/contrib/cross-esp32.cmake#L66

Here is my understanding.
In the origi

[2020-07-03 04:11] MushMal commented on #585
@lherman-cs Thanks for the detailed and in-depth report. My only concern is that we can't guarantee the semantics with various permutations of compile options for the open source components. Perhaps, we should start a section in FAQ where we capture these gems but I am having a hard time imagining a lowest common denominator solution that can work with every case, every platforms and OS.

What are

[2020-07-03 04:52] MushMal commented on #584
Drawing blank here. I am OK with any of the approaches but my only concern is to not regress some other scenarios on other platforms. I will let the experts to chime in on this

[2020-07-03 05:53] disa6302 commented on #576
@zhuker ,

The branch isnt ready with the ICE metrics code. But yes, I will rebase it with top of master. Will keep you posted.

[2020-07-03 12:47] ycyang1229 commented on #584
@MushMal That's why I want to use the cmakefile of toolchain, and keep platform-specific parameter in the platform cmakefie. And the sdk provides the general interface to be controlled by the cmakefile of toolchain. For this case, I hope the path of searching some lib/include and installing bin/lib can be exposed to one or two(maybe more) specific path variables. Btw, I like one recent commit whic

[2020-07-03 12:57] ycyang1229 commented on #584
Closing it. Please re-open it if it is necessary. :D

[2020-07-03 12:57] #584 closed

[2020-07-03 14:41] gerwin3 opened #587 "[BUG] setRemoteDescription fails with STATUS_INVALID_DIGIT if using CRLF"
**Describe the bug**
When using CRLF line-endings rather than LF *some* SDPs will cause `setRemoteDescription` to fail with `STATUS_INVALID_DIGIT`.

**SDK version number**
58c77c45839547db5b780366b09ad18172146594

**To Reproduce**
Steps to reproduce the behavior:

The following code demonstrates the issue (`EXPECT_EQ(setRemoteDescription(pRtcPeerConnection, &rtcSessionDescriptionInit), STATUS_SUCC

[2020-07-03 16:03] suggestedfixes opened #588 "[FEATURE] Unit test on resendPacketOnNack()"
We had crashes on resendPacketOnNack() before. Although they had been resolved, it would be nice to mock different Nack scenarios to prevent regression.

[2020-07-04 03:41] minhngvan opened #589 "missing EMA_ACCUMULATOR_GET_NEXT"
`// API call latency calculation
#define SIGNALING_API_LATENCY_CALCULATION(pClient, time, isCpApi) \
        MUTEX_LOCK((pClient)->diagnosticsLock); \
        if (isCpApi) { \
            (pClient)->diagnostics.cpApiLatency = EMA_ACCUMULATOR_GET_NEXT((pClient)->diagnostics.cpApiLatency, GETTIME() - (time)); \
        } else { \
            (pClient)->diagnostics.dpApiLatency = EMA_ACCUMULATOR_GET_

[2020-07-04 04:23] MushMal commented on #589
You need to clean up the repository so it will build the project and install the headers. In this case you can remove the kvs common library

[2020-07-06 11:28] thasin96 opened #590 "How to convert a file into .h264 file for each frame?"
I am able to run sample code which has been provided. I would like to do the same for my external camera. I can get the stream through RTSP. How to convert my stream into H264 file? Is there anyway I can directly pass RTSP Link to Streamer in WebRTC?

[2020-07-06 13:34] lherman-cs commented on #587
@gerwin3 Thanks for reporting this. We'll make sure that we'll add a unit test for this case and fix this issue.

[2020-07-06 13:38] lherman-cs commented on #589
@minhngvan Do you have an update on this?

[2020-07-06 13:55] ashutoshIITK opened #591 "How to change the source in the Gstpipeline"
I want to use kvsWebrtcClientMasterGstSample application but do not want to use /dev/video0 but some other device say /dev/video1.
I made this change in the pipeline:
pipeline = gst_parse_launch(
                    "**v4l2src do-timestamp=TRUE device=/dev/video3** ! queue ! videoconvert ! video/x-raw,width=1280,height=720,framerate=30/1 ! "
                    "x264enc bframes=0 speed-preset=very

[2020-07-06 14:15] lherman-cs commented on #590
@thasin96 our WebRTC SDK doesn't handle media pipelines. We expect that the frames that we receive have been encoded, which later will be packetized in RTP format.

To do what you want, I'd highly recommend to use a software such as GStreamer or ffmpeg. We have an example how you can integrate GStreamer, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWe

[2020-07-06 14:22] lherman-cs commented on #591
@ashutoshIITK which mode did you use, video only or audio video? Please make sure that you update the right pipeline. Also, the question is not related to the SDK since we don't handle media pipelines, our SDK only receives encoded frames. I think GStreamer forum is more appropriate for this kind of questions.

[2020-07-06 14:26] lherman-cs commented on #588
@suggestedfixes this is a great idea. I'll let the team aware of this request. Thanks!

[2020-07-06 14:35] ashutoshIITK commented on #591
@lherman-cs I used video only.

[2020-07-06 14:37] lherman-cs commented on #591
@ashutoshIITK So, I assumed that you changed this pipeline, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c#L158-L162? Also, you can always test your pipeline by piping it to `autovideosink`.

[2020-07-06 14:49] lingdhox opened #592 "Failed to force TURN"
The candidate of turn has been generated and connected, but the data cannot be transmitted.
SDK is 1.2.0 release

`
2020-07-06 14:36:39 INFO    initializePeerConnection(): createPeerConnection took 0.89ms
2020-07-06 14:36:39 WARN    createSocket(): setsockopt() failed with errno Protocol not available
2020-07-06 14:36:39 WARN    createSocket(): setsockopt() failed with errno Protocol not available

[2020-07-06 14:56] ashutoshIITK commented on #591
Thank you! Yes, I will check the pipeline and update this thread by tomorrow.

[2020-07-06 15:20] lherman-cs commented on #592
@lingdhox I'm not seeing any issue from the logs:
1. The ice agent properly moved to ICE_AGENT_STATE_READY state and chose one of the relay candidate pairs.
2. The turn connection properly moved to TURN_STATE_READY state, meaning data transmission has started.

Could you try to wait a little longer after the peers are connected to see if it's only a delay problem? Sometimes the delay can take a wh

[2020-07-06 15:44] ajjiang48 opened #593 "how to decrease the viewer timeout for peer connection failure?"
Hi, Sir,
We're running the webrtc C SDK viewer on our device and do some abnormal user scenario testing.
We got the peer connection failure event (RTC_PEER_CONNECTION_STATE_CLOSED event from
onConnectionStateChange callback function) after 30 seconds while the webrtc master force-close the
browser (the webrtc master-side is implemented using webrtc JS SDK).
We want to decrease the 30 second timeou

[2020-07-06 15:52] lingdhox commented on #592
@lherman-cs
Thanks.

1. It's not a delay problem，“Frame with timestamp is dropped!” logs last a long time.
2. This is my custom sample, not the official sample. It modified from kvsWebRTCClientMaster and viewed through the web.
3. Turnserver is deployed using coturn, which has been verified between the web.
And the code can works  when I don't use turn mode

[2020-07-06 16:27] lherman-cs commented on #593
@ajjiang48 AFAIK, this is currently not possible. Since the master will force close the connection, this is the same case as reducing idle connection timeout.

@chehefen any thought on this?

[2020-07-06 16:45] lherman-cs commented on #575
Due to staleness. I'll close this issue. Please feel free to reopen if you need further assistance.

[2020-07-06 16:46] #575 closed

[2020-07-06 17:52] chehefen commented on #593
@ajjiang48  you can change it here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Ice/IceAgent.h#L30. However ICE sends keep-alive every 15 seconds. By decreasing the timeout you may risk premature disconnection when there is network congestion.

[2020-07-06 17:54] chehefen commented on #592
@lingdhox can you try lower the default MTU here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/Rtp.h#L12, see if that helps?

[2020-07-06 18:59] MushMal commented on #589
Resolving. Please feel free to reopen if you still have issues with this

[2020-07-06 18:59] #589 closed

[2020-07-06 19:41] chehefen commented on #580
@suggestedfixes can you try this PR: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/594

[2020-07-07 08:00] ajjiang48 commented on #593
@chehefen thank  you for the quick answer; I've tested the 15 seconds and it's working;
We assume the network congestion or sudden disconnect being recovered within 10 seconds, so, it's reasonable for 15 seconds timeout.

[2020-07-07 14:59] fernandoc1 opened #596 "[QUESTION] How to reduce CPU usage?"
I have ported Kinesis to a camera we are developing, but I found that it is using a lot of CPU. Is there some way to make Kinesis use less CPU power?
We are just reading H264 packets from our image pipeline and sending them trough Kinesis.
Our implementation is basically the same as kvsWebRTCClientMaster.c, with small changes in order to read H264 packets from a shared memory source, instead of th

[2020-07-07 15:06] MushMal commented on #596
@fernandoc1 the sdk is designed to be as small footprint as possible and as lean as possible. Could you please provide a little more information about your platform? Are there any tools you could use to capture the cpu usage? What exactly do you mean by cpu power? Do you mean power consumption or the cpu load? Are you running your encoder in process? Is it a software encoder? Does the master sampl

[2020-07-07 17:33] zhuker commented on #578
@disa6302

do you mind sharing them as separate PRs?

 how do we avoid duplicate work?

[2020-07-07 17:47] zhuker commented on #578
working on
- Inbound RTP Stats
- Outbound RTP Stats

specifically focused on round trip times

[2020-07-07 17:55] disa6302 commented on #578
@zhuker ,

Thank you for your contribution once again. I am so thrilled to see your active participation! I should have added more details around the work distribution. RTP stats sounds good. I will add more details to the ticket.

[2020-07-07 20:59] fernandoc1 commented on #596
I have analysed the software with callgrind and it using lots of CPU in this function:
[PVOID connectionListenerReceiveDataRoutine](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Ice/ConnectionListener.c#L217)

I have tested in my notebook with Intel i7 8th gen and Kinesis streaming is using 12% of a single CPU.

Here is my callgrind output, so you can

[2020-07-07 21:07] MushMal commented on #596
This is the main receive function that sits on top of the socket. Due to platform compatibility, we can't use low-level OS features such as k-polls or on Windows waitformultipleobjectxex API. This said, it should be as fast as your sockets are doing read operation in a non-fully blocking mode (partial reads). The question is what exactly happens with the data once it's read. This is a very low-lev

[2020-07-07 21:08] MushMal commented on #596
BTW, I assume you are running this on the stock/unmodified master sample right?

[2020-07-08 11:06] fernandoc1 commented on #596
I'm using the master branch, with just a single change to read my video chunks from the camera. My code for reading these chunks is very lightweight and is not the root for the problem, because I have tested it alone from the rest of the code.
In order to analyse callgrind output, one of my favorite tools is kcachegrind, that is available on Ubuntu's repository.

[2020-07-08 16:34] fernandoc1 opened #601 "[BUG] Add -lm as a compilation flag for linking libkvsWebrtcClient.so"
I'm trying to compile Kinesis (v1.2.0) in my platform, and it complains about missing ldexp symbol. It is necessary to add `-lm` in order to compile the whole project.

[code]

[2020-07-08 19:48] suggestedfixes commented on #596
We have found increased CPU usage compared to last month as well.
I think it is plausible due to increased spinlocks.

[2020-07-08 19:54] fernandoc1 commented on #596
Maybe, if they start testing with Callgrind, they could figure out what is causing this issue.

[2020-07-08 21:06] MushMal commented on #596
It's a valid point and we should take an action of adding a perf run to Travis CI jobs. I am not entirely familiar with callgrind to comment. We do have trace profiler built into the PIC which we could use to dump out the perf call stacks but haven't gotten to it yet.

[2020-07-08 21:12] bdhandap commented on #488
@zwei333 Found the actual root cause for this issue and the fix has been deployed to eu-central-1. Other regions will be deployed shortly. Can you verify whether you are able to start the viewer first in eu-central-1 and see if it works?

I verified in eu-central-1 using JS Sample https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html

[2020-07-08 21:14] bdhandap commented on #562
@yuma-m The fix has been deployed to eu-central-1 and other regions will be deployed shortly. Can you please check in eu-central-1 and confirm?

[2020-07-09 11:21] yuma-m commented on #562
@bdhandap I tried several times on eu-central-1 region and confirmed the issue didn't reproduce. Thank you for your fix.

[2020-07-09 11:44] ashutoshIITK commented on #591
Okay, I will explain the problem here. This is my pipeline:
[code]
When I use device=/dev/**video0** i.e. the original camera. It works fine but what I wanna do is that instead of using **video0**, I want to use some other source which I have created/duplicated from **video0**. The duplicated sources are **video2** and **video3**. **video2** is used to send data to Kinesis Video Stream (**KVS**) a

[2020-07-09 14:55] gerwin3 opened #604 "Include.h documents `freeTransceiver` but it is not implemented."
**Describe the bug**
There's mention of a function `freeTransceiver` in `Include.h` but it isn't implemented (as far as I can see).

**Expected behavior**
I think the function header should be removed.

**Additional context**
I tried to use it but it the linker cannot find an implementation. I looked through the source code and it doesn't seem to have an implementation.

[2020-07-09 15:37] fernandoc1 opened #605 "[BUG] Sometimes the connection fails"
I have compiled Kinesis for a camera I'm working on, and it sometimes works great, for many hours.
However, there are sometimes that Kinesis stop sending packets and my streaming freezes. Since I'm using a local network, and the camera connection is always available, I don't think that is a connection problem. After this happens, Kinesis stop completing connections and never start sending packets

[2020-07-09 15:59] enobufs commented on #364
@disa6302 may I ask you if there was any progress on this?

[2020-07-09 16:04] disa6302 commented on #364
@enobufs ,

I have a WIP PR for this. Will update once it is reviewed and merged.

[2020-07-09 17:27] MushMal commented on #605
I see a spew of

[code]

Can you please check your code? This might be irrelevant but I am not sure I understand what's happening in your case? It seems that the last few entries in the log indicate that your master did receive the offer, responded and established P2P connection.

Can you also include whether the stock master sample works on your device with the pre-canned frames and no modificati

[2020-07-09 17:30] MushMal commented on #604
Indeed this is a bug. We will address this shortly.

[2020-07-09 17:35] MushMal commented on #591
@ashutoshIITK could you please include the debug logs from KVS WebRTC? From what I understand, your webRTC solution works fine but when you attempt to pipe video source 3 it doesn't work for some reason. It is perhaps GStreamer related and if so, GStreamer forums might provide a better answer.

You could also try to get more information about GStreamer failure setting GST_DEBUG=5 env variable and

[2020-07-09 18:42] #596 closed

[2020-07-09 18:45] #593 closed

[2020-07-09 19:10] ashutoshIITK commented on #591
@MushMal
I think you have slightly misunderstood my point. With /dev/video2, I use the normal Kinesis Video Streaming (KVS) [https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp](url) and not the KVS WebRTC.  That works completely fine. With /dev/video3, I am trying to use this WebRTC. I have checked the pipeline several times by just using /dev/video0 and then it works fine bu

[2020-07-09 19:22] MushMal commented on #591
The log seem to be truncated or something - the last entry is freeing turn allocations.

If I understand it correctly, you are using same device and the same encoder in parallel? Depending on the hardware, it might only allow exclusive access (most hardware encoders do). Perhaps, I am not understanding the question. Can you run a few simple experiments with WebRTC and your media source is isolatio

[2020-07-09 19:41] ashutoshIITK commented on #591
Actual exclusive access is not the problem.
I am using same device that has only one physical camera (/dev/video0). Next, I create fake devices using `sudo modprobe v4l2loopback devices=4`, This will create `/dev/video1`, `/dev/video2`,` /dev/video3`, `/dev/video4`. Out of these created devices, I write the output from `/dev/video0` to `/dev/video2` and `/dev/video3`. So basically, they are copy o

[2020-07-09 19:44] ashutoshIITK commented on #591
@MushMal , The problem is solved. Actually, it took very long time for the video to show. Usually, it is not like that.  (Maybe I was just impatient cause its WebRTC :p) Basically, everything is okay but I have just left my comments if someone encounters same problem in the future.  Thanks for your help. This issue can be closed!

[2020-07-09 19:48] MushMal commented on #591
Oh, wow! Very cool indeed!

The latency might be due to the ICE negotiation. I am going to keep this issue open for now until we have more understanding why the connection setup takes long and come up with some suggestions

[2020-07-09 19:57] ashutoshIITK commented on #591
Thank you!
I see! Sure!

[2020-07-10 02:52] hsinghaowang commented on #540
Thanks. It is solved.
The problem has something to do with random number generation in our platform.

[2020-07-10 02:52] #540 closed

[2020-07-10 05:00] zwei333 commented on #534
Confirmed that the issue is not related to kvs-sdk.  Please see the following notes

Most urls in the process of connecting to the signaling channel have three ip addresses. libwebsockets will pick one of three to create connection (the one picked could be different each time connecting to signalling channel)
So each time libwesockets tries to connect to four servers out of the following list.  (

[2020-07-10 05:04] zwei333 commented on #488
I tried eu-central-1. Our webrtc behaves differently.  I think your theory above is correct.
However, the cached offer message caused our webrtc to crash.  I guess the crash is caused by early delivery of offer.  Therefore, I can't stream with current version of webrtc.  I will fix the crash and try again.
Please go ahead with deploying the fix

[2020-07-10 15:51] MushMal commented on #534
Not sure what you mean by different IPs. What you see is the actual host IPs given out by the load balancers. Those have certain algorithms to distribute but you can assume they are random and they can change without any notice. The load balancers will kick out "bad" hosts out of rotation on health check.

[2020-07-10 18:35] zwei333 commented on #534
Yes, those three ips are from the load balancers.  There is a problem with our new platform that some ips can't be connected from our board randomly at each boot.  It is the root cause of this issue.  The os team from our partner is taking over the issue.  We are all set here.  Thanks!

[2020-07-10 19:23] zwei333 commented on #488
I fixed our webrtc crash issue in this scenario.
Now, using eu-central-1, I can start viewer first, and launch master (webrtc) later.  Once master is started, cached messages are delivered and video starts shortly after.
Waiting for the fix to be deployed to us-east-1

[2020-07-10 19:34] #587 closed

[2020-07-10 20:15] lherman-cs commented on #587
@gerwin3 Could you try to update your SDK to the latest? The fix has been merged, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/600.

[2020-07-10 22:00] #121 closed

[2020-07-11 02:13] #120 closed

[2020-07-11 04:32] zwei333 commented on #427
Haven't seen the problem again

[2020-07-11 13:10] gerwin3 commented on #587
Seems to resolve the issue! Thanks 👏

[2020-07-11 14:43] lherman-cs commented on #587
@gerwin3 I'm glad to hear that!

[2020-07-12 10:18] lingdhox commented on #592
@chehefen
Reduce the MTU to 1000, client print error:
`2020-07-12 10:01:45 DEBUG   turnConnectionStepState(): TurnConnection state changed from TURN_STATE_BIND_CHANNEL to TURN_STATE_READY
2020-07-12 10:01:57 DEBUG   socketSendDataWithRetry(): sendto() failed with errno Connection reset by peer
2020-07-12 10:01:57 DEBUG   socketSendDataWithRetry(): Close socket 9`

Then I opened the detailed log of

[2020-07-12 11:45] lingdhox commented on #592
@chehefen

Sometimes the client also prints SSL errors:
2020-07-12 11:42:00 DEBUG   turnConnectionStepState(): TurnConnection state changed from TURN_STATE_BIND_CHANNEL to TURN_STATE_READY
2020-07-12 11:42:02 WARN    socketConnectionReadData(): SSL_read failed with error:140943FC:SSL routines:ssl3_read_bytes:sslv3 alert bad record mac
2020-07-12 11:42:02 DEBUG   socketConnectionClosed(): Close soc

[2020-07-12 15:02] arkhipenko commented on #310
@dannymarosi  Hi, I am fighting similar issues - how did you change the log level? I can't find it in the code of kvsWebRTCClientMasterGstreamerSample.c
Thx!

[2020-07-12 21:40] arkhipenko opened #608 "[BUG] kvsWebRTCClientMasterGstreamerSample.c Add peer failed. Max peer count reached on second connection"
**Describe the bug**
A kvsWebRTCClientMasterGstreamerSample.c with the following gst pipeline

 pipeline = gst_parse_launch(
"rpicamsrc keyframe-interval=30 "
"! queue "
"! h264parse "
"! video/x-h264,stream-format=byte-stream,alignment=au,profile=baseline "
"! appsink sync=TRUE emit-signals=TRUE name=appsink-video",
 &error);

only allows one connection, and never allows the same client to reconn

[2020-07-13 02:34] disa6302 commented on #608
@arkhipenko ,

By your description it looks like the Master does not detect when the peer is stopped. I am unable to reproduce the behavior and would like to get some logs to confirm what might be causing this.

[2020-07-13 04:16] arkhipenko commented on #608
Thank you for a quick reply.
Log is attached.   The log is an attempt to connect to signalling channel crane1-1 with client ids "test-page-1", "test-page-2", and "test-page-3".  For test-page-2 I just pushed "stop viewer" and then "start viewer", For "test-page-3" I closed chome completely and started with a new session. Same result - video feed for 2 and 3 never showed up.
Video only shows up if

[2020-07-13 13:36] arkhipenko commented on #608
UPDATE:
Using a USB connected camera with this pipeline does not seem to have this issue.

"-v v4l2src device=/dev/video1 ".
"! queue "
"! videoconvert "
"! video/x-raw,width=640,height=480,framerate=30/1 "
"! x264enc  bframes=0 key-int-max=45 bitrate=500 tune=zerolatency "
"! video/x-h264,stream-format=byte-stream,alignment=au,profile=baseline "
"! appsink sync=TRUE emit-signals=TRUE name=appsink

[2020-07-13 14:39] arkhipenko commented on #608
So it clearly happens only with this pipeline
"-v rpicamsrc bitrate=5000000 annotation-mode=12 preview=false "
"! queue "
"! queue max-size-time=100000000 "
"! h264parse "
"! video/x-h264,profile=constrained-baseline,stream-format=byte-stream,alignment=au "
"! appsink sync=TRUE emit-signals=TRUE name=appsink-video",

which seems to mean it's somehow linked to the rpicamsrc...
Is there anything you

[2020-07-13 16:02] chehefen commented on #591
@ashutoshIITK Hi, do you still see the long delay for video to show? Thanks

[2020-07-13 17:11] disa6302 commented on #608
Thank you @arkhipenko  for running different cases! From the logs, it looks like streaming session is getting free'd in all the cases. (test-page-1, test-page-2 and test-page-3)

So, yes, looks like it is something with the rpicamsrc. One thing that will help you debug is to run the sample with `GST_DEBUG=4`. That will give you an understanding of what might be going on with the pipeline.

[2020-07-13 17:17] arkhipenko commented on #608
The log that I attached is actually in VERBOSE! Even more than DEBUG.Can you have a look? Is there anything there that can be a pointer for the problem?.On Jul 13, 2020 1:11 PM, Divya Sampath Kumar <notifications@github.com> wrote:

Thank you for a quick reply.
Log is attached. The log is an attempt to connect to signalling channel crane1-1 with client ids "test-page-1", "test-page-2", and "test-p

[2020-07-13 17:19] dannymarosi commented on #310
Hi Anatoli,
Setup desired log level:
Set up the desired log level. The log levels and corresponding values currently available are:

  1.  LOG_LEVEL_VERBOSE ---- 1
  2.  LOG_LEVEL_DEBUG ---- 2
  3.  LOG_LEVEL_INFO ---- 3
  4.  LOG_LEVEL_WARN ---- 4
  5.  LOG_LEVEL_ERROR ---- 5
  6.  LOG_LEVEL_FATAL ---- 6
  7.  LOG_LEVEL_SILENT ---- 7
To set a log level, run the following command:
export AWS_KVS_L

[2020-07-13 17:37] disa6302 commented on #608
@arkhipenko ,

I do not see any obvious issue. One thing you can try is removing `queue max-size-time` and then try this. It is possible that the buffers are getting filled up? This is just a hunch though.

But, you can get more information by running GST_DEBUG=4 to see if there is anything wrong with the pipeline.

[2020-07-13 17:42] arkhipenko commented on #310
Thank you!
I found this same documentation in the C version of the repo.
Somehow the C++ version does not have this information, and that is where I started....

________________________________
From: dannymarosi <notifications@github.com>
Sent: Monday, July 13, 2020 1:19 PM
To: awslabs/amazon-kinesis-video-streams-webrtc-sdk-c <amazon-kinesis-video-streams-webrtc-sdk-c@noreply.github.com>
Cc: Ana

[2020-07-13 17:50] disa6302 commented on #573
@ssalexa ,

Are you still facing issues with this?

[2020-07-13 17:51] disa6302 commented on #576
@zhuker ,
Closing this since it is being tracke din #578

[2020-07-13 17:51] #576 closed

[2020-07-13 17:53] disa6302 commented on #526
@mdonahoe ,

The issue seems to have gone stale. Feel free to open a new issue or re-open this if needed. Thanks!

[2020-07-13 17:53] #526 closed

[2020-07-13 17:54] disa6302 commented on #562
@yuma-m ,

Looks like it worked. Based on your comment, I am closing this issue. Do feel free to reach out if you face any issues in the future. Thank you!

[2020-07-13 17:54] #562 closed

[2020-07-13 17:56] disa6302 commented on #590
@thasin96 ,

Is your question answered? If yes, could you please close the ticket? Thanks!

[2020-07-13 17:59] #590 closed

[2020-07-13 18:06] arkhipenko commented on #608
attaching a log with GST_DEBUG=4
Anything that strikes you as unusual?   I noticed the amount of activity during the second connect is clearly different.

Thank
[log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4914283/log.txt)
 you again!

[2020-07-13 19:52] #604 closed

[2020-07-13 20:09] zwei333 commented on #488
Tested with us-east-1.  Working now.  Closing this issue

[2020-07-13 20:10] chehefen commented on #608
`0:00:08.641448784  1506 0x6d3026c0 ERROR           GST_PIPELINE grammar.y:816:priv_gst_parse_yyparse: no element "v"`
you cant pass -v in gst-parse-launch.

[2020-07-13 20:14] arkhipenko commented on #608
Interesting... I don't think this is the cause though as both pipelines work first time:

"-v rpicamsrc keyframe-interval=30 num-buffers=-1 "
"! h264parse "
"! video/x-h264,stream-format=byte-stream,alignment=au,profile=baseline "
"! appsink sync=TRUE emit-signals=TRUE name=appsink-video",

and

"-v v4l2src device=/dev/video1 ".
"! queue "
"! videoconvert "
"! video/x-raw,width=640,height=480,fram

[2020-07-13 20:19] arkhipenko commented on #608
tried without "-v" - same behaviour

[2020-07-13 20:25] chehefen commented on #608
can you try this?
"rpicamsrc keyframe-interval=30 bitrate=500000 ! queue ! h264parse config-interval=-1 ! video/x-h264,stream-format=byte-stream,alignment=au,profile=baseline ! appsink sync=TRUE emit-signals=TRUE name=appsink-video"

[2020-07-13 20:37] arkhipenko commented on #608
You, sir, are a magician!
What was the trick? "h264parse config-interval=-1"?

[2020-07-13 20:39] arkhipenko commented on #608
For posterity and those who come looking for the same solution:
this is the winning pipeline (courtesy of @chehefen )

"rpicamsrc keyframe-interval=30 bitrate=5000000 "
"! queue "
"! h264parse config-interval=-1 "
"! video/x-h264,stream-format=byte-stream,alignment=au,profile=baseline "
"! appsink sync=TRUE emit-signals=TRUE name=appsink-video",

[2020-07-13 20:40] #608 closed

[2020-07-14 00:42] mdonahoe commented on #526
I updated to latest master, then re-ran discoverNatBehavior on my TX2 with `-i eth0`, and the results seem to be better.

[code]

I also got the kvsWebrtcClientMaster example working by using the `iceSetInterfaceFilterFunc` option.

[code]

Thanks!

[2020-07-14 09:48] coldheartday commented on #562
@bdhandap Did this fix deployed to us-west-2 ?I still meet issue [https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/493](url)

[2020-07-14 14:17] ashutoshIITK commented on #591
@chehefen
I have observed an interesting thing here. When my raspberry pi and the viewer (my laptop) are connected to the same network, it takes really long (30 seconds or more) to get the streaming video to appear in the AWS console Media Playback Viewer but when I am connected to a different network, it connects within 5 seconds. Is there some explanation for this? I experimented it today severa

[2020-07-14 23:56] disa6302 opened #614 "[FEATURE] Travis CI for samples"
**Is your feature request related to a problem? Please describe.**
It is important to check for regression in samples.
**Describe the solution you'd like**
Add samples to travis CI

[2020-07-15 05:12] zwei333 opened #616 "[QUESTION] latency and network performance metrics"
Does SDK have latency metrics, such as
Time between sending rtp packet and getting ack
percentage of dropped packets
percentage of re-transmitted  packets

I noticed that there is bandwidth measurement.  How should I use the bandwidth info?

[2020-07-15 05:18] zwei333 opened #617 "[QUESTION] about TURN allocation"
Who decides which TURN ice candidate to use, viewer app or the TURN server?
How is TURN ice candidate being chosen? based on what information?
Are offer and answer used during choosing the TURN ice candidate?  To be specific, if offer has audio/video receive only, then there is no media data flowing from viewer to master.  I guess the one way data flow can affect the TURN ice candidate choosing pr

[2020-07-15 06:41] Lion-blade opened #618 "[QUESTION] Sendto() failed with errno Network is unreachable"
In a wireless network. The live view on the AWS console via kvsWebRtcMaster.  After 10 -15 seconds the preview terminates and returns the following exception logs.

Log:
11:45:50  2020-07-15 03:49:10 DEBUG   lwsWssCallbackRoutine(): Client is writable
11:46:00  2020-07-15 03:49:20 DEBUG   lwsWssCallbackRoutine(): Client is writable
11:46:01  2020-07-15 03:49:21 DEBUG   socketSendDataWithRetry(): s

[2020-07-15 16:06] Rpi112 opened #619 "Gstreamer not working with Raspivid"
Hi,

I am using Raspicam with Raspberry Pi setup to stream video to pipeline as master. When using the GSTreamer sample code (and chrome browser as viewer in another device), i am not getting any video output in viewer.

I could see from log that connection is established but there seems to be some issue with the video stream that is sent. It seems gst_parse_launch uses "autovideosrc" which is not

[2020-07-15 16:53] disa6302 commented on #616
@zwei333 ,

Nothing yet. Whatever metrics are being implemented now are what is available in the spec and we will add them in slowly. No ETA yet. It is a WIP. Public interfaces will also be available to pull the information. Thank you for your patience!

[2020-07-15 17:05] disa6302 commented on #619
@Rpi112 ,

GStreamer related questions are best directed to GStreamer forums to get answers. One thing you could try is using gst-rpicamsrc instead of raspivid. Not sure if you have a specific reason for using raspivid.

[2020-07-15 17:26] bdhandap commented on #562
@coldheartday Yes. the changes are deployed to us-west-2 on Monday. can you try again?

[2020-07-15 18:04] disa6302 commented on #617
@zwei333 ,

Which TURN candidate to use for data exchange is based on which candidate pair is nominated, which in turn is based on which pair passes the connectivity check and is of highest priority. Nomination happens on the controlling side of the peer connection. As per our SDK and in general as well, the one that sends the offer is the controlling side. This means, viewer (if sending the offer

[2020-07-15 18:17] Rpi112 commented on #619
@disa6302 : Thanks.. I will try gst-rpicamsrc and check..

[2020-07-16 00:10] zhuker opened #620 "[BUG] IceFunctionalityTest.connectionListenerFunctionalityTest fails on master"
**Describe the bug**

`IceFunctionalityTest.connectionListenerFunctionalityTest` fails on current master

**To Reproduce**

run webrtc_client_test

**Expected behavior**

test passes

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04

[2020-07-16 00:11] zhuker commented on #620
@chehefen tagging you based on git blame

[2020-07-16 00:42] Lion-blade commented on #618
@disa6302 Yes. I've tried several different wireless networks. But they all have this problem.Are there any limitations when the device and the Client are not on the same wireless network?

[2020-07-16 16:17] Rpi112 commented on #619
@disa6302 : I could get it working. It seems the problem was not with "autovideosrc" but with "x264enc". After installing gst-plugins-ugly, the problem was resolved.

[2020-07-16 16:17] #619 closed

[2020-07-16 17:19] zhuker opened #621 "[BUG] clang format for tests"
@disa6302 in  clang format PR https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/548 was there a reason you didnt clang format tests?

[2020-07-16 17:24] disa6302 commented on #621
@zhuker ,

Actually no. I just missed it. Let me spend some time and add that in.

[2020-07-16 19:03] disa6302 commented on #618
@Lion-blade ,

That should not matter. The connection establishment would happen via TURN and that is what the logs indicate. Are you running the master sample as it is? Are there any modifications you are making?

Also, there are 2 errors I see in the log. One is STATUS_SEND_DATA_FAILED (0x5800001a) which is because all the bytes could not be sent out because network is unreachable. The second er

[2020-07-16 19:16] zhuker opened #622 "[question] how do i test without having the key?"
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/01f5160431380d8fd52777a45dba41e318b433b7/tst/PeerConnectionFunctionalityTest.cpp#L156-L158

@MushMal
there's no test which calls writeFrame and isn't disabled with this key
i think we should have a mock signaling client where something other than signaling client is tested

[2020-07-16 21:07] MushMal commented on #622
@zhuker it's a valid point. Perhaps we should think of simulating the entire signaling but I am not sure whether it warrants the effort as when Travis CI runs with our account, it does set the credentials and executes all of the test:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/tst/WebRTCClientTestFixture.cpp#L53

So, for the local runs, we set the env variabl

[2020-07-16 21:12] MushMal commented on #620
Thanks @zhuker let us get back to this ASAP

[2020-07-16 21:26] mdonahoe opened #624 "[QUESTION] Does this library support TURN over UDP/DTLS?"
I thought the answer was yes, but recent code comments make me think otherwise.

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/ae7462f38d71823d87ed284013e2ea976b48011a#diff-ac8a6868f6ec8cad1125016a09ecb8c2R362

[2020-07-16 21:27] lherman-cs commented on #624
@mdonahoe we currently only support UDP and TLS.

[2020-07-16 21:30] zhuker commented on #622
just thought about it

where do i get the test creds?

[2020-07-16 21:33] zhuker commented on #622
before mock signaling is there, i think instead of silently passing tests in absence of the creds we should fail if user doesnt have them
i had false sense of security when i saw tests pass only to realize later i didnt have the creds

[2020-07-16 21:35] lherman-cs commented on #622
@zhuker I actually had a PR opened to do this in the past, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/495. Maybe, we can just revive that?

[2020-07-16 21:42] zhuker commented on #622
@lherman-cs i am trying to run tests locally to verify my code works before committing

this piece of code makes tests pass locally without warning they were actually skipped
[code]

how does #495 helps me with that?

[2020-07-16 21:45] mdonahoe commented on #624
Does that mean you support TURN over UDP? How does that work without DTLS?

I'm not an expert here, I'm just looking for a low-latency TURN connection. Thanks!

[2020-07-16 22:00] lherman-cs commented on #624
Sorry for the confusion. Let's imagine for the case of sending a data channel message. The overall data would look as follow (this is of course an oversimplification from the actual flow, but it should still describe how packets get encrypted):

[code]

From the diagram above, it shows that your application data will first get encrypted with DTLS. Then, the encrypted data will be transported in th

[2020-07-16 22:11] mdonahoe commented on #624
Oh I see. There is a difference between `turn:` and `turns:`

Thanks for the clarification.

[2020-07-16 22:11] #624 closed

[2020-07-16 22:14] lherman-cs commented on #622
It doesn't help with the actual problem, we won't have credentials for signaling for running unit tests. This PR will only fail early for fork builds since these builds WILL NOT have credentials anyways.

[2020-07-16 22:23] disa6302 commented on #573
@ssalexa ,

This issue seems to have gone stale. Feel free to open a new issue if you face any problems.

[2020-07-16 22:23] #573 closed

[2020-07-16 22:39] MushMal commented on #622
RE: Credentials for the unit test. Some of the tests actually do need the credentials - for instance, the signaling client functionality test does need it as well as the tests hitting TURN. There are ways to mock those but the mocking will be pointless as we go through so many layers. Instead, we chose to use actual backend. What this evaluates to is that our Travis CI runs which are kicked under

[2020-07-16 23:24] zhuker commented on #622
@MushMal re testing turn and signaling itself - makes sense
but why `PeerConnectionFunctionalityTest.exchangeMedia` is disabled with the `mAccessKeyIdSet`? it works with no signaling for me

[2020-07-17 03:31] Nomidia commented on #618
Since the wireless connection is not stable enough, Network is unreachable may occur. We can ignore the errno ENETUNREACH here. After that, it will not affect the subsequent data transmission.

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/01f5160431380d8fd52777a45dba41e318b433b7/src/source/Ice/SocketConnection.h#L16-L20

[code]

[2020-07-17 04:02] SEOKHYOENCHOI commented on #562
@bdhandap  Did this fix deployed to ap-northeast-2?

[2020-07-17 04:44] MushMal commented on #622
Hmm, it's odd. PeerConnectionFunctionalityTest.exchangeMedia doesn't need that guard as it doesn't use AWS backend functionality at all. Do you mind removing the if (!mAccessKeyIdSet) check from

* PeerConnectionFunctionalityTest.exchangeMedia
* PeerConnectionFunctionalityTest.exchangeMediaRSA

[2020-07-17 05:04] MushMal commented on #618
@Nomidia looks promising! Do you mind pushing a PR with the changes?

[2020-07-17 05:36] Nomidia commented on #618
Ok, I will push later.

[2020-07-17 08:20] ycyang1229 commented on #601
Hey @chehefen , I have the same problem on my platform,  but I did the static build. Just posted my error log here, and probably the same problem.

[ 93%] Linking C executable kvsWebrtcClientViewer
../open-source/lib/libcrypto.a(b_sock.o): In function `BIO_gethostbyname':
b_sock.c:(.text+0x54): warning: gethostbyname is obsolescent, use getnameinfo() instead.
/*****/****-linux/x86-arm/arm-********

[2020-07-17 16:55] nichatpratik opened #626 "[BUG] View from Master freezes while using GStreamer sample project on Google Chrome"
**Describe the bug**
I am working on using the webRTC stack with a webcam feed. I have set up the Master-Viewer configuration using a GStreamer pipeline, I was successful in transferring webcam feed from the WebRTC JavaScript SDK – Viewer (browser) to the WebRTC C SDK - GStreamer Master and returned the received frames back to the browser using the WebRTC C SDK - Gstreamer Master.

But I observed

[2020-07-17 17:17] lherman-cs opened #627 "Add outbound hostname and port requirements to README"
Since our SDK is meant for low powered devices, it's very common that these devices live in a restricted network. So, it's really helpful for our customers to understand the outbound hostname and port requirements so that they can whitelist them in their network.

Note: Inbound hostname and port requirements are not important since we only use ephemeral ports.

[2020-07-17 17:29] disa6302 commented on #626
@nichatpratik ,

1. Can you please provide the logs for the run?
2. So the viewer and the master are using the same webcam, right? It is possible there is resource contention because the camera is being accessed by two applications simultaneously. But, we would not know without the logs.

[2020-07-17 19:17] disa6302 commented on #618
@Nomidia ,

Thank you for your changes!

@Lion-blade , do you mind pulling https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/625 and checking if the issue persists?

[2020-07-17 20:02] disa6302 commented on #580
@suggestedfixes ,

Is this fixed?

[2020-07-17 20:18] lherman-cs commented on #620
@zhuker could try to run the following?

[code]

I'm afraid that this is due to the OS doesn't allow to bind the loopback address.

[2020-07-17 20:48] disa6302 commented on #364
@enobufs ,

Apologies for the delay. The changes are in this PR.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/599

I have added unit test to verify the parameters that are being set.

About this, I will focus on this in a separate PR. Will add in the parameters in RtcDataChannel so that the information can be read by the application. Again, thank you for your patience

[2020-07-17 21:29] alexareactnative1 opened #630 "[QUESTION]How to make an offer"
My application is only one peer sends data while the others are listening. I want to make an offer, and then I can make a http call to create an answer.

I looked into sample code, I add this code in my application, but it doesn't work:

`
 retStatus = createSampleConfiguration(argc > 1 ? argv[1] : SAMPLE_CHANNEL_NAME,
                                          SIGNALING_CHANNEL_ROLE_TYPE_VIEWER,

[2020-07-17 21:47] disa6302 commented on #630
What you are describing is a classic single master multi-viewer configuration if I am not mistaken. Can you give more details on who the listeners are? Is your intent to createOffer and answer in the same application?

[2020-07-17 22:50] #621 closed

[2020-07-17 22:52] disa6302 commented on #551
@suggestedfixes ,

Any updates?

[2020-07-17 22:52] disa6302 commented on #558
@taufeeq25 ,

This issue seems to have gone stale. Closing it. Feel free to open a new issue if you face any problems!

[2020-07-17 22:52] #558 closed

[2020-07-17 23:00] zhuker commented on #620
@lherman-cs i pulled latest master the tests pass :man_shrugging:

[2020-07-17 23:00] #620 closed

[2020-07-17 23:10] disa6302 commented on #427
Closing this. @zwei333 , feel free to open a new issue if you face any issues.

[2020-07-17 23:10] #427 closed

[2020-07-18 01:01] #630 closed

[2020-07-18 01:01] alexareactnative1 commented on #630
My questions is answered by @disa6302

[2020-07-18 01:50] mdonahoe opened #631 "[QUESTION] How can I tell if the webrtc connection is STUN or TURN and TCP vs UDP?"
With all the different candidates being tried, it is hard for me to tell which one actually succeeded.
Also, some example code that parsed the `PSampleStreamingSession` and printed some identifying info would be helpful.

Here's an example log. I think the TURN connection succeed, but I can't tell if it is TCP or UDP. I hope UDP.
[code]

[2020-07-18 06:10] #592 closed

[2020-07-18 16:57] suggestedfixes commented on #631
On the browser side, we can use chrome://webrtc-internals to look at nominated candidate pairs, and see if the local candidate type is relayed or not.

[2020-07-20 01:27] Lion-blade commented on #618
@disa6302 Thanks, While it still returns the error message "WARN turnConnectionSendData(): iceUtilsSendData failed with 0x5800001a", the live view works fine and no other issues have been identified as a result of this changes.

[2020-07-20 03:01] disa6302 commented on #618
Great @Lion-blade ! Will close this issue then
Do not hesitate to reach out if you face any issues.

[2020-07-20 03:01] #618 closed

[2020-07-20 08:31] suggestedfixes commented on #617
Normally TURN is absolutely the last resort when there's no way STUN can get through due to network topology.
Also, this commit fixes the weight that TURN gets chosen.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/23362651ad78ccdbcc3971e89352289017d1c367

[2020-07-20 08:50] shiv50084 opened #632 "[BUG] : library linking order for my embedded system"
A one liner description about the use case and what you are trying to achieve:-

By using this command i have compiled my webrtc sdk for my embedded platform:-

cmake .. -DADD_MUCLIBC=TRUE -DBUILD_OPENSSL=TRUE -DBUILD_OPENSSL_PLATFORM=linux-generic32 \
		 -DOPENSSL_EXTRA="no-egd;no-sse2;no-asm;no-threads;no-hw;no-zlib;no-weak-ssl-ciphers;no-static-engine" \
		 -DBUILD_LIBSRTP_HOST_PLATFORM=x86_64-

[2020-07-20 16:45] fernandoc1 opened #633 "[BUG]Sometimes the client fails to start"
Sometimes my client is failing to start.
It shows the following sequence:

[code]

[2020-07-20 17:20] MushMal commented on #633
The error code indicates a timeout - there are multiple instances in issues you can search for answers. You will need debug logs and perhaps debug libWebSockets to better understand what’s going on. It well might be your networking

[2020-07-21 14:06] thasin96 opened #635 "How to create signalling channel from multiple RTSP?"
I am using `amazon-kinesis-video-streams-webrtc-sdk-c` to create webrtc signalling from an RTSP stream. It's working as I expected by modifying pipeline in `kvsWebRTCClientMasterGstreamerSample.c`. My question is, Is it possible to perform this same action for multiple RTSP streams and each stream for different singalling channel? In C++ producer library SDK, I can start streaming for multiple str

[2020-07-21 15:15] shiv50084 opened #636 "[BUG] : facing linking error while compiling statically webrtc sdk"
**Describe the bug**
A clear and concise description of what the bug is.

**[ 64%] Linking C executable kvsWebrtcClientViewer
/opt/mips-gcc540-glibc222-64bit-r3.3.0/bin/cmake -E cmake_link_script CMakeFiles/kvsWebrtcClientViewer.dir/link.txt --verbose=1
/opt/mips-gcc540-glibc222-64bit-r3.3.0/bin/mips-linux-gnu-gcc -muclibc -lm -fPIC -muclibc  -muclibc -rdynamic CMakeFiles/kvsWebrtcClientViewer.dir

[2020-07-21 15:34] MushMal commented on #635
@thasin96 these are conceptually different. For signaling, you will need to use one signaling client per channel.

[2020-07-21 15:37] thasin96 commented on #635
@MushMal - for my application I would like create signalling channel for each rtsp stream. Is it possible?

[2020-07-21 15:42] MushMal commented on #635
For webrtc you will have to create multiple channels and each channel need to be handled by its own signaling client.

[2020-07-21 16:22] MushMal commented on #635
The samples create a single channel and use it. Normally, this is the pattern we recommend using in order to not create/delete channels for each session. I guess, I am not sure what you are trying to accomplish conceptually but without going into details of your application, you can create a signaling channel as many times as you want (given you don't go over the limit) and reference to a particul

[2020-07-21 17:27] lherman-cs commented on #635
Alternatively, you can also add multiple transceivers to a single peer connection, where each transceiver listens to an RTSP stream source. This an example how you can do this, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/ee7c30171a47d97af3ef2c8d24cef788ead24137.

[2020-07-21 18:32] lherman-cs commented on #636
@shiv50084 do you mind to check if `libkvsCommonLws.a` is statically compiled properly? You could check this by running `objdump -t libkvsCommonLws.a`. You should see that the symbols that you mentioned above are defined.

[2020-07-21 19:41] suggestedfixes opened #637 "[QUESTION] How to troubleshoot lag with multiple viewers open?"
We had an experiment with 4 chrome tabs open connecting to a single device and VLC opening with an RTSP stream. As time goes on, the WebRTC clock and footage seems to slowly lag behind. After 10 minutes of streaming, the WebRTC stream seems to be behind 2 minutes. A colleague reported the lag can be as much as 7 minutes behind real-time.

- We are using GStreamer with an RTSP source.
- We didn't h

[2020-07-21 20:02] suggestedfixes commented on #637
One possible source of buffer is:
#define DEFAULT_JITTER_BUFFER_MAX_LATENCY (2000L * HUNDREDS_OF_NANOS_IN_A_MILLISECOND)
I think I had set that to 10000L, but that should in theory have only 10 seconds of difference correct?

[2020-07-21 20:18] lherman-cs commented on #637
Yes, we'll drop late packets, outside of 10 seconds latency, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/JitterBuffer.c#L97-L110.

Could you share the inbound-rtp stats from chrome://webrtc-internals for the 4 viewers? Also, we have an open PR that will add RTP stats, so that might be helpful to troubleshoot this problem, https://githu

[2020-07-21 20:24] suggestedfixes commented on #637
I think I found the culprit
gstream rtspsrc has a policy drop-on-latency, so it might have queued up a bunch of rtsp frames, I'm testing with that enabled.

https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good/html/gst-plugins-good-plugins-rtspsrc.html#GstRTSPSrc--drop-on-latency

[2020-07-21 20:27] lherman-cs commented on #551
Since this issue has been stalled for a while, I'll mark this as resolve. Please feel free to reopen it for further assistance!

[2020-07-21 20:27] #551 closed

[2020-07-21 20:30] lherman-cs commented on #580
Since this issue has been stalled for a while, I'll mark this as resolve. Please feel free to reopen it for further assistance!

[2020-07-21 20:30] #580 closed

[2020-07-21 20:35] lherman-cs commented on #583
@suggestedfixes I'm not sure how we can debug this. Does this issue still happen? Or do you have more details on this?

[2020-07-21 20:38] lherman-cs commented on #591
@ashutoshIITK in both networks, were both connected through peer-to-peer or TURN? Also, Did you enable trickle ice?

[2020-07-21 20:40] lherman-cs commented on #605
Since this issue has been stalled for a while, I'll mark this as resolve. Please feel free to reopen it for further assistance!

[2020-07-21 20:40] #605 closed

[2020-07-21 20:42] lherman-cs commented on #617
Since the question has been answered, I'll mark this as resolve. Please feel to reopen if you need further assistance!

[2020-07-21 20:42] #617 closed

[2020-07-21 20:43] lherman-cs commented on #627
Added the requirements to README.

[2020-07-21 20:43] #627 closed

[2020-07-21 20:44] lherman-cs commented on #626
@nichatpratik any update?

[2020-07-21 21:15] lherman-cs commented on #626
Closing, communicated with the customer offline.

[2020-07-21 21:15] #626 closed

[2020-07-21 22:03] lherman-cs commented on #632
@shiv50084 it seems that the linker failed to find third party dependency symbols. Could you try to give `BUILD_STATIC_LIBS=ON` to cmake? This will compile third party dependencies statically.

[2020-07-22 00:30] disa6302 commented on #364
@enobufs ,

The changes are in. Let me know if you face any issues.

[2020-07-22 01:33] suggestedfixes commented on #637
I think it's in good shape now. Thanks!

[2020-07-22 01:33] #637 closed

[2020-07-22 06:34] ycyang1229 opened #639 "[QUESTION] some warning messages"
A one liner description about the use case and what you are trying to achieve
some warning messages.

Any design considerations/constraints
Explain in detail how you would like to integrate our SDK into your solution
I am doing cross-compiling and enabled "-Werror". Some warning message showed up, and I added __clang__ to fix it.
thanks.

$ make
Scanning dependencies of target kvsWebrtcClient
[  2

[2020-07-22 06:37] ycyang1229 commented on #639
other warning messges.

iotlab@iotlab-Z390-AORUS-PRO-WIFI:~/scofield/_workspace/*****-porting/kvs-webrtc-c/build$ git diff ../src/source/*
diff --git a/src/source/Ice/IceAgent.c b/src/source/Ice/IceAgent.c
index f52faa3..29e9e9c 100644
--- a/src/source/Ice/IceAgent.c
+++ b/src/source/Ice/IceAgent.c
@@ -2544,6 +2544,7 @@ PCHAR iceAgentGetCandidateTypeStr(ICE_CANDIDATE_TYPE candidateType) {

[2020-07-22 06:41] ycyang1229 commented on #639
Put the diff here. If you think it is suitable, please take them into the consideration. thanks.

[2020-07-22 06:48] #635 closed

[2020-07-22 06:53] thasin96 opened #640 "How to pass argument to sendGstreamerAudioVideo function in kvsWebRTCClientMasterGstreamerSample.c file?"
I have modified kvsWebRTCClientMasterGstreamerSample.c sdk code to create my own pipeline. For That I have commented switch block and added my own new gstream pipeline like below.

[code]

After modifying my current code works as I expected. Now, I want to pass rtsp url dynamically. How pass argument (rtsp url) to sendGstreamerAudioVideo function?

[2020-07-22 06:58] shiv50084 commented on #636
@lherman-cs
Yes these symbols are defined in  libkvsCommonLws.a

[objdump_libkvsCommonLws.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4958348/objdump_libkvsCommonLws.txt)

[2020-07-22 10:14] shiv50084 commented on #632
@lherman-cs
I found one issue while cross compiling dependencies opnessl compile and create .a library properly.
While creating library for other dependencies like libwebsocket , srtp, usrsctp etc... compiling from cross-toolchain but creating library using /usr/bin/ar instead of cross-toolchain mips-linux-gnu-ar.

Can you please help how to set these path even export path down't make any effect?

[2020-07-22 11:43] longos opened #641 "[QUESTION] How to add a token session parameter ?"
In addition to AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY, I have to use Session Token. This is needed for credentals from STS. How call the Session Token parameter in the system variable so that kvs can use it ?

[2020-07-22 13:30] fernandoc1 opened #642 "[QUESTION] How to reduce video delay?"
I'm using Kinesis in a camera we are developing, but I found that there is a huge delay in the video being streamed. This delay is up to 1 minute.
My camera produces H264 frames at 22fps. When I play theses frames directly using ffplay, there is no delay. But on Kinesis, it is showing this behaviour. Is there any parameters, or anything I should tune to get a better result?

[2020-07-22 15:30] lherman-cs commented on #640
@thasin96 the easiest way to do that is to add a member to SampleConfiguration, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Samples.h#L42-L76. Later, SampleConfiguration will be passed to the video thread as a custom argument, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L243.

So, at the end, within

[2020-07-22 16:38] thasin96 commented on #640
@lherman-cs - thanks for the response. I would like to pass rtsp-url as a new argument while calling the application. My use case is I am calling kvs Gstreamer from some other services such as shell command, python service. So, I want to pass this parameter as a new argument. I guess, the suggested method will not be for my use case. Is there anyway I can pass rtsp as separate command and access t

[2020-07-22 16:48] lherman-cs commented on #636
@shiv50084, sorry I misunderstood how we statically compile our dependencies, we statically link the dependencies at the end not per library. So, I saw that the symbols (globalGetOsVersion, globalGetPlatformName, and globalGetCompilerInfo) are undefined from your log. This is OK, as long as it's statically compiled later with `libkvspicUtils.a`, which contains the three missing symbols.

Could you

[2020-07-22 17:02] lherman-cs commented on #641
@longos you can set `AWS_SESSION_TOKEN` for the session token.

[2020-07-22 17:08] lherman-cs commented on #641
Thank you for the report. We're indeed missing this from our README. https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/643 will add this documentation.

[2020-07-22 17:19] lherman-cs commented on #640
@thasin96 yes, you can definitely do that with my approach.

1. Add a member to SampleConfiguration for the url:

[code]

2. Get the url from cli args:

[code]

3. Extract the given url

[code]

[2020-07-22 17:22] chertov commented on #601
i have this error too!

It was fixed after add 'm' to target_link_libraries(kvsWebrtcClient ...)
But on my old gcc 6.2 and linux kernel 3.1 i have to add
/CMake/Dependencies/libopenssl-CMakeLists.txt#L13
SET(OPENSSL_EXTRA ${OPENSSL_EXTRA} no-async no-tests)
and
/CMake/Dependencies/libwebsockets-CMakeLists.txt#L27
-DLWS_HAVE_EVENTFD=0

[2020-07-22 18:10] MushMal commented on #640
I am going to resolve this issue as it's been answered. In general, this issue is not related to the SDK per-say but asks for an advice for the custom application.

Please feel free to cut a new issue if you need more assistance

[2020-07-22 18:10] #640 closed

[2020-07-22 18:13] MushMal commented on #641
The samples take the session token in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L617

I think this is indeed a documentation issue. I just pushed @lherman-cs PR so we have this updated in the readme as well

[2020-07-22 18:13] #641 closed

[2020-07-22 19:35] suggestedfixes commented on #642
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/637

Also this sdk has a 2 second jitterbuffer that drops the newest frames, we can send a request to drop older frames

[2020-07-22 19:41] MushMal commented on #639
The best approach would be to push a PR so folks can contribute/comment and eventually merge into master

[2020-07-22 19:43] MushMal commented on #642
@fernandoc1 how do you measure the delay? Can you please provide more information on your scenario? In case of WebRTC, there is a small jitter buffer that can re-send the frame packets but that's defaulted to 10 seconds I believe. There is absolutely nothing that can hold a buffer of 1 minute.

[2020-07-22 19:56] suggestedfixes commented on #642
@MushMal We found that gstreamer can hold the buffer for arbitrarily long by default and had to drop frames on latency.

[2020-07-22 19:57] suggestedfixes commented on #642
@MushMal I do not know fernadoc1, he's probably working on another device.

[2020-07-22 20:01] MushMal commented on #642
Which GStreamer element are you referring to? Rtsp source elements do have their own jitter buffer (which I am not sure what the default configuration is) but even they will have to drop frames as you've mentioned as they won't be able to store minutes worth of frame packets.

[2020-07-22 20:05] fernandoc1 commented on #642
Probably I made some mistake about the length of the delay. But I wish to decrease it to be almost live streaming.
I created a video to show how I'm measuring the delay: [CameraDelay](https://youtu.be/0zSGglYlD6o)
In the left, I'm showing a stopwatch screen and at the right is my kinesis streaming.

[2020-07-22 20:07] suggestedfixes commented on #642
The element I'm referring to is rtspsrc,
drop-on-latency is disabled by default.

[2020-07-22 20:12] lherman-cs commented on #632
@shiv50084 not sure how it was fine for openssl but not others. It seems that cmake doesn't respect other environment variables other than CC and CXX, I might be wrong about this.

From https://stackoverflow.com/questions/5098360/cmake-specifying-build-toolchain, it looks like you can specify a toolchain file which is a cmake file which you can use to set the toolchain.

[2020-07-22 21:53] mdonahoe opened #646 "[BUG] Crash: corrupted size vs. prev_size"
**Describe the bug**
I pulled master, and now the `kvsWebrtcClientMaster` example crashes once a viewer client connects.

**SDK version number**
commit 4461cf2ba3c16aa3a75bb967c4ce658ce4aa17c8
Date:   Wed Jul 22 12:22:56 2020 -0700

**To Reproduce**
Steps to reproduce the behavior
1. Complete a fresh build of master.
2. Launch the `kvsWebrtcClientMaster` example.
3. Connect a web viewer from the K

[2020-07-22 22:10] lherman-cs commented on #646
@disa6302 any thought?

[2020-07-22 22:16] disa6302 commented on #646
Not sure. It does not crash on my Mac. @mdonahoe , are you running the sample as it is?

[2020-07-22 22:33] MushMal commented on #642
Interesting. It fluctuates between 20 seconds initially and around 1 minute mark the difference is about 10 seconds. I am inclined to think that this is more to do with the GStreamer source.

What's the source you are using? Is there a way to tune it somehow? Can you run the master sample and check the delay?

[2020-07-22 22:43] MushMal commented on #646
While the backtrace doesn't contain symbols, I see that the calloc is crashing with heap corruption indicator. Something prior to that invocation caused the corruption.

Just to eliminate the low-hanging fruits, @mdonahoe could you please `git clean -ddfx` the repository and rebuild it - this will remove all of the artifacts. Alternatively, you could remove the PIC and common libraries and rebuild

[2020-07-22 22:45] mdonahoe commented on #646
Yeah, I did a fresh checkout just to confirm.

And here's my command, with keys omitted

[code]

I tried an older commit, which I *thought* worked on my machine before, `959d259acff08c8b913faab5a3653f08cf0e409e` and it breaks in the same way.

If I run kvsWebrtcClientMaster against kvsWebrtcClientViewer, things are fine... though when I kill the viewer, the master segfaults.

[2020-07-22 22:50] MushMal commented on #646
Odd... @lherman-cs could you please validate? If this reproduces locally we can fix this immediately

[2020-07-22 22:55] lherman-cs commented on #646
@mdonahoe I tried the steps that you mentioned, kvsWebrtcClientMaster against kvsWebrtcClientViewer and kill the viewer. But, I still couldn't reproduce it.

commit: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/4461cf2ba3c16aa3a75bb967c4ce658ce4aa17c8

[2020-07-22 23:04] lherman-cs commented on #646
@mdonahoe could you maybe try to use v1.2, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/v1.2.0?

[2020-07-22 23:05] MushMal commented on #646
@mdonahoe seems that we can't reproduce this. Could you please include more information about your platform? Is it possible that you are overcommitting the memory? How much RAM do you have available? Could you run the debug build with symbols under the debugger to reproduce this and get the stack traces for all of the stacks?

[2020-07-22 23:13] fernandoc1 commented on #642
I'm just sharing the changes I made to the "kvsWebRTCClientMaster.c"
[main.cpp](https://gist.github.com/fernandoc1/1c31743a696833026147ef9371fa9070)
It is just a modification in the function that read packets from the filesystem, to a function that read from my shared memory source.
When I play this source directly with ffplay, there is less than 2 seconds delay. However, with Kinesis, the delay i

[2020-07-22 23:16] mdonahoe commented on #646
I'm running on a 64bit linux machine running Ubuntu Xenial 16.04 with 32GB of RAM with 28GB free.

Can you point me to instructions on how to do the debug build and provide you with debug dumps?

FWIW, I checked out the v1.0.0 release, and everything worked fine.

[2020-07-22 23:27] MushMal commented on #646
You could try running

`cmake -DCMAKE_BUILD_TYPE=Debug ..`

I am afraid this is not going to be as trivial to debug as the corruption happens prior but we will still benefit from the full stack traces and debug logs leading to the crash.

Trying a few other scenarios and capturing the results might also help. For example, does the scenario work ok when the viewer exits gracefully? Does this reprod

[2020-07-22 23:29] MushMal commented on #642
The most the SDK latency will add is 10 seconds in bad network condition when retrying the RTP packets. Are you using JS viewer/Console playback on the player side?

[2020-07-22 23:46] mdonahoe commented on #646
@lherman-cs v1.2.0 does *not* crash for me

Back on commit `4461cf2`, I was also able to avoid the first crash by adding an `interfaceFilterFunc` to my configuration, to filter out some non-internet-connected interfaces I have on this machine.

However, the master still crashes when the viewer disconnects. I caused this by clicking "Stop Viewer" in the test webpage, so I assume it is graceful.
[co

[2020-07-23 00:06] fernandoc1 commented on #642
Yes, I'm using the same code on the playback as it is available in your "amazon-kinesis-video-streams-webrtc-sdk-js" examples folder.
[amazon-kinesis-video-streams-webrtc-sdk-js examples](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/tree/master/examples)

[2020-07-23 00:20] mdonahoe commented on #646
OK, here are some console logs, running a debug build in gdb. I did a `bt` after each crash so you could see a stacktrace.

These first 2 are the `corrupted_size` errors
[corrupted-size-vs-prev_size.2.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4963290/corrupted-size-vs-prev_size.2.txt)
[corrupted-size-vs-prev_size.1.txt](https://github.com/awslabs/amazon-kinesi

[2020-07-23 00:26] MushMal commented on #642
Wondering if part of the latency is added by the browsers WebRTC implementation... Not yet sure. We really need to somehow splice in a timer in the master sample canned video @lherman-cs - what are your thoughts on this?

[2020-07-23 00:26] suggestedfixes opened #648 "[QUESTION] Double Free?"
Found in
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/Retransimitter.c

   CHK_LOG_ERR(retStatus);
    if (pRtpPacket != NULL) {
        // free the packet as it is not put back into rolling buffer
        freeRtpPacket(&pRtpPacket);
        pRtpPacket = NULL;
    }
    freeRtpPacket(&pRtpPacket);

[2020-07-23 01:36] mdonahoe commented on #646
I did some exploration with git-bisect, and narrowed the problem down to this pull request
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/598

Starting from commit `4461cf2`, I reverted the change.

[code]

And the `kvsWebrtcClientMaster` started working again.

[2020-07-23 02:23] ycyang1229 commented on #639
already detached my branch from this trunk, so just put it here to be a helper for other people may need. Closing it, thanks.

[2020-07-23 02:23] #639 closed

[2020-07-23 06:00] MushMal commented on #646
Interesting. Let's scrutinize this commit. It's possible that there is a corruption handling a particular rtp packet type. Thanks a lot for the find @mdonahoe .

[2020-07-23 06:16] MushMal commented on #648
@suggestedfixes the freeRtpPacket call is idempotent so it won't do anything.

However, this is really a bizarre code and needs to be cleaned.

From what I understand, instead of the entire

[code]

We only need` freeRtpPacket(&pRtpPacket);`

@disa6302 would you please take a look at this?

[2020-07-23 06:31] suggestedfixes opened #649 "[BUG] Sudden CPU increase after connectionListenerReceiveDataRoutine(): recvfrom() failed with errno Connection reset by peer for socket 15"
We have observed a correlation between this event and a sudden CPU increase after 30 seconds into streaming.
This will make our device CPU usage to increase from 20% to 60% and stays at 60%. If this event does not occur by luck, then the CPU stays at 20% utilization. Regardless of what code path, the video stream continues to play.

Sample events leading up to sudden CPU increase.
[code]

[2020-07-23 06:33] suggestedfixes commented on #649
Architecture:          armv7l
Byte Order:            Little Endian
CPU(s):                1
On-line CPU(s) list:   0
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             1
Model name:            ARMv7 Processor rev 1 (v7l)
CPU max MHz:           816.0000
CPU min MHz:           96.0000

[2020-07-23 06:36] suggestedfixes commented on #649
Based on b080a086ac0f265d8067c16eb22eebf3c49009be
patched with fb90f986ae67d462978d47cfa29cb131cb6d1625

[2020-07-23 06:42] MushMal commented on #649
Does this happen on the latest master? There was a fix that went in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/01f5160431380d8fd52777a45dba41e318b433b7 that helps with edge case that spikes the CPU.

Also, interesting architecture - not very common to have LE ARM v7

[2020-07-23 06:44] suggestedfixes commented on #649
I will try that out!

[2020-07-23 06:47] longos commented on #646
I've get the same error. Stream from RPi, when I connect Test Page as Viewer, I got audio, without video. Master return:
`onRtcpPacket(): unhandled packet type RTCP_PACKET_TYPE_RECEIVER_REPORT size 4`

[2020-07-23 07:03] suggestedfixes commented on #631
Also see this line
2020-07-18 01:33:14 DEBUG   iceAgentReadyStateSetup(): Selected pair p1zpIW8kZ_MVTXS/1SG, local candidate type: relay. Round trip time 57 ms

relay means TURN,
and other types mean STUN

[2020-07-23 07:25] ycyang1229 opened #650 "[QUESTION] the support of mbedtls"
A one liner description about the use case and what you are trying to achieve
built with mbedtls, but master crashed.

Explain in detail how you would like to integrate our SDK into your solution
Not sure what happened. Is it ready to go? Did I modify it correctly? thanks.

amazon-kinesis-video-streams-webrtc-sdk-c/build$ ./kvsWebrtcClientMaster
[KVS Master] Using trickleICE by default
[KVS Master

[2020-07-23 07:33] ycyang1229 commented on #650
Btw, I changed it back to openssl, and I got another error. I started master of this sdk, and used js test page as a viewer. The master crashed when the viewer was ended.

2020-07-23 07:17:40 VERBOSE sampleBandwidthEstimationHandler(): received bitrate suggestion: 169823.000000
2020-07-23 07:17:40 DEBUG   rtcpReportsCallback(): rtcpReportsCallback 15954886609445038 ssrc: 1340364674 rtxssrc: 616912

[2020-07-23 07:49] ycyang1229 commented on #648
Is this bug relating to my second comment in this issue? https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/650

[2020-07-23 15:28] ycyang1229 opened #651 "[QUESTION] the git of mbedtls"
Hey, I am using gcc 4.8.5 to compile this sdk, and it did not work.
After adding this commit(https://github.com/ARMmbed/mbedtls/pull/3479/files), it worked. I also checked the gcc4.8.5 manual, and there is no ‘-Wformat-signedness’.

Would you mind merging this commit back to your git branch? thanks.

yc@yc-Inspiron-3470:~/_workspace/iot-lab/amazon-kinesis-video-streams-webrtc-sdk-c/build$ cmake ..

[2020-07-23 15:34] ycyang1229 commented on #651
https://github.com/ARMmbed/mbedtls/issues/3478

[2020-07-23 16:49] lherman-cs commented on #650
This might be related to https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/646.

[2020-07-23 16:54] #648 closed

[2020-07-23 17:06] lherman-cs commented on #651
@ycyang1229 https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/654 should fix thix

[2020-07-23 17:09] MushMal commented on #650
The first run with mbedtls seems odd - I see

2020-07-23 07:21:06 ERROR connectSignalingChannelLws(): operation returned status code: 0x0000000c

This can only happen when bad data plane URI is passed to the libWebSockets handler. I have never seen this and this can indeed be due to memory corruption. Can we please try to get the changes tested?

I still can't think of how this can be affected.

[2020-07-23 17:18] lherman-cs commented on #650
@ycyang1229 it should be fine. There's no unit tests skipped in mbedTLS CI, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/.travis.yml#L182-L188. I'm afraid that the error that you're seeing is red herring due to the memory corruption.

Also, you don't need to modify our cmake. You just need to configure it with `cmake .. -DUSE_OPENSSL=OFF -DUSE_MBEDTLS=ON`

[2020-07-23 17:35] ycyang1229 commented on #636
@lherman-cs built it just now, and did not check it further, will check it tmr if there is no progress.

[ 80%] Building C object CMakeFiles/kvsWebrtcSignalingClient.dir/src/source/Signaling/Signaling.c.o
[ 82%] Building C object CMakeFiles/kvsWebrtcSignalingClient.dir/src/source/Signaling/StateMachine.c.o
[ 84%] Linking C static library libkvsWebrtcSignalingClient.a
[ 84%] Built target kvsWebrtcS

[2020-07-23 17:57] lherman-cs commented on #646
@mdonahoe Do you mind to try https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/655? It might fix the issue. We're still investigating further to fully understand the root cause.

[2020-07-23 18:17] lherman-cs commented on #636
@ycyang1229 edited your comment to format the logs properly.

[2020-07-23 18:27] #651 closed

[2020-07-23 18:47] lherman-cs commented on #636
From
[code]

It shows that it includes kvspicUtils properly into kvsWebrtcClientMaster binary. Could you check if the symbols exist in kvspicUtils?

Also, the linking order might give an issue? Do you mind to do a quick test with running

[code]

Unfortunately, I can't reproduce this locally.

[2020-07-23 20:01] suggestedfixes commented on #649
@MushMal Interesting thing is, this time it jumps up to 40% instead of 67%. But lots of improvement!

[2020-07-23 20:06] lherman-cs commented on #642
@MushMal I think that's a good idea. The only issue is that the video is really short, about 8 seconds. So, ideally, if we want to include a timer, I think we should at least have a 60 seconds video so that the timer can wrap around when it hits 60. This also means that we'll store 7.5x more frame data in the repo. What do you think @MushMal? I can expand the video and add the timer if this sounds

[2020-07-23 20:13] suggestedfixes commented on #649
@MushMal This might be too much to ask, is it possible to gracefully eliminate this event all together? Seems like this routine will still cause a spike and stays that way.
connectionListenerReceiveDataRoutine()

[2020-07-23 20:15] lherman-cs commented on #642
@fernandoc1 do you mind to share the inbound rtp stat graphs from chrome://webrtc-internals/? We should see a lot of NACKs. If not, I'm afraid that it's related to your media pipeline, ffmpeg.

[2020-07-23 20:27] mdonahoe commented on #646
That worked! Thanks for the quick fix.

@disa6302 How did you determine that it was the `srtp_protect_rtcp` function at fault? I had no idea what to look for.

[2020-07-23 20:31] disa6302 commented on #646
@mdonahoe ,

Thanks to your git bisect effort, I started to look at all the heap allocations that happened in the commit and looked at what srtp_protect_rtcp() expects in terms of length  :)

It is just strange we could never reproduce this. Will spend some time to see if we can add some tests around this.

[2020-07-23 20:36] suggestedfixes commented on #649
Oh I think I understand what's going on now. Correct me if I'm wrong:
I'm guessing the socket connection closed is from signaling channel closing a connection because peer connection has been already established, so signaling channel emitted a close event from server side. The connection listener responds by panicking, increasing CPU usage.

[2020-07-23 20:47] fernandoc1 commented on #642
Here you are:
![image](https://user-images.githubusercontent.com/249402/88337076-77b6ed00-cd0c-11ea-92a5-08242f44e842.png)

![image](https://user-images.githubusercontent.com/249402/88337113-87363600-cd0c-11ea-9e61-1494a167e78f.png)

[2020-07-23 20:52] mdonahoe commented on #646
Were you manually looking at heap allocations, or do you have a tool? I'm new to pure-C coding, so I'm looking for any trick of the trade I can find ;-)

Anyway, I'm satisfied with this result. Should I close this ticket? What's the etiquette here?

@longos I still get `2020-07-23 20:15:04 DEBUG   onRtcpPacket(): unhandled packet type RTCP_PACKET_TYPE_SOURCE_DESCRIPTION` even with this fix, so you

[2020-07-23 21:09] MushMal commented on #646
@mdonahoe you could go ahead and close the ticket - it will still be searchable for others to look.

To answer your question. In this particular case you did the heavy lifting by reporting the issue and almost pinpointing the root cause by bisecting the commits. Big thanks to @disa6302 and @lherman-cs for then scrutinizing the code changes. We have a few tools in our arsenal, including ability to

[2020-07-23 21:17] MushMal commented on #642
@lherman-cs the number of frames is short but that's OK and they can be streamed in a loop. The timer, though, can be blitted on top of the current frame and will be continuous from the moment the frame is "produced" into the transceiver.

[2020-07-23 21:18] suggestedfixes commented on #649
Is it ok to set iterate to FALSE in this switch statement?

switch (errno) {
case EWOULDBLOCK:
  break;
default:
  /* on any other error, close connection */
  CHK_STATUS(socketConnectionClosed(pSocketConnection));
  DLOGD("recvfrom() failed with errno %s for socket %d", strerror(errno), pSocketConnection->localSocket);
  break;
 }
 

[2020-07-23 21:19] suggestedfixes commented on #649
Oh it's already set to FALSE

[2020-07-23 21:20] MushMal commented on #649
This is purely related to the streaming and I think the signaling output is simply interlaced together with other logs.

It's possible that we get to a tight loop in the select. @chehefen can you please take a look?

@lherman-cs we might still want to add dampener in the outer loop in case select returns too often.

[2020-07-23 21:30] mdonahoe commented on #646
Thanks again

[2020-07-23 21:30] #646 closed

[2020-07-23 21:55] lherman-cs commented on #642
@fernandoc1 I'm still not sure what caused the delay. But, I noticed that there's no network issue, your nack count is 0. This implies that the frames are not pushed fast enough.

Which WebRTC C SDK version are you using? Were you connected through TURN or peer-to-peer?

[2020-07-23 21:57] suggestedfixes commented on #649
Will changing this to 2 help?
It was 2 four months ago.
#define SOCKET_WAIT_FOR_DATA_TIMEOUT_SECONDS                        1

[2020-07-23 21:58] lherman-cs commented on #642
@fernandoc1 Also, could you try to use Firefox and see if the issue is reproducible?

[2020-07-23 21:59] lherman-cs commented on #650
@ycyang1229 the memory corruption fix has been merged. Do you mind to retry?

[2020-07-23 23:16] disa6302 commented on #578
@zhuker ,

Outbound stats are merged :)
Great work!

[2020-07-23 23:20] suggestedfixes commented on #649
Hmm after more testing, it went up to 75%

[2020-07-24 00:28] suggestedfixes commented on #649
I also looked back on connectionListenerReceiveDataRoutine(), there is a version where sockets are removed from the list. Does removing items from socket[] array help?

[2020-07-24 00:38] suggestedfixes commented on #649
I understand what is going on with the CPU cycles. "Connection reset by peer" error will cause the process to eat up the rest of the CPU cycles.

[2020-07-24 01:39] suggestedfixes commented on #649
I roughly bisected to this commit
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/649
And cannot reproduce the high cpu event

[2020-07-24 01:51] zhuker commented on #578
Thanks

On Thu, Jul 23, 2020, 16:17 Divya Sampath Kumar <notifications@github.com>
wrote:

[2020-07-24 02:12] ycyang1229 commented on #650
@lherman-cs I updated my codebase to 0d4a67a7d127dab83fce2d8590e964cd5bdd4c52, and it works now. Is the fix https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/655/files ? thanks.

[2020-07-24 02:13] ycyang1229 commented on #651
@lherman-cs it works now. thanks.

[2020-07-24 02:13] disa6302 commented on #650
@ycyang1229 ,

You are right. That is the fix.

[2020-07-24 07:13] shiv50084 commented on #636
Thanks Lucas for your great help and Support.

I Found issue .I am also using AWS S3 parallelly. Which i compiled with old version of openssl that is creating linking issue.

[2020-07-24 07:13] #636 closed

[2020-07-24 07:16] shiv50084 commented on #632
Can you Please tell this SDK currently support OPUS audio only?

Bcz in code its showing audio support for for PCMALaw and PCMULaw also in function "writeFrame".

        case RTC_CODEC_OPUS:
            rtpPayloadFunc = createPayloadForOpus;
            rtpTimestamp = convertTimestampToRTP(OPUS_CLOCKRATE, pFrame->presentationTs);
            break;

        case RTC_CODEC_MULAW:
        case RTC_

[2020-07-24 09:12] thasin96 opened #656 "Error in `./kvsWebrtcClientMasterGstSample': free(): invalid size: 0x00007f91880ce3e0"
I would like to perform multiple WebRTC signals for n-number of RTSP Streams.
I am calling kvsWebrtcClientMasterGstSample application multiple times from python script to create signal(WebRTC) for each RTSP Stream. After invoking scripts multiple times, I am able to successfully create multiple signalling channels. Following that I am able to view streams in different signalling channels. But, whe

[2020-07-24 10:05] ajjiang48 opened #657 "webrtc master received audio background noise amplified problem"
Hi, Sir,
We've done implementing the WebRTC C SDK in our IOT device (as a webrtc viewer) and we only send G.711 format audio while using webrtc for our telephony application; the audio transfer between WebRTC test page and our device is O.K., but one issue is
that the audio background noise is amplified while hearing the audio (sent from the viewer) in the master side, however, we've tested dumpin

[2020-07-24 12:00] fernandoc1 commented on #642
I have tried in Firefox, but the Javascript code is not working there. Even the official amazon code found here is unable to connect [amazon-kinesis-video-streams-webrtc-sdk-js](https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html). It throws the following error:
![image](https://user-images.githubusercontent.com/249402/88389037-0fa7eb80-cd8c-11ea-8cae-e7bd6f108

[2020-07-24 13:52] InspectorConstructor opened #658 "please delete this, issue was local bug, not kvs bug"

[2020-07-24 15:16] #658 closed

[2020-07-24 15:20] lherman-cs commented on #636
@shiv50084 I'm glad that you found the issue!

[2020-07-24 15:28] lherman-cs commented on #632
@shiv50084 yes, we do support PCMALaw and PCMULaw. You can also change our example's media pipeline to use PCMALaw, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c#L138-L140.

I'll also update the README to include these.

[2020-07-24 15:33] lherman-cs commented on #632
The documentation fix: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/659

[2020-07-24 15:33] #632 closed

[2020-07-24 16:53] MushMal commented on #656
@thasin96 the issue you are seeing should be fixed in the latest commits - please pull the latest and it should fix the crash.

The other question about multiple RTSP streams - it depends on your application. You could have a single signaling channel to do the signaling and perhaps do multiple transceivers on the same peer connection. Recommend spending some time reading the samples code to unders

[2020-07-24 16:55] MushMal commented on #657
Not really sure. Depending on your reproducing device audio path (the decoder + the DSP + speakers) you might get weird artifacts if timing is not correct. You might want to validate it with your audio experts. When it comes to WebRTC, you could check whether the timing is impacted by poor network and re-transmitting of some of the packets.

[2020-07-24 16:56] #656 closed

[2020-07-24 17:07] disa6302 commented on #650
Closing this since the fix works. Feel free to reach for any assistance in the future.

[2020-07-24 17:07] #650 closed

[2020-07-24 17:10] disa6302 commented on #622
@zhuker ,

Closing this since your PR is merged. Feel free to reach out for any assistance in the future!

[2020-07-24 17:10] #622 closed

[2020-07-24 17:52] bkneff opened #660 "[BUG] Invalidate/Flush SignalingCache if the Channel is not found"
**Describe the bug**
The gstreamer sample applications will automatically create a channel if it doesn't exist.  The application will also cache this information in the Signaling FileCache.  If you delete the channel, the application will still attempt to use the cache'd value in FileCache.

**SDK version number**
acc94940

**Open source building**
If it is a build issue, include 3rd party library

[2020-07-24 20:55] lherman-cs commented on #642
@fernandoc1 I'm sorry for the inconvenience. This is a known issue. Our WebRTC C SDK currently ignores the transceiver directions that we get from remote descriptions. For some Firefox versions, the browser API will return an error when the answer contains wrong transceiver direction. The issue is tracked here, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/468.

To av

[2020-07-24 21:23] lherman-cs opened #662 "Add a timer to sample video to allow latency measurement"
By adding a timer to our sample, we can easily measure the perceived end-to-end latency. For example, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/642 can be easily observed without needing to use a stopwatch.

To make this possible and require the least effort possible, we should extend our sample video from ~8 seconds to 60 seconds and add a clock overlay that will

[2020-07-24 21:51] MushMal commented on #660
We should ensure that if the cached operations fail they will have to run the non-cached version after the state machine retries.

[2020-07-25 16:01] shiv50084 commented on #632
I tried  pcmalaw audio stream from encoder at 8K sample rate but I didn't able to listen audio on test page
https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html  and android generic APP

How can I test pcm alwa and ulaw  audio ?

Is there any specific requirements for pcm alaw and ulaw audio to play with test page or app?

Or we need to test any specific bitrate

[2020-07-25 16:49] ycyang1229 opened #663 "[QUESTION] static build failed because of libwebsockets"
Some error happened when doing static build. Checked the issue on the github of libwebsockets, and it may be the same problem.
https://github.com/warmcat/libwebsockets/issues/1975
https://libwebsockets.org/git/libwebsockets/commit?id=c8baeccfd76d324c1454cb9b57bf01a95ad5b500

I fixed it by adding -lcap into the amazon-kinesis-video-streams-webrtc-sdk-c/open-source/lib/pkgconfig/libwebsockets.pc

Na

[2020-07-25 16:56] ycyang1229 opened #664 "[QUESTION] static build failed because of link order."
static build failed because of link error. The same error log showed at the following issue.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/636

It can be fixed by changing the order of kvsCommonLws and kvspicUtils. May need to add "-lkvspicUtils" in "Libs: -L${libdir} -lkvsCommonLws" of  libkvsCommonLws.pc

@@ -263,6 +263,7 @@ add_library(kvsWebrtcSignalingClient ${LI

[2020-07-25 17:00] ycyang1229 opened #665 "[QUESTION] static build did not work"
I did static build of webrtc but kvsWebrtcClientMaster still linked to dynamic libraries. I removed all the lib inside ../open-source and libkvs* inside ../build, and it did not work alone.

Can kvsWebrtcClientMaster work alone when setting BUILD_STATIC_LIBS as ON?

[2020-07-25 18:46] shiv50084 opened #667 "[BUG] how can i play pcmulaw and pcmalaw on client"
**Describe the bug**

I tried pcmalaw audio stream from encoder at 8K sample rate but I didn't able to listen audio on test page
https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html and android generic APP

How can I test pcm alwa and ulaw audio ?

Is there any specific requirements for pcm alaw and ulaw audio to play with test page or app?

Or we need to test a

[2020-07-25 19:11] suggestedfixes commented on #649
Let's analyze the issue:
- The root cause of the problem is 33fc27d has a low probability triggering a connection reset by peer socket error, but b080a08 did have a high probability, it will be nice to find out which socket connection caused that error, or which code path did.
  - We have video channel, audio channel, and data channel open. We are not using audio channel but we had that on by defa

[2020-07-26 19:00] vixtor-qm opened #668 "[BUG] ERROR dtlsSessionProcessPacket(): operation returned status code: STATUS_SSL_PACKET_BEFORE_DTLS_READY (0x59000004)"
**Describe the bug**
I'm running a simple loopback test with the C SDK. everything works fine when I use AWS test page for WebRTC streaming.
But a kvsWebrtcClientviewer is unable to receive the stream with the error and hangs

**SDK version number**
I use master branch

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screens

[2020-07-27 10:10] ajjiang48 commented on #657
@MushMal I do save the audio stream to the file before calling writeFrame to the C SDK; the file is clean without noise, so the issue happens from the audio frame segment transmission; don't know which parts cause it.
On the other hand,  you mentioned "re-transmitting of some packets", how do I know which audio frame I should do the re-transmission ??, and, do you think that background noise cause

[2020-07-27 13:10] shiv50084 opened #669 "getNextNaluLength(): Warning: Failed to get the next NALu in H264 payload with 0x5c000003"
**Describe the bug**
We are getting this error when writing H264 frames with SPS+PPS+ (I or P frame). We writing direct encoder frame from Camera to webrtc API writeFrame :-
**2020-07-27 13:07:56 DEBUG   getNextNaluLength(): Warning: Failed to get the next NALu in H264 payload with 0x5c000003
2020-07-27 13:07:56 ERROR   writeFrame(): operation returned status code: 0x5c000003**

We taken latest ch

[2020-07-27 13:15] shiv50084 commented on #667
When i am sending a Audio from JS test page .I am getting a noise with actual audio while I am sending a audio from generc APP i am getting proper voice on Camera device to play.

But While I am sending a Audio from Camera device to APP or JS test page.I am not getting any audio not even Noise .So we can confirm that we are able to send audio from Camera device to client (APP/ JS test page).

Can

[2020-07-27 15:57] lherman-cs commented on #668
@vixtor-qm do you mind to share the logs from kvsWebrtcClientviewer by rerunning it with `export AWS_KVS_LOG_LEVEL=2`?

[2020-07-27 16:13] lherman-cs commented on #583
Since the issue has gone stalled and we don't have enough information to debug this, I'll mark this as resolve. Please feel free to reopen it for further assistance!

[2020-07-27 16:13] #583 closed

[2020-07-27 16:14] #585 closed

[2020-07-27 16:14] vixtor-qm commented on #668
Hi @lherman-cs,
Here are the recent logs

[master.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4983084/master.log)
[viewer.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4983085/viewer.log)

[2020-07-27 16:15] lherman-cs commented on #591
Since this issue has gone stalled, I'll mark this as resolve. Please feel free to reopen it for further assistance!

[2020-07-27 16:15] #591 closed

[2020-07-27 16:19] lherman-cs commented on #633
Since the issue has gone stalled, I'll mark this as resolve. Please feel free to reopen it for further assistance!

[2020-07-27 16:19] #633 closed

[2020-07-27 16:23] lherman-cs commented on #657
@ajjiang48 do you mind to check rtp inbound stats from chrome://webrtc-internals? I'm afraid that there's a lot of packet loss or jitters. This will provide more insight to the root cause.

[2020-07-27 17:13] fernandoc1 commented on #642
I've created a video in Firefox, showing how is my direct streaming with a TCP socket, compared to the Kinesis streaming.
[TCP Streaming X Kinesis streaming](https://youtu.be/biLbMQL18W0)

[2020-07-27 17:22] chehefen commented on #642
Hi @fernandoc1, can you show us the logs from the webrtc sdk during the delay?

[2020-07-27 18:12] disa6302 commented on #631
@mdonahoe ,

This WIP PR might help you: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/638.

[2020-07-27 19:02] fernandoc1 commented on #642
I have created another video with the terminal output, running on Google Chrome.
[Terminal output](https://youtu.be/4AHNCm8gfRQ)

[2020-07-27 23:41] mdonahoe commented on #517
I too had this problem.

I would prefer not to rely on environment variables, and my initial call to SET_LOGGER_LOG_LEVEL was being overridden with every new PeerConnection.

My solution is to re-set the level after each peer connection is created. Feels a bit dirty, but it works.

[2020-07-28 08:24] MushMal commented on #642
Seems to be a steady 15 second delay. Any change if you try running it in a different network configuration? I am interested in eliminating the media pipeline from it. Do you have the debug logs

[2020-07-28 10:05] shiv50084 commented on #667
[event_log_latest_20200728_1524_26_16.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4987469/event_log_latest_20200728_1524_26_16.log)
[webrtc_internals_dump.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4987471/webrtc_internals_dump.txt)

PFA  chrome://webrtc-internals/

for audio issue not able to play on webrtc Client send from

[2020-07-28 10:32] fernandoc1 commented on #642
Actually, I'm running the setup in the same network, with a Gigabit switch linking the camera and the computer. I can't make that better. The other option I have is to try to connect the computer to the mobile network and try to access the camera. The source code with the changes I made, is still available here ([main.cpp](https://gist.github.com/fernandoc1/1c31743a696833026147ef9371fa9070)). I ha

[2020-07-28 15:49] lherman-cs commented on #668
@vixtor-qm I'm not sure what kind of packets that arrived before the DTLS handshaking is finished. But, this should be OK, when this happens, we simply ignore the packet. From the logs, I saw that there's no issue in master and viewer, both showed that the ICE agent state successfully changed to ICE_AGENT_STATE_READY.

[2020-07-28 16:06] vixtor-qm commented on #668
@lherman-cs , thanks for your efforts. The reason I'm asking this question is that I'm not receiving the packet with a payload on my viewer's side as it should. The viewer registers the callback to print out the content but it seems that it is not called.

`    retStatus = transceiverOnFrame(pSampleStreamingSession->pAudioRtcRtpTransceiver, (UINT64) pSampleStreamingSession, sampleFrameHandler);
`

[2020-07-28 16:34] lherman-cs commented on #668
@vixtor-qm did you set the log level to verbose, `export AWS_KVS_LOG_LEVEL=1`? `DLOGV` only prints out in verbose level, otherwise it's just a noop.

[2020-07-28 16:43] MushMal commented on #668
@vixtor-qm could you please either enable the verbose logs or change the handling code in the callback and update the thread with your findings.

[2020-07-28 16:43] fernandoc1 commented on #642
Finally I was able to fix the issue.
What was happening is that I had two sleeps in sequence. One waiting for my frame to became ready and another at the end of the write frame loop in the Kinesis code, here ([kvsWebRTCClientMaster.c#L249](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/325bf161329638a20c25be21d74c6064894d9f75/samples/kvsWebRTCClientMaster.c#L249)).
By ju

[2020-07-28 16:51] MushMal commented on #642
D’oh..

Resolving

[2020-07-28 16:51] #642 closed

[2020-07-28 17:16] MushMal commented on #667
We do support rtp codecs for g711 indeed. I am not yet sure what's going on with the device you have - you might want to debug it further as we won't be able to help with that.

The RTP packetization happens here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Rtp/Codecs/RtpG711Payloader.c

[2020-07-28 17:45] MushMal commented on #669
This is an indication that your frames are not in proper Annex-B format:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/507dbd130ba534865a757c7157f82720bb2c0175/src/source/Rtp/Codecs/RtpH264Payloader.c#L91

You might want to check the source of the frames and ensure they are Annex-B

[2020-07-28 18:13] shiv50084 commented on #667
@MushMal

I already seen this function to create g711 rtp packet.

One thing I want to know?
You are sending g711 rtp packet immediately after creating rtp packet or you creating a buffer of fixed size to send it to viewers?
Bcz I am receiving opus frame size exactly same what i am sending.

But for g711 it's not like that.

[2020-07-28 18:34] vixtor-qm commented on #668
@lherman-cs , @MushMal, I have set the verbose level to 1 and how I see the packets. Thank you for the support

[2020-07-28 18:35] #668 closed

[2020-07-28 19:55] MushMal commented on #667
Each one of these has its own rules for packing into mtu. The RTP packets get encrypted before they are saved in the jitter buffer and sent in the meanwhile. The jitter buffer is needed for re-transmission.

[2020-07-28 21:11] #662 closed

[2020-07-28 22:43] #649 closed

[2020-07-28 22:46] chehefen commented on #649
should be fixed by #671, if it doesn't feel free to reopen.

[2020-07-28 22:51] suggestedfixes commented on #649
Thanks!

[2020-07-29 01:44] suggestedfixes commented on #649
@chehefen Is it me or there is a increased likelihood for peer get allocated to a closed socket?
2020-07-29 01:43:42 ERROR   iceUtilsSendData(): operation returned status code: 0x58000022
2020-07-29 01:43:42 ERROR   iceUtilsSendStunPacket(): operation returned status code: 0x58000022
2020-07-29 01:43:42 DEBUG   socketConnectionSendData(): Warning: Failed to send data. Socket closed already
2020-07

[2020-07-29 07:11] ajjiang48 commented on #657
@MushMal @lherman-cs after doing some buffering/timing related codes modification, it looks this issue is caused by the inaccurate timestamp value (frame.presentationTs variable) before calling writeFrame; I get and send 8 audio frames per seconds, so it should be 125ms per audio frame, however, it looks change the increment to 130ms~135ms  to presentationTs  won't have the background noise; it's

[2020-07-29 07:26] MushMal commented on #657
Do you mind resolving this issue please?

[2020-07-29 07:45] shiv50084 commented on #657
@ajjiang48
We are facing 2 problems with master:
1). One is  background noise on master (decoder Init at 8KHz, chn =1) .When we are sending G711A audio from Viewer from JS test page,
2). When we are sending G711A audio from master to viewer (JS test page) . Then we are not able to hear any sound on viewer test page.

Can you please help us for this?

[2020-07-29 15:48] suggestedfixes opened #674 "[QUESTION] Increased likelihood a new peer connection gets allocated to a closed socket?"
After applying commit e38951f4a9329e9e2d1c0b51cc0b41ef3b950e57,
There is an increased likelihood that a new connection gets allocated to a closed socket.
Sample entries:
2020-07-29 01:43:42 ERROR iceUtilsSendData(): operation returned status code: 0x58000022
2020-07-29 01:43:42 ERROR iceUtilsSendStunPacket(): operation returned status code: 0x58000022
2020-07-29 01:43:42 DEBUG socketConnectionSend

[2020-07-29 16:18] shiv50084 commented on #667
@MushMal
Thanks for your great help and support.

We fixed this issue its mainly bcz of wrong timestamp.

[2020-07-29 16:18] #667 closed

[2020-07-29 16:18] #669 closed

[2020-07-29 19:57] chehefen commented on #674
can you describe the steps on how to reproduce it?

[2020-07-29 20:12] suggestedfixes commented on #674
I used kvs test page with a custom gstreamer master. It's reproducible every 2nd or 3rd try.
It might have been the way we cherry-picked.
The sequence we applied patches

Base:
b080a086ac0f265d8067c16eb22eebf3c49009be
Relevant Patch sequence:
fb90f986ae67d462978d47cfa29cb131cb6d1625
01f5160431380d8fd52777a45dba41e318b433b7
9d15c408301dd7f5537c7776141859ae0bbf83c0

[2020-07-29 20:22] suggestedfixes commented on #674
I will also try a build with newest master

[2020-07-29 21:05] suggestedfixes commented on #674
Just by feel, stun is more likely to fail. Forcing turn is better.

[2020-07-29 21:07] suggestedfixes commented on #674
Turn worked 5-10 times in a row, but stun/turn is fuzzy. I have not yet tested newest master yet.

[2020-07-29 21:08] zhuker commented on #578
@disa6302 inbound stats https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/673

[2020-07-30 06:48] MushMal commented on #674
@chehefen any idea what could cause this? Almost looks like a race condition of some sort

[2020-07-30 09:16] ajjiang48 commented on #657
@MushMal @shiv50084 I don't think I could help much on your problem (I'd like to if I can); let me clarify, my adjustment for the frame.presentationTs value (125 to 130~140) is audio codec/driver specific (not pure software related) and I use webrtc C SDK implementing webrtc viewer instead of JS SDK; it looks your issue 1 and 2 are all related to JS SDK implementation.
btw, what's your background

[2020-07-30 09:42] shiv50084 commented on #657
@ajjiang48
My issue is resolved after changing timestamp and encoder settings. I am working on IOT camera which works as master.

I am using C SDK for my platform.

For background noise if i am sending a audio from JS test page which running on system its comes always.

If same audio i am sending from mobile generic testing app. Its come without any noise.

[2020-07-30 09:45] shiv50084 opened #677 "[QUESTION]: Facing this error while running master code on my device"
I am using latest commit 0550dba5be3fa9d57750a8a350e6a6f12b058d74 from master branch.

2020-07-30 08:24:43 ERROR   createPeerConnection(): operation returned status code: 0x40000002
2020-07-30 08:24:43 ERROR   iceAgentShutdown(): operation returned status code: 0x00000001
2020-07-30 08:24:43 ERROR   freePeerConnection(): operation returned status code: 0x00000001
2020-07-30 08:24:43 ERROR   closeP

[2020-07-30 09:58] shiv50084 commented on #677
If i am setting log_level

export AWS_KVS_LOG_LEVEL=LOG_LEVEL_VERBOSE

at this time this error occurs and not able to stream.

[2020-07-30 10:26] ajjiang48 commented on #657
@shiv50084 you use webrtc C sdk implementing webrtc master on an IOT camera, right? so, your IOT camera has a speaker or audio out for receiving and playback the webrtc viewer's audio ? (looks weird for an camera, so I'm confirming). As for the incoming audio frame process, do you use a single thread for processing those audio frame? and do your player playback the G711A audio directly? or you nee

[2020-07-30 10:34] shiv50084 commented on #657
@ajjiang48
My IOT Camera support 2-Way talk feature.I am receiving G711A directly from encoder to send it to webrtc Client and Receiving G711A audio from webrtc Client send it directly to G711A decoder ( without transcoding to PCM ) without using any thread.

From this link you will get Android SDK to make an generic APP:-
https://docs.aws.amazon.com/kinesisvideostreams-webrtc-dg/latest/devguide/k

[2020-07-30 10:42] ajjiang48 commented on #657
@shiv50084 what is the size of each G711A audio frame ? what's your receiving buffering architecture? do you try gather more G711A audio frames and combine them to 1 bigger G711A audio frame then send it once to the audio decoder ??
Thanks,
A.J.

[2020-07-30 10:58] shiv50084 commented on #657
@ajjiang48
My Current G711A packet size 480 Bytes .Which is 60ms, sampling at 8KHz,

I am not accumulation G711A audio buffer into 1 bigger buffer.
Whatever audio buffer i am receiving from encoder i am directly sending it to writeframe API.
and whatever i am receiving from webrtc client i am directly sending it to decoder without combining it into 1 bigger buffer.

[2020-07-30 17:05] MushMal commented on #657
This is a great discussion going on in this thread. I would like to resolve the ticket but keep the discussion going or using another issue to discuss it.

In general, we have seen 1:1 mapping of encoded g711 to frames. From the perspective of RTP - that's the case but some media pipelines might have particular needs to batch them together (never heard of those).

[2020-07-30 17:05] #657 closed

[2020-07-30 17:13] bdhandap commented on #562
@SEOKHYOENCHOI Yes it is deployed to ap-northeast-2

[2020-07-30 19:58] MushMal commented on #677
There are two questions:

1) Why the logs are not set
2) The root cause of the error

Exporting the variable should have set it to verbose. I am not certain why it didn't pick up. You could set the logging level directly in your application as well - take a look at how it's done in the sample. Perhaps, the log level gets overwritten by the signaling client.

For #2 you are getting 0x40000002 tryin

[2020-07-31 01:13] MushMal commented on #493
Are we able to reproduce this after the backend changes went in?

[2020-07-31 01:14] MushMal commented on #458
What's the latest on this issue?

[2020-07-31 01:16] MushMal commented on #300
This ticket seems to be stale. I am going to resolve this for now as the cmake build has undergone some major changes. Please try the latest commits.

[2020-07-31 01:16] #300 closed

[2020-07-31 03:34] ajjiang48 commented on #657
@MushMal so, do I reply here or another thread ?

[2020-07-31 04:48] MushMal commented on #657
We generally try to keep the open issues to items that have active actionable following. We are strongly encouraging folks to comment on costing issues even if the issue is in a resolved state - we still monitor and contribute. We also encourage opening separate issues if they need any traction

[2020-07-31 07:20] suggestedfixes commented on #674
Hmm, I think there is a difference with the master and cherry-picked code. This might explain the problem. One notable problem of the cherry picked code is that it doesn't have a flag to update the list.
https://gist.github.com/suggestedfixes/6f8ef4b6140cb429b49d9ebabf1849a9

[2020-07-31 07:50] suggestedfixes commented on #674
I noticed that nfds = max(open socket fds) + 1. What if select() happens to select a closed nfds which happens to be max(open socket fds) + 1?
[code]

[2020-07-31 07:55] suggestedfixes commented on #674
Also, once we remove the socket from the list, shouldn't we free the socket?

[code]

[2020-07-31 18:08] chehefen commented on #674
connectionListener doesnt own the socketConnections so it doesnt free them. Are you able to reproduce this issue with the latest sample?

[2020-07-31 19:25] zwei333 commented on #425
Have found the root cause of this issue
kvs sdk expects us to create peerConnection after offer is received. We create peerConnection ahead of time to optimize the connection wait time. This causes the issue.
Every five minutes, kvs sdk refreshes IceServerConfig to get the most recent IceServer urls and turn server credentials. Because we create peerConnection before the IceServerConfig refreshing

[2020-07-31 19:59] MushMal commented on #425
Indeed, creating a peer connection has two heavy parts - the DTLS initialization (creating self-signed certs) that can evaluate to heavy processing on some platforms and the ICE negotiation. Unfortunately, you can't front-load the ICE negotiation due to the network staleness and ICE configuration. You could, however, offload the cert generation and supply the pre-generated certs.

[2020-08-03 05:52] sochildish opened #681 "[QUESTION]"
Android receives video with delay

[2020-08-03 05:53] sochildish opened #682 "[QUESTION] Android receives video with delay"
Android receives video with delay

[2020-08-03 05:53] #681 closed

[2020-08-03 06:12] MushMal commented on #682
@sochildish could you please include a little more information with your question/issue? As is, it's not actionable or we won't be able to help. Please include full details of what you are attempting to do, what's your setup, OS, commit version, etc... If this is regarding Android WebRTC then this is not the right repository for the question and you might redirect it to https://github.com/awslabs/

[2020-08-03 06:34] MushMal commented on #631
Closing this

[2020-08-03 06:34] #631 closed

[2020-08-03 19:29] zwei333 opened #683 "[BUG] Uninitialized array of type struct lws_protocols causes memory issue"
For SignalingClient, pSignalingClient->signalingProtocols (of type struct lws_protocols) is not initialized. This array is used in creating lws client connection.  If the per_session_data_size field of struct lws_protocols happens to be big non-zero number, then libwebsocket will report out of memory.

In file src/source/Signaling/Signaling.c line #76, please add
MEMSET(pSignalingClient->signaling

[2020-08-03 19:51] MushMal commented on #683
For the signaling client, the field is of a fixed size: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/Signaling.h#L253

the entire structure gets calloc-ed which zeroes it out: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/Signaling.c#L25

and gets set to the actual protocols with: https

[2020-08-03 20:10] zwei333 commented on #683
Thanks!

[2020-08-03 22:23] lherman-cs commented on #683
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/684 will include the fix.

[2020-08-03 23:28] MushMal commented on #683
Fix is in. Closing

[2020-08-03 23:28] #683 closed

[2020-08-04 00:00] staowyze opened #685 "[BUG] sampleStreamingSessionList multi-thread access"
Is there a race condition while accessing `sampleStreamingSessionList`?

`sampleStreamingSessionList` is cycled around https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L808
and it is accessed while new video sample is available https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMaster.c#L239

Assu

[2020-08-04 00:21] staowyze commented on #685
btw: is `pSampleConfiguration->streamingSessionCount` protected by `pSampleConfiguration->sampleConfigurationObjLock`?
I am trying to optimize `sendVideoPackets` a bit, i.e. don't read file from the disk if no viewers.