[2020-04-03 02:46] juno52wendy commented on #325
@disa6302   Use tools to find keywords: modify by juno 2020.4.2, that is, modify the log part

[2020-04-05 22:31] disa6302 commented on #325
@juno52wendy ,
I went through the file you sent and have a couple of questions:
- I am still unclear on what the change is trying to achieve. Can you detail more?
- I am unable to find the definition of `LogPrintFunc` in the file you sent. Can you point me to this definition.
- Where is `globalCustomLogPrintFn` defined?

[2020-04-06 10:55] juno52wendy commented on #325
1. Because we need to output logs in our actual project, but the default log output cannot meet our needs, we need to additionally connect our own set of log systems;
2. As I said before, we implement a set of kvscloud, cloud storage solution based on amazon-kinesis-video-streams-producer-c, in which there is a PClientCallbacks registration log directly, also access our log system, we also Have al

[2020-04-06 15:41] suggestedfixes opened #327 "Relax Clock Requirements"
It seems like WebRTC only works if device clocks are synced with NTP. Sometimes, devices are located in an isolated internal network and don't usually have the luxury of easily accessing NTP services. I wonder if it is possible to relax the clock accuracy requirements.

[2020-04-06 17:22] TomyTomm opened #328 "DeleteSignalingChannel Public API call"
https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DeleteSignalingChannel.html
There's an API call to delete signaling channels, but it would be nice to have that wrapped in a C-style API call.

[2020-04-06 17:43] chehefen commented on #320
Also, which aws region are you using?

[2020-04-06 17:49] MushMal commented on #328
@TomyTomm could you please describe your scenario? We do have a few backend public APIs that we are not modeling in the SDK as we model the lifecycle of the embedded devices.

In particular, the DeleteSignalingChannel API is implemented in the SDK but not exposed publicly - we use it in the tests.

Perhaps, if you have a compelling scenario we could expose it

[2020-04-06 17:56] TomyTomm commented on #328
Yeah, so I'm currently working on importing this SDK for use in ROS (Robot Operating System) ecosystem. So I have a TurtleBot3 that connects as Master and creates the signaling channel if it doesn't already exist. For cleanup purposes, I was thinking it would be nice to delete the signaling channel on destruction so resources aren't leaked.

[2020-04-06 18:05] MushMal commented on #328
Nice! Thanks. Let's use this issue to track this. Having clear customer scenario makes it easier to expose this publicly.

[2020-04-06 19:27] MushMal commented on #327
@suggestedfixes could you please provide more details as to what exactly is observed?

We should be somewhat close to wall clock time in order for the backend auth and communication to work.

TL;DR

Current codebase has a single GETTIME implementation which is used for measuring durations and the absolute time. Ideally, we should have two calls for measuring the wall clock for things like authenti

[2020-04-06 20:58] Sean-Der commented on #301
Give the following SDP we should be able to distinguish between three cases

* Payload 96 exists, but it has NO fmtp line
  - We currently incorrectly use the default fmtp line. Instead we should insert none.
* Payload 102 exists, but it has a fmtp line
  - We should continue to do what we did before
* Payload 104 does not exist, and it has no fmtp line
  - We should insert the default like we do

[2020-04-06 21:30] MushMal opened #329 "Move CHK_LOG_ERR_NV to PIC"
We need this functionality across other repos. Need to move to PIC

[2020-04-06 21:42] MushMal commented on #325
@juno52wendy Thanks for the codebase. Some of the changes are generic indeed to be added into the master branch. I think we would benefit from being able to overwrite some of the platform level callbacks including logging.

I think we should separately track the platform level callbacks from the WebRTC specific feature work.

Will update as soon as possible

[2020-04-07 07:37] arthur-zou commented on #306
I think the log i attached has contained all of SDK log and libwebsocket log due to i have change the DLOGD/DLOGI/…………………… to our own log saving function.If you find that there are any log that should have been output but it can not be found in my log file,you can tell me the file name and line and i will check again.

[2020-04-07 08:09] 377517827 opened #330 "can't transfer data when not in a lan"
version:  commit 4e13ff89c81db96fa460be59e90f9d30aa938cc6

issue: when master and viewer connect the same network, transfer video data ok. But when master and viewer not in the same network, viewer can't get any video data.

master log:[master.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4442771/master.txt)

viewer log:[viewer.txt](https://github.com/awslabs/amaz

[2020-04-07 19:12] #301 closed

[2020-04-08 10:08] ajjiang48 commented on #255
@chehefen I have update for your question:
1. Running kvsWebRTCClientMaster on the device and inside company firewall and kvsWebRTCClientViewer on another dev connected to Internet through wifi/4G, but I couldn't see the data receiving log from viewer console.
2. I also tried the same configuration without firewall, but I still couldn't see the data receiving log in viewer side, the below attachme

[2020-04-08 12:24] ajjiang48 commented on #255
@chehefen one more question, I used chrome browser running the WebRTC test page as master, is the chrome browser WebRTC supports G.711 (A/U Law) audio format? because currently our device only supports G.711 audio playback, not supporting OPUS now.

[2020-04-08 13:00] ajjiang48 commented on #255
@chehefen more experiment updated, even I have 2 D700 device running kvsWebRTCClientMaster and  kvsWebRTCClientViewer respectively and connect both of them to the same router, I still could NOT see the data receiving log in the viewer-side log; below is the kvsWebRTCClientViewer side log for your reference.
[MasterViewerSDK_connect_1AP.log](https://github.com/awslabs/amazon-kinesis-video-streams-w

[2020-04-08 15:57] TomyTomm opened #334 "Failure when connecting as Viewer from the AWS console/test page"
## When connecting through AWS console
[code]
![Screen Shot 2020-04-08 at 11 52 07 AM](https://user-images.githubusercontent.com/44235735/78805499-7a751880-798f-11ea-976d-f0f2d254a9c1.png)
------------------------------------------------------------------------------------------------

### When connecting through the JS test page
[code]
[code]

[2020-04-09 00:06] dannymarosi opened #337 "Saving to file"
How can I save the video before and during streaming?
I know how to save to video file while streaming.
But I would like to start saving before the far side is connected.
Then continue saving during the streaming session.
I am using kvsWebRTCClientMasterGstreamerSample.c

Thanks,
Danny Marosi

[2020-04-09 04:38] MushMal commented on #337
Take a look at this enhancement that we didn't merge: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/191

In this case, the sample starts streaming into KVS streams for persistence right away, before any Viewers are connected. Once a Viewer is connected, it will receive the current frames.

The reason why this is not merged is that we don't want to pull the dependency in

[2020-04-09 15:35] zwei333 opened #340 "Is there any sample code to register customized logprint"
Function pointer globalCustomLogPrintFn = defaultLogPrint.  defaultLogPrint writes to standard io.
We like to use our logger/logging files to manage the debug print
There is some sample code in open-source/amazon-kinesis-video-streams-producer-c/samples/KvsVideoOnlyStreamingSample.c
But can't find in samples/kvsWebRTCClientMaster.c or samples/Common.c

[2020-04-09 17:35] chehefen commented on #329
PIC has CHK_LOG_ERR.

[2020-04-09 17:38] disa6302 commented on #330
@377517827 ,

It looks like the viewer is encountering `SSL_write failed with error:00000002:lib(0):func(0):system lib` error. This indicates the  `SSL_ERROR_WANT_READ` which happens when the socket is in non blocking mode and SSL needs data from the peer. There is an active PR fixing this (https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/322).

[2020-04-09 17:41] MushMal commented on #340
Related to #325

The C producer has proper facilities to overwrite the logging and a lot of other functionality. The WebRTC doesn't expose this. We will be providing means to specify callbacks/overwrite some of the platform functionality including logger functionality soon, including some implementation for file based logger.

Meanwhile, you could set your logger function pointer.

[2020-04-09 17:44] MushMal commented on #329
https://github.com/awslabs/amazon-kinesis-video-streams-pic/commit/266f5fc0ca673faf78d783977be4333583012c37

moves the CHK_LOG_ERR_NV to PIC. We will resolve this issue once we re-base the submodule on the latest commit

[2020-04-09 18:17] zwei333 commented on #340
Could you please explain a llittle more on "Meanwhile, you could set your logger function pointer."?

[2020-04-09 19:14] suggestedfixes commented on #324
Agreed, closing this issue.

[2020-04-09 19:14] #324 closed

[2020-04-09 19:19] MushMal commented on #340
In PIC. utils/src/Logger.c

The last line in the file LN84. This sets the logger function pointer. You can export the globalCustomLogPrintFn and set it to your function pointer.

Again, apologies for this customization, we will be addressing this properly.

[2020-04-09 19:20] TomyTomm commented on #334
Fixed by pulling the changes from this commit which updated the valid characters: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/389703f1f46ce71ab0a77bf9a061feb4a44e9636

[2020-04-09 19:20] #334 closed

[2020-04-09 19:36] zwei333 commented on #340
Got it.  Thanks.  Forgot that globalCustomLogPrintFn is global.
Please feel free to close this issue if you don't need it.

[2020-04-09 19:50] MushMal commented on #340
No problems. We will address this in an easier manner. NOTE: all platform-level integration is done easily at the core via function pointers (for perf reasons).

As we are tracking this issue already, I am going to be resolving this one.

[2020-04-09 19:50] #340 closed

[2020-04-09 23:02] dannymarosi commented on #337
Hi @MushMal

I am having difficulty cloning out the kvs_persistence branch.
Can you give me direction how to get the kvs_persistence branch running on the raspberry pi?

Thanks,
Danny Marosi

[2020-04-10 01:19] dannymarosi commented on #337
Hi @MushMal
Fail to compile after checking out  'remotes/origin/kvs_persistence' branch

pi@raspberrypi:~/amazon-kinesis-video-streams-webrtc-sdk-c/build $ git branch
* (detached from origin/kvs_persistence)
  master

Can you check?
Thanks,
Danny Marosi

[2020-04-10 02:43] dannymarosi commented on #337
See attached
[CMakeError.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4459642/CMakeError.log)
[CMakeOutput.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4459643/CMakeOutput.log)

[2020-04-10 05:40] MushMal commented on #337
@dannymarosi apologies - just getting back to this. It seems that the minimal viable program compilation fails - this is what the cmake compiles to check whether the compiler is supported.. Might be related to older versions of cmake and gcc. Could you please upgrade the cmake and the gcc? Seems that you are using gcc 4.9.2 which in itself should be more than adequate to compile the core projects

[2020-04-10 17:08] CatsNipYummy opened #343 "Sending through data channel"
Is there an example that sends data through the data channel? I see some tests but is there an example? I would like to send data along with audio and video.

[2020-04-10 20:39] dannymarosi commented on #337
@MushMal
I verified that I have the latest gcc and cmake for my raspbian distribution
 gcc (Raspbian 4.9.2-10) 4.9.2
cmake version 3.6.2
uname –r
4.4.50-v7+

I notice 2 things:
1.  “CMake”  folder  in master branch was  replace by “cmake-scripts” in kvs_persitence branch.
2.  Fail compiling libcurl

![kvs_persistenc_vs_master_branch](https://user-images.githubusercontent.com/62627034/79021336-15a4

[2020-04-11 13:29] ycyang1229 commented on #330
@377517827 This commit(https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/4d76c92707c66ec87ad67f0d1aae6c50836dd8ff) may be helpful, since you can not receive the stun packets under wp2-enterprise network when  you want to use turn.

[2020-04-11 13:35] ycyang1229 commented on #330
@chehefen Would you mind giving us more detail about this commit(https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/4d76c92707c66ec87ad67f0d1aae6c50836dd8ff)? For example, any logs or phenomena indicates the abnormal scenario, and this commit can fix it.

[2020-04-13 09:45] ycyang1229 commented on #330
@chehefen Could you check this log?

2020-04-13 07:06:48 VERBOSE lwsHttpCallbackRoutine(): HTTPS callback with reason 71
2020-04-13 07:06:48 VERBOSE lwsWssCallbackRoutine(): WSS callback with reason 71
2020-04-13 07:06:48 VERBOSE lwsWssCallbackRoutine(): WSS callback with reason 10
2020-04-13 07:06:48 DEBUG   lwsWssCallbackRoutine(): Client is writable
2020-04-13 07:06:48 DEBUG   iceAgentGatherCan

[2020-04-13 09:46] ycyang1229 commented on #330
@chehefen another strange behavior.
2020-04-13 08:08:14 VERBOSE lwsHttpCallbackRoutine(): HTTPS callback with reason 71
2020-04-13 08:08:14 VERBOSE lwsWssCallbackRoutine(): WSS callback with reason 71
2020-04-13 08:08:14 VERBOSE lwsWssCallbackRoutine(): WSS callback with reason 10
2020-04-13 08:08:14 DEBUG   lwsWssCallbackRoutine(): Client is writable
2020-04-13 08:08:14 DEBUG   stepStateMachine()

[2020-04-13 09:47] ycyang1229 commented on #330
These logs came after updating to the newest commit.

[2020-04-13 17:31] MushMal commented on #337
@dannymarosi sorry for the delay, I really can't tell what's wrong with this. A couple of questions.. Are you able to get a clean build of the latest master branch? If so, all you need is to look at the sample to understand how the "media loop" is started initially in order to adapt for your case.

[2020-04-13 18:11] MushMal commented on #337
@dannymarosi the persistence branch was not intended to be merged with the master - this was a small demo. The reason why we don't want to merge it to master is that it pulls in the C repository to be used in the sample which, in turn, has a dependency on curl. We are working on publishing this as a sample in a new Samples repository soon.

In the meanwhile, you could indeed pull down the webrtc r

[2020-04-13 18:11] dannymarosi commented on #337
@MushMal
I found the libcurl-CMakeLists.txt in the kvs-persistence branch then recomple.
It looks that libcurl is messing configuration.
See attached file.
[libcurl_fail_log_2.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4471021/libcurl_fail_log_2.txt)
Can you help?

[2020-04-13 18:22] dannymarosi commented on #337
@MushMal
Thanks You answered my questions.

[2020-04-13 18:22] #337 closed

[2020-04-13 18:30] chehefen commented on #330
It seems that TCP connection cannot be established. Can you check your firewall setting?

[2020-04-13 18:33] MushMal commented on #337
No problems. Please feel free to cut issues if you have any further questions

[2020-04-13 18:55] chehefen commented on #255
The WebRTC test page should support G.711. Regarding your other issue, log shows that master and viewer got connected just fine. Currently, viewer only print out frame log for audio frames. Can you check if master is sending audio?

[2020-04-13 18:56] #247 closed

[2020-04-14 01:11] dannymarosi opened #345 "kvs-persistence"
I am working on integrating kvs-persistence into my branch (inherit form master on 4/9/2020).
I getting  the following compiler error:
kvsWebRTCClientMasterGstreamerSample.c:(.text+0x1008): undefined reference to `createDefaultDeviceInfo'

The definition for createDefaultDeviceInfo'() can be found at :
 amazon-kinesis-video-streams-webrtc-sdk-c/open-source/amazon-kinesis-video-streams-producer-c/s

[2020-04-14 02:02] CatsNipYummy opened #347 "Trying a South East Signaling Channel"
I tried to setup a North East signaling channel in Korea and tried the following:

`AWS_DEFAULT_REGION=ap-northeast-2 ./kvsWebrtcClientMaster KoreaSignaling`

The code crashes after what seems to be multiple retries with the following:

`2020-04-14 01:54:32 ERROR   createSignalingSync(): operation returned status code: 0x0000000f
`
 I saw some related issues to the same. But couldn't figure out wh

[2020-04-14 04:12] MushMal commented on #345
@dannymarosi if you are simply using the master sample as a base, perhaps you can also submodule the c producer project into your sample and reference the header files from within.

We are in a process of putting together a separate repository for samples but that will take some time.

[2020-04-14 04:17] MushMal commented on #347
You have access permission issues

2020-04-14 01:54:22 DEBUG   lwsHttpCallbackRoutine(): Connected with server response: 403

Please ensure the credentials provided are valid for the region/account/operations for the channel.

I am resolving this issue. Please feel free to re-open with detailed information if this is not the root cause. Enable debugging logs to get more data.

[2020-04-14 04:17] #347 closed

[2020-04-14 15:50] ajjiang48 commented on #255
@chehefen Yes, I do confirm the WebRTC test page send the G.711 audio frame to viewer (the data size is 160 bytes for each audio frame), one more question:
1. does the G.711-only (no OPUS) WebRTC viewer work with the popular WebRTC master (e.g. Chrome based, IE based....) ??
2. our device G711 audio recorder generate audio frame size is 1KB each time (not like the WebRTC test page's 160 bytes), wi

[2020-04-14 16:24] suggestedfixes commented on #320
@chehefen I'm located closest to us-west-2, but I'm currently using us-east-1. I'm going to take a measurement of form Channel bind succeeded to ICE_AGENT_STATE_NEW. It might have to do with TURN_ALLOCATION_TIMEOUT

[2020-04-14 18:06] MushMal commented on #255
@ajjiang48 it would be easier to cut separate issues and not overload the main issue for later reference.

1) In general, it depends - you should check the compatibility pages. We can't provide that info.
2) G711 can produce larger frames - it will depend on the sampler frequency and the encoder settings.

I am going to resolve this issue as it has multiple side-questions but the main topic seems

[2020-04-14 18:06] #255 closed

[2020-04-14 19:09] chehefen commented on #310
Hi, I'm running the same code on in my home network on a raspberry pi 3 with camera module and I'm seeing sub-second latency. Can you try to identify if there is any source of latency such as other processes competing for resource on your pi or network? Thanks

[2020-04-14 20:55] #249 closed

[2020-04-14 21:51] MushMal commented on #328
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/346 got merged. Resolving

[2020-04-14 21:51] #328 closed

[2020-04-14 22:34] Sean-Der opened #350 "Implement ICE renomination"
In the current standardized version of ICE you choose one candidate pair, and use it the entire time. This means if you select TURN you will stick with it forever (or STUN if host was possible)

[ICE Renominations](https://tools.ietf.org/html/draft-thatcher-ice-renomination-00) make it possible to switch network routes at a later time. This is only implemented in Chromium, and not standardized.

W

[2020-04-14 23:35] Sean-Der commented on #343
Hey @CatsNipYummy sorry for the delay!

In [Common.c](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L15-L29) we accept and print incoming datachannel messages. If you use our JS/Mobile examples you can enter these DataChannel callbacks easily.

Right now in our sample code we don't have anything that sends outbound, but it would be really easy to

[2020-04-14 23:54] dannymarosi commented on #310
@chehefen
Hi,
I am using pi 2.
I was able to reduce the latency to 0.7 seconds by changing log level from default to LOG_LEVEL_ERROR
Thanks,
Danny Marosi

[2020-04-14 23:54] #310 closed

[2020-04-15 00:45] dannymarosi commented on #345
@ MushMal
I was able to build and run the kvs-persistence branch after several modifications.
All works well.
Here are the changes:

//--- disable libcurl build
Modify: /home/pi/amazon-kinesis-video-streams-webrtc-sdk-c/CMakeLists.txt
Was: set(BUILD_COMMON_CURL TRUE CACHE BOOL "Build ProducerC without CURL Support" FORCE)
Is:  set(BUILD_COMMON_CURL FALSE CACHE BOOL "Build ProducerC without CURL Su

[2020-04-15 00:45] #345 closed

[2020-04-15 04:19] MushMal commented on #343
@CatsNipYummy I am going to resolve this issue. Please feel free to re-open if you have any further questions.

[2020-04-15 04:19] #343 closed

[2020-04-15 04:28] MushMal commented on #345
Thanks Danny, the codebase had drifted away since the branching. We will certainly implement this once we port the persistence sample into Samples repository. Appreciate the help!

[2020-04-15 05:36] suggestedfixes opened #351 "[BUG] ICE password not conforming to newer versions of chrome"
@MushMal @chehefen @disa6302 @Sean-Der

js-sdk version: 1.0.2
System: Windows 10
Chrome Version: 81.0.4044.92 (Official Build) (64-bit)
Description:
The following exception is thrown with newest version of chrome; however, the javascript sdk still works with older versions of chrome.
[code]
Initial investigation shows that Turn passwords are base64, and includes = signs. We understand it is a huge

[2020-04-15 06:45] MushMal commented on #351
Thanks @Sean-Der

@suggestedfixes could you please give this a try and resolve if fixed

[2020-04-15 16:43] suggestedfixes commented on #320
I'm beginning to observe even with PC. Trying to increase the timeout.
[code]

[2020-04-15 16:53] suggestedfixes commented on #320
Never mind, this is freeing.

[2020-04-15 18:35] suggestedfixes commented on #320
Example of a failed TURN session
[code]

[2020-04-15 20:02] suggestedfixes commented on #320
Trying to replicate it on PC as well
[code]

[2020-04-15 20:56] suggestedfixes opened #353 "Client Loses Certificate Path (SSL related) after running for a Few Iterations"
Background:
We are writing an app that spins off a thread to check the status of master. The thread looks exactly like the main loop in Viewer Example. The current problem is, after a few teardown paths, the client thread loses the certificate path, similar to losing IoT certificate path.

[code]

[2020-04-15 21:10] suggestedfixes commented on #351
@MushMal tested with a newer build. Have not replicated.

[2020-04-15 21:10] #351 closed

[2020-04-15 21:18] suggestedfixes commented on #353
Just an update, turns out that the NFS mount got dismounted automatically. I will see if I can replicate this in other conditions.

[2020-04-15 21:28] MushMal commented on #353
@suggestedfixes , I am going to resolve this issue as it seems to be an issue on your side. However, I am not sure why you are spinning a thread instead of listening to state change callbacks - might be more scalable.

[2020-04-15 21:28] #353 closed

[2020-04-15 21:36] suggestedfixes commented on #353
@MushMal I need a way to quickly connect to master, check if I can receive a video frame and disconnect to master. Spinning off a thread that looks like main in Viewer seems to be the easiest way to do so without too much architectural changes.

[2020-04-15 21:41] MushMal commented on #353
Sure, it definitely is a way. What I was suggesting is to have local parameters in your application that the state change callbacks can update. When you check, you can simply lift the latest information from the params. The params could be atomics to avoid any data races.

This said, I am just not familiar with your architecture so I can't really comment at any deep level

[2020-04-15 21:43] suggestedfixes commented on #353
My bad wording for using architecture, I meant not changing too much code.
https://github.com/suggestedfixes/amazon-kinesis-video-streams-webrtc-sdk-c/blob/gst-rtsp-upstream-master/samples/webrtcMonitor.c

[2020-04-15 21:44] suggestedfixes commented on #353
I forgot that I did not spin off a thread.

[2020-04-15 21:46] MushMal commented on #353
Oh, this is an entirely different thing than I imagined. Very cool. Please create a new issue or re-open in case you still have difficulties

[2020-04-15 22:02] Sean-Der commented on #292
Hey @suggestedfixes

We aren't able to reproduce this, so closing for now. If you hit this again please re-open. thanks!

[2020-04-15 22:02] #292 closed

[2020-04-15 22:08] #329 closed

[2020-04-15 22:14] MushMal commented on #327
Any update?

[2020-04-16 05:04] juno52wendy commented on #320
Yes, the same problem is currently encountered
1. According to the log, after the creation of create permission is successful, the creation of the channelbind attribute fails, and finally the status code STATUS_ICE_FAILED_TO_NOMINATE_CANDIDATE_PAIR = 0x5a000013 is obtained. By capturing the packet, the kvs server stun / turn is modified based on coturn, and the parameter verification in these attr

[2020-04-16 05:19] juno52wendy commented on #330
Yes, the same problem is currently encountered, a little Low Turn Success Rate in Devices
1. STATUS_INVALID_STORAGE_INFO_VERSION == 0x5a00000d, STATUS_ICE_FAILED_TO_NOMINATE_CANDIDATE_PAIR = 0x5a000013, through packet capture, the kvs server stun / turn is modified based on coturn, theoretically detecting that the parameter verification in these attributes should not fail, in fact often fails, reg

[2020-04-16 08:10] Sean-Der opened #354 "Compiler warnings aren't enabled in travis"
I don't know why/when they got disabled, but we should turn them back on!

This doesn't need to be done at once, someone can move one suite at a time.

- [x] OSX Clang
- [x] OSX GCC
- [ ] Linux GCC

[2020-04-17 09:12] henryChmn opened #356 "kvsWebRTCClientMaster example code test in alaw audio format"
We want to test audio format in alaw,
and not sure how to configuration it in example code.

attached audio frames with alaw format
[test_alaw_sample_0417.zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4492010/test_alaw_sample_0417.zip)

Thanks

[2020-04-17 09:56] kamlesh-solution opened #357 "Raspberry pi zero w webrtc streaming delay"
Hello,

I have successfully  installed kinesis webrt c sdk on my Raspberry pi zero w when i start streaming its imitate sdk and connect to server for streaming but i m getting up to 40 sec long delay in between streaming.

When i tested on raspberrypi 4 model its delay only 1 -2 sec only.

what is the reason of the long 40 sec delay on raspberry pi zero w ?

 is it not enough processing power or a

[2020-04-17 18:45] chehefen commented on #356
you just need to change these two lines to RTC_CODEC_ALAW:
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L392
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L410

[2020-04-17 18:47] MushMal commented on #356
Re-open if need more info after inspecting the suggested code

[2020-04-17 18:47] #356 closed

[2020-04-17 19:15] MushMal commented on #357
@kamlesh-solution could you provide a little more information and attach the debug logs with your request?

It's not immediately clear what you are trying to do. Are you using one of the webrtc samples as a Master and the console playback as a viewer or JS sample as a viewer?

Which sample are you using? Are you measuring the time from initiating the connection from the Viewer to the time you actu

[2020-04-17 21:00] dannymarosi opened #360 "WebRTC Signaling Protocol Options for Emergency Call Box"
What signaling protocol would work best with WebRTC to support the following use case?

We are interested in a video application where the system containing the camera will place a PSTN phone call into an answering facility.
Within this answering facility there will be a number of dispatchers (each with a phone and each with their own PC).
An incoming PSTN call can be answered by any one of the av

[2020-04-17 21:05] MushMal commented on #360
@dannymarosi it's not clear what your question is. So, it seems that you would like to use WebRTC solution for Video ONLY. You can try using the camera as a Master and the dispatchers PC application as a viewer. The Master will start immediately with the PSTN call. The viewer will start when the dispatcher takes the call.

You can look at the master/viewer sample applications.

Please refine your

[2020-04-17 21:30] dannymarosi commented on #360
@MushMal
The master (a call box ) will start a PSTN call and at the same time start a persistent video streaming.
How can the viewer (a PC on the dispatcher desk) be alerted for the incoming call?
Can a SIP protocol be used to alert the viewer for an incoming call?

[2020-04-17 21:46] MushMal commented on #360
I see. You might want to do some solution architecting for this type of signaling. Generally, we consider it outside of the WebRTC solution we provide (yet).

I wonder if you can swap it around - by doing master the dispatcher (who will be connected always) and then viewer be the caller... This will obviously require some changes to the master/viewer code samples.

[2020-04-17 22:06] dannymarosi commented on #360
@MushMal
Can you refer us to any resources that can help us with solution architecture for our use case?

[2020-04-17 22:36] garishsood commented on #360
@dannymarosi My name is Girish and I am the product manager for Kinesis Video. Would you mind sending me a note at garisood@amazon.com and we can schedule a call to discuss your usecase and evaluate if KVS WebRTC would be a fit.

[2020-04-17 22:38] #321 closed

[2020-04-18 18:17] dannymarosi commented on #360
@MushMal
Thanks for your help

[2020-04-18 18:17] #360 closed

[2020-04-19 06:50] MushMal commented on #306
@arthur-zou we seem unable to make further progress on this issue as it's not reproducible locally here. Could you please pull down the latest and tun it again with debug built libWebSockets and debug LOG verbosity on the WebRTC SDK. As stated earlier, we are not sure whether it's the network packet loss that causes the disconnection.

[2020-04-19 12:43] staowyze opened #363 "Up to one turn server"
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Ice/IceAgent.c#L94 says only up to one turn server is supported, but we may have a couple of turn servers and would like to pick the best one during probing, could we support multiple turn servers?

The only way to config ice servers is to create a peer connection, which is not very convenient, e.g. we want

[2020-04-20 07:37] enobufs opened #364 "Missing partial-reliability option for data channel"
I have just noticed that this library [ignores RtcDataChannelInit](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/d69dca161241e62e67b2c68ad274119529309932/src/source/PeerConnection/DataChannel.c#L12) passed to createDataChannel() method. :(

Would initiating a data channel with a partial reliability option become available any time soon?

[2020-04-20 10:44] henryChmn commented on #356
@chehefen Thanks, it's working now.

[2020-04-20 16:48] chehefen commented on #363
@staowyze, we will add support for multiple turn servers soon. Regarding your second issue. Candidate gathering wont start until you call setLocalDescription. In the samples we are calling setLocalDescription when it receives connection requests, which then kicks off turn allocation. Is this solution working for you?

[2020-04-20 17:19] chehefen commented on #330
@juno52wendy, for issue 1, can you tell us what are you using as viewer? if it is the js sample, can you tell us which browser you are using? Also can you show us the log when it fails?
For issue 2. you can try to adjust the connection check interval here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Ice/IceAgent.h#L24. However, each binding request p

[2020-04-20 17:33] staowyze commented on #363
I don't see any API to add turn servers other than creating peer connection, would you mind adding one?

[2020-04-20 19:18] dannymarosi commented on #357
I see the same issue with my pi zero

![pi-zero_pic_delay](https://user-images.githubusercontent.com/62627034/79790593-d3826c00-8300-11ea-88aa-03b52ea474b0.jpg)
I see about 18 second delay and frame rate is very slow.
Notice the pi zero CPU load is 98%.
Any help is appreciated.
Thanks,
Danny Marosi

[2020-04-20 19:56] chehefen commented on #363
From what I understood, the reason that you want to delay adding turn server is to avoid allocate turn when you create peerConnection is that right? but it would only start allocating when after you call setLocalDescription.

[2020-04-20 22:18] suggestedfixes commented on #320
with commit d69dca161241e62e67b2c68ad274119529309932
[code]

[2020-04-20 23:30] MushMal commented on #357
The sample uses x264enc for encoding which is a software-based encoder. This is done so the sample can work on multiple platforms. The x264 encoder is compute expensive so it pegs the CPU causing the latency. This said, I really doubt that this is related to 60 second startup latency described in the original issue.

Here is what my recommendation is.

1) Let's clarify what we are talking about. A

[2020-04-21 00:56] dannymarosi commented on #357
@MushMal
both periodicty-idr and inline-header are not element properties for omxh264enc element
see :
[omxh264_element.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4507035/omxh264_element.txt)

Please help
Thanks,
Danny Marosi

[2020-04-21 01:54] juno52wendy commented on #320
For STATUS_SEND_DATA_FAILED = 0x5800001a error:
1. In non-blocking socket programming, resources are temporarily unavailable and changed to blocked;
2. The TCP send buffer is not enough, and a large amount of data must be sent at a time. The sending frequency is too fast. The buffer is full;

[2020-04-21 02:07] MushMal commented on #357
I am quoting
https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-gstreamer-plugin.html
which has been tested on RPi

omxh264enc control-rate=1 target-bitrate=5120000 periodicity-idr=45 inline-header=FALSE

Are you using `gst-inspect-1.0 omxh264enc`

https://gist.github.com/mitsuhito/ad3ae3e341726687457c

[2020-04-21 02:10] juno52wendy commented on #330
@chehefen
1. Use the js viewer to view, the browser is Chrome 80.0.3987.163, the log is the same as the one posted by issuse;
2. I may have described it briefly, although each packet does not have many bytes, but each message packet is not processed after waiting for timeout processing or response, and it directly sends multiple packets multiple times to prevent the problem of packet loss. But it'

[2020-04-21 03:50] wlinInspire opened #366 "Customize Max concurrent viewers"
Hi, I have two questions:

1. Is the following the place to change max concurrent viewers in a session?
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/d69dca161241e62e67b2c68ad274119529309932/samples/Samples.h#L18

2. What if the number of viewers exceeds `DEFAULT_MAX_CONCURRENT_STREAMING_SESSION `? Is there a user-friendly way to be notified either at the device or in t

[2020-04-21 05:26] ycyang1229 commented on #330
Summarize the result of experiments from the beginning.
#1: two devices connect the same wifi access point(wpa2-personal). Success.
[success_viewer_log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4507765/success_viewer_log.txt)
[success_master_log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4507767/success_master_log.txt)

#2:

[2020-04-21 05:31] ycyang1229 commented on #330
The process of turn seems not to be normal. Before updating the specific commit(https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/4d76c92707c66ec87ad67f0d1aae6c50836dd8ff) , logs usually show socket in use, sendto error.. etc. After updating the specific commit, the error of logs became less.

[2020-04-21 06:02] juno52wendy commented on #330
At present, it is true that c sdk is immature and there is still a certain distance from productization. When docking with its own product echoshow, it not only has high requirements for network delay, but also has a very low success rate. Especially for the turn server, the analysis of Allocate request, create permission, channelbind, channeldata, send indication is often unsuccessful. The turn s

[2020-04-21 06:09] hsinghaowang opened #367 "kvsWebrtcClientMaster Fail"
version：v1.0.0
OS: Ubuntu 18.04
gcc 7.5

Running sample kvsWebrtcClientMaster：
[KVS Master] createSignalingClientSync(): operation returned status code: 0x0000000f

[code]

[2020-04-21 06:16] MushMal commented on #367
Logs have a timeout when creating the signaling channel after multiple retries.

You could enable debug version of the libWebSockets but this is the culprit:

2020-04-21 06:01:52 DEBUG   lwsHttpCallbackRoutine(): Connected with server response: 403

which indicates authentication/authorization issue. Please check your your auth integration and the credentials permissions.

Please resolve if you do

[2020-04-21 06:46] enobufs opened #368 "Request for support of peerConnectionGetLocalDescription()"
In my app, there are nodes that do not support trickle ICE, and I'm hoping to send SDP after all local candidates are gathered.

I noticed the current implementation did not have a method equivalent to WebRTC API `localDescription()` which would return pending local description. I tried peerConnectionGetCurrentLocalDescription but it had nothing in it: ```{"type": "answer", "sdp": ""}``` (though i

[2020-04-21 06:48] #367 closed

[2020-04-21 08:46] ycyang1229 opened #369 "failed to connect webrtc with amazon ehcoshow."
@chehefen Here are the logs we discussed today.
These logs are provided by @juno52wendy.
Case#1: connecting kvsWebClientMaster(in Shenzhen) with echoshow(in Shenzhen), and it barely works. It looks like the sdp negotiation failed.
[3)----webrtclog.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4508731/3.----webrtclog.txt)
[3)----webrtlog3.txt](https://github.com/aw

[2020-04-21 08:50] ycyang1229 commented on #369
3)----webrtlog3.txt
2020-04-13 09:30:19 VERBOSE turnConnectionSendData(): TurnConnection not ready to send data
2020-04-13 09:30:19 VERBOSE turnConnectionSendData(): TurnConnection not ready to send data
2020-04-13 09:30:19 VERBOSE turnConnectionSendData(): TurnConnection not ready to send data
2020-04-13 09:30:19 VERBOSE turnConnectionSendData(): TurnConnection not ready to send data
2020-04-13 0

[2020-04-21 14:07] kamlesh-solution commented on #357
@MushMal

here my pi zero debug log , and i m talking about time difference actually see the frames on the viewer screen i m using console playback as a viewer and i m using webrtc master gsteramer sample.
I tried to change encoding in media pipline from x264enc to omxh264enc but when i use omxh264enc i could not see any steram on viewer console side.

[KVS GStreamer Master] Using trickleICE by de

[2020-04-21 16:12] suggestedfixes commented on #369
I can make a couple of comments since I worked on a similar thing.
- Make sure you disable trickle ice. It's the first TRUE/FALSE argument in createSampleConfiguration.
- For your Lambda, make sure you turn on provisioned concurrent instances and set your lambda timeout to around 60 seconds.
- For your Lambda, it helps to write it in python/golang/c++ to reduce the cold start that will cause a tim

[2020-04-21 16:42] suggestedfixes commented on #369
I can make a couple of comments since I worked on a similar thing.
### Device Settings
- Make sure you disable trickle ice. It's the first TRUE/FALSE argument in createSampleConfiguration.
- Pre-generate certificates, see instructions in README
- Reduce the number of generated DTLS bits to 1024 instead of 2048

[2020-04-21 16:51] suggestedfixes opened #370 "gSampleConfiguration not wired up to local configurations in sigint handler in sample apps"
Seems like the sigint handler is designed to broadcast for threads to stop and perform some cleanups. But gSampleConfiguration was never wired up to point to local pSampleConfigurations. So it might not work as intended.

[2020-04-21 16:59] suggestedfixes opened #371 "[Question] Is it safe to enable caching endpoints? Does the code refresh the cache if endpoint connections fail?"
In Common.c, there is a line
pSampleConfiguration->channelInfo.cachingEndpoint = FALSE;

Would it be safe to set it to TRUE. And the would the code refresh cached Endpoint if fetch endpoint failure?

[2020-04-21 17:12] suggestedfixes commented on #370
Update. Found the assignment in Master samples, but not in the Viewer sample.

[2020-04-21 17:44] MushMal commented on #370
Oh, odd... Would you like to push a pull request please?

[2020-04-21 17:58] MushMal opened #372 "Implement Front-End API caching policy"

[2020-04-21 17:59] MushMal commented on #371
Caching of the front-end APIs is not implemented yet. I created an issue to track it: #372 372

[2020-04-21 17:59] MushMal commented on #371
I will resolve this for now as we will track this work in the #372

[2020-04-21 17:59] #371 closed

[2020-04-21 18:02] suggestedfixes commented on #327
This is universally observed in Javascript SDK and C SDK. I think part of the clock check is handled by the Signaling service side. We have seen Javascript exceptions where the description is roughly: "the local clock needs to be less than 5 minutes of difference than actual time". But in practice, the actual timing is much more strict, roughly within 1 minute.

[2020-04-21 19:03] MushMal commented on #327
@suggestedfixes so from your description, I am guessing that the main issue is around the absolute time and its usage in the API calls. This is, unfortunately, unavoidable due to security. Also, we are talking about minutes of drift instead of micro or milliseconds (which might impact duration calculations for thread sync or conditionals/wait).

Many of our customers call some sort of NTP library

[2020-04-21 19:03] #327 closed

[2020-04-21 19:15] chehefen commented on #357
Hi can you sen

I see your gstreamer release is from 2015, is it possible to update?

[2020-04-21 19:23] dannymarosi commented on #357
How cam we upgrade our gstreamer?
![gstreamer_too_old](https://user-images.githubusercontent.com/62627034/79905340-ee211780-83ca-11ea-9c35-24132fcdadde.jpg)
Thanks,
Danny Marosi

[2020-04-21 19:34] chehefen commented on #357
@dannymarosi  maybe your raspbian os is not current?

[2020-04-21 19:35] chehefen commented on #357
This is the pipeline that works in my raspberry pi 3 using omxh264enc:
`
pipeline = gst_parse_launch(
                        "autovideosrc ! queue ! videoconvert ! video/x-raw,width=1280,height=720,framerate=30/1 ! omxh264enc control-rate=1 target-bitrate=5120000 periodicity-idr=30 inline-header=FALSE ! h264parse config-interval=-1 ! "
                        "video/x-h264,stream-format=byte-stre

[2020-04-21 19:43] dannymarosi commented on #357
@chehefen any directions on how to update gstreamer on pi jessie distribution?

[2020-04-22 01:46] chehefen commented on #369
I see that turn is enabled in your log. You dont need TURN in order to connect with alexa, not event STUN. Also you need to disable trickle ice. You can do it by setting the follow two parameters to FALSE:
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMaster.c#L20-L21

Then comment out this line:
https://github.com/awslabs/amazon-kinesis-vi

[2020-04-22 02:07] juno52wendy commented on #369
@chehefen  @suggestedfixes
The advice you gave me was handled in the code a long time ago, but it has no practical effect.
One more thing, the code for stun / turn / ice has been implemented, the theory is familiar, and the code for kvs is also familiar!

[2020-04-22 03:01] arthur-zou commented on #372
We need the caching enpoints solution.
Our device needs to sleep for power saving.It can not maintain websocket connection when it is sleeping.
So we will disconnect when it is going to sleep and reconenct when it wakes up and it will cost too much time for describe channel/get endpoint.
Could you help to implement the enpoint caching solution?
Thanks.

[2020-04-22 04:05] MushMal commented on #372
@arthur-zou , thanks for the input. Let us prioritize this work.

[2020-04-22 08:00] lingdhox commented on #369
Alexa doesn't need stun/turn. and it needs to disable trickle ice.
In particular, it is important to control the time.
The time from lambda receiving offer to device returning answer should be limited to 6 seconds.
Some things will make the process timeout, such as the generation of dtls or the network is too slow
PS: The network from China to Alexa is terrible

[2020-04-22 08:14] juno52wendy commented on #369
@lingdhox
1. Alexa can communicate successfully without using stun or turn. For example, Amazon's own doorbell product Ring can be achieved by capturing the package by sip / sdp / rtp. The experience in China is also good. The audio and video delay is about 1s. , Intercom is also very good.
2. The network in China is not so bad. The network in European countries is worse than that in China. This i

[2020-04-22 08:33] lingdhox commented on #369
@juno52wendy
I think the discussion on this page covers all the key points. You may need to recheck carefully.
en. Maybe you can test the connectivity with the web (simulating the Alexa server) first, which can verify that the native code you modified is correct

[2020-04-22 08:40] juno52wendy commented on #369
@lingdhox
The demos are up-to-date, and the revised points have been revised. Except for using js viewer and echoshow once, and never again, at least c sdk is like this. SDK authentication is currently 2-3s time-consuming, as long as the sdp exchange is successful , Alexa will not quit in 6s, will make further holes, this process will take a while to time out, if not successful, lambda, c sdk and

[2020-04-22 17:09] CatsNipYummy opened #374 "Streaming video is choppy and unreliable"
I have integrated the kvsWebRTCClientMaster.c into my codebase. The handshake goes through fine and I am able to start streaming. But unlike the example, the stream is very choppy and unreliable. I get the below error multiple times:

[code]

Entire log looks like this:

[code]

[2020-04-22 17:44] #307 closed

[2020-04-22 17:55] MushMal commented on #374
0x58000022 is a connection closed indicator. Not sure yet what's going on. What's interesting is that you seem to be able to run the master sample with pre-canned frames fine? Can you confirm?

[2020-04-22 18:01] MushMal commented on #374
Looking at the log it seems that there was a network error first

2020-04-22 17:02:56 DEBUG   socketConnectionSendData(): sendto data failed with errno No route to host
2020-04-22 17:02:56 DEBUG   socketConnectionSendData(): Close socket 14
2020-04-22 17:02:56 ERROR   iceUtilsSendData(): operation returned status code: 0x5800001a
2020-04-22 17:02:56 WARN    iceAgentSendStunPacket(): iceUtilsSendDa

[2020-04-22 18:07] CatsNipYummy commented on #374
@MushMal Yes. I am able to send pre-canned frames from the master sample just fine. Even in my integration, it sends frames for a second or two. After which things become choppy and messed up.

What more experiments can I run for you? The issue seems to be coming up from the writeFrame() method in Rtp.c

[2020-04-22 18:27] MushMal commented on #374
There seem to be multiple issues. Let me summarize.

* The networking logs apparently are OK. There are candidates that get marked "bad" but this shouldn't cause any issues as long as there are others that can still send.
* Crash: Could you please capture the debug logs so we can see what's going on. Try running under a debugger or some other means of capturing the call stack.
* It's likely that t

[2020-04-22 18:34] CatsNipYummy commented on #374
Updates from my side. I realized I wasn't sleeping a thread for the right amount. So that helped with the choppy video frames and prevents the crash now. I guess the writeFrame() was being called too quickly.
I think we can close this issue as things look stable as of now.

[2020-04-22 18:54] #374 closed

[2020-04-22 19:31] suggestedfixes opened #375 "Better build indicators"
Current build indicators are not helpful when selecting stable commits. If we wanted to build the latest commit, a leap of faith of required. It might be nice to have a process in place to make sure latest code does not break existing tests.

[2020-04-22 19:37] MushMal commented on #375
@suggestedfixes could you please elaborate? Every change that gets merged into master branch requires a clean build/pass which executes variety of platforms/unit tests.

We independently run more grueling tests and some manual test scenarios before cutting or tagging a "release" indicating more stable version. For WebRTC SDK we have a single release so far 1.0.0.

[2020-04-22 19:41] suggestedfixes commented on #369
I wasn't sure if you were using Lambda. Here are some Lambda optimizing techniques:
- Turn on provisisoned concurrency to minimze probability of a cold start, this could get expensive (Java cold start could be as long as 40s to spin up)
- Increase Lambda timeout.
- If necessary, rewrite your lambda in Python/Golang/C++, those have very fast cold startup time.

[2020-04-22 19:48] suggestedfixes commented on #369
This also relates to low turn success rate, I think. One of the previous commits back in February might have worked better.

[2020-04-22 20:09] suggestedfixes commented on #375
Beside each commit, there is a checkmark/cross indicator indicates whether CI passes. There are very few commits with a checkmark.

[2020-04-22 20:45] MushMal commented on #375
Not sure what this refers to but every one of our commits undergoes the full CI check before being allowed to merge. We don't even have an easy way to override this for admins.

[2020-04-22 22:32] suggestedfixes commented on #375
I'm referring to the Travis status beside each commit.
<img width="663" alt="Screen Shot 2020-04-22 at 3 30 36 PM" src="https://user-images.githubusercontent.com/61390265/80040234-7e845880-84ae-11ea-8b55-f1166b3125f6.png">

[2020-04-22 22:36] MushMal opened #376 "Backend API call caching policy implementation"
Implement various backend caching policies. Currently, we don't cache calls and make every call directly to the backend.

The idea is to have the following caching policies

* No caching (current behavior)
* Cache all APIs (All of the APIs are being cached and the TTL for the value is specified)
* Cache all and not block on ICE server candidates (This is similar to the one above with the exception

[2020-04-22 22:38] MushMal commented on #375
Understood. While we are running PRs some of the builds can and might fail. This is normal. These are the builds that are not on the master branch but the PR branches. The master should always be clean.

[2020-04-22 22:45] suggestedfixes commented on #375
The current status is error, from readme
<img width="706" alt="Screen Shot 2020-04-22 at 3 45 15 PM" src="https://user-images.githubusercontent.com/61390265/80041085-5a297b80-84b0-11ea-9ea1-8ce7d8ca384b.png">

[2020-04-22 22:49] suggestedfixes commented on #375
I think it's possible for Travis to configure flaky tests. I've seen codebase a few magnitudes bigger and have a tolerance of passing them.

[2020-04-22 23:43] MushMal commented on #375
Not sure how the badge is configured. Our flakiness sometimes is caused by the minute timing issues as some of our unit tests really are full integ tests that hit the backend and we have fault-injected scenarios.

Trying to shut these tests in favor of a clean badge is not a good trade-off. However, we will continuously invest in making the tests more stable.

Incidentally, I wonder what codebases

[2020-04-22 23:49] MushMal commented on #375
Oh, I get it. This particular case is due to the instrumented allocators merge initially and later multi-turn merged and causing a leak in the test. We will fix this ASAP and we will have clean runs

[2020-04-23 01:27] juno52wendy commented on #369
@suggestedfixes
The Python / go used by lambda has been written, and the lambda is also provided by the Amazon technical team, and the code has been confirmed with each other!
I don't think it has much to do with the lambda and server region. They are all configured to the nearest node according to the requirements. There are also dedicated line VPNs, so there is no problem.
So it has a great rela

[2020-04-23 02:30] henryChmn opened #377 "Can't watch video after update latest version chrome"
After update chrome  81.0.4044.122 (Official Build) (64-bit), Test page can't watch video from ipcam.

Ipcam webrtc SDK verbose log:
[ipcam_debug_verbose_log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4519883/ipcam_debug_verbose_log.txt)

Test page log:
[webrtc2.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4519886/webrtc2.log)

[2020-04-23 06:14] Sean-Der commented on #377
Hey @henryChmn

Can you update to [1.0.0](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/releases/tag/v1.0.0)

The exact fix you need is 389703f1f46ce71ab0a77bf9a061feb4a44e9636

thanks!

[2020-04-23 06:50] suggestedfixes commented on #375
[code]
I was lucky enough to intern at one of those places that has a monolithic code base for all their teams offices across the globe, my internship project has about 98% coverage. But given that you work at Amazon, there could be large teams you can talk to where they have some of those toolings, the problem here is that you probably cannot use them on open source projects.

[2020-04-23 07:23] kamlesh-solution commented on #357
Thanks @chehefen  this pipeline works for me on raspberrypi zero.

[2020-04-23 07:24] #357 closed

[2020-04-23 12:07] henryChmn commented on #377
Hi @Sean-Der ,

Thanks, we will do it.

[2020-04-23 12:07] #377 closed

[2020-04-23 16:38] lherman-cs opened #380 "Fix incorrect rtp raw packet size"
After https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/93dbd03699b9eaaa9c173de888da7e0dd2f5daec change got merged, the master example started crashing with "malloc: Incorrect checksum for freed object 0x7f8c55715290: probably modified after being freed.”.

Here is the [log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4523893/log.txt)

[2020-04-23 17:29] #380 closed

[2020-04-23 20:41] wlinInspire commented on #366
Actually, this can be handled outside of kvs. Close it now.

[2020-04-23 20:41] #366 closed

[2020-04-24 02:53] #370 closed

[2020-04-24 17:09] sharadrj opened #383 "Memory keep increasing with P2P"
An issue with potential memory leak has been reported -

I found that memory occupied will keep rising when P2P connection is established.
Could you please help to check?

Log location:
It started after P2P connection is established.
It seems that defaultMemAlloc is keeping called and when i quit live streaming,sdk will free the streaming session and free large amount of memory.
But i don't know w

[2020-04-24 20:10] MushMal commented on #383
I would like to add some more info on this while we investigate it.

The P2P scenario is likely going through UDP in which case we utilize the jitter buffer to keep the RTP packets. The jitter buffer will serve these packets in case of retry. Currently, every RTP packet is a single allocation with another allocation (header) to keep the track of it. For video,  as the frames are produced, each fra

[2020-04-26 16:32] suggestedfixes opened #387 "[Question] Recommended Steps Handling Disconnection/Lost Transceiver?"
We are testing streaming for as long as we can. The current issue we are encountering is that if for some reason when the master side disconnects and went back online, a naive viewer would not have detected it, and the video freezes indefinitely. One thing we can do on the viewer side can be monitoring the video stats through the (https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_Statistics_

[2020-04-26 21:37] chehefen commented on #387
Can you clarify you mean by master "disconnects and went back online" ? If master connection resumes within 15s the RTC_PEER_CONNECTION_STATE  would still remain connected and viewer should also keep receiving. If the disconnection exceeds 15s then the master has to be restarted. In that case The viewer should observe connection state change to disconnected here: https://github.com/awslabs/amazon-

[2020-04-26 21:40] chehefen commented on #368
we do implement support for non trickle ice here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L583. You can take a look at our viewer sample.

[2020-04-26 21:46] chehefen commented on #320
Hi @suggestedfixes, this PR #386 fixed an issue that caused extra two second latency when setting up TURN. Can you try it out? Thanks.

[2020-04-26 22:37] enobufs commented on #368
@chehefen Looking at the sample, I see the sample doing basically the same thing, but mine is offerer.

I was looking for the offerer side of code in the sample, but I could not locate lines that are waiting for cvar with candidateGatheringDone being true for non-trickle behavior.

My code does:
1. createOffer() - I see it generates 'desc' without candiates
1. wait for onIceCandidate with null jso

[2020-04-26 22:47] enobufs commented on #368
In the browser, for the same pattern, I'd used pc.localDescription() (see the link below) instead of currentLocalDescription(). Therefore, I initially thought the problem was the absence of a method equivalent to pc.localDescription().

Reference: [Pending and current descriptions](https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Connectivity#Pending_and_current_descriptions)

[2020-04-27 01:03] enobufs opened #389 "Don't use CMAKE_SOURCE_DIR"
When this project (KinesisVideoWebRTCClient) is included in another project using add_subdirectory(), CMAKE_SOURCE_DIR no longer points to the path originally intended.

`/CMake/Utilities.cmake` is using CMAKE_SOURCE_DIR.

Here's a proposal:
[code]

[2020-04-27 01:27] chehefen commented on #389
thanks. feel free to submit a pull request for this.

[2020-04-27 01:56] chehefen commented on #376
whats the reasoning behind making getIceServerConifg async? If ICE needs to use TURN then turn servers must be available before ICE start. So application still need to wait for getIceServerConifg to finish before it can proceed. Also cachings are done in memory. They need to be persisted into disk space ask well to support case where kvs client is terminated.

[2020-04-27 02:10] chehefen commented on #368
please refer to this pr: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/390

[2020-04-27 02:13] chehefen commented on #363
@staowyze multi turn server support is added in this PR: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/365. Can you close this issue? Thanks.

[2020-04-27 03:14] enobufs commented on #368
@chehefen did you get a correct SDP with the PR?

[2020-04-27 03:40] suggestedfixes commented on #387
Disconnects and went back online might have occurred when Gstreamer sends a spurious eos and ending a video thread, and we have decided to reboot the app or the video thread. Another case might have been a segmentation fault and the supervisor process has detected master might need a reboot.
Our use case is to maintain master alive as long as possible and viewer alive as long as possible. If it me

[2020-04-27 04:10] suggestedfixes commented on #387
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/c2bff6ea67c01771ba0c357a6ba78fde7b849871/src/source/Ice/IceAgent.h#L30

Isn't the KVS_ICE_ENTER_STATE_DISCONNECTION_GRACE_PERIOD too little. Relating to Nyquist Sampling Theorem, shouldn't this be double the KEEP_ALIVE_INTERVAL?

Also if the network has a lot of jitter, wouldn't this probabilistically fail a lot over time?

[2020-04-27 04:37] MushMal commented on #376
Client application will still need to connect which can benefit from async ice config retrieval.

[2020-04-27 20:05] lherman-cs commented on #383
I've run Valgrind a couple of times, and I couldn't find possible memory leaks.

![Screenshot from 2020-04-27 15-57-18](https://user-images.githubusercontent.com/15654932/80415087-04821400-88a0-11ea-9a6d-e207e0b3235a.png).

So, as @MushMal has suggested, I think updating the version to the latest commit will fix the problem.

To add more context about the jitter buffer fix, following are the origi

[2020-04-27 23:18] chehefen commented on #368
yes

[2020-04-28 01:10] lherman-cs opened #394 "Verify the XOR mapped address for IPv6 implementation follows STUN RFC"
* https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/a33d542fbd819ca42e4e8d49ed108b179e238276/src/source/Stun/Stun.c#L1237-L1245
* https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/a33d542fbd819ca42e4e8d49ed108b179e238276/src/source/Stun/Stun.c#L809-L820

[2020-04-28 01:18] lherman-cs opened #395 "Update getIpWithHostName to use getaddrinfo instead of gethostbyname"
`gethostbyname` is only able to return IPv4 addresses. To fully support IPv6, we need to switch to `getaddrinfo` API instead since it supports bot IPv4 and IPv6.

`getaddrinfo` support in multiple platforms:
* Windows: https://docs.microsoft.com/en-us/windows/win32/api/ws2tcpip/nf-ws2tcpip-getaddrinfo
* Linux: http://man7.org/linux/man-pages/man3/getaddrinfo.3.html
* Mac: https://developer.apple.c

[2020-04-28 08:04] enobufs commented on #368
@chehefen I just ran the branch for PR #390.
The offer SDP is not completely empty, but it does not include candidates (`a=candidate` lines) at all.

Here's the offer SDP I just printed out:
[code]

[2020-04-28 09:07] enobufs commented on #368
Ok, with the branch #390, I got exact same empty SDP also.
[code]

offerSessionDescriptionInit wasn't totally empty because it contained the data generated by createOffer() method earlier.  If you initialize offerSessionDescriptionInit with memset like this, then you will get the empty SDP.

[code]

[2020-04-28 17:25] #389 closed

[2020-04-28 20:43] suggestedfixes opened #399 "Error: STUN Server Address is Incompatible"
Version: v1.0.0
System: Ubuntu 18.04 LTS
Build Command: cmake ..
Sample: kvsWebrtcClientMaster

After running the master sample for 12 hours (can be replicated within a few hours). Subsequent candicate gathering stage kept getting the following error:
[code]
Once I restart the device app, the issue goes away.
Is this front end related or device related?

[2020-04-28 20:48] suggestedfixes commented on #399
Full chrome://webrtc-internals report
[code]

[2020-04-28 20:51] #395 closed

[2020-04-28 21:44] evorw opened #401 "kvsWebrtcClientMaster sample fails when not sending video"
I'm running `kvsWebrtcClientMaster`. If I uncheck `Send Video` in the Tracks section of the KVS WebRTC Test Page, I see the following errors in the logs:
`[2020-04-28T21:38:04.400Z] [INFO] [VIEWER] Starting viewer connection`
`[2020-04-28T21:38:05.270Z] [INFO] [VIEWER] Connected to signaling service`
`[2020-04-28T21:38:08.876Z] [INFO] [VIEWER] Creating SDP offer`
`[2020-04-28T21:38:08.897Z] [INFO]

[2020-04-28 22:30] suggestedfixes commented on #399
Actually can be replicated in half an hour.

[2020-04-29 08:57] enobufs commented on #389
@chehefen There was one more location using CMAKE_SOURCE_DIR which prevents us including this SDK from a parent CMake project.  PR is incoming. (are you able to reopen this?)

[2020-04-29 10:47] ajjiang48 opened #403 "WebRTC test page as master on new Chrome browser issue: InvalidAccessError: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection'"
I recently get Chrome browser upgraded to version 81.0.4044.129, and run WebRTC test page as master and our device running WebRTC C SDK codes as viewer (tested OK many times with older chrome with the same test), and get the below message on the WebRTC test page log:
+++++++++++++++++
[2020-04-27T08:47:58.294Z] [INFO] [MASTER] Starting master connection
[2020-04-27T08:47:58.677Z] [INFO] [MASTER] C

[2020-04-29 16:12] Sean-Der commented on #403
Hey

Can you update to [1.0.0](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/releases/tag/v1.0.0)

The exact fix you need is 389703f1f46ce71ab0a77bf9a061feb4a44e9636

thanks!

[2020-04-29 16:56] suggestedfixes commented on #399
Background log is showing signaling client is performing ping-pong messages, but no offer/answer activity.

[2020-04-29 19:09] disa6302 commented on #401
@evorw ,

1. What browser are you using?
2. Where are you running the master?
3. According to the logs, it seems to be a viewer side issue because the answer is not being received by the viewer.
4. Can you paste the SDP here? Add these 2 lines in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/b13d84c3f8e3ae29388c6df78aaa2fb9c8379910/samples/Common.c#L221
`printf("Remote

[2020-04-29 19:14] CatsNipYummy opened #404 "Using my own byte buffer (uint8_t*) instead of local files"
I am using the Kinesis WebRTC to stream my own byte buffer video frames instead of local files. I have an h264 encoded byte buffer. As a note, the encoding works fine, cause I was able to save this byte buffer to a local file and could stream that file out using the default example shown here https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMa

[2020-04-29 19:33] MushMal commented on #404
The cast should work OK. Who owns the frame buffer itself? Is this collected/ovwerwrittent before you get a chance to push this into the transeiver?

There is no enough information to go with. I would recommend you to dump out the values - you can print the values as they are popped. Run it under the debugger to ensure the size and the frame buffer point to the correct entities.

[2020-04-29 21:09] evorw commented on #401
On Wed, Apr 29, 2020 at 8:09 PM Divya Sampath Kumar <
notifications@github.com> wrote:

unchecked, works if "Send Video" is checked.

desktop). The RPi  is in the same LAN as the Mac.

https://pastebin.com/7yqvsU9t
Using Safari viewer, with "Send Video" checked, which works:
https://pastebin.com/9VfMHVA9

[2020-04-29 21:16] disa6302 commented on #401
@evorw ,

WebRTC is supported on Chrome and Firefox only currently. The error you are indicates that the offerer is placing a restriction on the order of m attributes in the SDP. When you select audio and video, the order is maintained on both sides, but, when you send only audio, the order of the attributes do not match.

Please use the recommended browser as the viewer and try again.

Let us kno

[2020-04-29 22:01] evorw commented on #401
It seems awkward to tell our iOS users to install Chrome or Firefox. And
Janus, at least, seems to have no problem streaming to Safari on their
streaming demo (https://janus.conf.meetecho.com/streamingtest.html). Is
there a plan to support Safari in the future?

On Wed, Apr 29, 2020 at 10:16 PM Divya Sampath Kumar <
notifications@github.com> wrote:

--
Ruwan Welaratna || ruwan@evomonitors.com
*It'

[2020-04-29 22:34] chehefen commented on #387
15s is the time it will wait before raising the disconnection flag if nothing has been received. After that the flag has been raised, it will wait 30 more seconds for disconnect to recover. The 30s is defined in KVS_ICE_ENTER_STATE_FAILED_GRACE_PERIOD.

[2020-04-29 22:37] disa6302 commented on #401
@evorw ,

I misunderstood the issue you were facing. I think I understood what the issue is. And I think we can correct this in master. @Sean-Der can add more context.

This is what is happening: The viewer sends SDP with its `m- line` attributes. The master, however, sets the transceivers of audio/video without taking into account the incoming m-line. Chrome I think does not handle this mismatch

[2020-04-29 22:56] chehefen commented on #368
do you mind share your code with us?

[2020-04-29 22:56] evorw commented on #401
Thanks. Please let me know if I can provide any more logs or other
information.

On Wed, Apr 29, 2020 at 11:38 PM Divya Sampath Kumar <
notifications@github.com> wrote:

--
Ruwan Welaratna || ruwan@evomonitors.com
*It's Here! Order now: Evoz Smart Baby Monitor <http://amzn.to/2dklKFS>*

[2020-04-29 22:57] chehefen commented on #363
resolving the issue since it multi turn server supported has been added in #365

[2020-04-29 23:10] disa6302 commented on #401
Sure @evorw . Thanks for reporting it!

[2020-04-29 23:33] enobufs commented on #368
I erased them but I can make one again. I used kvsWebRTCClientViewer.c with following small changes:
* Disabled trickle ICE by setting 3rd arg of createSampleConfiguration()
* Inserted a line to initialize `offerSessionDescriptionInit` before calling peerConnectionGetCurrentLocalDescription(). (see my previous message)

[2020-04-30 00:29] suggestedfixes opened #406 "[Question] How long do selected candidate pairs persist throughout the session?"
When do candidates get recycled/reused? There might be a case some candidates suddenly got a new IP,  what do the standards specify?

[2020-04-30 01:03] chehefen commented on #387
but yh, you are right, I will change KVS_ICE_ENTER_STATE_DISCONNECTION_GRACE_PERIOD to 30s.

[2020-04-30 04:05] suggestedfixes commented on #387
Would it also be possible to recreate signaling client on ice disconnection? Or resend ice candidate pair or reboot ice agent somehow?

[2020-04-30 04:15] suggestedfixes commented on #387
Found this:
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/restartIce

[2020-04-30 05:55] ajjiang48 commented on #403
Thank you for the info; downloaded the 1.0.0 and do the cmake but I got the below error ! the configuration is incomplete. can you help check what's the problem?
ps: had exported CC and CXX before the following cmake command (I used arm-ca53-linux-gnueabihf-gcc and arm-ca53-linux-gnueabihf-g++)

++++++++++++++++++++++
ajjiang@via-embedded-swb:~$ cmake .. -DBUILD_OPENSSL=TRUE -DBUILD_OPENSSL_PLATFO

[2020-04-30 05:56] disa6302 commented on #403
Can you run git submodule update --init outside build directory and then run cmake again?

[2020-04-30 06:11] enobufs commented on #368
@chehefen The attached `code.zip` which contains two files from rev 124f1cbf (the current master HEAD) with changes I made as below:

[code]

On viewer side, I can see the logs:
[code]

[code.zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4556394/code.zip)

[2020-04-30 06:31] ajjiang48 commented on #403
@disa6302 I do run the command before cmake as below,
+++++++++++++++++++++
ajjiang@via-embedded-swb:~/WebRTC/amazon-kinesis-video-streams-webrtc-sdk-c-1.0.0$ git submodule update --init
ajjiang@via-embedded-swb:~/WebRTC/amazon-kinesis-video-streams-webrtc-sdk-c-1.0.0$
++++++++++++++++++++++
however, the same error above still happens after running cmake as below:

++++++++++++++++++++++
CMake Err

[2020-04-30 07:26] suggestedfixes commented on #387
Also, we might want to allow new offers coming in if ice is in one of the disconnected/fail/closed state. So the following commit is probably too strict?
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/0099c46bed8074129efc937c2d62226442549a0a

[2020-04-30 14:36] #313 closed

[2020-04-30 15:40] lherman-cs opened #408 "Add a FAQ section to provide a way to get a function that allocates memory the most"
I think we should add a FAQ section in our README to include a simple way to know what function that allocates memory the most. Adding this section can help some users to discover memory leaks or, at least, some pointers to memory leaks.

For example, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/383 issue can have much better context if we can get following informati

[2020-04-30 15:42] lherman-cs commented on #383
Following shows that `createRtpPacketFromBytes` called malloc the most:

<img width="691" alt="Screen Shot 2020-04-24 at 6 48 08 PM" src="https://user-images.githubusercontent.com/15654932/80730492-a6d80c80-8ad7-11ea-83a6-9fd553bc31ad.png">

[2020-04-30 17:22] lherman-cs opened #409 "Reduce memory allocations in sending media data"
As of now, we make a lot of allocations when we're sending either video or audio packets. I think we should try to preallocate some of the memory and reuse them.

Following is a statistic of how many times `defaultMemAlloc` got called in the master example.

Note: the statistic is taken using lldb with this helper script, https://github.com/lherman-cs/dev/blob/master/helpers/lldb_helper.py#L50-L12

[2020-04-30 17:41] disa6302 commented on #401
I am closing this issue since it is being tracked in #148 . Feel free to reach out with any other questions you might have in the future!

[2020-04-30 17:41] #401 closed

[2020-04-30 17:44] disa6302 commented on #403
Can you clean the build directory contents and try again? Sometimes, CMakeCache.txt overrides your variables.

Also, check if the directory `open-source/amazon-kinesis-video-streams-producer-c` has the CMakeLists.txt file.

[2020-04-30 17:46] disa6302 commented on #363
Closing this issue

[2020-04-30 18:42] disa6302 commented on #364
@enobufs ,

Can you explain what you mean by partial reliability? And what your use case is?

[2020-04-30 19:37] enobufs commented on #364
You can learn what WebRTC DataChannel offers re reliability options with these links:

* https://www.w3.org/TR/webrtc/#methods-11
* https://www.html5rocks.com/en/tutorials/webrtc/datachannels/
* https://tools.ietf.org/html/rfc3758

Over a lossy connection, WebRTC data channel may keep retransmitting lost packets, which would cause large latency with a head-of-line blocking.  Partial reliability op

[2020-04-30 20:18] Fak3Tales opened #410 "socketConnectionReadData(): SSL_read failed with error:00000006:lib(0)"
Using the most recent version of master and running `./kvsWebrtcClientMasterGstSample video-only testsrc`.

After around a minute this error is produced in the log then the session is free'd up and the stream ends

The full error for ref is `socketConnectionReadData(): SSL_read failed with error:00000006:lib(0):func(0):EVP lib. Length of data already written 0`

Going back through the commits this

[2020-04-30 21:01] disa6302 commented on #410
@Fak3Tales ,

1. Can you send all the logs?
2. What version of OpenSSL are you using?

[2020-04-30 21:20] Fak3Tales commented on #410
@disa6302

I am using OpenSSL 1.1.1g

Here is the log file:
[MacOS.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4561344/MacOS.txt)

If i checkout 8a5f22c everything seems to work a little better.

[2020-04-30 21:47] disa6302 commented on #364
@enobufs ,

Providing the partial reliability option was not in the plan, but I do not see why not! Adding it should not be difficult. I will keep this ticket open to track this feature request.

[2020-04-30 23:33] CatsNipYummy commented on #404
@MushMal I'm going to close this issue for now. I see some issues with my code.

[2020-04-30 23:33] #404 closed

[2020-05-01 01:05] chehefen commented on #387
Right now we dont have restartIce(). The work around is to free the PeerConnection once its state is changed to disconnected/fail/closed. In the sample, when we detect that peerConnection state has entered disconnected/fail/closed, we trigger the tear down pSampleStreamingSession which in turn tears down its PeerConnection. Once the teardown is completed, it's ready to receive offer again. But you

[2020-05-01 01:24] chehefen opened #414 "broken viewer since 9b7f53"
Viewer no longer work with master out of box after #385. Fail log:
[code]

[2020-05-01 04:22] MushMal commented on #414
Hmm, OK. Here is what's happening.. In the samples, I modified the code to use the async ICE config feature together with caching. The Viewer sample creates the signaling client and immediately proceeds to initialize the peer connection. However, by the time it makes the call to get ICE config count, it hasn't yet resolved:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob

[2020-05-01 17:44] #394 closed

[2020-05-01 17:46] lherman-cs commented on #115
Status:
* Added host candidates support: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/382
* Added reflexive candidates support: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/417

[2020-05-01 18:34] chehefen commented on #410
you can avoid this issue right now by pulling in this commit https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/b826a9b2d84062bc3ce273dd9f8fddfbfc9b84af. It configures TURN to use udp by default.

[2020-05-01 18:38] #414 closed

[2020-05-01 18:42] lherman-cs commented on #115
I'm closing this issue we have added essential IPv6 support.

[2020-05-01 18:42] #115 closed

[2020-05-01 18:57] chehefen commented on #399
is the error reported by the browser or by kvsWebrtcClientMaster?

[2020-05-01 20:55] chehefen commented on #330
Hi @377517827, your issue should be fixed as of https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/d273359227978790715eefe3770d9049d789a167. Can you try it out? Thanks.

[2020-05-01 20:59] chehefen commented on #320
Hi @suggestedfixes, can you try out the latest commit https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/d273359227978790715eefe3770d9049d789a167 and see if the issue still happens? Thanks

[2020-05-01 22:56] chehefen commented on #387
you dont need to kill the webrtc app when gstreamer send an eos right? You can just recreate the gstreamer pipeline and start sending again. If you are rebooting the app I dont think iceRestart() will help much because it just reestablish the ice connection and the new process wont have the dtls and srtp session that already negotiated.

[2020-05-03 23:04] disa6302 commented on #410
@Fak3Tales ,

Did the commit resolve your issue?

[2020-05-03 23:58] disa6302 commented on #403
@ajjiang48 ,

Any updates?

[2020-05-04 07:16] ajjiang48 commented on #403
@disa6302 I do clean the build directory and do cmake again, the same error still occurred, and the open-source/amazon-kinesis-video-streams-producer-c/ directory is empty (no CMakeLists.txt file there).
btw, I do "git clone --recursive https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c.git" and do the cmake and make; the problem disappeared and all the libraries are built but th

[2020-05-04 07:23] disa6302 commented on #403
@ajjiang48 ,

Considering you are running it on ARM platform (assumption made based on your logs, correct me if I am wrong), you will have to cross compile to use ARM specific library versions. There is an example to cross compile for ARM platform in .travis.yml file that you can follow.

[2020-05-04 08:05] ajjiang48 commented on #403
@disa6302 yes, I've read travis.yml before and exported CC and CXX before doing cmake and make (actually, I've ARM cross compile successful build in the old C SDK version); don't know why those issues happen building the newer version C SDK.

[2020-05-04 10:07] Fak3Tales commented on #410
@disa6302

Yup that commit seems to have resolved the issue.

Cheers

[2020-05-04 11:43] huyhoangk50 opened #423 "Send kinesis_video_msgs::KinesisVideoFrame message through webtrc"
I want to write an example that subscribes in ROS that subscribe a sensor_msgs/Image topic then sending it through webrtc instead of reading from local files like the example in kvsWebRTCClientMaster.c. How can I do that? I tried to encode the topic to  a kinesis_video_msgs::KinesisVideoFrame topic, using https://github.com/aws-robotics/kinesisvideo-encoder-ros1 repo, then sending the encoded fram

[2020-05-04 15:16] #410 closed

[2020-05-04 15:24] staowyze commented on #363
Sorry, was offline in the past a couple of weeks. I don't find any APIs that can add turn servers after creating the peerConnection, in my case, I don't have available turn servers while creating peerConnection, so I would like to have an API e.g. addTurnServers(peerConnection, turnServers).

[2020-05-04 15:57] disa6302 commented on #423
@huyhoangk50 ,

It is not clear what does not work. Can you be more specific as to what part is not working? Can you also send some logs? Thanks!

[2020-05-04 16:19] #330 closed

[2020-05-04 16:21] disa6302 commented on #320
Closing this issue based on the 'Fixed' label. Feel free to reopen.

[2020-05-04 16:21] #320 closed

[2020-05-04 18:25] MushMal commented on #423
@huyhoangk50 to add to @disa6302 response.

At the low-level WebRTC has an intrinsic knowledge of the underlying stream format. It will be a lot of tinkering to get this working with your own frame format.

In the meanwhile, perhaps you could describe your end-to-end scenario better? Perhaps KVS Producer SDK with KVS Streams might be a better fit for a custom frame format.

[2020-05-05 00:13] zhiyua-git commented on #403
Hi @ajjiang48 ,

CMake would not clean up the dependency builds, can you remove the directories except "amazon-kinesis-video-streams-pic" and "amazon-kinesis-video-streams-producer-c" under "open-source" directory and call cmake and make again? Thanks.

[2020-05-05 02:05] ajjiang48 commented on #403
HI, @zhiyua-git,
I removed the "local" under the "open-source" directory and do the cmake (cmake .. -DBUILD_OPENSSL=TRUE -DBUILD_OPENSSL_PLATFORM=linux-generic32 -DBUILD_LIBSRTP_HOST_PLATFORM=x86_64-unknown-linux-gnu -DBUILD_LIBSRTP_DESTINATION_PLATFORM=arm-unknown-linux-uclibcgnueabi), it re-builds those open-source libraries but stops with the same issue; I attached the CMakeError.og and CMakeOu

[2020-05-05 03:55] suggestedfixes commented on #387
I had attempted to recreate the pipeline, the issue was that the recreated pipeline had failed to find plugins somehow. Let me redo this experiment.

[2020-05-05 05:13] zwei333 opened #424 ""signaling reconnection failed" error causes webrtc not functioning until restarted"
We have seen that Webrtc has to be restarted to accept signaling channel messages, after webrtc has been running for dozens of minute.

I have seen one instance that webrtc reported STATUS_SIGNALING_RECONNECT_FAILED.
While signaling channel was in idle mode, suddenly, libwebsocket sent this event
2020-05-04 14:48:55 DEBUG   lwsWssCallbackRoutine(): Client WSS closed

Then webrtc started to re-conn

[2020-05-05 05:24] zwei333 opened #425 "Our mobile app has trouble streaming in the first attempt. They usually don't get ice candidates the first time but retry works well"
We have seen that “Both Android and web applications have trouble streaming in the first attempt. They usually don't get ice candidates the first time but if they retry connecting again then things seem to work. “

I found out when mobile app has ice candidate issue, after this turn state change,
2020-05-04 15:16:02 DEBUG   turnConnectionStepState(): TurnConnection state changed from TURN_STATE_GE

[2020-05-05 05:34] zwei333 opened #426 "When createLwsIotCredentialProvider is called, libwebsocket is configured to print a lot of details. They should be hidden."
When createLwsIotCredentialProvider is called, libwebsocket is configured to print a lot of details, including credentials.  Please set the debug level early enough to hide these prints
The followings are current print

[2020/05/04 22:59:04:5488] N: lws_tls_client_create_vhost_context: doing cert filepath /mnt/adc/simplisafe/aws/iot.pem
[2020/05/04 22:59:04:5602] N: Loaded client cert /mnt/adc/sim

[2020-05-05 14:57] zwei333 opened #427 "refreshIceConfiguration too frequent, every a couple seconds"
Have been running webrtc for about 20 hours.  For most time, the signaling channel is idle, waiting for messages.
Normally the signaling channel reconnects about every 4.5 mins.  But sometime the reconnection is too frequent, every 2 to 5 seconds.
Log attached.
[frequent-reconnection.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4581509/frequent-reconnection.txt)

[2020-05-05 17:09] chehefen commented on #406
Right now when a candidate pair is selected, it will remain selected throughout the lifetime of current ice session. We havent yet implemented ice renegotiation but we are working on it.

[2020-05-05 17:54] MushMal commented on #426
Hmm, thanks for the raised issue. We will address this ASAP. The LWS hex dumping the response was designed to debug during the bringup.

[2020-05-05 18:09] zwei333 commented on #426
I remember the dumping was disabled for credentialing with key/secret.  Calling createLwsIotCredentialProvider is the code path not used a lot before, so I am not surprised that it is not as mature as the other code path.

[2020-05-05 20:18] MushMal commented on #427
@zwei333 the log you've attached indicates that the connection gets dropped frequently and the state machinery re-tries constantly. It's not possible to tell why the connection gets dropped.

Could you try to run the debug LWS by uncommenting this line: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/CMake/Dependencies/libwebsockets-CMakeLists.txt#L37

and set debu

[2020-05-05 20:24] MushMal commented on #424
@zwei333 just to give some background... The signaling client has a public API to connect (and disconnect). This will try to connect and re-try within the allotted time or fail with a timeout as this is a synchronous API. However, once the client is in a "connected" state, it has a monitor that will attempt to re-connect in case of a failure. In this case, it happens in the background and when it

[2020-05-05 20:26] MushMal commented on #424
Please resolve this issue if you don't have re-connect or error specific questions. Please open a separate issue tracking the networking/re-connect failure - I believe you already opened a separate one here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/427

[2020-05-05 20:50] MushMal commented on #403
Sorry for the troubles. Seems that the reported problem is not the same as the original issue. I recommend closing this one and opening a new one to track the build issues.

Looking at the CMake output it seems that your toolchain has an issue compiling:

CheckSymbolExists.c:(.text+0x1c): undefined reference to `pthread_create'

There could be a number of problems causing this.

* remove build and

[2020-05-05 21:27] MushMal opened #428 "CI test stability issues"
Currently, we have some stability issues with peer connection functionality tests and the signaling client functionality tests. These are complex integration tests with fault injection and timeouts. The timing, however loose, still becomes an issue when running in Travis CI. These tests pass in clean on local machines.

All of the PRs are going through clean runs before they can be merged to maste

[2020-05-05 22:36] zwei333 commented on #424
This issue is quite different from #427.
First, when it happens, kvs prints
2020-05-04 14:48:55 DEBUG   lwsWssCallbackRoutine(): Client WSS closed
That is not seen in #427
Second, #427 can easily reconnect, but in this issue reconnection fails
Third, when trying reconnect, #427 goes to state
0x0000000000000100, Next state: 0x0000000000000020
@@@@@ Signaling Client State changed to 6 - Get ICE Serv

[2020-05-05 22:45] dannymarosi opened #429 "pipeline EOS for closing mp4 file properly"
Hi,

I am using the following pipeline to save the stream into mp4 file:

[code]

I need help figuring out how to send EOS to the pipeline in kvsWebRTCClientMasterGstreamerSample.c

Thanks,
Danny Marosi

[2020-05-06 01:04] huyhoangk50 commented on #423
I have solved the problem. the code is
[code]

[2020-05-06 01:04] #423 closed

[2020-05-06 01:09] #387 closed

[2020-05-06 03:09] MushMal commented on #429
Not sure I understand the question. Is this a question about how to use GStreamer?

We have some example on issuing a GStreamer EOS event here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/src/gstreamer/gstkvssink.cpp#L1035

[2020-05-06 03:14] MushMal commented on #424
@zwei333 the state machinery deduces which state to move to based on the error received and some other input. Perhaps you are correct that this is slightly different but looking at your cases those point to bad networking as a root cause which manifest in different ways.

We won't be able to debug your networking so as I suggested, try to run the debug logs with debug libWebSockets to get more ins

[2020-05-06 18:59] sharadrj commented on #424
@zwei333,

As @MushMal said, SDK tries several times to reconnect and if it fails it throws the error. Please get more debug logs in LWS. Instructions for that are here:  https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/427#issuecomment-624283824

Also, code for recreating the signaling client is here:
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/

[2020-05-06 23:56] dannymarosi commented on #429
@MushMal

Thanks for the link. It was very helpful.

I created send_eos() in kvsWebRTCClientMasterGstreamerSample.c
Add reference to send_eos() in Samples.h
Call send_eos() in Common.c

Got linker error: Common.c:(.text+0x18): undefined reference to `send_eos'

I am puzzled.
A function defined in Common.c links properly when called in kvsWebRTCClientMasterGstreamerSample.c.
Why does a function def

[2020-05-07 00:13] MushMal commented on #429
@dannymarosi this shouldn't make a difference. Please verify the following

* You declare send_eos() function in the Samples.h
* You define send_eos() function in kvsWebRTCClientMasterGstreamerSample.c
* You invoke the send_eos() in the Common.c
* Ensure that the signature of the send_eos() matches in the declaration/definition/call site

This will link just fine.

NOTE: I would not recommend decl

[2020-05-07 00:42] CatsNipYummy opened #433 "BAD_ACCESS while running createSignalingClientSync()"
I'm on the master, commit f98abc11c6141bcc33c9d33539bb904ce1371687 from 6 days ago and I am using the static version of the library in my project. While running

    createSignalingClientSync(&_sampleConfiguration->clientInfo, &_sampleConfiguration->channelInfo,
                                          &_sampleConfiguration->signalingClientCallbacks, _sampleConfiguration->pCredentialProvider,

[2020-05-07 01:01] dannymarosi commented on #429
Thanks for quick response.
I need to send EOS to the pipeline while the pipeline is active.
Therefore call to send_eos() must be before app is terminated. [Call in sigintHandler() Common.c]

Following your advice I moved send_eos() definition from kvsWebRTCClientMasterGstreamerSample.c to Common.c

[code]

Add the following header and *pipeline global pointer to get support from the GST library.
[

[2020-05-07 01:54] MushMal commented on #433
@CatsNipYummy can you provide a little more information..

* Are you able to build and run the sample master application?
* Can you provide the sample of the code that sets the channel info, callbacks, credential provider and client info structures that are being passed into the create function?
* Are you observing the crash with a dynamic linkage?

The crash stack points to an invalid string acce

[2020-05-07 01:58] MushMal commented on #429
@dannymarosi you are now bringing the GStreamer symbols into other projects like the master or the viewer applications that are not being linked against those.

The samples are just those - just samples. In this case, to get a quick proof of concept, you could simply remove the lines in CMakeList.txt that build other projects. Just comment lines 257 - 268 in CMakeList.txt in the root of the projec

[2020-05-07 03:46] wolfviking0 opened #434 "Windows link error"
Hi, I was able to build a version for kinesis for windows including all dependencies, ssl, web socket, ...

All my build are static libraries, but when I try to create my sample I have two undefined symbol :

[code]

I have a feeling I am close to have everything but this two last symbol block me, any idea how I can fix that ?
I know inside web socket there is some implementation of both function

[2020-05-07 03:56] MushMal commented on #434
Niiiice!!! While the Windows platform is not officially supported in the KVS Embedded WebRTC SDK yet, most of the code is platform agnostic so you should be able to get it working with some elbow grease.

The first function does not exist for Windows platforms so you might consider using the equivalent https://docs.microsoft.com/en-us/windows/win32/api/iphlpapi/nf-iphlpapi-getadaptersaddresses?red

[2020-05-07 04:05] MushMal commented on #383
I am going to resolve this for now, we don't really have a memory leak but might benefit from a less frequent allocation/free which is tracked by a separate issue

[2020-05-07 04:05] #383 closed

[2020-05-07 04:06] MushMal commented on #372
This is in. Part of this (file persistence caching) is in flight. Resolving

[2020-05-07 04:06] #372 closed

[2020-05-07 04:28] CatsNipYummy commented on #433
@MushMal

- I am able to run the sample master application without an issue. The issue is coming when I built a static version of the library inside my codebase.

- As far as the sample code goes, this is what it looks like:

[code]

Here's the channel name I'm using
#define KINESIS_CHANNEL_NAME                                                     (PCHAR) "TSKinesisSignaling"

Similar to the sample

[2020-05-07 04:53] MushMal commented on #433
Looks correct to me.

I would recommend running this under a debugger and get a debug version of the crash stack with local variables so we can analyze.

ARN can be NULL. It is passed in the scenarios where you have a pre-created channel and would need to skip describe state. In this case, the describe channel call will fill the internal copy of the structure.

Access Key/Secret Key as well as oth

[2020-05-07 04:53] wolfviking0 commented on #434
@MushMal I cannot make any promise, I am not a window guy, but definitively I keep you posted as soon I have it running.

[2020-05-07 04:57] MushMal commented on #434
@wolfviking0 we are here to cooperate :) Might take a few iterations. Likely, we will need to massage the entire thing well before pushing into the master branch but it makes sense to preserve your work so after all we can incorporate the bits of it if needed

[2020-05-07 04:59] CatsNipYummy commented on #433
Here's my entire call stack at this point:

[code]

[2020-05-07 05:07] CatsNipYummy commented on #433
I dont know if this line is causing the issue:
    strcpy(_pOstreamerConfiguration->clientInfo.clientId, KINESIS_MASTER_CLIENT_ID);
The output doesn't look right to me:

`Printing description of this->_pOstreamerConfiguration->clientInfo:
(SignalingClientInfo) clientInfo  {
  version  0
  clientId  {'P''r''o''d''u''c''e''r''M''a' 's' 't' 'e' 'r' '\0' '\0' '\0' '\0' '\0' '\0' '\0' '\0' '\0' '\0' '\

[2020-05-07 05:14] MushMal commented on #433
So far, all looks good to me. The last piece you've indeed looks corrupted to me. These should all be zeroed out by the calloc so you should have seen 256 bytes of 0 as the field size is 256. And, the logging level is weird. The crash is a NULL deref but I can't tell from the stack what it is. Could you run the same with a debug build or with the symbols to pinpoint the line that's crashing or mes

[2020-05-07 05:30] CatsNipYummy commented on #433
I'll have to make some changes to get a debug build. But pretty sure that's the issue. Each run gives me a lot of scrambled values after 'ProducerMaster'. A simple printf() looks okay. But there's more stuff after the \0. I'll get a debug build up and post more findings.

[2020-05-07 06:47] CatsNipYummy commented on #433
@MushMal
Debug build errors:

`CHK((arnLen = (UINT32) STRNLEN(pOrigChannelInfo->pChannelArn, MAX_ARN_LEN + 1)) <= MAX_ARN_LEN,
            STATUS_SIGNALING_INVALID_CHANNEL_ARN_LENGTH);`

Error:

Printing description of pOrigChannelInfo->pChannelArn:
(PCHAR) pChannelArn = 0x0000000000000031 ""
Printing description of *(pOrigChannelInfo->pChannelArn):
(CHAR) *pChannelArn = <read memory from 0x31 fai

[2020-05-07 17:39] MushMal commented on #433
OK, seems that your channel info is not being properly zeroed or the public header file is different.

In the samples, pChannelArn should be NULL. If it's random pointer then random memory address will be dereferenced which will cause a access violation.

Please make sure you compile with the same header files as the library is build.

Please zero the fields first before setting them. In the sampl

[2020-05-07 21:13] disa6302 commented on #364
@enobufs

The change is in :D
Let us know if you face any issues with it.

[2020-05-07 21:50] chehefen commented on #429
this post should help you: http://gstreamer-devel.966125.n4.nabble.com/How-can-I-tell-if-all-elements-received-the-EOS-td4668055.html

[2020-05-07 22:15] dannymarosi commented on #429
Functions defined in kvsWebRTCClientMasterGstreamerSample.c fail to link when called from Common.c.

**The solution:**
Set function pointer in kvsWebRTCClientMasterGstreamerSample.c and call it in Common.c.

**Define function in in kvsWebRTCClientMasterGstreamerSample.c.**
[code]
**Add function pointer reference in Samples.h**
[code]

**Store function pointer for send_eos() in kvsWebRTCClientMaste

[2020-05-07 23:44] dannymarosi commented on #429
![ESO_solution](https://user-images.githubusercontent.com/62627034/81355022-fee7b380-9081-11ea-8e36-1f62b72fba21.jpg)

[2020-05-07 23:44] #429 closed

[2020-05-08 03:45] CatsNipYummy commented on #433
I had a bug in malloc code that was causing weird behavior. Closing issue.

[2020-05-08 03:45] #433 closed

[2020-05-08 06:12] ajjiang48 commented on #403
@MushMal hi, I git clone the up-to-date amazon-kinesis-video-streams-webrtc-sdk-c.git (the tag is 1.0.0) and do the CMake with the same parameters, there's no error; however, when I make the sample viewer executables; it pops the function reference problem, but I fixed it my own; and I've tested the viewer sample works with the new chrome browser. this issue could be closed; thanks.

[2020-05-08 06:13] Sean-Der commented on #403
@ajjiang48 fantastic! Thanks for using KVS :)

[2020-05-08 06:13] #403 closed

[2020-05-08 06:15] Sean-Der commented on #434
@wolfviking0 Please feel free to open a broken/WIP PR! I have been working on getting our other repositories working on Windows, so this would be a huge help for me :)

[2020-05-08 10:55] ishagill opened #439 "Stuck in lwsWssCallbackRoutine"
On running the master code, it gets stuck in lwsWssCallbackRoutine()
The logs are as follows:
[KVS GStreamer Master] Using trickleICE by default
[KVS GStreamer Master] Created signaling channel thrsl1_event
[KVS Gstreamer Master] Finished initializing GStreamer
[KVS Gstreamer Master] Streaming video only
[KVS GStreamer Master] streaming type video-only[KVS GStreamer Master] KVS WebRTC initializati

[2020-05-08 13:44] suggestedfixes opened #440 "Travis Rules for ARMv7"
I wrote some CI rules for fun, I wonder if it's possible to include it. Travis rules:
[code]

[2020-05-08 16:43] MushMal commented on #439
From the logs it seems that it successfully connected and is running periodic pong. What is your expectation should it do vs the observed behavior?

[2020-05-09 03:14] wolfviking0 commented on #434
I found some windows implementation of getifaddrs and freeifaddrs here :
https://github.com/steve-o/openpgm/blob/master/openpgm/pgm/getifaddrs.c

[2020-05-09 06:18] ishagill commented on #439
It should have started streaming the sample h264 frames but it doesn't. It just keeps calling lwsWssCallbackRoutine()  again and again though its connected.

[2020-05-09 06:27] MushMal commented on #439
@ishagill do you have a viewer connected? I don’t see any offer coming from a viewer

[2020-05-09 06:27] disa6302 commented on #439
@ishagill ,

Streaming will start only after the SDPs are exchanged and ICE negotiations are succesful. Atleast from the logs you sent, it does not look like those things happened.

Did you start a viewer to initiate the other peer? You can run the https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html to get started.

[2020-05-09 06:53] ishagill commented on #439
I had the viewer running on the AWS console. Do I need to start any other viewer too?

[2020-05-09 14:03] MushMal commented on #439
@ishagill there is no offer being received by the master. Could you start the master, next, once it’s connected the start the viewer app. Try to include both logs. Ensure you have a network connection

[2020-05-09 22:04] Sean-Der commented on #440
Oh this is awesome! Please open a PR @suggestedfixes we would love to have this!

[2020-05-10 05:23] zhiyua-git commented on #364
Partial-reliability option for data channel is provided in latest master branch. Closing the issue and feel free to open new issue when you try out the function.

[2020-05-10 05:32] zhiyua-git commented on #426
The fix is merged in master, closing the issue for now. The fix will also go into next release.

[2020-05-10 05:32] #426 closed

[2020-05-10 21:05] suggestedfixes opened #442 "Observation: Samples do not cleanup stale sessions correctly"
From reading sample source, we understand that sessions are intended to be cleaned up within 5 seconds after termination. However, we did an experiment printing number of sessions count in the cleanup loop, here are the log entries. So it ended up not cleaning up the number of sessions after multiples of 5 seconds. To replicate, open a session with aws console, then close after connection.

[code]

[2020-05-11 05:56] suggestedfixes commented on #442
Here is where is LOGD is added
[code]

[2020-05-11 05:58] suggestedfixes commented on #442
Should have added to 786, but still we should expect it to cleanup under 2 cycles ~10 seconds. Also the broadcast signal after freeing the session didn't seem to do anything.

[2020-05-11 08:21] enobufs opened #443 "Insufficient arguments for callbacks from data channel"
## onOpen
[code]

## onMessage
[code]

## Issue
Both RtcOnOpen and RtcOnMessage have only one argument for a custom data. We could pass a pointer to a context of the peer connection, but the callee won't be able to tell which data channel it was called on.

If you pass PRtcDataChannel to the custom data of type UINT64, then the callee wouldn't know which peer connection the data channel belongs to

[2020-05-11 08:51] enobufs commented on #364
@disa6302 @zhiyua-git The changes you made passes the settings to the remote using DCEP, but it does not seem to write up the settings to usrsctp at all.

What are your criteria for concluding that the new feature was provided? May I expect the feature was tested?

Also, there are couple of questions:

## Enable unreliable transfer with maxRetransmits set to 0.
In WebRTC API (JavaScript), if dc.ma

[2020-05-11 17:45] chehefen commented on #363
Hi @staowyze, can you clarify why you cant start allocating turn after your app has received the sdp message (offer/answer) like we did in the sample? Thanks

[2020-05-11 17:50] lherman-cs commented on #434
[GetAdaptersAddresses](https://docs.microsoft.com/en-us/windows/win32/api/iphlpapi/nf-iphlpapi-getadaptersaddresses?redirectedfrom=MSDN) seems to be the closest Windows API that's similar to `getifaddrs`.

Then, maybe we can create a new macro to standardize the API in PIC common def, https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/common/include/com/amazonaws/kinesis/v

[2020-05-11 18:10] wolfviking0 commented on #434
Macro seems to be an interesting approach,

Another small patch required is inside PeerConnection.c :  https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/bbe061a2ce6f63a82b4cc8b02e524859d73ce9f0/src/source/PeerConnection/PeerConnection.c#L317

Windows is not happy : functions call is not allowed in a constant expression

[2020-05-11 18:42] wolfviking0 commented on #434
So here my first test currently I implement directly inside the Network.c,
The two missing part are :

- isPointToPoint
- IN6_IS_ADDR_LINKLOCAL

[code]

[2020-05-11 19:07] staowyze commented on #363
allocating turn is not after SDP arrives from my understanding
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L360

[2020-05-11 19:58] disa6302 commented on #364
@enobufs ,

1. I just spun a unit test locally to see if the parameters get set appropriately in the DCEP call. I am unsure on how to do an end to end test for this feature. I think I know what the issue is and the flag I missed setting. Let me push a change for that into a branch and it would be great if you try it out locally to see if it works as expected.
2. Enable unreliable transfer with max

[2020-05-11 20:07] MushMal commented on #434
Fantastic work! Have you gotten this to work on Windows platform yet? As @Sean-Der mentioned, you could just go ahead and push a WIP PR at any time.

In general, we try to avoid conditional compilation in the main logic files. What we do is define the common functionality in a set of functions which then get #ifdef-ed in a separate file. This also applies to making the structures and pointers comm

[2020-05-11 20:08] sharadrj opened #445 "Add support for trickle ICE attribute"
We should honour trickle ICE attribute in SDP offer (a=trickle-ice).

[2020-05-11 20:52] wolfviking0 commented on #434
@MushMal I did more fix in this code above, but currently I have some trouble to received my frame.

I am keep digging to find what is wrong, and then let try to have a clean code as you mention.

[2020-05-11 21:08] wolfviking0 commented on #434
Ok so it seems now the trouble is with the socket creation:
[code]

[2020-05-11 21:29] enobufs commented on #364
Re 1, Google's libwebrtc does it in this file: https://webrtc.googlesource.com/src/+/refs/heads/master/media/sctp/sctp_transport.cc#169
(find: CreateSctpSendParams() method that creates params to actually send data with the partial-reliability parameters)

Of course, I will do test on my end for my app, but you will need to test it at the library level somehow otherwise you wouldn't be able to det

[2020-05-11 21:33] disa6302 commented on #364
Ofcourse. We want to include some end to end tests for this at library level, but, just have not figured out a good way to do that.

[2020-05-11 21:33] chehefen commented on #363
that's just getting the turn server ips and credential from backend. The actual allocation happens here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L218

[2020-05-11 22:13] wolfviking0 commented on #434
@MushMal Good news so I am currently able to connect, now I am not receiving the texture but no more error, but I can see my viewer connecting and just render black images.
[code]

[2020-05-11 22:21] wolfviking0 commented on #434
Here the list of change so far I need to make inside the code (Its dirty apologize for that)
[code]

[2020-05-11 22:26] wolfviking0 commented on #434
So It seems android do not render but I am able to see the output on IOS, so windows webrtc to iOS is working for me

[2020-05-11 22:30] MushMal commented on #434
Niiiiiice! @wolfviking0 you could simply push a PR. All you need to do is to rebase your changes on top of the latest master and

`git commit -b <your_new_branch_name>`

then, push that branch to create the remote. Process of creating the remote will output the link to the PR request. Just add the necessary details and hit publish button.

We can comment, pull, add more changes, etc..

Again, grea

[2020-05-11 23:34] wolfviking0 commented on #434
@MushMal I try to test with the JS SDK to preview the stream, but its not working and I receive this kind of error, I tested from Mac and I have the same issue :
[code]

[2020-05-11 23:53] Sean-Der commented on #434
@wolfviking0 can you share the SDP that is exchanged? That error is `STATUS_SESSION_DESCRIPTION_MISSING_ICE_VALUES` so it sounds like iceUfrag/icePwd isn't in the SDP.

My guess is that the JS SDK isn't offering any media sections (if audio/video/datachannels) are all disabled.

[2020-05-12 00:36] wolfviking0 commented on #434
So there is maybe more issue also related to my windows version, I can see more error related to socket, I am surprise because I see it running on IOS but after a clean rebuild not anymore, I am trying to debug to see if I can catch something.
Here the full log I have on windows, I am starting my master from the native code, and the viewer from android. I can see Android detect something but no re

[2020-05-12 00:50] suggestedfixes opened #446 "[Enhancement] Make video thread more independent from peer connections"
We are dealing with extremely unreliable video libraries, so we are experimenting with restarting the video pipeline. One way to do emulate the death of a thread is to send a "killvideo" message to a data channel, and join the video thread. What is interesting is that, our frontend code was able to reconnect initially. But somehow, mysteriously, master is refusing to answer subsequent offers from

[2020-05-12 02:22] wolfviking0 commented on #434
Ok so here what I found so far :

- The first warning about socket its not critical its mainly you cannot call setsockopt with NO_SIGNAL on windows : https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/00403b080946dae15d62465952fdcd2b4b9e1845/src/source/Ice/Network.c#L108 Because its just a warning we can ignore this one

- The second one I am more worried, in fact the sendto

[2020-05-12 18:40] staowyze commented on #363
i see the gap, "allocation" I meant getting turn server ips, not the allocation in turn's RFC.
The problem is I don't want to get turn server ips in advance, as they may not be used unless SDP arrives, ideally, I would like to get turn server ips only when SDP arrives.

[2020-05-13 00:02] dannymarosi opened #447 "Master fail on viewer launch"
We get ERRORs on the master side when the viewer attempt to connect.
Note:
The master is raspberry pi zero connected through Verizon LTE cellular modem (Verified Upload: 6.68 Mbits/s).
No problem when the master is connected through WI-FI modem.
See log file
[2020_05_12 Master fail on viewer launch.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4619039/2020_05_12.M

[2020-05-13 01:52] MushMal commented on #434
@wolfviking0 hard to tell. Could you please go ahead and push everything into a PR which will create a branch that we can pull and work off of.

[2020-05-13 01:56] MushMal commented on #446
@suggestedfixes I believe this one was answered on a separate channel. You can change the offer handling code per your need.

Moreover, the master sample "emulates" a video pipeline by creating a separate thread. Most likely your actual video pipeline has a separate source of liveness (thread) that can "push" frames onto your callback? If not, then you will need the thread like in the master.

Als

[2020-05-13 05:31] wolfviking0 commented on #434
@MushMal I will try to do the pull request over the week end.

[2020-05-13 05:45] ssalexa opened #449 "AWS KVS webrtc could not find webcam issue"
Hi,

I want to run a KVS client sample. I followed README file: https://github.com/ssalexa/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/README.md

But I have two questions here:

1. I met this issue when I opened WebRTC SDK Test Page : It shows [2020-05-13T04:46:08.186Z] [ERROR] [MASTER] Could not find webcam

2. I have a Ring camera (Ring stick up cam), but I don't see how to setup camer

[2020-05-13 16:51] suggestedfixes opened #450 "[Enhancement] Use a Hashtable to Store Sessions"
The current sample code works well for PC for iterating through sessions, but in devices, every bit of tiny optimization helps. Usually, C does not include a standard library for hash tables and it's usually time-consuming to build it from scratch. We found that PIC had a HashTable data structure. This improvement could allow more efficient lookups/insertions/deletions to sessions.

[2020-05-13 17:15] MushMal commented on #450
@suggestedfixes it is true that PIC has an optimized hash table implementation that we use throughout the derived codebases. However, I am not sure whether you will see any improvements with a hash table vs list iteration on a dozen or so elements representing sessions. Worse, if you use generic hash table (not the tight-packed optimized version in PIC) you will actually decrease the performance d

[2020-05-13 17:16] suggestedfixes commented on #446
@MushMal This is a different issue. I think killing the video thread somehow broke IceAgent. So the absence of video frames is coupled to some mechanism I don't understand. And connecting with any other peer id would not work anymore. There are messages being exchanged, but no answer.

[2020-05-13 17:26] chehefen commented on #446
Ice isnt coupled to video thread. As shown in this unit test: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/tst/PeerConnectionFunctionalityTest.cpp#L9. There is no video thread and ice connects just fine.

[2020-05-13 17:34] suggestedfixes commented on #450
You are right. Theoretical complexity is better than iteration. I agree that there could some overheads for multiple levels of indirection or client ids map to the same bucket.

[2020-05-13 17:35] suggestedfixes commented on #450
Use case would be faster lookups joining and deleting sessions.

[2020-05-13 17:51] MushMal commented on #450
Are you referring to sessionCleanupWait function in Samples/Common.c? This function has a loop where it iterates through the sessions and cleans up the ones that have expired: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L769

The issue is that replacing this loop with hash table recursion will be at most as performant as linear lookup that's th

[2020-05-13 18:07] MushMal commented on #363
@staowyze, the getIceServerConfig is executed when the signaling client is being created and after that refreshed prior its expiration. This is optimized so we can have fast connection when the offer arrives - i.e. the signaling client always has the "fresh" ICE config when being requested.

Is your main concern the bandwidth utilization during the refresh? Is it the initial signaling client creat

[2020-05-13 18:08] MushMal commented on #363
Also, as this is a separate topic, do you mind furnishing this question in a separate issue so we can track it better?

[2020-05-13 18:17] suggestedfixes commented on #446
[log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4623810/log.txt)
This is running the master sample with the mentioned change in Common.c. Then send killvideo to the data channel. I understand by killing the thread, I might have broken something.

[2020-05-13 18:39] suggestedfixes commented on #450
I think what we are solving right now is to cleanup stale sessions greedily. One way to do that is do a quick lookup by ClientId and evict the Session. But one thing I failed to consider is that we have to wait for locks to unlock anyways.

[2020-05-13 18:40] suggestedfixes commented on #450
But like you mentioned, it might not worth the effort and the performance could be worse.

[2020-05-13 19:12] suggestedfixes commented on #446
I think sessionCleanup might have locked operations that needed sampleConfiguration since mediathread count is most likely one. Testing this.

[2020-05-13 20:39] disa6302 commented on #376
Change merged

[2020-05-13 20:39] #376 closed

[2020-05-13 20:47] MushMal commented on #449
The first issue is caused by the browser not detecting the built-in camera as the lid of the laptop is closed. As for the second one, it requires a debug platform that could take a modified firmware.

I am going to resolve this issue - please feel free to re-open if you need more info.

[2020-05-13 20:47] #449 closed

[2020-05-13 20:58] mdonahoe commented on #343
I tried to edit the onDataChannel and onDataChannelMessage functions to get the master to reply to the viewer, but I don't see any replies in the viewer app.

[2020-05-13 21:00] mdonahoe opened #452 "Help with `dataSendChannel` in master example"
I tried to edit the onDataChannel and onDataChannelMessage functions to get the master to reply to the viewer, but I don't see any replies in the JS viewer webapp.

[code]

_Originally posted by @mdonahoe in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/343#issuecomment-628242376_

[2020-05-13 21:05] Sean-Der commented on #452
The viewer unfortunately expects a new DataChannel to be created by us https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/blob/master/examples/viewer.js#L103

If you edit the viewer code to listen in the `onmessage` in the channel it created does it work?

[2020-05-13 22:22] mdonahoe commented on #452
That worked, thanks!

[code]

Is there an example of how I can make the master create the channel instead? Specifically, when in the Streamingsession lifecycle is it safe to call `dataChannelCreate` in the master code? Should I do that in onConnectionStateChanged?

[2020-05-13 23:03] suggestedfixes commented on #450
For the second question, what would be the consequences of replacing the spinlock with a RW lock?

[2020-05-13 23:14] chehefen commented on #425
Looking at the log it seems that turn allocation failed during the first attempt and when it succeeds turn is used. Can you tell us which commit you are at? We made quite a few optimizations to turn allocation recently and I would recommend to try the latest master.

[2020-05-14 00:32] dannymarosi commented on #447
Observation:
1pi->2020-05-12 23:40:09 WARN    turnConnectionHandleStunError(): Received STUN error response. Error type: 0x00, Error Code: 403. attribute len 16, Error detail: Forbidden IP.*75

Solution:
Adding mobile terminated data feature in the Verizon LTE cellular modem account.

[2020-05-14 00:32] #447 closed

[2020-05-14 00:44] MushMal commented on #450
We certainly can replace the spinlock with the conditional variable. Just not sure if on a real application case it will provide any perf gains. This said, I would like that solution more as it's more scalable. Can I ask you to open a separate issue that tracks the conditional variable changes?

[2020-05-14 01:34] suggestedfixes opened #454 "Support a Way to Clear Signaling Channel State"
We have gotten multiple signaling channels into unrecoverable states during our rigorous testing. The reason that we know we broke them is that, creating a new channel with a new name worked. We also know that deleting a signaling channel does not clear the states completely, because the new channel with the same name will retain most of the channel history.

[2020-05-14 01:37] MushMal commented on #454
@suggestedfixes to clarify, you are stating that deleting a channel via console, CLI or using deleteSignalingChannel API succeeds but "some" information leaks through to the new one created with the same name? Can you please provide a little more context on this? This is super important.

* What are the steps you are taking.
* Does the deleteSignalingChannel (if this is the case) return STATUS_SUC

[2020-05-14 01:43] suggestedfixes commented on #454
The channel is deleted through clicking a button on the AWS Web Interface. By creating a new signaling channel by clicking buttons, we are able to view the previous signaling channel's history. So some past information is migrated.

[2020-05-14 01:46] MushMal commented on #454
Can you please specify what previous history is migrated? Thanks for reporting

[2020-05-14 01:49] suggestedfixes commented on #454
The cloudwatch metrics were migrated to the new signaling channel. But what is more relevant should be it might have carried over last signaling's state with the same name.

[2020-05-14 01:50] MushMal commented on #454
Let me get back to you regarding the CW metrics. There are no other states really to be carried over for a signaling channel.

[2020-05-14 01:54] suggestedfixes commented on #454
I think some limits are carried over to the newly created signaling channel is to prevent API limit abuse. But we can solve that by putting a limit on the number of times creating and deleting signaling channels with the same name.

[2020-05-14 01:59] MushMal commented on #454
The TPS or limits are service-wide limits and will be accounted against the account. I think you might see some of the TPS limits for the messages exchanged which might persist but the TPS should be high enough to be "cleared" between delete and new create. We would really appreciate more details if you get a chance.

[2020-05-14 02:02] MushMal commented on #454
From my understanding, the CW metrics use the channel name as a dimension - those metrics simply collide as the channel name is the same but the channels themselves are different. There is just no good and easy way to differentiate between the metrics for the old and the new channel by the same name.

[2020-05-14 14:16] staowyze opened #455 "example of createLwsIotCredentialProvider"
Hi, I would like to use iot credentials for signaling channel, may I know how to get the IoT credentials endpoints from the AWS account and how to specify Iot role alias as the following sample code shows?
createLwsIotCredentialProvider(
            "coxxxxxxxx168.credentials.iot.us-west-2.amazonaws.com",  // IoT credentials endpoint
            "/Users/username/Downloads/iot-signaling/certificate

[2020-05-14 14:17] staowyze commented on #363
sounds good, closing the issue

[2020-05-14 14:17] #363 closed

[2020-05-14 14:33] staowyze opened #456 "Add ICE config when SDP arrives"
follow up the discussion in #363
[code]
[code]

[2020-05-14 14:37] staowyze commented on #456
Not the bandwidth utilization, I worry about unbalanced load of TURN servers, it would be very hard to determine how many connections a TURN server can handle if most of the connections could be idle (i.e. no real data traffic)

[2020-05-14 16:45] suggestedfixes commented on #454
When signaling channels have gotten to an unrecoverable state. The master can connect to signaling channel 100% of time. However, no viewer can connect. We have tried to turn off master and deleted the signaling channel for several days and still cannot recover it. We are sure that no viewer was connected to it during this period, because cloudwatch does not have a history of viewers connecting to

[2020-05-14 16:56] suggestedfixes commented on #454
It will be nice to introduce something such as temporarily ban all the viewers.

[2020-05-14 18:00] bdhandap commented on #454
We are aware of this issue and we are working on a fix.

And like @MushMal explained above, cloudwatch metrics use `SignalingChannelName` as dimension which means even if you delete and re-create the channel, the metrics will co-exist for both instances of same channel.

[2020-05-14 19:45] MushMal commented on #456
@staowyze the ice config is being refreshed periodically. Normally, there is one or two URLs that are returned each time. Your application can chose any one of those. Note, getIceServerConfig doesn't 'reserve' a turn quota by itself. Your application can call this API many times with no impact (modulo the TPS that the backend imposes).

The proper balancing happens at the backend when the actual T

[2020-05-14 19:48] MushMal commented on #455
@staowyze you might want to reference #110

[2020-05-14 19:49] MushMal commented on #455
Please re-open if you need more info

[2020-05-14 19:49] #455 closed

[2020-05-14 20:17] JBerges commented on #454
Limits are applied by account and by combination of account and channel name.

Given that the name is the same, in an scenario where you create, describe, delete, create, describe, delete, two operations of describe will be verified for limits.

In that scenario, [describe and delete will apply a limit of 5TPS](https://docs.aws.amazon.com/kinesisvideostreams-webrtc-dg/latest/devguide/kvswebrtc-lim

[2020-05-14 20:37] chehefen commented on #450
@suggestedfixes I think what you really need is some kind of magic word that triggers tear down of streaming sessions. You can send the magic word through data channel to trigger tear down of a streaming session.

[2020-05-14 20:40] chehefen commented on #406
can you elaborate in what cases would a candidate suddenly get a new IP?

[2020-05-14 21:24] zwei333 commented on #425
When I reported the issue, we used 4/17 version of KVS SDK.  Currently we are using 5/4 verion of SDK.  Does 4/17 version include TURN fixes?  Which version we should use to test the new TURN fixes?

[2020-05-15 00:20] suggestedfixes commented on #450
@chehefen Nice idea! Since we not not familiar with the code base, is it safe to free streamming session right at the data channel callback?

[2020-05-15 03:01] Nomidia opened #458 "executeFailedIceAgentState(): IceAgent failed with 0x5a00000d"
I have ran the demo successfully already several days before, but now I encountered a ICE error as follows. No matter I use aws console or WebRTC Test Page. Even I updated the lasted code.
 WebRTC Test Page log:
`
InvalidAccessError: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection': Failed to set remote answer sdp: Failed to set remote video description send parameters.
`

Device lo

[2020-05-15 03:24] MushMal commented on #458
0x5a00000d is STATUS_ICE_NO_CONNECTED_CANDIDATE_PAIR which is issued when the ICE agent is unable to find suitable candidate pair within the allotted timeout. I am wondering whether there is a firewall or any other network setting that has changed since. Any network topology changes?

Also, are you able to connect JS test page to JS test page? Are you able to run C SDK master vs viewer samples?

[2020-05-15 03:47] Nomidia commented on #458
JS test page as master and viewer was ok. C SDK as master, JS test past as viewer failed.
After I increased the check timeout, the log changed as follows:

2020-05-15 03:44:16 DEBUG   iceAgentLogNewCandidate(): New remote ice candidate discovered. Id: DSR08/LwD. Ip: 192.168.2.101:39406. Type: host
2020-05-15 03:44:16 DEBUG   iceAgentLogNewCandidate(): New remote ice candidate discovered. Id: VJ4pX

[2020-05-15 04:33] MushMal commented on #458
Seems that you get to ready state. Are you able to see the master samples output in the JS page after you bump up the timeout? It does seem to be a network topology issue. Are you using some sort of device or you are running the C SDK on your computer? Can you try using TURN only?

[2020-05-15 05:58] Nomidia commented on #458
I still can not preview from viewer although the master seems to get ready. The log from JS page is same with the beginning. The master is running on my IOT device .

InvalidAccessError: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection': Failed to set remote answer sdp: Failed to set remote video description send parameters.

[2020-05-15 06:26] MushMal commented on #458
Not sure why this fails yet. Are you able to run the master from the C SDK on your computer and connect to JS fine?

[2020-05-15 07:40] Nomidia commented on #458
I run the master on my Ubuntu and the problem also exists.

[2020-05-15 07:42] Sean-Der commented on #452
@mdonahoe I think the best time create the DataChannel is even before signaling. We have E2E tests that have both sides create a DataChannel and exchange messages.

You can also do it after `onConnectionStateChanged`, but we just don't have customers doing that yet (so YMMV)

[2020-05-15 08:02] Nomidia commented on #458
The viewer under another network is OK. Maybe it is related with network issue.

[2020-05-15 13:21] m-farhan786 opened #459 "Add TURN Servers support"
During live feed testing of our camera which use Kinesis Webrtc SDK, we noticed that live feed would not work in some cases. The reason to not able to get live feed is when client and camera are on different networks where client can not reach camera via STUN candidates.

TURN server is required in such case. On client side, we use getIceServerConfig to get turn servers list for peer connection. B

[2020-05-15 15:49] suggestedfixes commented on #454
@JBerge We have not exceeded the limits and have left the channels inactive for at least 24 hours. Our 5-second interval monitoring of the channel and use of random signaling client ids caused the initial problem. We are in the process of changing our monitoring to use the same client id, and this problem will occur less frequently.

[2020-05-15 16:07] suggestedfixes commented on #454
We understand the infrastructure behind each signaling channel. But from a black-box experimentation perspective, it does seem like:
- channel x not usable
- deleting x and recreate x does not fix x
- creating y, given same master viewer pair and other conditions fixed, allows connection
- recreated x does not behave like y

[2020-05-15 16:16] suggestedfixes commented on #454
If each channel behaves like an independent unit, then the source of the problem could be (one of the databases of keeping track of metadata channels) / (management components of the infrastructure). In that case, it is a much harder fix.

[2020-05-15 16:51] #456 closed

[2020-05-15 17:19] MushMal commented on #454
@suggestedfixes the only issue really is the list of viewers that's connected to the master that's not being purged. This is something that we are actively working on and will be fixed ASAP. This is the only issue you will have with deleting and creating a new channel. CW metrics, however, will still have a channel name as a dimension and metrics from the previous channel with the same name will b

[2020-05-15 17:20] MushMal commented on #458
@Nomidia yes, this is certainly a network issue but using TURN it should work just fine. Perhaps you can enforce turn on the device/master and see how it connects? We have seen some firewalls/VPNs block certain ports silently

[2020-05-15 17:23] MushMal commented on #459
The meaning of the comment is slightly different. It means that we could try using TLS with turn URLs that were part of the ice server config structure.

In this case, TURN should work OK unless the firewall or VPN is blocking certain ports.

Could you provide a little more info? Debug logs?

[2020-05-15 17:58] suggestedfixes commented on #454
@MushMal If a master disconnects from signaling channel for a certain period, would it be safe to purge all the viewers? We understand it could get much more complex. But by common sense, the initial design would have avoided too much complexity, correct?

[2020-05-15 18:02] chehefen commented on #458
@Nomidia, can you share with us the answer that master sent when js page failed? Thanks.

[2020-05-15 18:44] CatsNipYummy opened #460 "Not streaming audio but no error"
I am using libopusenc to create audio chunks and I've saved it to files similar to the sample available. When I stream these files out, I don't get a write error but I don't hear the audio on the receiving end. I tried combining all these opus files into one and it seems to be playing on VLC. Is there a way to find out what's happening? I tried running AWS_KVS_LOG_LEVEL_VERBOSE and I get the follo

[2020-05-15 18:46] JBerges commented on #454
My answer was related to operations limits (create/describe/delete), but I see now that you are talking about viewers limits, so my comment does not apply to your situation, sorry about that.

About the viewers limits and not being purged, I will let @bdhandap to comment more on this.

[2020-05-15 18:51] MushMal commented on #460
It’s hard to tell why there are errors generated - perhaps the GStreamer forums might be a better place to get more info about this plugin/encoder.

[2020-05-15 19:03] bdhandap commented on #454
@suggestedfixes That's not correct. Master and viewers can be independent entities and should not affect each other connection state. Consider this case where the master and viewers are connected to signaling service and viewer sent an offer/ice-candidate but before receiving the offer/ice-candidate master got disconnected due to network issues. When the master comes back online, the pending offer

[2020-05-15 19:06] bdhandap commented on #454
ETA for deploying the fix is next week. I will update this thread if something changes.

[2020-05-15 19:17] CatsNipYummy commented on #460
@MushMal Any way to know how these opus files were generated? I can try using the same library to generate them.

[opusSampleFrames](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/master/samples/opusSampleFrames)

[2020-05-15 19:31] chehefen commented on #460
they are here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMasterGstreamerSample.c#L165-L177

[2020-05-15 19:36] CatsNipYummy commented on #460
Is gstreamer producing the opus frames in the opusSampleFrames folder as well? For the kvsWebRTCClientMasterSample?

[2020-05-15 20:16] suggestedfixes commented on #454
@bdhandap
- Thanks for the update! Your explanation makes sense! When a viewer decides to intentionally close the signaling client, does the signaling channel side try to remove the viewer from a list of active clients, or does the signaling channel keeps the record for at least an hour?

[2020-05-15 20:55] chehefen commented on #450
@suggestedfixes you cant because the callback originates from within the RTCPeerConnection, it cannot free itself. You need to set a flag like we did in the connection state changed callback and clean it up in another thread.

[2020-05-15 20:56] chehefen commented on #460
no, it's wired up directly with the webrtc client.

[2020-05-15 20:58] chehefen commented on #425
the 5/4 version has TURN fixes.

[2020-05-15 21:01] CatsNipYummy commented on #460
got it. so for the kvsWebRTCClientMaster.c sample, its pulling from the opusSampleFrames folder right? Located [here](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/tree/master/samples/opusSampleFrames)

Can you tell me how those frames are generated? Guessing its outside the codebase?

[2020-05-15 21:22] getash opened #462 "WebRTC C SDK - Stuck in lwsWssCallbackRoutine(): Client is writable"
Hello there,

1. Installed the webRTC SDK for Embedded devices on my Jetson TX2
2. Execute make command to compile & build the samples
3. Exported the appropriate credentials
4.Ran ./kvsWebrtcClientMasterGstSample testchannel on the Jetson TX2
5. On the mac, opened the https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html & entered the appropriate info with "test

[2020-05-15 21:30] MushMal commented on #462
@getash it's not yet clear whether the master sample is "stuck" or is awaiting for the signal.

It would be very helpful if you could try to run the other master sample with the pre-canned frames on the device (to eliminate the GStreamer) and send us the debug logs. You can either attach the log file to this issue or email them at kinesis-video-support@amazon.com

[2020-05-15 21:41] getash commented on #462
@MushMal I have attached the log for the GStreamer Master
[log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4637212/log.txt)

Ran the "./kvsWebrtcClientMaster testchannel" instead of GStreamer with same results. Please the log attached in that as well.
[log_clientmaster.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4637223/log_cl

[2020-05-15 22:12] chehefen commented on #462
Hi @getash, can you do a packet capture `sudo tcpdump -i any udp -w foo.pcap` while running the master and send us the pcap file? thanks

[2020-05-15 23:29] getash commented on #462
@chehefen I have emailed the PCAP file to kinesis-video-support@amazon.com.  Please do the needful.

[2020-05-16 04:17] Nomidia commented on #458
@chehefen These are logs.
[Device.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4637791/Device.log)
[js page.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4637801/js.page.log)

[2020-05-16 15:06] mateuszboryn commented on #462
Hi, I also had "Answer tried to set recv when offer did not send".
I read elsewhere this might be specific to Firefox browser (@getash , what browser are you using btw?).
What helped in my case was modifying this file: `src/source/PeerConnection/PeerConnection.c`.
In function `addTransceiver()` I replaced
`RTC_RTP_TRANSCEIVER_DIRECTION direction = RTC_RTP_TRANSCEIVER_DIRECTION_SENDRECV;`
with
`RTC

[2020-05-16 15:39] mateuszboryn opened #464 "connectSignalingChannelLws(): operation returned status code: 0x0000000f"
Dear Developers,

I am trying to send video stream from a Raspberry PI 3 (which is Master in WebRTC). When starting sample applications (both kvsWebrtcClientMaster and kvsWebrtcClientMasterGstSample) It often can not connect to a websocket and application quits after a few retries. Once every 10-15 executions it goes through however. How to make it more reliable?

Most tries end with error
`ERROR

[2020-05-16 19:06] MushMal commented on #464
@mateuszboryn your calls are timing out trying to connect. Even the control plane APIs are taking quite some time - for example describe call took over 2 seconds.

Recommend trying to troubleshoot the networking on the device. Also, make sure you select the region that's closest to your geolocation

[2020-05-17 00:07] wolfviking0 commented on #434
@MushMal I just make a pull request I put some comment there #465

[2020-05-18 02:40] chehefen commented on #458
@Nomidia  can you include the offer in Device log too?

[2020-05-18 07:09] Nomidia commented on #458
where should I add the log print, is it useful? @chehefen
[dev.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4642549/dev.log)

[2020-05-18 15:26] getash commented on #462
@mateuszboryn Thank you for the information. I shall try it today & let you know.

@chehefen @MushMal Any updates? Thanks!

[2020-05-18 16:58] chehefen commented on #458
I want to look at the offer that master received. It seems like you were using the viewer sample in dev.log but the question is about error in the WebRTC Test Page. Can you show me the offer that WebRTC Test Page sent? Also which browser are you using? Does that happen on chrome?

[2020-05-18 17:41] chehefen commented on #462
@getash are you also hosting your TURN server? You may not have set it up correctly. There is a lot of 401s in the pcap. Based on your log you should be able to view the stream. Can you try to use chrome?

[2020-05-18 17:47] getash commented on #462
@chehefen I do not think so but let me try it on Chrome. I have tried Safari with the same results. I also tried @mateuszboryn recommendation of changing the PeerConnection with same results.

[2020-05-18 18:02] getash commented on #462
@chehefen Chrome works for both AWS Management Console & the testing kvs page. Does this mean that Kinesis WebRTC will not work for any other browser? Thanks!

[2020-05-18 18:19] chehefen commented on #462
Firefox's webrtc has different behaviors for different versions. We are trying to address them but right now chrome is the most stable.

[2020-05-18 18:26] getash commented on #462
@chehefen Are there any other way to work this around on the viewer end handling those? Any specific media player we can embed? Thanks!

[2020-05-18 18:35] chehefen commented on #462
I dont think you can get around that using media players. You can track this instead: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/issues/49

[2020-05-18 18:43] chehefen commented on #460
they are transcoded using gstreamer. This is an example of transcoding them to aac using gstreamer
[code]

[2020-05-18 18:44] bdhandap commented on #454
@suggestedfixes The viewer will be removed from the list of active clients as soon as it closes the connection intentionally.

[2020-05-18 18:46] chehefen commented on #459
The comment is not what you think it is. Yes you can use getIceServerConfig to get turn servers and pass them to ICE.

[2020-05-18 19:57] #445 closed

[2020-05-19 00:57] TomyTomm opened #466 "freePeerConnection() hanging"
When a peer disconnects, I make a call to `freePeerConnection()` but the function call hangs. Is there any reason why?

[2020-05-19 01:31] willyting opened #467 "get ice config fail sometimes with samples"
Hi all:
I run the samples with cross compile on my device.
It will get ice config fail, retry some times and stop the program.
It is fine with 64bit build on Ubuntu and cross compile on other two platform inside the same network env.
I cannot figure out what happened from logs.

On the specific device
It sometimes get ice server list fail at first time.
It always get ice config fail when I stop an

[2020-05-19 02:17] Nomidia commented on #458
I am using chrome brower. I tested in two different computers and one cellphone, but only one computer can preview sucessfully. Please take a look of this, I added printf at here. Or please tell me the location where I should add the printf.
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/6acd517830d97ae6142a6b9b097c758ebe5da09e/samples/Common.c#L203

  PRINTF("%s\n", pSi

[2020-05-19 02:20] Nomidia commented on #458
[master.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4647883/master.log)

[2020-05-19 04:15] MushMal commented on #467
@willyting the signaling client retrieves the ICE configuration during the create call and keeps refreshing it just before the credentials in the configs expire. As it handles the refreshing in the background, if it fails retrieving the configs for whatever reason after set number of retries and overall timeout is reached, it will notify the calling application through the error callback. The erro

[2020-05-19 04:19] MushMal commented on #466
@TomyTomm could you please provide a little more information about your scenario and the assets you are using (sample app, etc).

Generally speaking freePeerConnection shouldn't hang, although is not a 'prompt' operation as it has to shutdown ICE agent, etc.. This said, it does have certain timeouts after which it gives up trying to gracefully shutdown sub-components.

Please enable the debug logs

[2020-05-19 05:34] TomyTomm commented on #466
I have changed a few things with the examples/common.c file:
- Removed the audio streaming functionality
- Added `pRtcDataChannel` to SampleStreamingSession struct
- Added a call to
[code]
- Added a call to
[code]
[code]

[2020-05-19 05:53] MushMal commented on #466
The changes you've made should be OK.

From your response, it's unclear what your scenarios is? Is your application which is based on the sample (assume master sample) "hangs" when terminating? How are you terminating the Master sample? Can you pause it under the debugger to get stack traces with locals?

[2020-05-19 07:18] willyting commented on #467
Hi @MushMal :
I am sure the network, credentials and closet region. It usually work fine at first time or wait a while.
I set log level to VERBOSE as follow
export AWS_KVS_LOG_LEVEL=1

I try to enable LWS debug logs by compiling with this line uncommented: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/CMake/Dependencies/libwebsockets-CMakeLists.txt#L37

But I did

[2020-05-19 18:30] MushMal commented on #467
You are setting the logging level correctly. You will also need to delete the libwebsockets.* from open-source/local/lib directory to kick off the debug build when you run build.

It is rather odd that the connection gets closed. Can you also run some network troubleshooting tools (any) on your device to ensure the connectivity?

[2020-05-19 20:26] chehefen commented on #466
can you tell us which commit are you using?

[2020-05-19 20:36] TomyTomm commented on #466
I am using the commit for release 1.0: f7c97063bdd6f6c8e32b718510aa7de1c8a2e4f6

[2020-05-19 21:12] chehefen opened #468 "Adjust transceiver direction sdp value in answer based on remote description"
if offer is recvonly, then answer should be sendonly.
https://tools.ietf.org/html/rfc3264#section-6.1.

[2020-05-19 21:15] chehefen commented on #458
@Nomidia can you swap LN406 with LN409 here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/SessionDescription.c#L406 and see what happens? Thanks.

[2020-05-19 21:21] disa6302 commented on #148
Issue tracked in #468

[2020-05-19 21:21] #148 closed

[2020-05-19 21:30] suggestedfixes opened #469 "turnConnectionAddPeer(): Add peer failed. Max peer count reached"
I'm currently testing connection and disconnection with with same client id with turn. It seems like the turn peer count never decrements. As a result turnConnectionAddPeer will fail.

[2020-05-19 22:05] chehefen commented on #466
can you try the latest master? We fix a bunch of things around cleanup since 1.0.

[2020-05-19 22:53] chehefen commented on #469
how are you testing connection and disconnection?

[2020-05-19 23:25] suggestedfixes commented on #469
I'm using a modified viewer example. Could it be that it is missing freeSampleStreamingSession, which in turn will free the peer connection?

[2020-05-19 23:29] suggestedfixes commented on #469
Actually, freeSampleConfiguration does freeSampleStreamingSession.

[2020-05-20 00:10] chehefen commented on #469
if freeSampleStreamingSession is called the underlying turn connection should also be freed. it shouldnt accumulate peers.

[2020-05-20 01:27] willyting commented on #467
As a network tools:   "netstat -nlp"

I found sample program always use a port: 132
----------------------
udp        0      0 0.0.0.0:55019           0.0.0.0:*                           1997/kvsWebrtcClien
udp        0      0 :::51579                :::*                                1997/kvsWebrtcClien
raw        0      0 0.0.0.0:132             0.0.0.0:*               132         1997/kvsWebrt

[2020-05-20 01:50] Nomidia commented on #458
@chehefen The phenomenon is same as before.

[2020-05-20 02:10] willyting commented on #467
I compare the log between get ice success and fail.
I found out there are not a reason callback 58.
[code]
As the log, the lbs Program start to handshake after the callback.
[code]

[2020-05-20 03:43] MushMal commented on #467
Reason 58 is LWS_CALLBACK_OPENSSL_PERFORM_SERVER_CERT_VERIFICATION which will be called after the connection is established. In your case, you simply don't seem to have the connection - perhaps your routing is bad or have a firewall or something is interfering.

The open ports should be fine. Try to get the libWebSockets debug version and also try to enable more verbose logs from LWS by replacing

[2020-05-20 06:48] willyting commented on #467
[first.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4655058/first.txt)

[2020-05-20 09:01] willyting commented on #467
[sch-ok-1.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4655722/sch-ok-1.txt)

This log get ice config fail at first.
Success after retry some times.

[2020-05-20 17:15] MushMal commented on #467
@willyting thanks for the logs. Looking through them, I still can't tell what exactly is going on.

Could you please disable async get ice config in the sample?

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L676

set it FALSE

[2020-05-20 17:17] zwei333 commented on #425
The problem is still there with release 1.1.0.
It only happens when TURN is needed.  When direct connection is available, every connection attempt is successful

[2020-05-20 22:09] chehefen commented on #458
same as before as browser print this error again?
`InvalidAccessError: Failed to execute 'setRemoteDescription' on 'RTCPeerConnection': Failed to set remote answer sdp: Failed to set remote video description send parameters.
`
Can you show us the offer and answer that was exchanged?

[2020-05-20 22:35] suggestedfixes opened #475 "Better Support Reusing the Same Client ID after Leaving and Rejoining the Session"
If we use the same Client ID on the test page here:
https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html
If we open a session, then followed by closing and opening a new session with the same Client ID, the success rate of connecting to the new session is very low. However, if we were to use a new Random ID, the success rate of closing and opening a new session

[2020-05-20 23:07] suggestedfixes commented on #469
Can be replicated using kvs test page with same client ID and master sample
[maxpeer.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4659674/maxpeer.txt)

[2020-05-20 23:07] suggestedfixes commented on #469
Just repeatedly open and close viewer with the same client ID

[2020-05-20 23:17] suggestedfixes commented on #469
This is with offer check disabled, replicated in 3 open and closes with the same client id.
[maxpeer2.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4659711/maxpeer2.txt)

[2020-05-21 00:34] suggestedfixes commented on #469
To add to my comments, maxpeer.txt and maxpeer2.txt can be reproduced with master example with kvs webrtc test page.

[2020-05-21 01:26] MushMal commented on #278
I am going to resolve this issue for now. The build can be custom made using CMake.

[2020-05-21 01:26] #278 closed

[2020-05-21 01:27] MushMal commented on #291
I am going to resolve this for now. The samples are not designed to work with any pipeline and might require changes to adapt to the particular pipeline. In the future, we might consider a plugin type of support for GStreamer

[2020-05-21 01:27] #291 closed

[2020-05-21 01:35] MushMal commented on #306
Resolving as it seems to be stale

[2020-05-21 01:35] #306 closed

[2020-05-21 01:38] #368 closed

[2020-05-21 02:37] Nomidia commented on #458
@chehefen Here it is the log.
![image](https://user-images.githubusercontent.com/20633988/82517098-efbb3800-9b4e-11ea-8d8e-17ea02a63d7b.png)
[05-21-10 failed.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4660340/05-21-10.failed.log)

[2020-05-21 02:40] willyting commented on #467
@MushMal It work!!
It get ice config success always. Thinks.
Maybe it is some resource not enough in this platform. But we do not know.

[2020-05-21 02:42] MushMal commented on #467
Perhaps. With the async, we are trying to minimize the overall startup->ready time by parallelizing the higher-level create/connect calls.

I am very glad that it works - one less mystery I guess :).

I am resolving this issue for now. Please feel free to re-open or cut a new one if you need any further assistance

[2020-05-21 02:42] #467 closed

[2020-05-21 04:59] MushMal commented on #369
@juno52wendy Can I ask folks to summarize what the latest is on this issue? I wouldn't want this to go stale and close the issue due to staleness.

[2020-05-21 05:01] MushMal commented on #399
@suggestedfixes any further info on this issue? Can we close this if it's stale?

[2020-05-21 05:02] MushMal commented on #424
I am going to resolve this issue. Please re-open or cut a new issue if need help

[2020-05-21 05:02] #424 closed

[2020-05-21 05:03] MushMal commented on #434
I am resolving this issue. THANKS for the contribution

[2020-05-21 05:03] #434 closed

[2020-05-21 05:04] MushMal commented on #440
@suggestedfixes - could you please open a PR?

[2020-05-21 05:05] MushMal commented on #439
Resolving due to staleness. Please re-open if this is still an issue and provide more info

[2020-05-21 05:05] #439 closed

[2020-05-21 05:14] MushMal commented on #450
@suggestedfixes any further action on this issue? Can you close this and open a separate issue tracking the cleanup?

[2020-05-21 05:15] MushMal commented on #452
@mdonahoe can this issue be closed? Do you need any further info on this?

[2020-05-21 05:17] MushMal commented on #462
@getash seems that the original issue has been answered. Could you please close this issue and if needed open a new one to track any further issues

[2020-05-21 05:17] MushMal commented on #464
@mateuszboryn any further info on this? Could you resolve this if the root cause was networking?

[2020-05-21 12:35] mdonahoe commented on #452
Yup, thanks!

[2020-05-21 12:35] #452 closed

[2020-05-21 16:44] getash commented on #462
@MushMal I believe the firefox issue is being tracked in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/issues/49. If that is the case could you please confirm & provide an approximate timeline on this? Thanks!

[2020-05-21 16:57] MushMal commented on #462
Confirming - this is the enhancement. Unfortunately, we can't give precise ETAs.

I am going to resolve this issue in favor of the enhancement that we are tracking

[2020-05-21 16:57] #462 closed

[2020-05-21 17:32] chehefen commented on #469
You cant just simply disable the offer check. By doing that you are not cleaning up the candidates and candidate pairs from previous session and they will just build up over time. You have to clean things up properly by doing ice restart or freeing the peerConnection.

[2020-05-21 19:03] suggestedfixes commented on #469
@chehefen
This is reproducible with offer check enabled maxpeer.txt. I think this occurred when session cleanup has terminate flag set to true but not yet cleaned up the session. As a result, new connections are using the old session objects and inherited old peers.

Also what are the steps doing ice restart and freeing the peerConnection on the master side?

[2020-05-21 19:36] mateuszboryn commented on #464
Hi @MushMal ,
Perhaps in my case networking is bad. Perhaps Raspberry PI has not enough processing power to establish connection within 5s (how ridiculous that could be?).
Anyway, I solved this problem by increasing connection timeout to websocket.
Please see this PR:
 https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/479
After that change, it happens that it takes 15s to e

[2020-05-21 20:45] MushMal commented on #464
@mateuszboryn I don't believe these types of latencies can be attributed to the processing power. The SDK is really geared towards small footprint so RPi should be good.

The main issue with simply bumping up the timeout is that currently we only expose sync APIs (unlike KVS Producer SDKs). If you happen to make a call that blocks for 60 seconds, the cleanup will be super painful.

Could you try t

[2020-05-21 21:01] suggestedfixes commented on #475
Can we assume that the offer is the first one that always arrives? Are there edges cases where candidates can arrive before the offer?

[2020-05-21 21:03] suggestedfixes commented on #475
Cause I'm currently getting a track, but the track does not have video. I think we might have re-init some of the transceivers in handleOffer()

[2020-05-21 22:05] chehefen commented on #475
you can check this out: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/481

[2020-05-21 22:05] MushMal commented on #475
Using our assets should prevent the case you are describing - you should be getting offer from a viewer and answer and only after that exchange ICE, etc..

[2020-05-22 10:04] tesnorindian opened #482 "Using GStreamer in kvsWebrtcClientViewer"
Hi all,

I tried integrating GStreamer in to the sample kvsWebrtcClientViewer code. I tried sending RTP packets from Chrome browser using WebRTC. I am able to receive the frames in the callback of transceiverOnFrame. But how to distinguish between a audio frame and a video frame in the frame handler callback, so that I can pass it to the corresponding gstreamer pipeline.

Thanks in advance.

[2020-05-22 15:52] sharadrj commented on #369
Echo show connectivity should be much improved with the changes we have made in last 2-3 weeks. We are soon going to publish an Integration guide with Alexa, and push reference lambda code on github.

[2020-05-22 17:05] suggestedfixes commented on #482
One way is to grab the trackId from the handler
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L540

[2020-05-22 17:10] suggestedfixes commented on #454
@bdhandap Status on the deployment date?

[2020-05-22 17:12] suggestedfixes commented on #375
Closing because duplicate of #428

[2020-05-22 17:12] #375 closed

[2020-05-22 17:15] suggestedfixes commented on #406
Closing because question answered.

[2020-05-22 17:15] #406 closed

[2020-05-22 18:56] chehefen commented on #475
@suggestedfixes the PR I linked added the ability to detect TLS close alert and trigger RTConnectionStateChange callback to closed. With that added, the sdk will be able to detect that peer has close the session and clean up the streamingSession promptly. Then you can connect again using the same clientId.

[2020-05-22 19:04] chehefen commented on #469
@suggestedfixes the offer check blocks new offers but doesnt block new remote ice candidate messages. Without cleaning up the old ice candidates, it would eventually grow out of space. The root cause is old streaming session dont get cleaned up promptly. I think this commit will help you: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/2ad4bd721318de941ca0505ee65e5e0c0f

[2020-05-22 19:06] MushMal commented on #466
@TomyTomm could you please update this issue with the latest and resolve if this is not an issue for you

[2020-05-22 19:08] MushMal commented on #454
@suggestedfixes this fix will be in the wave 1 of the deployment. As soon as it lands in IAD region we will update the issue. Shouldn't be long but we simply can't give precise ETAs due to variabilities we need to account for.

[2020-05-22 19:19] chehefen commented on #469
@suggestedfixes you can checkout this unit test on how to do ice restart: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/tst/PeerConnectionFunctionalityTest.cpp#L436

[2020-05-22 19:29] MushMal commented on #482
Generally speaking you have a callback per transceiver so at the high level you can distinguish between the transceivers. In case of multi-track, as @suggestedfixes suggests you can use the trackid differentiator.

I am going to resolve this question. Please feel free to re-open or cut a new one

[2020-05-22 19:29] #482 closed

[2020-05-22 23:07] MushMal commented on #399
This is indeed an odd situation. Some of the occurrences point to issues related to older versions of Chromium or IPv6 address being used but it seems that in your case it must be something different. What's interesting is that you are stating that when you reboot the device the issue goes away. Is it possible that the device ip configuration goes stale/bad?

[2020-05-23 02:13] tesnorindian commented on #482
Thanks @MushMal and @suggestedfixes

[2020-05-23 08:03] Nomidia opened #486 "High memory usage while viewing stream"
The memory usage continues to increase while viewing stream. The free memory is 13536kB when the demo is started. When I start to view the stream, memory continues to decrease to 7212kB. At this time, I open another window to view the stream, it decreases to 1364kB. After stopping viewing, the free memory does not seem to recover as much as before, it's about 6336kB.

[high memory usage.txt](https

[2020-05-23 08:16] MushMal commented on #486
@Nomidia the memory allocation for the WebRTC structures is minimal. The primary memory usage is allocated for the rtp buffering. There is, of course, some allocations for the websockets, ssl, dtls but the majority of memory is used in rtp buffers. As the master sample streams, it has to store the rtp buffers in order to re-transmit on request. The buffer temporal duration can be configured intern

[2020-05-23 08:19] MushMal commented on #486
Forgot to mention, you can customize the following params to see how much memory vs packet loss you can tolerate

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/Rtp.h#L10-L15

[2020-05-23 08:32] MushMal commented on #450
Going to resolve this. Please re-open if needed

[2020-05-23 08:32] #450 closed

[2020-05-25 15:35] guilms opened #487 "Receive video stream with gstreamer"
Hi,
I'm trying to get a h264 video stream decoded and displayed by modifying the _kvsWebRTCClientMasterGstreamerSample.c_ sample. In _receiveGstreamerAudioVideo()_ I added
these elements to the pipeline

`appsrc name=appsrc-video ! queue ! h264parse ! avdec_h264 ! videoconvert ! video/x-raw, format=BGRx ! queue ! videoconvert ! xvimagesink
`
and registered a callback to push the incoming bytes wit

[2020-05-25 19:57] zwei333 opened #488 "Caching offer sdp when master is not available yet"
In our system, app could send offer to camera before camera's webrtc is ready.
It will be convenient that signaling channel caches the offer sdp message, and sends it to camera (master) when webrtc is ready.  In this way, app doesn't have to resend the message.
Does kvs code support this feature?  If not, can it be added to the SDK?
My initial test shows negative.  I first start sample JS webApp s

[2020-05-25 20:05] zwei333 opened #489 "Caching endpoints"
Current AWS SDK supports caching endpoints with SIGNALING_API_CALL_CACHE_TYPE_FILE switch. We heard that this feature is experimental.
Will this caching be supported in the future?
What is the pros and cons of it?
How much time can be saved not describe-get-endpoint?

[2020-05-25 20:17] zwei333 opened #490 "SDK outputs too many error messages"
When bandwidth is limited, SDK could repeat printing error messages, such as "GetNextNalu failure" ( I don't recall the exact wording.  Will update once I see it again)
At that time, video quality suffers but streaming is still running, and webrtc is still doing OK.  What bothers is these high volume of error messages flood our logging file.
We set the log level to "INFO", but these messages level

[2020-05-25 20:26] zwei333 opened #491 "Time to transition to RTC_PEER_CONNECTION_STATE_DISCONNECTED > 30seconds"
When our webapp finishes streaming and closes peer connection and signaling channel, camera(master) does not transition to RTC_PEER_CONNECTION_STATE_DISCONNECTED right away.  It remains CONNECTED for another 30 seconds.
Wonder if this is the expected behaviour.

Webapp's closing is shown in the attached picture
![image](https://user-images.githubusercontent.com/55103241/82841504-58cee280-9ea4-11ea

[2020-05-25 21:24] MushMal commented on #487
@guilms could you please include the GStreamer debug logs. You can set GStreamer debug logs by setting GST_DEBUG=4 environment variable:

`export GST_DEBUG=4`

[2020-05-25 21:33] MushMal commented on #488
@zwei333 the SDK is a static library that gets linked against an application. If the application is not running there is no way to pre-cache the offer.

This is the reason why we implement "delivery' mechanism on the backend for the signaling channel. When creating a signaling channel, you specify message TTL. This is basically how long the message can stay up in the backend before it gets dropped

[2020-05-25 21:45] MushMal commented on #489
@zwei333 anything in the Master branch is official. Unless there are explicit comments and specific information in the readme you can treat this as the ultimate source of truth (not sure what channels you use).

There are few caching policies defined here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/include/com/amazonaws/kinesis/video/webrtcclient/Include.h

[2020-05-25 21:53] MushMal commented on #490
@zwei333 I am pretty sure this is the line that prints the error:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Rtp/Codecs/RtpH264Payloader.c#L125

There are really two issues associated with this.

1) The verbosity of an error that can happen quite often on a proper negative path such as retrying of the packet. This should be fixed and we are welcomi

[2020-05-25 21:55] MushMal commented on #491
Yes, this is the expected behavior for now. For P2P scenario, we are trying to make this more "live" https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/484

[2020-05-25 21:57] MushMal commented on #491
One more thing.. The latest codebase already has a state transition when DTLS closes. Could you please check whether you are using P2P and use the latest codebase

[2020-05-25 22:32] zwei333 commented on #491
I am on P2P: I am streaming from camera in the same wifi network.
I am using release 1.1.0.
I will try the latest codebase

[2020-05-25 22:48] zwei333 commented on #490
Yes, the message is the line.
For understanding how it happens:
Is it possible that the frame is overwritten in noisy network?
Our camera video encoder uses circular buffer to store video frames, and there is no overwrite prevention. It is user's responsibility to copy video data before it expires (overwritten).
To minimize delay and memory usage, our app forwards the frame data pointer to KVS SDK

[2020-05-25 22:59] MushMal commented on #490
@zwei333 you need to debug your application and put some guarantees that your application won't corrupt the frame while it calls writeFrame. Network slow-downs should not affect writeFrame as it operates on the original bits. True, there is interlocking that needs to be dealt with but generally speaking writeFrame is a 'prompt' operation so its fast.

Before we even fix the printout, we should try

[2020-05-25 23:41] guilms commented on #487
Here are the logs.
Thank you
[code]

[2020-05-26 04:09] MushMal commented on #487
It's not immediately clear what's causing this issue. I would recommend also pasting this in the GStreamer forums to get GStreamer specific info.

Meanwhile, could you please provide more information about the peer- what's your peer that generates the h264 stream that you are trying to decode? Is it possible that the peer might be generating invalid h264? Do you have logs from the peer?

[2020-05-26 04:39] zwei333 commented on #489
Thank you for your detailed response.
For our camera, looks like SIGNALING_API_CALL_CACHE_TYPE_FILE is the way to go.  Our camera is battery powered, shuts down when not active.  When app viewer sends request, camera needs to cold boot and do a lot of things until stream video/audio.  If we can manage to save half a second, that is a lot of time.
However, there is a small problem of SIGNALING_API_

[2020-05-26 04:47] Sean-Der opened #492 "Cache DTLS traffic from remote until signaling is done"
If signaling is complete the offerer isn't sure it will be running as the `Client` or `Server`

We should watch incoming DTLS traffic, and if we see a `ClientHello` we can assume we are going to run as a server. We can move ahead with starting the DTLS subsystem even if the other side hasn't explicitly declared a role.

[2020-05-26 04:47] zwei333 commented on #488
When I use the word "cache", actually I meant we expect the message is stored in the signaling channel backend.
But I don't see this deferred delivery.  Maybe the message TTL is set to zero.
Who creates the signaling channel? the master, or viewer, or any one comes first?
We do not use key/secret, but IoT credentialing instead.  Some time ago I heard we are using pre-created signaling channel (I a

[2020-05-26 05:25] MushMal commented on #489
@zwei333 from what you describe indeed it sounds most suitable. Though, savings are highly dependent on the network in question.

Please capture the crash stack so we can understand whether it's access issue or something else.

NOTE: On "well behaved" OS we shouldn't get a crash when failing to read/write to the local file. The SDK low-level file I/O is based on C standard file I/O so it should fa

[2020-05-26 05:28] enobufs commented on #466
I am also seeing freePeerConnection is hanging for about a second.
I am using the commit bbe061a.
I am using a data channel between the two local peers in the same process, sending 10 5-byte messages (loopbacked), then calling freePeerConnection() when the last message was received. freePeerConnection() is called by the app thread, not by any callbacks from the library.

[2020-05-26 05:31] MushMal commented on #488
@zwei333 if you are using IoT then most likely your channel has been pre-created. Irregardless of the integration, the default behavior of the signaling client state machine is to issue a Describe call followed by Create call if the channel doesn't exist. However, if the channel exists, it skips Create and moves to the GetEndpoint state. If the signaling client needs to create the channel, it will

[2020-05-26 05:34] MushMal commented on #466
@enobufs it's hard to tell where exactly does the cleanup spend the time - it has to gracefully shutdown so some timeouts are OK.

We do have a set of unit tests that create and free peer connections in isolation of everything else. Can I ask you to run those and check the result? What platform are you using? Can you try on your target device and your desktop on the same network topology and compa

[2020-05-26 05:51] MushMal commented on #459
Resolving for now. Please re-open or cut a new issue

[2020-05-26 05:51] #459 closed

[2020-05-26 05:52] MushMal commented on #460
Resolving

[2020-05-26 05:52] #460 closed

[2020-05-26 05:53] MushMal commented on #464
@mateuszboryn any further info on this? Could you please either provide more info or resolve this?

[2020-05-26 06:31] zwei333 commented on #489
Found out crash is not because of file creation.
It is caused by this line of Signaling.c
STRCPY(signalingFileCacheEntry.channelName, pSignalingClient->pChannelInfo->pChannelName);

We use a special API, channelInfo.pChannelName = NULL to skip  Signaling Client State "Describe Channel".  But the null pointer causes trouble.

[2020-05-26 06:32] zwei333 commented on #491
Confirmed. The issue is fixed.
Closing the it

[2020-05-26 06:32] #491 closed

[2020-05-26 06:37] MushMal commented on #489
@zwei333 could you please provide further information so we can harden the API against accidental mis-use? At any rate, if you have your question answered, could you please go ahead and resolve this

[2020-05-26 10:05] Teresa7755 opened #493 "Sometimes master can't receive the offer SDP and candidates from viewer."
I found the webrtc master is connected with server, but sometimes it can't receive any offer SDP and candidates from viewer until websocket reconnection.

[2020-05-26 14:44] guilms commented on #487
@MushMal For the other peer, I'm using amazon-kinesis-video-streams-webrtc-sdk-js [online sample](https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html) on Chrome 83.0.4103.61 on Windows 10.

Here are the logs in the browser after having established the connection to the signaling server. Not sure if there is something relevant.

[code]

Could there be a problem

[2020-05-26 15:38] staowyze opened #494 "canTrickleIceCandidates doesn't work with Alexa"
Hi, I still need to disable trickle ice in the sample code for Alexa, however I would assume the [work](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/6acd517830d97ae6142a6b9b097c758ebe5da09e) has make it adaptive.
[code]

[2020-05-26 15:42] lherman-cs commented on #493
Hi @Teresa7755, do you mind to share the logs?

[2020-05-26 15:54] lherman-cs commented on #494
Seems to be related to https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/247.

[2020-05-26 15:54] lherman-cs commented on #494
@chehefen do you mind to take another look?

[2020-05-26 15:57] lherman-cs commented on #494
@staowyze Do you mind to share the logs?

[2020-05-26 16:46] chehefen commented on #494
@staowyze can you share the sdk log for master?

[2020-05-26 16:47] MushMal commented on #493
@Teresa7755 per @lherman-cs suggestion, please share the viewer and the master debug logs.

[2020-05-26 17:41] chehefen commented on #466
could be due to this https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/bbe061a2ce6f63a82b4cc8b02e524859d73ce9f0/src/source/Ice/IceAgent.c#L648-L657. we are trying to free turn allocation during freePeerConnection.

[2020-05-26 20:43] mateuszboryn commented on #464
The problem is still there. I am not able at the moment to go into details now. I may reopen this issue later.

[2020-05-26 20:43] #464 closed

[2020-05-26 21:30] MushMal commented on #487
@guilms it really shouldn't matter. We will try to reproduce this locally here and get back to you too. Meanwhile, please update the issue with as much information as you can get. For example, try to run the sample gstreamer master as is against the browser in your network that you just used and observe whether there is any significant dropping of the frames occur.

[2020-05-26 23:00] staowyze commented on #494
Sorry I don't have the log, would the SDP from Alexa good enough? I assume you check the SDP to figure out if trickle ice is supported or not.
[code]

[2020-05-26 23:06] lherman-cs commented on #487
@guilms I just recently tried this, and it seems to be working fine on my end. Here's the branch for your reference, https://github.com/lherman-cs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/3a8e6a3b3e515a7dc88366b7161ce4eb87b67784.

[2020-05-26 23:13] lherman-cs commented on #487
Here's for the demo, https://streamable.com/q8lwhq

[2020-05-27 02:29] ajjiang48 opened #497 "timerQueueExecutor/turnConnectionTimerCallback error, returned status code: 0x00000001"
Hi, I used the WebRTC C SDK 1.0.0 and I got the below 2 ERRORs printed repeatedly after connected (the data transmission is OK):
+++++++++++++++++++++++++++++++++++++++++++++++
2020-05-27 01:21:47 ERROR   timerQueueExecutor(): operation returned status code: 0x00000001
2020-05-27 01:21:47 ERROR   turnConnectionTimerCallback(): operation returned status code: 0x00000001
++++++++++++++++++++++++++++

[2020-05-27 06:06] zwei333 commented on #425
We are using master branch as of 5/22/20.  The issue is still unfixed.
Now I can reproduce the issue reliably.
It only happens when we use IoT credentialing;
When webrtc starts and signaling channel is first time connected, if app sends an offer,camera will response with two ice candidates,  p2p and TURN.
And subsequent peer connection attempts will have the same result, UNTIL:
signaling channel c

[2020-05-27 06:26] zwei333 commented on #489
The special API is for IoT credentialing.  Channel is pre-created so "Describe channel" should be skipped.
channelInfo.pChannelName = NULL will tell SDK to do so
adding  "if(pSignalingClient->pChannelInfo->pChannelName)" before
STRCPY(signalingFileCacheEntry.channelName, pSignalingClient->pChannelInfo->pChannelName);
can fix the crash

[2020-05-27 06:31] zwei333 commented on #490
We will investigate why the error happens.
getNextNaluLength error is only one example of this issue.
Generally, if error happens frequently (for example, for each video frame), error messages will be printed many times.  It burdens logging storage.  Can SDK be smart in handling this case, do not flood the logging?

[2020-05-27 06:39] zwei333 commented on #488
Tried to send offer before camera's webrtc starts.  webrtc didn't receive the offer after start.
Have seen this issue with key/secret credentialing and connecting from KVS sample JS app.
Also got the same result with IoT credentialing and connecting from our app.
For this issue, what kind of tool is available for debugging?

[2020-05-27 07:11] MushMal commented on #425
There are few oddities with what you are reporting. I am just not sure how IoT would have any affect on this at all and also what exactly do you mean by renewing signaling every 5 minutes? Are you referring to the pong? Are you seeing ice server config refresh? Or, indeed your connection does get dropped for some reason?

Could you attach debug logs to understand what’s going on?

[2020-05-27 07:18] MushMal commented on #490
It depends on the situation. Adding more heuristics will make the code cumbersome and will break in some situations. This particular case should be replaced by DLOGW or DLOGV perhaps - it tells you that your frame is bad. You could then filter out those by setting appropriate level. Each case should be considered separately though.

[2020-05-27 07:24] MushMal commented on #488
Could you please email your account id to Kinesis-video-support@amazon.com and include your channel name and if you can the request id?

If I were to guess, there is an issue with a timeout or something similar

[2020-05-27 08:32] Nomidia commented on #486
Thank you, I have modified the capacity of the rolling buffer.

[2020-05-27 08:32] #486 closed

[2020-05-27 08:55] Teresa7755 commented on #493
[webrtc(Master).txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4687607/webrtc.Master.txt)
[WebRTCConnect(Viewer).zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4687608/WebRTCConnect.Viewer.zip)
Of course.  I test 7 times and all the requests from the viewer didn't be received by master. Could you please help to check this issue? Tha

[2020-05-27 16:52] lherman-cs commented on #489
@zwei333 Supporting null channel name seems to be a bit tricky since we use the channel name and region to get the cache back. So, I think it makes more sense to set the channel name to a constant value.

[2020-05-27 17:35] chehefen commented on #494
The sdp does say that it's not trickle ice. Are you running your own application? if so you need to bring in changes I added to the samples in this commit: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/6acd517830d97ae6142a6b9b097c758ebe5da09e

[2020-05-27 17:40] chehefen commented on #497
This issue was fixed after 1.0.0. Can you checkout the latest in master? Thanks.

[2020-05-27 17:46] zwei333 commented on #425
Please see the attached log file.  Notes:
1) it is mixed with SDK log and our application log.  They have different log format and our time stamp is 8 hours ahead of SDK log's timestamp
2) I put comments to help read the log.  Please search for marker "#######"
[first-attempt-fail.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4690776/first-attempt-fail.log)

[2020-05-27 17:49] zwei333 commented on #425
While being odd, the IoT and key/secret do have different behaviour. In IoT case, 1 TURN (good) or 0 TURN (bad) can be found; in key/secret, 2 TURNs or 1 TURN can be found

[2020-05-27 17:50] MushMal commented on #489
At the higher level validation on ChannelInfo we validate that either channel name or channel ARN is specified. If channel ARN is specified then we skip the describe state all together as the assumption is that the channel had been already pre-created.

While we don't encourage not specifying channel name, we should really fix the code to not crash for sure.

[2020-05-27 17:54] zwei333 commented on #490
Yes, it seems not practical to have more control on printing this error message
I will suggest that any message repeating quickly be DLOGW or below.

[2020-05-27 18:00] MushMal commented on #490
@zwei333 I agree that under the normal circumstances it should be DLOGV. However, we didn't expect this to be that type of issue.

Let me provide a quick fix shortly for this.

[2020-05-27 18:05] zwei333 commented on #489
I thought you require channel name == null for the iot case.  now looks like the decision is only made on if ARN == null or not.
Then I can give channel name its value to simplify the SDK code.  Having a special condition means adding a lot of corner cases.  I will try it quickly

[2020-05-27 18:09] MushMal commented on #489
Yes, that will help but we will follow-up with a fix for the crash anyway

[2020-05-27 18:18] zwei333 commented on #489
Thanks.  I tested.  With current SDK, if I give channel name its true value, not NULL, webrtc won't crash.  I am OK with the solution so far, so I will close this issue

[2020-05-27 18:18] #489 closed

[2020-05-27 18:33] zwei333 commented on #490
Other examples are
"socketConnectionSendData(): Failed to send data. Socket closed already."
"socketConnectionSendData(): sendto data failed with errno"
When wifi network is marginal, I got a lot of these prints.  While SDK can't improve wifi signal, the high volume error prints are quite a burden for the system

[2020-05-27 18:35] lherman-cs commented on #493
@Teresa7755 What channel name did you use for the viewer?

I saw that master used "749D79DD9DFF-2020CWA000299", which seems to be randomly generated. I'm afraid that your viewer didn't use the same channel name, and therefore the signaling messages from the master never arrived.

[2020-05-27 18:37] bdhandap commented on #488
@zwei333 Viewer can connect before the master and when the master connects it should receive any pending SDP message (offer/answer/candidate) if it is within TTL. However, there is an intermittent bug in Signaling service where the SDP message (offer/answer/ice-candidate) is not delivered during connect. We do have a fix in place which is pending deployment. I will update this thread once it is de

[2020-05-27 19:05] suggestedfixes commented on #475
@chehefen I’ve discovered that while opening and closing the viewer using the button worked. But closing the tab while the master is streaming, then opening another tab and opening new connections will block new connections regardless of client ID.

[2020-05-27 21:54] staowyze commented on #494
sorry, appears it's false alarm, just retried to get an sample log, but worked smoothly.

[2020-05-27 21:54] #494 closed

[2020-05-27 22:20] sharadrj commented on #475
Got report from customer - "For the single client ID testing. I’ve discovered that while opening and closing the viewer worked. But closing the tab while the master is streaming, then opening another tab and opening new connections will block new connections regardless of client ID. I am going to report it on github as well."

[2020-05-27 22:21] sharadrj commented on #469
Closing as duplicate since the issue is being discussed in #475

[2020-05-27 22:22] #469 closed

[2020-05-27 22:24] sharadrj commented on #466
@TomyTomm , is this issue resolved for you now?

[2020-05-27 22:30] chehefen commented on #442
@suggestedfixes is this still an issue now after the DTLS close change?

[2020-05-27 22:33] sharadrj commented on #427
Closing as stale.

@zwei333 , please reopen if you still see this issue.

[2020-05-27 22:40] sharadrj commented on #399
hi @suggestedfixes ,

I see this in webrtc internal report:
4/28/2020, 1:40:42 PM | connectionstatechangeconnected

Since the connection happen eventually, it probably is not a significant issue for you?

[2020-05-28 15:15] zwei333 commented on #488
Do we have an expected time of the fix deployment?

[2020-05-28 16:04] lherman-cs commented on #475
@suggestedfixes Do you mind to retry with the JS sample? https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/pull/56 should fix this issue.

[2020-05-28 17:46] lherman-cs commented on #425
@zwei333 from your logs, there seems to be no issue.

Regarding why you saw 1 p2p is because the ice gathering received the p2p candidate earlier than it finished allocating turn. You can observe this from a screenshot of your logs below. It shows that `Ice agent state changed from ICE_AGENT_STATE_NOMINATING to ICE_AGENT_STATE_READY` then later `TURN Allocation succeeded. Life time: 600 seconds. A

[2020-05-28 18:00] zwei333 commented on #425
The 1 p2p candidate is not concerned here.
We see one TURN candidate for offer before refreshIceConfiguration and zero TURN candidate for offer after refreshIceConfiguration.
Zero TURN candidate means when p2p is not possbile, app can't connect to camera.  But if app retries, then next offer will get back one TURN candidate.
This issue is consistently reproducible.

[2020-05-29 01:55] Teresa7755 commented on #493
The channal name that master used is MAC address and Serial number of the device. Each device has its own channel name and it will not be changed. Viewer should have the correct channel name because this issue doesn't always happen. When the websocket of master reconnect, viewer may play the live streaming successfully.

[2020-05-29 04:46] zwei333 commented on #490
Issue is fixed

[2020-05-29 04:46] #490 closed

[2020-05-29 15:34] lherman-cs commented on #493
@Teresa7755 Ah I see. From the logs, I could only find that the message from the viewer somehow got lost.

To expand our finding, I've asked our backend team to take a look into the signaling channel's log.

[2020-05-29 19:38] zwei333 commented on #427
At a closer look, I found that in this issue, Signaling Client reconnection didn't happen.
Only refreshIceConfiguration repeated frequently (1~5 seconds after signaling client state changed to "Connected")
During the time, network was doing well.  Every refreshIceConfiguration request succeeded.
It seems some logic inside kvs SDK that frequently called refreshIceConfigurationCallback().
It is a di

[2020-05-29 20:16] zwei333 commented on #424
Once "Client WSS closed", SDK automatically starts re-connection.  It is good.
However, please see the following lines, which are copied from the attached log file.
At iceServerConfiguration request, everything looked normal and wifi wa good, but suddenly, STATUS_SIGNALING_RECONNECT_FAILED error was reported.  I like to confirm re-connection logic is correct and the STATUS_SIGNALING_RECONNECT_FAIL

[2020-05-29 20:26] suggestedfixes opened #500 "[Question] Signaling Channel Client ID regex"
What is a valid set of characters that can be used to specify signaling client viewer/master ID?

[2020-05-29 20:42] lherman-cs commented on #425
I'm sorry for my bad wording. What I really meant was about no turn candidate. When ice agent state became ready, what it means is that 1 candidate pair has been nominated and is being used (in this case, p2p is being used). So, at this point, unused turn allocations will be freed up, and the turn candidate WILL NOT be reported since it's still trying to allocate.

Maybe, could you try to turn off

[2020-05-29 20:52] lherman-cs commented on #500
@suggestedfixes It's  `^((?!(?i)AWS_.*)[a-zA-Z0-9_.-]`. For more details, you can find it here, https://docs.aws.amazon.com/kinesisvideostreams-webrtc-dg/latest/devguide/kvswebrtc-websocket-apis-1.html.

[2020-05-29 20:56] #500 closed

[2020-05-29 22:07] MushMal commented on #424
@zwei333 could you please cut a new issue and include the detailed description of what you are seeing. From the latest, it seems that you are getting 0x5d000030 which is indeed a reconnect failure but the log snippet doesn't show what's going on and why we are refreshing ice server config every 5 seconds.

Please include the debug logs. Also, if this is on the device, it might help to also include

[2020-05-30 04:33] zwei333 commented on #425
I used my system to capture the log.  In my system, webrtc was doing p2p.  But other system was using TURN.
Initially the issue was found by system with TURN.  The ice candidates discovery was exactly the same as the attached log: 1 TURN for connection request before refreshIceConfiguration, 0 TURN for connection request after refreshIceConfiguration, and retry of connection request got 1 TURN.
Wh

[2020-05-30 04:57] zwei333 commented on #424
This issue is about re-connection failure.  Refreshing ice server config every 5 seconds is a different issue.
The issue I worry about is why the re-connection fails.  If it fails because network / lws is still bad, then it is OK.  But if it fails because SDK bug, then we should fix it.  The re-connection is a very nice SDK feature.
The log is pretty hard to get.  I could wait for days to get a WS

[2020-05-30 06:45] MushMal commented on #424
I understand. It is indeed hard to capture. We do try to simulate various failure modes in the unit tests by fault injecting. Perhaps you could take a look at the fault injection logic. It’s designed to simulate various real failures and helped us to catch some edge cases that are hard to “guess” bales on the SDK reliance on libWrbSocket library, which in turn relies on the platform specific socke

[2020-05-31 03:39] tesnorindian commented on #487
Yes, I too tried receiving h264 streams to my gst pipeline without any issues from my Chrome 79 browser. But looks like chrome 81 on Android has issues decoding the H264 because of the change in the level id and changes in number of macroblocks. While pushing the buffer to the gst pipeline are you following the timestamping for the frame buffer correctly?

[2020-05-31 03:57] tesnorindian opened #502 "Support for VP9"
Hi All,

It would be nice if AWS WebRTC C SDK supports VP9 payload. As VP9 is widely used now in Mobile and Web and AV1 adoption is still a long way to go.

How can I enable support for VP9. Is it similar as like VP8? Or is there any special needs for VP9. I don't have much idea about RTP payloads and its type. If somebody can guide me it will be of helpful.

[2020-06-01 09:16] enobufs opened #503 "Remote ufrag was truncated at 4 bytes in STUN Username field it sends"
Trying to establish data channel between this library and pion/webrtc, but ICE connectivity check fails due to an error with Username field in the STUN request sent by this kvs SDK app.

In Offer SDP from KVS
* a=ice-ufrag:RIzb
a=ice-pwd:hl+Ij3pKqbQ90Pks5Sajaj7F

In Offer SDP from Pion
* a=ice-ufrag:hJvApKEMjzEqQTEq
* a=ice-pwd:RRCUoZyezcNoHGkuIKGakdpknAPLNGwh

On wireshark STUN packets from KVS h

[2020-06-01 09:33] Teresa7755 commented on #493
Hi @lherman-cs . That's strange.  In our system, App as a viewer should send offer SDP and candidates to camera, camera will always be a master and send the answer after receiving the offer.

[2020-06-01 10:27] tesnorindian opened #505 "Firefox 76 not working with KVSViewer"
Hi all,

KVSViewer is dropping the STUN packets from Firefox 76 running in Win 10. The following log is being printed by the viewer

2020-06-01 10:17:00 WARN    handleStunPacket(): Dropping unrecognized STUN packet. Packet type: 0x111. Packet content:
        011100142112A442A1C590810A03E7171397C5C70009001000000401556E617574686F72697A6564
2020-06-01 10:17:00 WARN    handleStunPacket(): Dropping un

[2020-06-01 12:06] guilms commented on #487
@tesnorindian @MushMal I managed to get a working video feed on my Jetson Nano. It seems that the problem was that I was registering callbacks for video and audio while there was only one incoming video feed (no audio). I'm now registering callbacks only when necessary.
I still have to fix a problem with the video feed that slows down after a while. So far I haven't specified the timestamp for the

[2020-06-01 12:18] Teresa7755 commented on #493
These are the latest logs. From the logs,  master didn't receive the offer at all from viewer on 2020-06-01T183217.601+800. So the live streaming always failed from that time on. This issue often occurs during our tests. Could please help to check this issue? Thank you.
[WebRTCConnect_viewer0601.zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/4711133/WebRTCConnect_v

[2020-06-01 15:50] lherman-cs commented on #502
I think supporting VP9 would be just a matter of serializing and deserializing RTP headers with proper VP9 spec for RTP. I should be similar to VP8.

@Sean-Der any thought?

[2020-06-01 16:46] lherman-cs commented on #428
The CI stability has been improved by https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/485. Although, test flakiness is still there, but it's minor. We should create another issue when a new issue related to this occurs.

Before:
<img width="1023" alt="Screen Shot 2020-06-01 at 12 43 59 PM" src="https://user-images.githubusercontent.com/15654932/83431769-de531500-a405-11ea

[2020-06-01 16:46] #428 closed

[2020-06-01 17:28] MushMal commented on #487
Resolving this as the original question seems to have been resolved. Please open a separate issue if you need further help

[2020-06-01 17:28] #487 closed

[2020-06-01 17:54] chehefen commented on #475
issue is fixed by https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/pull/56

[2020-06-01 17:54] #475 closed

[2020-06-01 17:56] chehefen commented on #505
@tesnorindian  can you try checkout this PR https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/504? I think it may solve the issue you ran into.

[2020-06-01 21:59] lherman-cs commented on #493
@Teresa7755 I still couldn't find any offer coming from viewers, I could only find from master.

To make sure that I'm identifying the issue correctly, would you mind to share/verify some details?
1. What's your timezone? From your logs, I found that you're in UTC+8.
2. Could you try to rerun your viewer with `AWS_KVS_LOG_LEVEL=2` environment?

[2020-06-01 23:08] suggestedfixes commented on #446
It turns out as for gstreamer, it is pretty cumbersome to stop the pipeline.

[2020-06-01 23:25] chehefen commented on #425
Hi @zwei333, I tried to reproduce your issue by switching to iot credential provider, use TURN only NAT mode in js sample, then view sdk master after each signaling refresh. The connection was always successful. Can you check if you can reproduce the issue by running our sample?

[2020-06-02 00:05] suggestedfixes opened #508 "[BUG] Regression - Data Channel No Longer Receiving Incoming Messages"
**Describe the bug**
In Common.c, we can usually print the message from channel message callback
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L21
However, when using https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html, we can no longer receive data channel messages.

**To Reproduce**
Steps to reproduce the be

[2020-06-02 02:12] tesnorindian commented on #502
Hi Iherman-cs,

Please find the latest VP9 RTP payload spec for your reference.

https://datatracker.ietf.org/doc/draft-ietf-payload-vp9/

Thanks in advance.

[2020-06-02 03:54] MushMal commented on #502
Thanks for the information @tesnorindian . We will try to provide the vp9 support based on the priority. Meanwhile, we are welcoming any contribution to the code base

[2020-06-02 06:59] tesnorindian commented on #505
@chehefen,  I can confirm that PR #504 fixes this issue and can be closed.

[2020-06-02 06:59] #505 closed

[2020-06-02 09:49] tesnorindian opened #510 "[QUESTION] Segmentation fault while adding a new addTransceiver() in Common.js"
Hi all,

I am trying to add a new screen video track for my KVSViewer. I made changes to the struct __SampleStreamingSession in Samples.h under the samples folder and made the corresponding changes in Common.js

 screenTrack.kind = MEDIA_STREAM_TRACK_KIND_VIDEO;
 screenTrack.codec = RTC_CODEC_H264_PROFILE_42E01F_LEVEL_ASYMMETRY_ALLOWED_PACKETIZATION_MODE;
    STRCPY(screenTrack.streamId, "myKvsVid

[2020-06-02 10:38] tesnorindian commented on #502
Thanks @MushMal .

[2020-06-02 11:13] tesnorindian commented on #510
Hi all,

This line is causing the segmentation fault.

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/57a95ad270c5cea872efa24432a67341e9468672/src/source/PeerConnection/SessionDescription.c#L542

The pSdpMediaDescription is got from the pLocalSessionDescription which is initialized in the createOffer()

[2020-06-02 18:18] #443 closed

[2020-06-02 18:59] MushMal commented on #508
Thanks for reporting and the suggestions. This is the higher priority issue for us to look.

[2020-06-02 19:15] #503 closed

[2020-06-02 20:00] MushMal commented on #510
Need to take a closer look at the codebase but we have unbound array access here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/SessionDescription.c#L585 and here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/SessionDescription.c#L597

whereas https://github.com/awslabs/amazon

[2020-06-02 22:04] bdhandap commented on #488
@zwei333 Changes are deployed. It should work now. Can you try again ?

[2020-06-02 22:41] MushMal commented on #454
Just wanted to give a short update - this is still in progress. Should be in soon :)

[2020-06-02 22:43] disa6302 commented on #364
@enobufs ,

Just wanted to update you. The logic is fixed and sitting in a branch. Working on the tests. Will update this ticket once the tests are in! Thanks!

[2020-06-03 01:02] enobufs commented on #364
That's good news! I hope it would solve #508 all together!

[2020-06-03 04:01] Teresa7755 commented on #493
1. Yes, it's UTC+8
2. Viewer used Android SDK, does it have AWS_KVS_LOG_LEVEL ?

[2020-06-03 16:59] zwei333 commented on #488
Have tried, but no change.  Started viewer first and camera later.  offer is lost

[2020-06-03 17:07] zwei333 commented on #425
It is more complicated than I originally thought.
The result depends on the app layer code.  If I add even one line of code at a certain spot, the TURN discovery will be different.  In good case, 1 TURN Ice is found and in bad case, 0.
Some compiling/building issue seems affecting the SDK's performance.  In the case of 1 / 0 TURN ice discovered, with the same binary executable, the result will be

[2020-06-03 17:45] suggestedfixes opened #513 "[QUESTION] How to improve connection speed?"
I'm trying to improve connection speed for slow home networks, what would be a list of things to consider?
We are already pre-generating certificates. Another thing that I can think of is to turn down the following timeouts. Would that be a good idea? What else would be helpful?

#define KVS_ICE_GATHER_REFLEXIVE_AND_RELAYED_CANDIDATE_TIMEOUT          10 * HUNDREDS_OF_NANOS_IN_A_SECOND
#define KVS_

[2020-06-03 17:57] MushMal commented on #513
@suggestedfixes from what I understand you are trying to improve the startup time latency?

You might want to describe your scenario in details. Map the processing out and measure each individual component time.

For example:

Master:
* The app start time (what's included on the startup time)
    - Can the entire startup be moved off of the "hot" path
    - Configure signaling caching (defaults ar

[2020-06-03 18:24] suggestedfixes commented on #513
We are describing the use case of browser to device scenario, where the browser (viewer) can be in any network conditions and the device (master) can be behind a NAT/VPN

[2020-06-03 18:29] MushMal commented on #513
The signaling client attempts to proactively fetch the credentials but depending on the timing and network latencies and retries, it might ask for refreshing the credentials. Normally, you don't have to do anything but just provide the credentials when called.

The caches are not "active" - if the call fails due to expired endpoint for example, the state machinery will move to the right state and