[2020-08-04 14:53] suggestedfixes commented on #674
I'm going to spend some time today on that.

[2020-08-04 16:57] MushMal commented on #685
There is indeed a race condition here (however small but there is a race) when the lines in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMaster.c#L238-L239 intermesh with https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L808-L809

I think we should simply interlock these as providing atomici

[2020-08-05 00:26] suggestedfixes commented on #674
@chehefen. Confirmed with e38951f4a9329e9e2d1c0b51cc0b41ef3b950e57, similar probability. What is weird it's not reproducible on intel processors. You may have to scavenge some arm processors. @disa6302 might have one in lab.
Architecture:          armv7l
Byte Order:            Little Endian
CPU(s):                1
On-line CPU(s) list:   0
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s

[2020-08-05 01:03] suggestedfixes commented on #674
Also again, force turn works every time. Stun is flaky.

[2020-08-05 01:10] suggestedfixes commented on #674
Another fail path by forbidden IP, what is puzzling is that 3.x.x.x is an AWS relay server I think, but still failed.
[code]

[2020-08-05 02:50] suggestedfixes opened #687 "[QUESTION] Customized timestamps?"
We are trying to figure out how to send customized timestamps using presentationTS.
What we figured is we can use inbount-rtp from stats API from browser side.
However, my colleague reports that the timestamp displayed by the browser is the current time, not the transported time.
- An idea would be sending timestamps using data channel instead.
- Any other ideas?

timestamp | 8/4/2020, 7:48:08 PM

[2020-08-05 06:34] #677 closed

[2020-08-05 08:52] codingspirit opened #688 "[BUG]Windows: Assertion during runtime"
**Describe the bug**
A clear and concise description of what the bug is.
Run Windows built ClientMaster sample will have assertion like this:
![image](https://user-images.githubusercontent.com/20569533/89390891-0169b000-d73a-11ea-8139-de61c6528789.png)
After that sample will be terminated.

Maybe we should use `closesocket` under Windows instead of `close` in https://github.com/awslabs/amazon-kine

[2020-08-05 15:54] lherman-cs commented on #687
Since we use the frame's presentationTS for the RTP header's timestamp (https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/b11153b14d0cace10b27f0e13ea409347f6e71f8/src/source/PeerConnection/Rtp.c#L217), you can extract the presentationTS from the RTP header on the JS side (https://tools.ietf.org/html/rfc3550#section-5.1). According to w3c webrtc spec, you can get the rtpTime

[2020-08-05 16:29] suggestedfixes commented on #687
Thanks! That was a lot of help!

[2020-08-05 16:29] #687 closed

[2020-08-05 17:41] #685 closed

[2020-08-06 00:06] suggestedfixes commented on #674
Any log such as stack trace/etc I can supply to assist?

[2020-08-06 22:51] staowyze opened #689 "[QUESTION] WebRTC metrics"
Hi, I would like to collect some metrics from the SDK, specifically:
1. if an session is using TURN or not
2. if error happens in an session, what's the error code

For the first item, seems I could use `RtcIceCandidatePairStats`, which is not implemented yet.
I would like to hear expert opinions, how do I collect those metrics.

Thanks,

[2020-08-06 23:18] staowyze opened #690 "[QUESTION] Cannot see video in the browser"
Hi, while trying to view video from the browser, I got the following errors, any clue what could be wrong?
[code]

[2020-08-07 15:57] disa6302 commented on #689
@staowyze ,

1. You can get information about which candidate is selected through ICE candidate stats too. That will contain information about the source of the candidate (server url for local candidate) which could be useful in your case.
2. About error codes - we log error code information currently and also do return error codes as part of any public api calls that reflects what failed. Is ther

[2020-08-07 17:20] staowyze commented on #689
thanks for your answers, I am looking at the sample master application, from my understanding, after initialization, the master application is triggered by audio/video writeFrame function and internal signaling channel thread, my question would be what's the best way to get error code of the signaling channel thread, probably if writeFrame fails, I can get the error from its return value.

[2020-08-07 17:46] chehefen commented on #690
did you see logs like this?
`2020-08-07 17:45:14 DEBUG   iceAgentReadyStateSetup(): Selected pair LWY5hrJpi_ZbuGINDH4, local candidate type: host. Round trip time 1 ms`
As long as you see that there should be video playing. Otherwise there are some connectivity issue.

[2020-08-07 18:46] chehefen commented on #674
can you also provide the log when it works using STUN? Can you capture the log from ice start to either ice ready or fail. Thanks

[2020-08-07 23:15] staowyze commented on #690
do you know why the socket is closed already? I didn't pay attention about `iceAgentReadyStateSetup` log. Not very reproducible.

[2020-08-08 19:16] sharadrj commented on #493
@coldheartday, @Teresa7755,

This issue should be fixed now with the service fixes in #562. Please re-open if you can still able to reproduce it.

[2020-08-08 19:16] #493 closed

[2020-08-08 22:12] sharadrj commented on #364
Closing as the requested feature has been implemented.

@enobufs, please reopen if needed.

[2020-08-08 22:12] #364 closed

[2020-08-10 17:22] chehefen commented on #690
it could happen when turn allocations are created but not used because p2p connection is found. During the turn shutdown process this could happen. It's more of a debug message in this case.

[2020-08-10 19:38] MushMal commented on #689
@staowyze I am not sure I understand the question. With WebRTC solution, the embedded SDK has two object graphs - one is the standardized WebRTC objects rooted to the PeerConnection and the other is the Signaling which is KVS concept. Both of the object roots (DAGs) are handled in the sample.

Signaling can return operation errors during the API call if something fails or dynamically at runtime (t

[2020-08-10 20:43] shiv50084 opened #693 "[BUG] with latest commit from master branch sample ./kvsWebrtcClientMaster code Crash"
**Describe the bug**
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[KVS Master] Using trickleICE by default
[KVS Master] Created signaling channel myChannel
[KVS Master] Finished setting audio and video handlers
[KVS Master] Checked sample video frame availability....available
[KVS Master] Checked sample audio frame availab

[2020-08-10 21:03] MushMal commented on #693
Odd, seems that we are ending up with an IPv6 address which causes internal assertion in the code TurnConnection.c LN 620.

Need to look further into this.

[2020-08-11 00:48] chehefen commented on #693
can you tell us what application are you using to view?

[2020-08-11 01:47] suggestedfixes commented on #674
[stun.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5054301/stun.txt)
Stun when it works with candidate type local

[2020-08-11 01:51] suggestedfixes commented on #674
I also notices extra sessions not cleaned up.

[2020-08-11 02:14] codingspirit opened #694 "[FEATURE] Switch from TURN to STUN during run time"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In some scenarios, STUN might takes much longer time to establish connections while TURN is much faster.
i.e. TURN might takes 1 sec to start tranfering video stream, STUN might takes 6.

To improve user experiences and cost down, develope

[2020-08-11 02:50] pai-da-xin opened #695 "run ./kvsWebrtcClientMaster and ./kvsWebrtcClientViewer code"
* Hi,When I run the ./kvsWebrtcClientMaster and ./kvsWebrtcClientViewer code,They often fail and often need to run about ten times in a row to succeed once

* This is the log when I failed to run,The ones with * are my own added prints.

[KVS Master] Created signaling channel testChannelYi
[KVS Master] Finished setting audio and video handlers
[KVS Master] Checked sample video frame availability..

[2020-08-11 03:46] shiv50084 commented on #693
I am using this test page to see video

https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html

[2020-08-11 04:01] MushMal commented on #695
It's hard to tell what's going on without debug output from libWebSockets - for that you would need to delete the libWebSockets binary from the build, set the CMake file to enable debug by uncommenting https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/CMake/Dependencies/libwebsockets-CMakeLists.txt#L43 and adding LLL_DEBUG or-ed with the other params in https://githu

[2020-08-11 04:02] MushMal commented on #695
P.S. I am going to remove the wording "crash" as it's not a crash. Also, this doesn't look like a bug but a network condition on your client side.

[2020-08-11 05:31] shiv50084 commented on #693
@MushMal
Yes you are right When i am using Wifi Router which having IPv4 Public IP on that Its working Fine without any crash.
When i am using Mobile Network DATA to connect my camera and laptop . Its having IPv6 public IP. Its crash.

But even i am connecting through mobile network .Its should not crash. Its through some error without assert.

[2020-08-11 05:36] MushMal commented on #693
@shiv50084 you are absolutely correct, it shouldn't assert. What we need to understand is why we are hitting the IPv6 case in the TurnConnection in the first place as we are not expecting this. This is indeed a bug on the SDK side and we need to get to the bottom of this issue and fix. In this case, due to IPv6, it would fail to connect but certainly not assert with a following crash.

[2020-08-11 05:47] shiv50084 commented on #693
@MushMal Can you please let me know when we (your team and our team) fix this issue?

And when we support IPv6 for this SDK.

As in normal condition if end user not having proper internet connection through ISP provider then they use mobile data network to connect their devices.
So in that condition we are failing here to implement webrtc in our device.

[2020-08-11 05:51] MushMal commented on #693
We are using public open-source development model so all of the progress is done via GitHub. You can certainly monitor the progress here.

This said, you have two questions:

1) Assert that is the root cause of the crash
2) IPv6 support

#1 is what we will need to fix as a follow-up to this issue. This is the case that for some reason we end up with attempting to use TURN with IPv6 whereas if this

[2020-08-11 06:50] pai-da-xin commented on #695
* I'm so sorry,the reply was a little late.Thank you for your answer.And the first time I used this, the operation was a bit wrong
* I use a VMware virtual machine and sentos7 ios image.In addition, I only added a few words to the code to "printf",They are the sentences with '*',Environment variables have also been added, as follows:

export AWS_SECRET_ACCESS_KEY=****************************
expor

[2020-08-11 09:14] pai-da-xin commented on #695
* After set the CMake file to enable debug by uncommenting https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/CMake/Dependencies/libwebsockets-CMakeLists.txt#L43,Run cmake .. no change.
* After adding LLL_DEBUG or-ed with the other params in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/LwsApiCalls.c#L53 and http

[2020-08-11 12:16] suggestedfixes commented on #674
I'm beginning to think that this is a particular edge case of local to local STRUN.

Our topology, our office has interfaces by two ISP with two public IPs. Routers are non-symmetric.
I'm going to experiment with different gateway configurations.

[2020-08-11 17:47] MushMal commented on #695
It appears that you are still not getting LWS debug spew out - likely you haven't actually rebuilt the libWebSockets.so library again.

Looking at the log, it simply seems that your networking doesn't establish websockets to the backend and as a result it times out. The overall retry also times out and results in the application termination.

Could you please change

https://github.com/awslabs/ama

[2020-08-11 17:57] #690 closed

[2020-08-11 21:50] staowyze commented on #689
Thank you, this is very valuable to me.
If I understand the SDK correctly, I could get peer connection errors via the callback `peerConnectionOnConnectionStateChange`
and signaling errors via
[code]

[2020-08-11 22:50] MushMal commented on #689
No, these are purely for the signaling.

SignalingClientMessageReceivedFunc - this will be called whenever a peer sends a signaling message. You can see the usage of this in the sample. This is how the master sample receives an offer for example.
SignalingClientErrorReportFunc - this function will be called whenever the core of the SDK hits an error "dynamically". Not sure what a better term is bu

[2020-08-12 01:25] pai-da-xin commented on #695
@MushMal This is the log that I run after modifying these two places,It seems to be getting worse,as follows:

[KVS Master] Created signaling channel testChannel
[KVS Master] Finished setting audio and video handlers
[KVS Master] Checked sample video frame availability....available
[KVS Master] Checked sample audio frame availability....available
[KVS Master] KVS WebRTC initialization completed su

[2020-08-12 01:35] MushMal commented on #695
The SDK itself builds very fast, it's the dependency download and rebuild that takes a long time. For those, you could choose to install them specific to your platform - OpenSSL, libWebSockets, etc.. You can check the list in the CMake directory.

There is still no debug spew from the libWebSockets. What I noticed is that it takes multiple seconds for the RESTful API calls and it points to a slown

[2020-08-12 02:01] pai-da-xin commented on #695
@MushMal Can these dependencies be downloaded directly from the terminal?Do you need to modify makefile after downloading?

[2020-08-12 08:54] pai-da-xin commented on #695
@MushMal When running the master sample program, whether to use the Internet or LAN.I've tried both the Internet and the LAN, and they have this problem.

[2020-08-12 16:42] MushMal commented on #695
Sorry we are unable to help but this looks more like it's related to your local network issue. I would recommend troubleshooting the network connection, make sure you select the closest region. Also, ensure your credentials have proper access rights to connect to the channel. Also, some corp firewalls have issues with bi-directionality, on those networks the websockets would fail.

[2020-08-12 16:51] chehefen commented on #674
in Stun.txt, the selected candidate type is host. it can only work if both master and viewer are in the same network. is that always the case?

[2020-08-12 16:55] zhuker commented on #578
@disa6302 i will need data channel stats as well
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/697

[2020-08-12 17:23] disa6302 commented on #578
@zhuker ,

Sure! I can work on it. Should not take long to implement.

[2020-08-12 17:25] fernandoc1 opened #699 "[QUESTION] Too many onRtcpReceiverReport messages"
I'm receiving a lot of these messages, when running Kinesis on my hardware:
onRtcpReceiverReport(): RTCP_PACKET_TYPE_RECEIVER_REPORT rttPropDelay

What does these messages mean? How can I fix this?

[2020-08-12 17:26] disa6302 commented on #699
@fernandoc1 ,

Apologies for the log spew. There is a PR that includes this change. But, let me push a new PR to fix this.

[2020-08-12 17:27] suggestedfixes commented on #674
I will try to reproduce again

[2020-08-12 17:39] #689 closed

[2020-08-12 18:35] suggestedfixes commented on #674
[stun_failed.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5064950/stun_failed.txt)
Case where candidate type is host and failed

[2020-08-12 18:41] #693 closed

[2020-08-12 18:49] suggestedfixes commented on #674
I tested two types of host:
- browser same network with single ethernet interface.
   - ok
- brower on same network with multiple interfaces
   - this is flaky,
   - in the log: 10.1.9.24 is where the machine's eth ip
   - 10.1.14.2 is the camera ip
   - expect to match 10.1.9.24 as remote candidate and 10.1.14.2 as local candidate

[2020-08-12 18:56] suggestedfixes commented on #674
Maybe there's a place where I can configure max candidate pairs

[2020-08-12 19:04] suggestedfixes commented on #674
Tested with single interface enabled and similar failure STUN host failed connection probability. Uploading log soon.

[2020-08-12 19:31] suggestedfixes commented on #674
The one on the same network with single interface that works everytime with STUN gets srflx/prflx selected everytime, where srflx_ip == prflx_ip.
Generating the one that's having trouble with STUN/TURN, since force turn works everytime, getting log for single interface, same network, force stun.

[2020-08-12 19:33] suggestedfixes commented on #674
@chehefen OHHHHHHHHHHHHHHHHHHH. I understand the 1/3 probability of failing now!!!!!!!!!!!!!! We randomly select a turn server. One of them must by faulty!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-08-12 19:35] suggestedfixes commented on #674
@chehefen nvm, force turn works everytime

[2020-08-12 20:16] suggestedfixes commented on #674
First, successful code path, pc with ip 10.1.9.85
[code]

[2020-08-12 20:20] suggestedfixes commented on #674
Similar config, but with ip 10.1.9.24, force stun, single interface, but fails everytime now
[code]

[2020-08-12 20:47] #699 closed

[2020-08-12 20:55] fernandoc1 opened #702 "[FEATURE] Create an easy way to change video/audio frame sources"
I'm working a product that is based on Kinesis for streaming through WebRTC.
I have an working version of the code that is streaming almost flawlessly, but I have some issues that I think that with time, the Kinesis staff will fix.
Due to the rapid pace that Kinesis is being updated, I would like to request an easy way to change the frame source in the master example.
My suggestion is to create an

[2020-08-12 21:21] MushMal commented on #702
@fernandoc1 thanks for reaching out. I would like to learn about your thoughts a little more. The samples attempt to abstract the media pipeline and it's "liveness" by spinning up a thread that acts as the pipeline that produces frames for a particular type at a given cadence. For video, we have chosen pre-canned frames so we can eliminate any dependency on the actual media pipeline/encoders. We h

[2020-08-12 22:18] zhuker commented on #578
were you already working on it?

[2020-08-13 00:43] pai-da-xin commented on #695
@MushMal I am now in Shenzhen, China. Is it related to this.How do I choose the closest region.

[2020-08-13 06:17] MushMal commented on #695
It's hard to tell but I would guess ap-northeast-1 would be the closest region currently.

[2020-08-13 06:43] disa6302 commented on #578
I am half way through.

[2020-08-13 12:15] fernandoc1 commented on #702
Here is the code from master example, that I have customized:
[main.cpp](https://gist.github.com/fernandoc1/1c31743a696833026147ef9371fa9070)
I would like to just make this simple to change the frame source, when I update the code.

[2020-08-13 16:51] suggestedfixes commented on #556
Don't worry about making new changes, I assure you have broken the build multiple times :P

May I suggest to make a new CMAKE flag for this particular type of platform? (I've witnessed humongous systems working seamlessly with millions of flags)
This way we keep the old behaviors. And for customers using a similar platform, they can try out this new flag. If this new flag doesn't work, there's not

[2020-08-13 16:59] MushMal commented on #556
@suggestedfixes we have considered various approaches to platforms which we don't directly support but we really need to be able to draw a line. Almost every single build issue we had had has been absolutely unrelated to the KVS SDKs but rather building or linking it's dependencies. While we still don't have a good solution, we try to at least keep the minimal build workable in the TravisCI config

[2020-08-13 17:40] suggestedfixes commented on #556
"I do think having some options of passing build flags into the dependencies is a nice to have but does it warrant the complexity?"
Yes, but you spend less support time on custom builds and hours of customer meetings complaining. So that you can have more time on the fun part, development.

"Many developers working on proprietary platforms know better how to directly modify the CMake files for the

[2020-08-13 17:44] suggestedfixes commented on #556
"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/system-requirements.html"
Here is a list of advertised supported hardware for kvs producer.
I think it's reasonable to define bare min to be those ones for WebRTC as well.

[2020-08-13 18:24] lherman-cs opened #703 "[FEATURE] Add error callback to PeerConnection"
**Is your feature request related to a problem? Please describe.**
Getting error codes from PeerConnection is not possible when the error itself happened in the background.

For example, when the ICE agent fails at the connectivity checks and no ICE candidate pairs were formed, we can't get the error code that caused this. We can only get the state updated to `FAILED` through registering a callbac

[2020-08-13 18:37] fernandoc1 commented on #703
It would be nice if there were a feature to handle all errors in a user defined function callback.
In my case for example, I have a log service, based on ubus and if I could send any error messages to this service, it would make debugging easier.

[2020-08-13 19:09] MushMal commented on #703
There are few aspects that I would like to clarify/add some food for thought. This is a great discussion, please keep this going

1) The case with signaling callback. This works great for the errors that happen at runtime or what's called "dynamic" errors. However, we still have the same issue on the public APIs. Unlike KVS Producer APIs which have SYNC APIs sitting on top of public ASYNC API wher

[2020-08-13 19:16] MushMal commented on #556
@suggestedfixes perhaps we should set the correct expectations as well. The documentation you bring in talks only about the hardware that we tried internally. This has no bearing on whether the TravisCI build system will support it in the GitHub nor whether WebRTC is supported on those. While I completely understand that it would be very useful for some customers such as yourself to have their har

[2020-08-13 20:31] fernandoc1 commented on #556
I think that putting the dependencies as a submodule of kinesis would help fix some issues, because we could apply automatic patches to those modules and then fix particular platform issues.
When I'm compiling the source, I really don't like the fact that dependencies are downloaded as part of the CMAKE configuration process.
If I need to change anything in the downloaded modules, these changes ar

[2020-08-13 22:38] MushMal commented on #702
@fernandoc1 do you really need to pre-generate the ephemeral cert for DTLS? I would strongly recommend not doing so and letting the session to generate the cert if your hardware allows for fast generation. Some low-powered devices take multiple seconds to run the necessary crypto operation to generate the session certs and that's the reason why you can pass it along.

With the pre-generated certif

[2020-08-13 23:12] fernandoc1 commented on #702
One suggestion to make it easy to replace the source is to change the "readFrameFromDisk" to a function like "readFrameFromSource", that just reads the next frame from a source. If this function is implemented in a separated source file, you could deliver an example that reads from the disk, and customers that are implementing solutions with Kinesis, just replace this file with their own implement

[2020-08-13 23:25] MushMal commented on #702
If I am reading it correctly, you are still OK to do compile-time solution rather than some dynamic solution for the media source? If so, it's pretty straight-forward. Moreover, please let me know if you want to take a stab at it and if not, we can outsource the media source into a file shortly in a priority order.

[2020-08-13 23:58] fernandoc1 commented on #702
Yes, compile time solutions would be the best for us. All I need is a reliable Kinesis streaming from our shared memory source. If you could help us dealing with this, we will be happy Kinesis customers.
Our immediate needs are:
 - Fast startup time;
 - Fast streaming start response;
 - Auto recovery from network errors;

When I start my streaming with a pre-loaded certificate, the streaming start

[2020-08-14 01:05] pai-da-xin commented on #695
@MushMal Where should I modify this area.I haven't found it yet.

[2020-08-14 07:42] pai-da-xin commented on #695
@MushMal My kVs console address is us-west-2.And no matter which other area I choose, the signal channels created by each run of the sample program are only displayed in us-west-2,Even if the sample program fails to run.

[2020-08-14 10:04] franktseng0718 opened #705 "How to see kvsWebrtcClientViewer's received frames"
I am a beginner to KVS. I want to try some sample codes in amazon-kinesis-video-streams-webrtc-sdk-c/samples. I've run kvsWebrtcClientMasterGstSample and run another kvsWebrtcClientViewer to receive incoming streaming. I've seen some messages like below on my viewer's terminal.

I think it did received frames successfully.But I wonder how to see the incoming streaming with kvsWebrtcClientViewer. I

[2020-08-14 10:26] pai-da-xin commented on #695
@MushMal The problem has been solved.Thank you very much for your reply.

[2020-08-14 10:30] sochildish opened #706 "usrsctp_connect return -1"
It can transmit audio and video normally , but I can't send strings using datachannel

SDK version 1.3.0

[2020-08-14 12:36] #695 closed

[2020-08-14 12:38] MushMal commented on #706
Could you please attach debug logs and describe your scenario and the assets you are using?

[2020-08-14 13:00] fernandoc1 commented on #601
I think that this is a common issue when building Kinesis. If they could just add these flags from a external switch, it could make the building process easier.

[2020-08-14 13:13] fernandoc1 opened #707 "[QUESTION] The minimum steps to connect to peer"
I'm having a lot of trouble connecting Kinesis. There are some times that the application fails with these messages:

<pre>
[KVS Master] Using trickleICE by default
Reading key and certificate
[KVS Master] Created signaling channel L1HEMPNBA9XG5YDF111A
[KVS Master] Finished setting audio and video handlers
[KVS Master] KVS WebRTC initialization completed successfully
[KVS Master] Signaling client

[2020-08-14 16:10] lherman-cs commented on #705
We currently only listen to audio frames. The code is specified here:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/e2fad0b46c5ae8ccfae5fd600c523c97f9cf8b3e/samples/kvsWebRTCClientViewer.c#L105-L109

[2020-08-14 16:40] MushMal commented on #707
There really isn't enough information in the log to debug it. The connectivity issue could be caused by a number of issues:

* Check whether you have the appropriate rights
* Check whether you have proper network connection - some firewalls will not allow bidirectional communication
* Once the above two have panned out, you might want to enable debug spew from the libWebSockets itself

for that yo

[2020-08-14 16:44] MushMal commented on #601
@fernandoc1 I believe we have gone back and forth on this for a long while. We can't assume that by adding extra flags we won't be breaking other scenarios. As mentioned in numerous other posts, the TravisCI integration we currently run builds clean on those compiler/platform combinations. We wish that it was as trivial to add support for your scenarios but I believe we will need to have a better

[2020-08-14 16:44] #601 closed

[2020-08-14 17:05] fernandoc1 commented on #601
If you want, I can send you a compiler toolchain for the camera we are developing. It is using GCC (arm-hisiv300-linux-gcc (Hisilicon_v300) 4.8.3 20131202)
You can add a new toolchain to your tests that deliver the same errors as other customers are facing, while giving you some clue about potential issues with your code.
If needed, I can provide my build steps. It is pretty easy.

[2020-08-14 17:33] chehefen commented on #674
is there any difference in network topology between  10.1.9.85 and 10.1.9.24?

[2020-08-14 18:04] chehefen commented on #674
you can also try running the discoverNatBehavior tool on 10.1.9.24

[2020-08-14 19:36] fernandoc1 opened #708 "[QUESTION] Viewer connection failed"
I'm trying to connect to my Kinesis master from a remote network, but it is failing:
Here is the output:
<pre>
[KVS Master] Using trickleICE by default
[KVS Viewer] Created signaling channel L1HEMPNBA9XG5YDF111A
[KVS Viewer] KVS WebRTC initialization completed successfully
[KVS Viewer] Signaling client created successfully
[KVS Viewer] Signaling client connection to socket established
[KVS Viewer]

[2020-08-14 20:52] suggestedfixes commented on #674
10.1.9.24 is a windows machine, using ubuntu subsystem:
Usage: ./discoverNatBehavior -i network-interface-name -s stun-hostname
Using stun host: stun:stun.sipgate.net:3478, local network interface (null).
2020-08-14 20:51:54 DEBUG   createSocket(): setsockopt() failed with errno Protocol not available
2020-08-14 20:51:54 DEBUG   discoverNatBehavior(): Start NAT mapping behavior test.
2020-08-14 20

[2020-08-14 21:17] chehefen commented on #708
can you run discoverNatBehavior in your master device first to see if connection without turn is possible?

[2020-08-15 18:24] staowyze opened #709 "[BUG] race condition in freeSampleConfiguration"
see https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L780
before accessing `sampleStreamingSessionList`, should acquire `sampleConfigurationObjLock`?

[2020-08-16 23:49] fernandoc1 commented on #708
Here is the output for discoverNatBehavior:

<pre>
./discoverNatBehavior
Usage: ./discoverNatBehavior -i network-interface-name -s stun-hostname
Using stun host: stun:stun.sipgate.net:3478, local network interface (null).
2020-08-16 23:48:15 DEBUG   createSocket(): setsockopt() failed with errno Protocol not available
2020-08-16 23:48:15 DEBUG   discoverNatBehavior(): Start NAT mapping behavior te

[2020-08-17 01:26] sochildish commented on #706
[logs.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5081719/logs.log)
this is my logs， thanks

[2020-08-17 06:45] franktseng0718 commented on #705
Hey! Is this SDK gonna support listening to video frames and show it on the screen? BTW is WebRTC SDK in Unity gonna be available in the future?

[2020-08-17 08:25] sochildish commented on #706
Sorry, now, the device can receive messages from the Android side, but the message sent by the device side cannot be received by the Android terminal

The interface I called is < datachannelsend >, and the parameter < prtcdatachannel > is the second input parameter of the function < ondatachannel (Uint64 customdata, prtcdatachannel, prtcdatachannel) > in the common. C file

Do I need to call the f

[2020-08-17 11:13] chertov opened #710 "[QUESTION] Streaming a raw h264 stream"
Streaming a raw h264 stream

Hello! How can i send my custom raw h264 stream from hardware encoder?
In an example we have 1500 files.. Each file contains few NALs (with prefix 0x00_00_00_01), and the first NAL of each file is AUD (Access Unit Delimiter) NAL. Should i put this NAL in every buffer of Frame structure when i call the __writeFrame__ function?
https://github.com/awslabs/amazon-kinesis-v

[2020-08-17 15:12] shiv50084 opened #711 "[BUG] : If my Master Device connected to IPv6 public IP. Its failed to connect with viewer"
**Describe the bug**

If Master embedded device connected with IPv6 Public IP network .When i try with JS test page ( https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html ) as viewer it failed to connect.

But at the same time if we use  JS test page ( https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html )
on same network ( IP

[2020-08-17 19:13] chehefen commented on #706
yes you need to do createdatachannel in order to send.

[2020-08-17 19:18] chehefen commented on #708
is there any network topology difference between other networks and the one thats failing? Things like firewall etc.

[2020-08-17 19:20] chehefen commented on #674
Hi, checking in again. Can you try and see if you can reproduce the issue with our release 1.3.0?

[2020-08-17 19:53] fernandoc1 commented on #708
Probably the most important difference is that the network where the camera is running has IPv6/IPv4 support and the viewer network is IPv4 only.
I don't know if it is related, but when I run the master code on the IPv4 only network, and view in the IPv6/IPv4 network, it works.
Maybe this bug is related to this one: [711](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/

[2020-08-17 21:19] chehefen commented on #711
can you print the pIceCandidateString here https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Ice/IceAgent.c#L302? It's failing with 0x00000002 for all your candidates.

[2020-08-17 21:24] chehefen commented on #708
can you set log level to debug and send us the log from ice start to ice fail? Thanks

[2020-08-17 22:44] disa6302 commented on #578
@zhuker ,

Data channel stats are merged. Do let me know if something does not work for you.

[2020-08-17 22:54] chehefen commented on #674
I tried running latest master on a raspberry pi and view it using js test page in STUN/TURN mode with chrome on windows. I couldnt reproduce the connection error that you were seeing. Can you test with our release 1.3.0 and see if the issue is still happening?

[2020-08-17 22:59] suggestedfixes commented on #674
With 1.3.0, I could not reproduce the issue. Next I'm going to test with latest master.

[2020-08-17 23:01] suggestedfixes commented on #674
I said it too soon.
Observed:
[code]

[2020-08-17 23:35] suggestedfixes commented on #674
Also replicated on latest master with firewall on.

[2020-08-18 01:24] garishsood commented on #702
Hi @fernandoc1

My name is Girish and I am the product manager for Kinesis Video Streams.

Thanks for trying the service and engaging with us on Github on different issues and enancements.

Would you be able to email me (garisood@amazon.com) the details of your usecase and the your timeline expectations for this feature. This information shall help us prioritize the feature request appropriately o

[2020-08-18 04:11] franktseng0718 commented on #705
`retStatus = transceiverOnFrame(pSampleStreamingSession->pAudioRtcRtpTransceiver, (UINT64) pSampleStreamingSession, sampleFrameHandler); `
If the code here means listen to audio frames, where are the audio frames be placed?
If I add this line below, can I listen to video frames?
` retStatus = transceiverOnFrame(pSampleStreamingSession->pVideoRtcRtpTransceiver, (UINT64) pSampleStreamingSession, sam

[2020-08-18 04:24] MushMal commented on #705
@franktseng0718 the SDK provides a low-level functionality for sending and retrieving audio/video data in a few supported formats. The transceiverOnFrame API sets a callback function that will be called when a frame/sample is received by the transceiver. It's then up to the layer above it to do something with it. In many higher-level applications such as av/playback engines, the frames get A/V syn

[2020-08-18 05:49] sochildish commented on #706
@chehefen
 CHK_STATUS(createDataChannel(pSampleStreamingSession->pPeerConnection, (PCHAR) "test", NULL, &pSampleStreamingSession->pRtcDataChannel));

    CHK_STATUS(dataChannelOnOpen(pSampleStreamingSession->pRtcDataChannel, (UINT64) &pSampleStreamingSession->datachannelLocalOpenCount, dataChannelOnOpenCallback));

    dataChannelOnMessage(pSampleStreamingSession->pRtcDataChannel, (UINT64) pSample

[2020-08-18 06:42] sochildish commented on #706
Thank you. My problem has been solved

[2020-08-18 06:42] #706 closed

[2020-08-18 07:47] shiv50084 commented on #711
you can find your required logs with  function name and line number:-
"  >>> iceAgentAddRemoteCandidate : 303   pIceCandidateString :  "

there is number of logs

*****   Please see attached logs:-  **************

2020-08-18 07:43:35 DEBUG   iceAgentValidateKvsRtcConfig():
        iceLocalCandidateGatheringTimeout: 10000 ms
        iceConnectionCheckTimeout: 0 ms
        iceCandidateNominationTim

[2020-08-18 08:01] pai-da-xin opened #714 "Viewer cannot view the live video stream"
* After I successfully run the kvsWebrtcClientMaster, I can't start the viewer to receive audio and video frames in the kvs webrtc test page, but I can view the video sent by the kvsWebrtcClientMaster in the kVs console.

* In addition, how can I use amazon-kinesis-video-streams-webrtc-sdk-c to display the real-time images captured by the embedded device camera on Amazon echo show.This is the task

[2020-08-18 08:08] MushMal commented on #714
Could you please provide more info on your first question like the logs and what exactly you are actually seeing?

Regarding the second question... You need to actually build the media pipeline path to decode and display the frames. You have not provided any information about your target platform and many platforms have their build-in media pipelines. For a more generic solution you could look int

[2020-08-18 09:41] pai-da-xin commented on #714
@MushMal I want to use Amazon echo show to control the third-party camera through the Alexa skill kit and display the real-time picture on the echo show screen,Also need to build media pipeline path.
* In addition,How can I make sure that a third-party camera supports webrtc, just burn amazon-kinesis-video-streams-webrtc-sdk-c to the camera.

[2020-08-18 17:44] chehefen commented on #711
Our turn does not support ipv6 currently, so master and viewer fails to connect. When master and viewer are in the same network turn is not used, so master viewer can connect successfully.

[2020-08-18 17:45] chehefen commented on #674
can you paste the full log from ice start to fail?

[2020-08-18 20:57] chehefen commented on #702
@fernandoc1 can't you make a copy of Common.c and make it part of the object files of your application? Then every time you update the sdk you just need to link against libkvsWebrtcClient.so and libkvsWebrtcSignalingClient.so and not be concerned about what changed in the sample.

[2020-08-19 05:27] shiv50084 commented on #711
I am trying on same network only to connect.

[2020-08-19 06:41] pai-da-xin commented on #714
@MushMal This is a part of the log that I failed to print when I started viewer in the kvs webrtc test page after I successfully ran the kvswebrtcclientmaster.But I can see the video using the media playback viewer on the kvs console.

[2020-08-19T06:32:14.338Z] [INFO] [VIEWER] Connected to signaling service
[2020-08-19T06:32:14.346Z] [ERROR] [VIEWER] Could not find webcam

[2020-08-19 11:06] fernandoc1 commented on #702
This is a option, but I ask:
- What happens when you update and improve Common.c/kvsWebRTCClientMaster.c file, how will I patch all the changes?
- What happens when you change the interfaces exposed in libkvsWebrtcClient.so and libkvsWebrtcSignalingClient.so?
My goal is to just make easy for customers that just need the kvsWebRTCClientMaster.c example working, but with a different frame source.
Th

[2020-08-19 14:02] Yannholo opened #717 "[QUESTION][BUG?] gst pipeline configuration - RTCP_PACKET_TYPE_RECEIVER_REPORT size 4"
We plan to use the webrtc-sdk-c to join a webrtc video chat from an embedded device.

### producer-sdk-cpp
First, I followed the producer-sdk-cpp and achieved a video stream with a webcam and gst-launch-1.0.
[code]
### webrtc-sdk-c
Next, as the producer-sdk-cpp was not really what we needed I looked at webrtc-sdk-c.

The samples with the `testsrc` video and audio works well, I started having troub

[2020-08-19 15:09] MushMal commented on #714
As it explicitly states - it can’t find a webcam in your device. The JS sample requires a web camera. If you are using a notebook then please ensure you have the lid of the notebook open to enable the camera

[2020-08-19 17:54] disa6302 commented on #302
Closing this since it is being tracked in #282

[2020-08-19 17:54] #302 closed

[2020-08-19 17:56] chehefen commented on #711
When you use JS test page and it connects successfully, can you check chrome://webrtc-internals/ and see what address did it select?

[2020-08-19 18:13] MushMal commented on #717
Not yet sure why the size is 4 for this packet type. The code enforces min 28 bytes per https://tools.ietf.org/html/rfc3550#section-6.4.2

Anyone?

[2020-08-19 18:34] disa6302 commented on #717
@Yannholo ,

A few questions:

1. What webcam are you using?
2. Can you run your application with GST_DEBUG=4 to see if anything is wrong with your pipeline? One more thing you can try is run your webrtc pipeline with fakesink in gst-launch-1.0 and see if it works. If it doesnt then you will have to check your pipeline.
3. In case of video-only, is your camera source the machine's webcam? What mac

[2020-08-19 18:36] disa6302 commented on #665
Looks like this is being handled in #664 . Closing this as duplicate.

[2020-08-19 18:36] #665 closed

[2020-08-19 18:37] disa6302 commented on #616
@zwei333 ,

Closing this because webrtc metrics is being tracked in #578

[2020-08-19 18:37] #616 closed

[2020-08-19 18:53] disa6302 commented on #694
@codingspirit ,

The way the WebRTC stack works is it tries STUN first and then TURN if STUN is unsuccessful. What you are requesting seems to be similar to ICE renomination which would allow switching network routes at a later point of time. (#350)

I will let @chehefen to give more insight into this.

[2020-08-19 19:15] disa6302 commented on #688
@codingspirit ,

1. Which Windows version are you using?
2. `socketConnect(): connect() failed with errno No error` is strange. Not sure what `No error` translates to in terms of error value. Do you mind printing the errno [here](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/75e230c8884db511cbcad04e739a179c6ad7f2e7/src/source/Ice/Network.c#L279) ? That might give some c

[2020-08-19 19:16] disa6302 commented on #682
Closing this issue since it has gone stale. Feel free to open a new issue with any queries you might have. Thanks!

[2020-08-19 19:16] #682 closed

[2020-08-19 19:19] hassanctech opened #718 "[Memory Optimization] Reduce memory footprint by not storing remote session description"
The remote session description is only needed up to the point of creating an answer after this we can discard it to reduce the memory footprint.  Some work to this end has already been done by @chehefen.  This issue will be updated with other optimizations to reduce the overall memory footprint.

[2020-08-19 19:19] disa6302 commented on #663
@ycyang1229 ,

Can you create a PR to add the -lcap flag?

[2020-08-19 19:21] disa6302 commented on #705
Closing this. @franktseng0718 , feel free to reopen/open a new issue if you have any questions!

[2020-08-19 19:21] #705 closed

[2020-08-19 19:23] disa6302 commented on #707
@fernandoc1 ,

Any updates?

[2020-08-19 19:29] disa6302 commented on #440
@suggestedfixes ,

Could you open a PR?

[2020-08-19 19:37] disa6302 commented on #282
Information about selected candidates and the pair can be obtained through rtcPeerConnectionGetMetrics() by setting the appropriate `RTC_STATS_TYPE`.
Candidate pair has an active PR (#715) whereas information about selected candidates is available as part of metrics currently. Closing this ticket.

[2020-08-19 19:37] #282 closed

[2020-08-19 21:06] chehefen commented on #702
what patch do you need in Common.c? We've been careful to not make interface changes in libkvsWebrtcClient and libkvsWebrtcSignalingClient and if we do we would bump the major version.

[2020-08-19 21:55] MushMal commented on #710
Hi @chertov

Sorry for the delay. In case of video, the current embedded SDK supports only variants of h264 and vp8. Unfortunately, when it comes to WebRTC/RTP, supporting a particular transceiver type means both the elementary stream and the packaging and it's type. In this case, the the RTC_CODEC_H264_PROFILE_42E01F_LEVEL_ASYMMETRY_ALLOWED_PACKETIZATION_MODE mode has a few implications, includin

[2020-08-19 23:45] chehefen commented on #674
can you also test running master and viewer in the same machine and see if it is network topology related? thanks.

[2020-08-19 23:47] suggestedfixes commented on #674
ok

[2020-08-20 02:30] suggestedfixes commented on #674
Still flaky with same machine.

[2020-08-20 02:33] #468 closed

[2020-08-20 03:19] suggestedfixes commented on #674
Actually, with the same machine, I was not able to duplicate.

[2020-08-20 04:02] suggestedfixes commented on #674
Still with different machine. Firewall on, 10.1.9.24 and 10.1.9.2
[ice_failed_newest.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5100593/ice_failed_newest.txt)

[2020-08-20 06:04] pai-da-xin commented on #714
@MushMal  Thank you very much for your reply.

[2020-08-20 06:04] #714 closed

[2020-08-20 11:48] Yannholo commented on #717
@disa6302

With the help of fakesink I was able to find the issue :+1: .
It seams that the resolution 1280x720 does not work with the pipeline.

This pipeline works :
[code]

1. We have multiple webcams, all of them works with the 480p pipeline but not with the 720p
    - https://www.logitech.fr/fr-fr/product/hd-webcam-c270 (should output 720p)
    - The integrated webcam of my Thinkpad T14s (AMD)

[2020-08-20 11:48] #717 closed

[2020-08-20 12:52] jvasanthan opened #720 "How to receive audio back from Viewer"
Hi Team,
I am running amazon-kinesis-video-streams-webrtc-sdk-c as master(in Device) and Android app as Viewer. I am able to stream sample H.264 video and opus audio frames from master to viewer. How to send audio from viewer(Android) and play it back in the master(device). There is an option to select "Send Audio" in the Android app but that doesn't work. How to test this feature?

Regards,
James

[2020-08-20 13:02] fernandoc1 commented on #707
I'm just preparing a code to share with about these steps.
I would like to have a clear view of the steps that are being done, until the connection is established and the peers begun to exchange data. It would be nice to have the smallest code possible to just debug when the connection fails.
I'm having a lot of trouble here seeking what are the causes of some connections to fail.
One think that i

[2020-08-20 16:33] MushMal commented on #707
Your issue is not p2p connection - the logs you had attached indicate you have an issue with the signaling. Please try to use the stock master sample and see if what works. If not, attach the debug logs so we can try to help debugging

[2020-08-20 16:35] MushMal commented on #720
@jvasanthan the samples are not attempting to play back audio. When you build an application, you have to write code that handles the audio by handling the transceiver on frame callback and then decoding and rendering audio on your device.

[2020-08-20 16:38] jvasanthan commented on #720
@MushMal Yes I am aware that sample doesn't playback audio. The issue is I am not receiving the audio frames, does the sample application show the received audio frame in the terminal?

[2020-08-20 16:52] MushMal commented on #720
Here is the callback that should be called on a successful audio frame received: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/kvsWebRTCClientMaster.c#L329

[2020-08-20 17:48] chehefen commented on #674
are you using the stock js test page or your own modified js test page? In ice_failed_newest.txt, there was no remote relay candidate
discovered. Id: A5vg6StdW. Ip: 10.1.9.24:52223. Type: host. Protocol: UDP.
discovered. Id: 0DoF/jGYh. Ip: 10.1.9.24:52224. Type: host. Protocol: UDP.
discovered. Id: ppvo4xBlG. Ip: 172.218.223.215:52223. Type: host. Protocol:
discovered. Id: 51y+B1tr7. Ip: 172.218.2

[2020-08-20 17:53] fernandoc1 commented on #556
I would like to share a patch I created to compile Kinesis in my platform. Is there any way to make it easy to compile in future releases?

<pre>
diff --git a/CMake/Dependencies/libopenssl-CMakeLists.txt b/CMake/Dependencies/libopenssl-CMakeLists.txt
index c5da8a57..d9cb3d4c 100644
--- a/CMake/Dependencies/libopenssl-CMakeLists.txt
+++ b/CMake/Dependencies/libopenssl-CMakeLists.txt
@@ -12,7 +12,7

[2020-08-20 19:44] MushMal commented on #556
@fernandoc1 thanks for submitting a PR: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/557/files

I have a concern about the addition of m library. Why is this necessary in the kvsWebrtcClient? Not sure if this is due to the PIC defining include <math.h> in the common defs? Is this due to a compile time issue of missing definition or a linker error of some sort?

[2020-08-20 20:20] disa6302 commented on #458
@Nomidia ,

Can you try the top of master to see if you still face the issue?

[2020-08-20 20:25] fernandoc1 commented on #556
@MushMal, the problem is with "ldexp" symbol is being complained when linking "libkvsWebrtcClient.so".
If I remove the "m" flag, I get this error:
<pre>
libkvsWebrtcClient.so: undefined reference to `ldexp'
</pre>
The cause for this, I really don't know. But what I did was to just grep for this symbol in my toolchain and I found it in libm.
I wish to have a clean compilation experience. This would

[2020-08-20 20:56] MushMal commented on #556
Ah, that one... Thanks for pointing out. There really isn't any need to use ldexp here at all. The exponent is a positive value so it can be replaced easily.

[2020-08-20 21:09] fernandoc1 commented on #556
When what about the other lines I need?
The addition of DLWS_HAVE_EVENTFD=0 to websockets and no-async to compile openssl?
Can you help me get a better experience compiling the code?

[2020-08-20 21:20] MushMal commented on #556
I believe no-async is the right change and I am OK. DLWS_HAVE_EVENTFD=0 I don't have much info but if it works in Travis CI runs I am good.

Here is what I recommend. Let's land the change I just submitted #723 and in parallel, you can update your PR and remove 'm' library usage.

[2020-08-20 22:19] suggestedfixes commented on #674
I will try a Mac browser client

[2020-08-20 22:30] chehefen commented on #674
If you want to use relay, it's best to have both side having relay candidate.

[2020-08-20 22:42] suggestedfixes commented on #674
Yes those are enabled by default on both sides.

[2020-08-20 22:47] chehefen commented on #674
then the js test page should've sent some relay candidates, but according to the log no relay candidate was sent.

[2020-08-20 23:29] suggestedfixes commented on #674
Hmmm, the signaling channel might have been broken. Let me redo those.

[2020-08-21 01:16] fernandoc1 commented on #556
I have created another merge request:
[557 - Fixed compilation issues](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/557)

[2020-08-21 03:54] jvasanthan commented on #720
@MushMal I am trying to test it. I have deleted my previous repo, cloned new one and building again but cmake got stuck at the below step for more than an hour. Tried multiple times, restarted VM(running Ubuntu in VM) & host, Internet connection is also fine.

[ 11%] Creating directories for 'project_libopenssl'
[ 22%] Performing download step (git clone) for 'project_libopenssl'
Cloning into 'pro

[2020-08-21 03:57] MushMal commented on #720
This is unfortunate but it does takes a while to compile the ssl project. What’s your platform? Could you u restart the build perhaps? After the first time it builds the binary it will then use it with consecutive builds

[2020-08-21 03:59] pai-da-xin opened #724 "Connect Amazon echo show"
* How can I connect kvsWebClientMaster to Amazon echo show.Stuck with this question.Even with kvs webrtc test pages.

[2020-08-21 04:00] jvasanthan commented on #720
I am running Ubuntu 16.04 (32 bit edition) in VM. I tried to restart the build several times but no help. is there a way I can clone the dependencies, place them under opensource and stop the cmake from downloading them?

[2020-08-21 04:44] disa6302 commented on #724
@pai-da-xin ,

Can you give more clarity around what your set up is like and what your expectations are?

[2020-08-21 04:48] jvasanthan commented on #720
@MushMal I built it again and running kvsWebRTCClientMaster in Ubuntu and Viewer in Android. The sampleReceiveAudioFrame is not getting called during the webrtc session(Send Audio box is checked in the App). What am I missing?

[2020-08-21 04:53] disa6302 commented on #720
@jvasanthan ,

Can you send the logs? Are you getting the offer from the viewer?

[2020-08-21 05:20] jvasanthan commented on #720
Here is the log

[log.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5106927/log.txt)

[2020-08-21 05:37] disa6302 commented on #578
Completed the list of metrics. Closing.

[2020-08-21 05:37] #578 closed

[2020-08-21 06:00] pai-da-xin commented on #724
@disa6302 I expect to run kvsWebClientMaster and call my webcam to transmit the real-time audio and video captured to Amazon echo show and display it on its screen.

[2020-08-21 06:32] MushMal commented on #724
@pai-da-xin check out https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_AWSAcuitySignalingService_SendAlexaOfferToMaster.html

SendAlexaOfferToMaster API is not part of the embedded SDK interface.

We use this forum to provide support and answer questions for our open source SDKs. If you need architecture guidance for you end application, please consider reaching out to your AWS accoun

[2020-08-21 06:33] MushMal commented on #556
Resolving this issue for now. The script changes are in. We are about to land the code changes shortly which are in PR #723

[2020-08-21 06:33] #556 closed

[2020-08-21 07:41] pai-da-xin commented on #724
@MushMal If I have an IP camera embedded in this SDK,Using the method, the real-time audio and video captured by the camera can be transmitted to the echo show.Can it be implemented through the Alexa skill kit.

[2020-08-21 07:46] pai-da-xin commented on #369
@ycyang1229 Hi,Sir,how do you connect kvsWebClientMaster with Amazon echo show.

[2020-08-21 07:59] pai-da-xin commented on #724
Thank you very much for your reply. I get it.

[2020-08-21 07:59] #724 closed

[2020-08-21 11:02] jvasanthan opened #725 "Cross Compilation Openssl Error"
Hi Team,
I am trying to cross compile the sdk.  I am getting the following error while compiling openssl :

./libcrypto.so: undefined reference to `getcontext'
./libcrypto.so: undefined reference to `setcontext'
./libcrypto.so: undefined reference to `makecontext'

I tried to add no-asm & no-async flags in cmake but it doesn't compile.

cmake .. -DBUILD_OPENSSL_EXTRA="no-asm;no-async" -DBUILD_STAT

[2020-08-21 13:38] #725 closed, assigned to nobody

[2020-08-21 17:15] jvasanthan opened #727 "Cross Compile Linking Error - globalGetOsVersion"
Hi Team,
I am getting the following error while cross compiling the sdk. I checked few others had similar issues, I tried to follow thier solutions but no luck.

Version.c:(.text+0x218): undefined reference to `globalGetOsVersion'
Version.c:(.text+0x21c): undefined reference to `globalGetPlatformName'
Version.c:(.text+0x220): undefined reference to `globalGetCompilerInfo'

**objdump of libkvspicUt

[2020-08-21 18:07] modescode opened #729 "Master losing connection to signaling channel (using C SDK 1.3)"
A customer is running into failure cases, when they try to stream more than 2 times. The first two times viewer connects and streaming works, where as on subsequent attempts the live streaming fails because the connection from master to signaling channel has been lost. Once the device goes into this state, it does not recover unless we reboot it.

This symptom only started occurring after the ODM

[2020-08-22 03:23] suggestedfixes opened #730 "[QUESTION] Should streamingSessionCount be atomic?"
Should streamingSessionCount be atomic in the sample apps?

[2020-08-22 07:48] #727 closed, assigned to nobody

[2020-08-22 12:47] mateuszboryn opened #731 "[QUESTION] Release notes?"
Hi, as there are more and more versions tagged in github, could you please maintain release notes document, so that users can know what has changed or which bugs where fixed?

[2020-08-22 15:55] jvasanthan opened #732 "signalingConnectSync(): operation returned status code: 0x0000000f"
Hi Team,
I have compiled (default) webrtc sdk in both ubuntu and cross compiled (static link) for my hardware as well.
1. kvsWebrtcClientMaster (Ubuntu) works fine in Ubuntu and I could stream audio and video to Android Viewer (audio back from viewer to Master is still not working). The connection is stable.
2. Running kvsWebrtcClientMaster(Device) leads  to some issues. The most frequent issue is

[2020-08-23 18:46] #664 closed

[2020-08-23 18:47] #663 closed

[2020-08-23 21:17] disa6302 commented on #720
@jvasanthan ,

The `sampleFrameHandler` displays logs only in VERBOSE level. Can you increase log level to see if you see audio frame logs or change log level from `DLOGV` to `DLOGD` [here](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/15aae699fa0ba3c7f68caff17ee849870f64f87d/samples/Common.c#L590) ?

[2020-08-23 22:45] disa6302 commented on #732
@jvasanthan ,

I am not sure what the issue is. Can you run the app with `AWS_LOG_LEVEL=2` to get SDK debug logs? That might give us a clue. Your log level is set to WARN.

[2020-08-24 02:14] fernandoc1 commented on #633
Actually I didn't resolved this.
What I do is to put my application in a script that calls the executable again, everytime there is a startup issue. It is very common to have to try twice, before success.

[2020-08-24 03:55] MushMal commented on #732
I am still unsure what's going on but seems to be two separate issues

* signalingConnectSync.txt indicates that the libWebSockets is simply unable to establish a connection for the RESTful API calls. Perhaps, the device doesn't have internet connectivity? It retries but fails and times out.
* seg_fault.txt - similar story but in this case the connection gets established but somehow, getting ICE c

[2020-08-24 05:28] jvasanthan commented on #633
@fernandoc1 ok understood. Thank you for your response. I am running the master application in my hardware and have trouble running it. Were you able to run the stock master app without frame loss issues and is it stable?

[2020-08-24 09:27] hsinghaowang commented on #729
sometimes the **signalingClientState** changed to **SIGNALING_CLIENT_STATE_GET_ICE_CONFIG**
and it seems  not doing anything to get back to **SIGNALING_CLIENT_STATE_CONNECTED**.
What can I do if this happen? except restart ?

[2020-08-24 11:43] jvasanthan commented on #720
@disa6302
After enabling DLOGD sampleFrameHandler displays frame size. are these audio frames? see attached log.

[kvsWebrtcClientMaster_Ubuntu_verbose_2.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5117513/kvsWebrtcClientMaster_Ubuntu_verbose_2.txt)

[2020-08-24 11:44] fernandoc1 commented on #729
This is also what happens to me.
[output.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5117516/output.log)

[2020-08-24 11:56] fernandoc1 commented on #633
The stock master app runs without losing frames. Even my application getting frames from a shared memory source is running well. The unique major issue that is preventing Kinesis from being our primary streaming solution is the issue with signaling. Sometimes the Master client doesn't connect and prints the error message I attached in the first post. Sometimes it run flawlessly and works great. Ho

[2020-08-24 12:03] Morras opened #733 "[QUESTION] createSignalingClientSync failing with status code 0x0000000f"
I am trying to use the the library as a dependency for a RoS package so I can send a video stream from a robot.

When I run my application, createSignalingClientSync fails with status 0x0000000f.
As far as I can see that is a timeout status, and a common problem people have run into here, but without a clear way to fix it.

I have recompiled libwebsockets with debug enabled and you can find the lo

[2020-08-24 12:07] jvasanthan commented on #633
ok understood. I too have issues with signalling. is it possible for you to share your cross compiled kvsWebrtcClientMaster stock app. I am not sure it will run in my hardware but I can try to run & do objdump to see if I am missing anything.

[2020-08-24 12:16] fernandoc1 commented on #732
Hi @MushMal,
This issue related to libwebsockets not being able to establish a connection for the RESTful API happens to me and I'm sure that it is not a internet connectivity issue. In our camera, there are a lot of internet services running and our clock rely on internet to update. This always happens to me to have to try twice or more, before the Master application is able to receive connection

[2020-08-24 12:21] fernandoc1 commented on #633
This is the binary relative to version 1.3.0
[kvsWebrtcClientMaster.zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5117706/kvsWebrtcClientMaster.zip)

[2020-08-24 12:32] jvasanthan commented on #633
oh great Thanks a lot. Could you please share me the libkvs* .so files.

[2020-08-24 12:33] fernandoc1 commented on #633
[kvs.zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5117800/kvs.zip)

[2020-08-24 13:24] kyledecot opened #734 "[QUESTION] How to Use in MacOS Swift Project"
What is the recommended way of using this in a MacOS/Swift based application? Are there any examples that can be used as a reference?

[2020-08-24 16:50] disa6302 commented on #720
@jvasanthan ,

Yes. Those are the logs. If you would like the frame data to be displayed, you can add it to the log line [here](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/15aae699fa0ba3c7f68caff17ee849870f64f87d/samples/Common.c#L587)

[2020-08-24 16:56] MushMal commented on #729
@fernandoc1 The refreshing of the ICE candidate happens in the background and the state machine is getting into connected state. There is, however, an error sending a message: STATUS_SIGNALING_DUPLICATE_MESSAGE_BEING_SENT

I am not sure what could cause this or what modifications you might have made (the log snippet doesn't seem to capture it) but there is a chance to receive this message if the s

[2020-08-24 17:04] fernandoc1 commented on #729
@MushMal, I have no problem of showing my code changes.
I'm just compiling the version 1.3.0 and I have just used the master example, with changes in the function that reads frames from disk. I just make that function read frames from my shared memory source. The rest of the code is exactly the same.

[2020-08-24 17:08] MushMal commented on #733
You need to ensure you have the appropriate rights:

2020-08-24 11:07:05 DEBUG   lwsHttpCallbackRoutine(): Connected with server response: 403

What happens is that the signaling client state machine executes the RESTful API just fine but it's getting access denied when attempting to connect as master. It then circles back and attempts to fetch the credentials from the specified credential provide

[2020-08-24 17:10] MushMal commented on #732
@fernandoc1 seems that you are confusing the signaling client connecting with ICE agent state machinery and overall P2P or TURN connection. The snippet of log you've attached has nothing to do with signaling. In this case, your ICE agent fails to connect to the nominated pair which I can't see fro the logs

[2020-08-24 17:14] fernandoc1 commented on #732
In my post, the first paragraph is not linked to the second.
There are two issues:
 - (First paragraph) Signaling failures
 - (Second paragraph) P2P connections not being established successfully.

[2020-08-24 17:18] jvasanthan commented on #732
@MushMal After setting asyncIceServerConfig to FALSE, the signaling client connection looks stable. I still have frame loss issue & crash, will open a new ticket for that.

[2020-08-24 17:19] jvasanthan commented on #720
@disa6302 Thank you

[2020-08-24 17:19] #720 closed

[2020-08-24 17:25] MushMal commented on #734
Unfortunately, we don't have a sample based on MacOS Swift currently. There is an iOS SDK which is based on Google's implementation of WebRTC and KVS Signaling which is in Swift you might find useful: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-ios

[2020-08-24 17:29] MushMal commented on #729
@fernandoc1 I would recommend opening a separate issue to track the ICE connectivity issue on your network topology. There are some tooling that we have built-in that could help troubleshooting your e2e connection between the master and viewer and understand whether it's attempting to use P2P or TURN, etc..

However, this issue is about the signaling connection

[2020-08-24 17:32] MushMal commented on #732
@jvasanthan those are unrelated issues indeed. Could you please open separate issues to track each one. For the crash, please make sure to include the debug stack dumps for all threads in the process. The easiest is to run your debug compiled application under a debugger and capture the stack.

Could you please go ahead and resolve this issue as addressed?

[2020-08-24 17:37] jvasanthan commented on #732
@MushMal sure will do

[2020-08-24 17:37] #732 closed

[2020-08-24 18:52] suggestedfixes commented on #674
Cannont reproduce after rebasing to v1.3.0, closing this issue util we decided to use the old version.

[2020-08-24 18:52] #674 closed

[2020-08-24 20:13] disa6302 opened #736 "[BUG] Static build issue"
**Describe the bug**
While static building the webrtc sdk, at times, the kvsCommonLws gets linked before pic which causes issues like #727 and #636. An active PR was #666 was closed since the changes failed on Mac. The goal of this ticket is to fix the issue across all platforms.

**SDK version number**
1.3.0

**Expected behavior**
Static build should pass

[2020-08-24 20:19] disa6302 commented on #731
@mateuszboryn ,

Since release notes already exist, I am closing this ticket. Feel free to reach out if you have more questions. Thanks!

[2020-08-24 20:19] #731 closed

[2020-08-24 20:22] disa6302 opened #737 "[FEATURE] Documentation improvement"
**Is your feature request related to a problem? Please describe.**
We need to improve upon our debug guide to allow customers to try certain things to help alleviate their problems. The following is a list of items that need to be added:

- [ ] Debug Signaling related issues
- [ ] Debug connectivity issues
- [ ] Debug build issues
- [ ] Gstreamer debug tips
- [ ] Debug streaming issues - for examp

[2020-08-24 20:23] Morras commented on #733
Thank you MushMal.
I had a typo in the channel name in my IAM Role.
I had looked at CloudTrail but Kinesis does publish there it seems.
I can now establish connection to the channel. Thank you.

[2020-08-24 20:23] #733 closed

[2020-08-24 20:49] fernandoc1 commented on #737
This would be great.
I think that should be a module that we could attach to Kinesis in order to read it's internal registers. For example, a internal console that could be remotely connected or a simple Web server that could be activated for debugging purposes. I'm in a huge trouble trying to understand why my signaling process sometimes fails, and sometime it succeed. I'm also having issues with

[2020-08-24 22:16] hassanctech commented on #538
We've encountered some failures and it looks like this is going to involve some more work to get right.  No ETA yet.

[2020-08-24 22:29] modescode commented on #729
@MushMal  - I'll try to get answers from the customer today.

[2020-08-25 01:28] codingspirit commented on #688
@disa6302
1. It's Win10 build 18363
2. `strerror` is deprecated in Windows. I will check the integer value later this week.
3.  Sure, I will create a PR about this.

[2020-08-25 02:45] hsinghaowang commented on #729
@modescode I am your customer.

[2020-08-25 02:49] MushMal commented on #729
LOL :) @hsinghaowang could you please respond to the items I have requested?

[2020-08-25 02:52] modescode commented on #729
Ha! :) @hsinghaowang thanks for the call out. Please answer @MushMal directly.

[2020-08-25 02:53] ycyang1229 commented on #736
NO, I closed it since it has been there about one month. I am glad to see this obvious bug will be corrected.

[2020-08-25 02:56] MushMal commented on #729
BTW, GitHub issues is the surest and the fastest way to get help that can benefit other members of the community too.

[2020-08-25 02:58] MushMal commented on #736
@ycyang1229 thanks for your contribution. Indeed, this is an issue with the static build that some of the customers are using and some might hit it. The last that was known about this is that it fails to compile on various platforms. I would love to get this resolved ASAP in a portable manner without having custom scripts to address the extensions (pardon my ignorance and knowledge of the issue it

[2020-08-25 05:48] hsinghaowang commented on #729
Here is the log (total 5 minutes logs):
[webrtc_1.3_state6.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5121537/webrtc_1.3_state6.log)

in line 2640, it changed state 6 (SIGNALING_CLIENT_STATE_GET_ICE_CONFIG), and never come back to 9 (SIGNALING_CLIENT_STATE_CONNECTED) after about 2 hours.
[08-25 12:00:29] [11765][W]webrtc_master: heartbeat. state:[6], sesssions:

[2020-08-25 09:56] yanhui666 opened #740 "Failed to execute 'setRemoteDescription' on 'RTCPeerConnection'"
I successfully ran the kvsWebrtcClientMaster program in unbuntu, and printed "[KVS Master] Signaling client connection to socket established", and then I used the "Media Player Viewer" provided under the signaling channel corresponding to AWS to play webrtc, but the page displayed Error "Failed to execute'setRemoteDescription' on'RTCPeerConnection': Failed to set remote answer sdp: The order of m-

[2020-08-25 10:11] hsinghaowang commented on #729
Here is another log which run into state 8 and not come back. see line 3966, it changed to state 8.
I just run 1 session to test the memory usage, then it just happened.

[webrtc_1.3_state8.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5123041/webrtc_1.3_state8.log)

[2020-08-25 10:29] hsinghaowang commented on #729
If we want to reduce memory usage, any suggestion?

[2020-08-25 10:40] hassanctech commented on #740
Which version of the SDK are you using?  We recently fixed a bug where we saw this problem in Safari.  The fix is in commit: 5f24664abb9f07d2ebd776a965ef7ff51f647746

Can you please confirm if you have that commit?  Thanks.

[2020-08-25 15:42] zhuker opened #741 "[BUG?] REMB for multiple video tracks handling"
according to REMB spec

meaning a single bitrate value is sent for multiple tracks, while we are handling it as if bandwidth hint is per track see `Rtcp.c:199`

[2020-08-25 15:51] zhuker commented on #741
@Sean-Der what you say?

[2020-08-25 16:10] suggestedfixes opened #742 "[QUESTION] Switching stream sources using the same transceiver"
- We have been experimenting with switching between live stream sources with the same video transceiver on the fly. This has worked pretty well if we change the resolution and bitrate, the changes are instantaneous.
- If we were to switch between live source and file source on the fly. We are seeing a weird phenomenon:
  - The browser is receiving new video data from file source (made of h264 keyf

[2020-08-25 16:54] MushMal commented on #742
The issue you are seeing is due to different codec private datas. In case of H264, it's SPS and PPS. The elementary stream that you are using comes in a form of Annex-B format NALs where the IDR frame has the SPS and PPS NALs prepended.

The decoder implementation can at times skip frames until it gets to the new IDR and is able to extract new CPDs. Not every decoder can recover.

Regarding two tr

[2020-08-25 17:01] MushMal commented on #741
Perhaps we should add some handling for this case. Most scenarios are video only so it would be OK. In cases where we have audio and video, the data is a little skewed in this case. True, the audio density is multiple times smaller than video but perhas we should handle it. I am not yet sure how to properly handle this and what the net result should be from the applications perspective.

The SDK c

[2020-08-25 17:06] zhuker commented on #741
if you get a REMB like `[2mbps, audio_ssrc, video_ssrc]`
both audio and video track will receive 2mbps bandwidth hint separately so user app will decide that both audio AND video can be encoded at 2mbps for a total of 4mbps which is not what REMB intended to say

[2020-08-25 17:10] MushMal commented on #741
Indeed, however, in practice I have not seen any ABR that can apply neatly to audio. So, likely, the applications will simply ignore it for audio.

This said, I would like to tease apart what would be needed to handle this from the SDK perspective. Perhaps, the applications should have the understanding that the reported bandwidth is for all the tracks summarily as the SDK can't subdivide the band

[2020-08-25 17:19] zhuker commented on #741
i also found a bug in remb handling https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/743

[2020-08-25 17:26] MushMal commented on #741
NIIIIIICE! Commented on it.

[2020-08-25 17:54] fernandoc1 opened #744 "[QUESTION] What does "unhandled packet type RTCP_PACKET_TYPE_RECEIVER_REPORT size 4" mean?"
I'm receiving a lot of these messages in my terminal output. What does these messages means? How can I fix this?

<pre>
2020-08-25 17:50:13 DEBUG   lwsWssCallbackRoutine(): Client is writable
2020-08-25 17:50:15 WARN    onRtcpReceiverReport(): unhandled packet type RTCP_PACKET_TYPE_RECEIVER_REPORT size 4
2020-08-25 17:50:18 WARN    onRtcpReceiverReport(): unhandled packet type RTCP_PACKET_TYPE_REC

[2020-08-25 18:01] disa6302 commented on #744
@fernandoc1 ,

We listen on RTCP receiver reports and when we receive do not receive a report of complete length, this warning message is displayed. It is acceptable and does not mean anything. Let me add a PR to move this log to DLOGS since it can be pretty frequent.

[2020-08-25 18:30] disa6302 commented on #730
@suggestedfixes ,

I dont think it needs to be atomic becuase the updates and access are guarded by locks anyways.

[2020-08-25 19:27] disa6302 commented on #744
@fernandoc1 ,

Change merged (#745). Feel free to create a new issue if you have any questions! Thanks!

[2020-08-25 19:27] #744 closed

[2020-08-25 19:37] fernandoc1 opened #746 "[QUESTION] Could you add a tested Master example with TURN fully disabled?"
I'm having lots of trouble ensuring that my users will never use TURN.
When I disable TURN in the Master example, the client starts failing a lot, even when I'm testing in the same network, with the camera connected to the PC in the same router.
What is needed to make everything go wrong is just making "useTurn" FALSE:
[createSampleConfiguration](https://github.com/awslabs/amazon-kinesis-video-str

[2020-08-25 20:45] disa6302 commented on #709
@staowyze ,

Fixed this in #739. Closing

[2020-08-25 20:45] #709 closed

[2020-08-25 20:54] disa6302 commented on #734
Closing this since the question is answered. Feel free to reach out if you have any questions!

[2020-08-25 20:54] #734 closed

[2020-08-25 21:35] MushMal commented on #729
I have been looking at the first log and I can't really pinpoint yet what's going on. In LN 2580, the signaling client fails to connect with

[08-25 12:00:25] connectSignalingChannelLws(): operation returned status code: 0x0000000f

This happens after a number of attempts to reconnect. The signaling client then issues an error on which the stock master application re-creates the signaling client.

[2020-08-25 21:41] MushMal commented on #729
Looking at the second log around LN 3960 as you've mentioned, there is a similar story, just around this time the connection got dropped and the signaling state re-connects OK:

[08-25 17:52:15] lwsWssCallbackRoutine(): Connection established

Are you listening to state change callback? Can you print it out in your log? The logs are saturated by frame drop and rtp packet received logs which are su

[2020-08-25 23:43] MushMal commented on #746
@fernandoc1 the reason why we have TURN in the first place is due to the fact that in 20% cases the P2P is not possible to establish due to NAT issues or firewall. The TravisCI runs operate in the default mode where the ICE attempts to resolve as fast as possible and doesn't give any preferences to P2P vs TURN.

In your application, you could disable TURN. However, as you see, your network doesn't

[2020-08-26 00:52] yanhui666 commented on #740
Hi,I am using the latest version of the SDK, and I have checked those patches and they are correct, the page displayed Error "Failed to execute'setRemoteDescription' on'RTCPeerConnection': Failed to set remote answer sdp: The order of m- lines in answer doesn't match order in offer. Rejecting answer.", the print information of SDK is as follows:
Master mychannel
[KVS Master] Using trickleICE by de

[2020-08-26 02:22] hsinghaowang commented on #729
@MushMal Yes, I am listening to state change callback and print it.
You can search "New connection state".

the code is:
[code]

[2020-08-26 02:53] pai-da-xin opened #748 "compile this SDK"
Hi,Sir,
* How can I compile this SDK to conform to mips-linux-gnu-gcc of MIPs platform.Do I need to use cross compilation? What parameters do I need to use when compiling.I need to modify it CMakeLists.txt?

[2020-08-26 04:18] suggestedfixes commented on #742
Thanks! We will try them out!

[2020-08-26 04:18] #742 closed

[2020-08-26 05:05] MushMal commented on #729
That's RTC Peer connection state changes. You need to be listening to the signaling client state changes:
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/include/com/amazonaws/kinesis/video/webrtcclient/Include.h#L1235

[2020-08-26 05:08] MushMal commented on #748
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c#cross-compilation

You can also search existing issues - there are some questions that had been asked and answered prior.

[2020-08-26 06:49] suggestedfixes commented on #746
@fernandoc1 Alternatively, you can host your own turn server, or have your clients host a turn server. Turn servers themselves have to follow RFC specs, so it does not have to be an amazon one.

[2020-08-26 06:51] suggestedfixes commented on #730
Got it, thanks!

[2020-08-26 06:51] #730 closed

[2020-08-26 06:54] suggestedfixes commented on #737
Gstreamer debug tips were pretty helpful as well.

[2020-08-26 07:08] jonescx commented on #729
@MushMal I use webrtc sdk 1.3.0 and modify ice policy to relay only at
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L372

`configuration.iceTransportPolicy = ICE_TRANSPORT_POLICY_RELAY;`

I use [KVS WebRTC Test Page](https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html) to verify the streaming and it works in

[2020-08-26 07:21] hsinghaowang commented on #729
@MushMal Here is another log with "Signaling client state changed"
at line 1408 it changed to 8 and never come to 9.

[webrtc13_state8_08_26.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5128193/webrtc13_state8_08_26.log)

[2020-08-26 08:23] yanhui666 commented on #740
Hi,I am using the latest version of the SDK, and I have checked those patches and they are correct, the page displayed Error "Failed to execute'setRemoteDescription' on'RTCPeerConnection': Failed to set remote answer sdp: The order of m- lines in answer doesn't match order in offer. Rejecting answer.", the print information of SDK is as follows:
Master mychannel
[KVS Master] Using trickleICE by de

[2020-08-26 09:32] mdonahoe opened #749 "[QUESTION] What is: lws_ws_handshake_client: client_rx_sm exited, DROPPING 1"
My signaling connection suddenly started acting poorly, and I am seeing this websocket error in my logs quite often.

My (custom) client is continuously cycling through the signaling states
[code]

What does that error typically indicate? Is the signaling service cutting me off? Is my client misbehaving? Bad internet?

Any debugging advice would be appreciated, thanks!

[2020-08-26 10:02] mdonahoe commented on #749
I think I figured it out: I had two masters on the same signaling channel. One of them was supposed to be a client, but I had a flag set incorrectly.

[2020-08-26 10:02] #749 closed

[2020-08-26 10:24] yanhui666 opened #750 "KVS WebRTC Test Page cannot play webrtc"
Hi,
I successfully ran the kvsWebrtcClientMaster program on my ubuntu, and printed "Signaling client connection to socket established". When I tried to test through the KVS WebRTC Test Page, the page never played, and they are in the same one Within the local area network.
The KVS WebRTC Test Page prints as follows:
[2020-08-26T09:51:12.692Z] [INFO] Page loaded
[2020-08-26T09:51:42.826Z] [INFO] [V

[2020-08-26 10:31] pai-da-xin commented on #748
@MushMal
* Thank you for your reply.
* But now I have another problem.After executing cmak, I encountered the following problems when executing make:

libkvsWebrtcClient.so：对‘strnstr’未定义的引用
collect2: 错误：ld 返回 1
make[2]: *** [kvsWebrtcClientMaster] 错误 1
make[1]: *** [CMakeFiles/kvsWebrtcClientMaster.dir/all] 错误 2
make: *** [all] 错误 2

I didn't change anything. I just ran cmake and make.

[2020-08-26 10:59] fernandoc1 commented on #746
@MushMal, it is not reasonable to believe that our network is unable to create P2P ICE candidate pairing. We have a high success rate here when trying. However, the Master application sometimes randomly fails and we don't understand. We are using ordinary consumer network that is capable of using all sorts of P2P applications. So why Kinesis is having trouble?
In addition to what I'm saying, Kines

[2020-08-26 15:43] Morras opened #751 "[QUESTION] Able to connect to viewer using KVS WebRTC Test Page but no video is showing up"
I have a WebRTC master running locally, connected to my webcam. Signalling and connection works fine, but the video does not come through and the video player is only showing the spinner.

I use the [KVS WebRTC Test Page ](https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html) except I have turned off Audio, so it only requests the video stream.

Signaling appear

[2020-08-26 15:52] sbarry157 opened #752 "Master loses connection to signaling channel (no memory issues)"
I'm separating this issue from #729 .

#729 streaming issues are accompanied by low memory warnings. But there are times when streaming stops working and we DO NOT observe low free memory. When this happens, we also noticed that the signaling channel cloudwatch metrics show that master is not connecting to the signaling channel. Here is an example of a camera that lost the ability to stream, durin

[2020-08-26 15:54] sbarry157 commented on #729
After discussion with @jonescx and @modescode, this ticket is chasing two different issues. I created a separate ticket to track the issue of the camera losing connection to the signaling channel with no memory issues here #752

[2020-08-26 17:45] MushMal commented on #752
Unfortunately, this issue is not possible to transact upon due to the lack of requested information such as verbose logs and logs from debug version of libWebSockets. We can't replicate this locally so hope you succeed with capturing more info that we can transact. I am also replacing BUG label as I am not convinced that this is not network topology specific or device specific.

[2020-08-26 17:50] MushMal commented on #746
@fernandoc1 we understand the frustration and this is why we are trying to help you debug your network topology. Can we ask you to try the latest commit instead of the release as a few changes went in that might be related.

Capture the verbose logs and attach it here so we can see what the culprit can be.

Also, try to capture the output from https://github.com/awslabs/amazon-kinesis-video-stream

[2020-08-26 19:04] MushMal commented on #750
Something in your network topology fails to properly connect.

Perhaps, try to run https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/include/com/amazonaws/kinesis/video/webrtcclient/Include.h#L1734

to get more info

[2020-08-26 19:10] MushMal commented on #748
Not sure what the text says. Does it complain that it can't find strnstr? This API is ifdef-ed in PIC. If your toolchain provides the implementation we use it and if not, we use the implementation in utils

https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/common/include/com/amazonaws/kinesis/video/common/CommonDefs.h#L806-L810

util implementation is in https://github.co

[2020-08-26 19:21] kyledecot opened #753 "[QUESTION] Undefined Symbols When Attempting to Integrate into MacOS Project"
I'm attempting to use this library in a MacOS project however when building I'm getting the following errors:

[code]

I built this library using the `-DBUILD_STATIC_LIBS` argument. I then added the two `.a` files to my Xcode project. I updated my build settings Header Search Paths to include the path to this repo:

<img width="1059" alt="Screen Shot 2020-08-26 at 3 20 38 PM" src="https://user-ima

[2020-08-26 19:53] fernandoc1 commented on #746
@MushMal, thank you for your attention.
I'm using the latest code from the repository ()
I have made just some changes o the master example in order to allow streaming our shared memory source and disabled the TURN.
Here is the code with the changes:
[master.c](https://gist.github.com/fernandoc1/f534064d43094fde5140ec749649be34#file-master-c-L160)

Here is the output of the discoverNatBehavior, ru

[2020-08-26 19:59] mdonahoe opened #754 "[BUG] demo segfaults after credentials expire"
**Describe the bug**
I ran the `kvsWebrtcClientMaster` example using a AWS_SESSION_TOKEN with credentials that were set to expire after 30 minutes. After expiration, the program repeatedly tries to restart signaling using the old credentials and eventually segfaults.

**SDK version number**
sdk commit a69cbb2cf2f3f643770e0c12a49dd6735d568356

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2020-08-26 20:42] MushMal commented on #751
I see no problems in the webrts_output.txt. You need to follow the sample to mimmic your media pipeline. First of all, try to run the existing master sample and ensure you don't have any connectivity or other issues. Then, try to add your custom media pipeline and wrap it in exactly the same way as the sample does. NOTE: you will need to have your elementary H264 in Annex-B format. Also, note that

[2020-08-26 20:45] MushMal commented on #753
Sorry, I would like to clarify. Are you having issues with building on mac OS or you have issues building in xCode?

Can you validate that the build instructions in the readme produce libraries with no problems?

If this is purely xCode integration issue then would you mind updating the description to reflect that?

[2020-08-26 21:10] kyledecot commented on #753
I'm attempting to integrate this into a MacOS application that I'm building.

Yes–I am able to build/produce the libraries with no problem.

Done ✅

[2020-08-26 21:38] MushMal commented on #753
Thanks @kyledecot for the clarification. Anyone has experience with this?

[2020-08-26 21:55] MushMal commented on #754
@mdonahoe thanks a lot for reporting. The application/SDK should certainly not crash so it does looks like a bug. Seems like an easy repro so we can quickly identify the root cause and fix it

[2020-08-26 23:20] chehefen commented on #746
just wanna double check, do you have any firewall running on your machine? We did see people having trouble with p2p connection when their windows firewall is on.

[2020-08-26 23:38] chehefen commented on #746
Success
2020-08-26 19:59:30 DEBUG   iceAgentLogNewCandidate(): New remote ice candidate discovered. Id: 99mRh6kkb. Ip: 168.195.101.231:26667. Type: host. Protocol: UDP.
2020-08-26 19:59:30 DEBUG   iceAgentLogNewCandidate(): New remote ice candidate discovered. Id: P67zLoSy4. Ip: 168.195.101.231:26570. Type: host. Protocol: UDP.
2020-08-26 19:59:30 DEBUG   iceAgentLogNewCandidate(): New remote ice

[2020-08-27 00:44] yanhui666 commented on #750
I ran discoverNatBehavior and printed the information as follows:
Usage: ./discoverNatBehavior -i network-interface-name -s stun-hostname
Using stun host: stun:stun.sipgate.net:3478, local network interface (null).
2020-08-27 00:39:45 DEBUG createSocket(): setsockopt() failed with errno Protocol not available
2020-08-27 00:39:45 DEBUG discoverNatBehavior(): Start NAT mapping behavior test.
2020-08

[2020-08-27 01:01] pai-da-xin commented on #748
@MushMal Even if I don't use cross compilation, just normal compilation, it will have this problem.Maybe that's not the reason.

[2020-08-27 03:50] yanhui666 opened #755 "Decrypting rtcp packet failed with error code 7 on srtp session 2175097144314716336"
Hi,
I used ubuntu18 to run kvsWebrtcClientMaster, and then opened the KVS WebRTC Test Page using Google Chrome, but the program kept printing the following problems:
2020-08-27 01:53:11 WARN onInboundPacket(): decryptSrtcpPacket failed with 0x5b000001
2020-08-27 01:53:12 ERROR decryptSrtcpPacket(): Decrypting rtcp packet failed with error code 7 on srtp session 2160478587464518208
The specific pri

[2020-08-27 09:47] Ben8823 opened #756 "kvsWebrtcClientMaster not working on Windows"
I'm trying to get the kvsWebrtcClientMaster program to run under windows. It compiles fine, if i run it it creates the signaling channels and prints out the following.
[code]
Unfortunately no video is showing up on the KVS WebRTC Test Page. If I try the same from ubuntu I can watch the video.
Did anyone get it to run under windows? If yes are there any changes requried?

[2020-08-27 09:50] pai-da-xin commented on #748
@MushMal Now I execute the command to cross compile, but it has the following problems.

/usr/local/mips-gcc472-glibc216-32bit/bin/../lib/gcc/mips-linux-gnu/4.7.2/../../../../mips-linux-gnu/bin/ld: skipping incompatible /home/hyg/work/webrtc_aws/amazon-kinesis-video-streams-webrtc-sdk-c/open-source/lib/libkvspicUtils.a when searching for -lkvspicUtils
/usr/local/mips-gcc472-glibc216-32bit/bin/../l

[2020-08-27 12:19] Morras commented on #751
I found that I did have some errors in my conversion between the two frame formats, though it did not solve my problem.
I will try to get the sample to work in the same setting.

In the meantime I have a few followup questions now that I know about webrtc internals in Chrome/Edge.

First of all, in the console for the master, I get the following lines:
[code]
What are they telling me?

Sometimes t

[2020-08-27 14:23] jvasanthan opened #757 "kvsWebrtcClientMaster frame loss"
Hi Team,
Setup:
Running Mater in Device, viewer in Android. Using stock kvsWebrtcClientMaster (kvsWebrtcClientMaster is set to False) and stock viewer in android app.
Issue:
Frame loss while streaming h264 & opus frames in android viewer. See attached log

[frame_loss.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5136898/frame_loss.txt)

[2020-08-27 15:05] MushMal commented on #756
No changes should be required. Could you provide full debug logs for both the master and the viewer. Include detailed information about the network topology, your application, scenario, etc

[2020-08-27 15:14] MushMal commented on #751
Some of the printout is disabled in the latest commits. The master simply gets a type of rtp packet it doesn’t interpret.

Not sure what’s going on with your encoder and what profile does it evaluate to. Could you start from the most basic one possible. Some of the chrome versions don’t support anything but basic level.

[2020-08-27 15:21] MushMal commented on #757
It’s hard to tell what exactly is going on with your network. Have you seen any output from the viewer device? Could you run some experiments like pairing cia forced turn, running master from a browser, etc... this might help you debug your network

[2020-08-27 17:02] Ben8823 commented on #756
Ok that's strange. I noticed that in the handleOffer function in Common.c the call to setLocalDescription fails.
The callstack looks like this:
[code]
the connect in socketConnect returns -1 and only errno is checked which is not set on windows. on windows WSAGetLastError has to be called.
but this would mean that the socket codebase is not ready for windows yet?

I'm testing it on LAN behind NAT,

[2020-08-27 19:56] #614 closed

[2020-08-27 20:37] fernandoc1 commented on #746
I have created another test:
The camera (armv7l GNU/Linux) is in the office remote network with IPv4/IPv6 capabilities; My computer (Ubuntu x86_64 GNU/Linux) is in my home network with IPv4/IPv6.

Here is the output for the camera discoverNatBehavior
<pre>
Usage: ./discoverNatBehavior -i network-interface-name -s stun-hostname
Using stun host: stun:stun.sipgate.net:3478, local network interface (n

[2020-08-27 22:12] MushMal commented on #729
@hsinghaowang, I was looking at webrtc13_state8_08_26.log and in LN 1500

`[08-26 14:57:57] connectSignalingChannelLws(): operation returned status code: 0x0000000f`

So the terminated connection failed to reconnect. What I am puzzled about is that I don't see any printouts from:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L110

This should ha

[2020-08-28 03:22] pai-da-xin commented on #748
* Oh,Nice, it's solved.

[2020-08-28 03:22] #748 closed

[2020-08-28 08:15] jonescx commented on #729
@MushMal

`                pSignalingClient->signalingClientCallbacks.errorReportFn(pSignalingClient->signalingClientCallbacks.customData,
                                                                         STATUS_SIGNALING_RECONNECT_FAILED, reconnectErrMsg, reconnectErrLen);`

The errorReportFn is assigned as signalingClientError() as shown below, it'd print logs.
[code]

Recently, we patche

[2020-08-28 13:30] zhuker opened #759 "[QUESTION] do we have consent freshness checks implemented?"
as described here https://tools.ietf.org/html/rfc7675

[2020-08-28 13:35] zhuker commented on #759
it looks like `currentRoundTripTime` is updated only once
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/7a020880321e76548271ea1c20de093c09833a6c/src/source/Ice/IceAgent.h#L121
am i missing something?
@disa6302

[2020-08-28 14:49] fernandoc1 commented on #737
Hi @disa6302, would you mind adding to your documentation improvement, some simple connectivity tests that can be run apart from Kinesis in order to check exactly what operation failed?
For example, there could be an application that just use STUN to create candidates and another application that tries to connect to it. By doing so, we should see where is the failure.
Libnice has an example about

[2020-08-28 16:49] MushMal commented on #729
@jonescx it's not clear why your error function printout doesn't output anything on the error in the logs or whether it's been called.

The timeout happens on reconnect which is shown in the logs.

To help debug your case, could you do the following:

* How often does this happen? Clearly, your network has an outage causing to reconnect but how often the reconnect fails?
* Can you run the latest m

[2020-08-28 20:08] lherman-cs opened #760 "[BUG] Intermittent segmentation fault"
**Describe the bug**
The viewer sometimes crashes with segmentation fault after starting the ICE agent / setRemoteDescription. The bug was introduced in https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/33e2f4bc0966efd865669fbb466fc3de4ebb39ff.

**SDK version number**
7a020880321e76548271ea1c20de093c09833a6c

**Stack Trace**
![stack-trace](https://user-images.githubuserco

[2020-08-28 20:16] fernandoc1 opened #762 "[BUG]Kinesis is failing to send all IP candidates"
I have done a test with the camera in a network with IPv6/IPv4 and my computer in another network with IPv6/IPv4. Both networks are stable and working all the time.
In my test, I have refreshed the browser viewer multiple times. Sometimes, the received message, doesn't came with all IP possibilities. I think that this might be a bug.
Here is the video of my test: [Kinesis failure test](https://www

[2020-08-31 22:52] #760 closed

[2020-09-01 02:04] jonescx commented on #729
@MushMal Thanks for your advise.

We are trying do the 2 things
1. Setup a minimum modification version
2. Find out where makes the webrtc state stuck.
The state stuck issue is not easy to reproduce, it may take long time to streaming.

under editing..but put the log for discussion first.
[0901_webrtc_stuck_at_state6.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5

[2020-09-01 02:31] MushMal commented on #729
Sounds good. Meanwhile, could you parallelize the modified version with the stock version of the master and ensure that works ok? I just don't know how else to help as without a repro we can't help in a more meaningful way. The log you've attached has Info level only enabled and for some reason I see no printout from the callback but the state machinery proceeds further. It makes no sense as the c

[2020-09-01 07:15] Morras commented on #751
I have now found what the problem was.
The data I was sending did not contain the SPS and PPS blocks to tell the decoder how to decode the stream.

The problem was that I was sending the original kinesis_video_msgs::KinesisVideoFrame's frame_data as the frame data, but that is lacking the extra NALs segments. You can find those segments in the KinesisVideoFrames codec_private_data vector.
Once I p

[2020-09-01 07:15] #751 closed

[2020-09-01 10:18] jonescx commented on #729
Thanks for giving suggestions today.
We turn off the async ICE server config
`pSampleConfiguration->channelInfo.asyncIceServerConfig = FALSE;`

And also try to lock the location that makes the thread stuck.
About the jitter buffer memory save commits, we will apply it after we confirm the commit number.
I guess it's the following one but I am not sure.
https://github.com/awslabs/amazon-kinesis-vid

[2020-09-01 14:15] MushMal commented on #729
Looks like it. You could also take the latest

[2020-09-01 21:38] mdonahoe commented on #754
Any update?

[2020-09-02 02:00] jonescx commented on #729
I reproduced the thread stuck issue again.

[0902_webrtc_stuck_state6.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5159652/0902_webrtc_stuck_state6.log)

[2020-09-02 05:08] MushMal commented on #754
Sorry, this has not been prioritized. I had spent some time on this but was not able to repro and had to context switch to something else. Have you been able to consistently repro this? Could you capture the crash stack?

[2020-09-02 06:02] MushMal commented on #729
@jonescx this is an interesting log. Have been looking at this for quite some time now. Do you have the full log that can give us a little more details? In this case, it seems that there was a disconnect detected prior (not captured in the log) and the reconnect handler is attempting to connect. In this case, it fetches the credentials which hits a cache and then proceeds with other states which a

[2020-09-02 06:12] #741 closed

[2020-09-02 07:52] YUN-CHIEN-LO opened #766 "How to render streaming on Master-end with gstreamer"
Hello,
I'm using C sdk, and I want to know how do I render the received video in [kvsWebRTCClientMasterGstreamer], with gstreamer.

here are the things I have done in `kvsWebRTCClientMasterGstreamer.c`
1. in `receiveGstreamerAudioVideo()`, I add pVideoRtcRtpTransceiver
[code]
2. ` appsrcVideo = gst_bin_get_by_name(GST_BIN(pipeline), "appsrc-video");`
3. `transceiverOnFrame(pSampleStreamingSession-

[2020-09-02 07:57] jonescx commented on #729
@MushMal I upload the full log from the webrtc starts. I open the test page viewer and let it stays overnight. The viewer is working fine when I check it in the morning. However, the signaling thread is blocked as you see in the short one. You can check the "0902_extra_log_patch.txt" to know where the extra logs comes from. My code base is the tag 1.3.0.

I will add more instrumented output to fig

[2020-09-02 08:33] jonescx commented on #729
@MushMal I check the system log since the output won't be scrambled in the log file. I found the errorReportFn is NULL in the reconnectHandler(). Please check the zip file for log_server2 at line 14898.

[0902_logs_server.zip](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5161009/0902_logs_server.zip)

[2020-09-02 10:58] jonescx opened #767 "[QUESTION] Session keeps occupied after connection build up fail"
With the attached log line 8699
<2020-09-01 15:43:43>
....
[ 771][D]doMasterMessageReceived(): Creating new streaming session for peer c8c9ea60987e4eb3a48897f29114d7e8

A new session created and it failed to build up a connection, but it keeps the session count as 1 as following pattern.
[ 771][W]webrtc_master: heartbeat. state:[9], **sesssions:[1]**

Also, please note the onConnectionStateChange

[2020-09-02 18:10] fernandoc1 opened #769 "[QUESTION]How to use alternative TURN servers in Kinesis?"
I'm trying to build a solution where my customers can have their own TURN servers. It is a requirement that their video stream do not go to foreign servers. So I will rely on Kinesis signaling and send the streaming to their TURN servers.
I have tried to manually add the TURN server ([Common.c](https://gist.github.com/fernandoc1/364291f7335c83ac5a5d2b807ac3059e#file-common-c-L293)) but it is alway

[2020-09-02 20:41] MushMal commented on #769
Conceptually, the signaling DAG (object graph) is separate from the WebRTC DAG (rooted with PeerConnection object). You could supply your own TURN info (URI + credentials) to the PeerConnection. This is exactly what the sample application does - it fetches the list of TURN server infos from the signaling and passes it to the PeerConnection object. You could replace those by your own TURN servers,

[2020-09-02 20:43] MushMal commented on #729
@jonescx if the errorReportFn is set to NULL then everything can be explained! This simply means that the signaling has failed to reconnect due to networking and gave up. The application supplying the error handler can react to it. The default master sample does exactly that. This is the reason I asked whether you are running stock application.

[2020-09-02 20:48] fernandoc1 commented on #769
Hi @MushMal, thanks for your attention.
I would like to know if [COTURN](https://github.com/coturn/coturn) is compatible with KVS TURN. Is there any recomendations?

[2020-09-02 20:52] MushMal commented on #769
Unfortunately, we can't provide this type of info as we simply don't have the information. It would depend not only to the version of the software in question and the internal spec adherence (which sometimes is a little lose) but also to the network topology, etc..

[2020-09-03 01:41] jonescx commented on #729
@MushMal I see. We will check why the errorReportFn is NULL. The attached is the new log with more outputs for freeLwsCallInfo() and reconnectHandler() in LwsApiCalls.c. The two functions leave normally. So it means the thread is not blocked and it just give up, right?
[0903_webrtc_stuck_state6_short.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5165645/0903_webrt

[2020-09-03 02:02] MushMal commented on #729
Had looked at the latest log 0903_webrtc_stuck_state6_short.txt

The log starts with a timeout and the lws callback handler kicks off the reconnect routine as your signaling client is configured with reconnect. This is good. The reconnect routine then primes the state machine - as you can see the state machine gets driven by the reconnect thread (which was just created) and it moves past the few c

[2020-09-03 03:45] jonescx commented on #729
@MushMal Thanks your reply. I can easily reproduce it by stopping networking. We also found the location to set the errorReportFn as NULL. We will fix it and try again.

[2020-09-03 03:52] MushMal commented on #729
Perfect! Looking forward for the results

[2020-09-03 04:04] jonescx commented on #767
@MushMal Could you show me where is the decrement of the peer connection for the 15 seconds in the source code? We want to add some output around there. Thanks.

[2020-09-03 04:39] MushMal commented on #767
Not entirely sure I understood the question. Here is the callback that gets set in the samples: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L32

This is where the callback gets called from: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/PeerConnection.c#L268

This, in turn gets called

[2020-09-03 04:48] MushMal commented on #767
ICE Agent can detect the disconnect here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Ice/IceAgentStateMachine.c#L601

The timeout is configured as 15 seconds

[2020-09-03 08:01] shiv50084 opened #770 "[BUG]: With latest commit kvsMaster connect to signalling fails"
**Describe the bug**
when i run a master on my embedded device.Some times its fails to Init and some time its crash.
attached log also when Init success and when i start viewer its fails. file name ; "run_time_crash.txt". From this file at line number 338 .I having pSampleStreamingSession address but after jumping if condition its value gets NULL.

**********   Please see a Log for Init failure ca

[2020-09-03 15:56] lherman-cs commented on #766
@YUN-CHIEN-LO Could you please confirm if your media pipeline work with local source? I would suggest to store an audio file locally and feed your pipeline using the same callback that you have.

[2020-09-03 15:59] lherman-cs commented on #769
@fernandoc1 as the original question has been answered, I'll mark this issue as resolved. Please feel free to reopen it for further assistance.

[2020-09-03 15:59] #769 closed

[2020-09-03 16:51] MushMal commented on #770
This is odd. The first file webrtc_init fail.txt shows that there is no network connection so the application terminates gracefully - this is by design.

The second one does indeed show a NULL deref crash but this time the signaling conects fine. The line number you pointed out doesn't seem to be the culprit unless there is a memory corruption preceding.

Could you please capture the crash dump or

[2020-09-03 16:55] fernandoc1 opened #771 "[FEATURE] Update the code documentation"
I would like to ask for the Kinesis staff update the code documentation that is available at:
[awslabs.github.io](https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-c/)
It would be nice if there were call graphs, like this one:
![image](https://user-images.githubusercontent.com/249402/92143887-47bf3700-edec-11ea-90e9-e61b11c6bd48.png)
I'm contributing the doxygen I create for this,

[2020-09-03 16:59] MushMal commented on #767
BTW. I am going to remove the BUG tag and mark it as answered.

[2020-09-03 21:20] modescode commented on #729
@MushMal - I'm running into an intermittent timeout on "SendAlexaOfferToMaster" (6s). The master logs show there is no offer received on the master for those requests. See master logs (redacted channel ARN) -
[log_server3 (1).log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5171180/log_server3.1.log)

I pinged you the channel name separately.

[2020-09-03 22:13] MushMal commented on #729
@modescode perhaps those are related but until the issue with the error handler is not fixed it makes no sense in investigating any time as any network issue lasting longer than 15 seconds will cause the signaling client to stop retrying to reconnect

[2020-09-03 22:28] modescode commented on #729
Hi @MushMal  - we received latest build this morning, which fixes the signaling issue and the above testing was done on that build. @jonescx - can you confirm that the 6.9E build shared this morning fixes the signaling issue that was discussed 19 hours ago?

[2020-09-04 00:07] MushMal commented on #729
@modescode I looked at log_server3 (1).log and this time I don't see any issues with the signaling - we have a few transient network faults that the SDK is able to recover from. It's always connected. There are two (I believe) sessions in the log where the offer has been answered and some frames have been exchanged. I see a connection termination in LN 6709

`[ 725][D]socketSendDataWithRetry(): se

[2020-09-04 01:28] disa6302 commented on #759
@zhuker ,

Consent freshness checks are not implemented.

About currentRoundTripTime, I should probably be updating it every time I receive a binding response. Let me get back to you on that.

[2020-09-04 01:31] disa6302 commented on #740
@yanhui666 ,

Can you tell us where you are running the viewer?

Also, can you attach the SDPs that get generated. There are 2 ways to capture this information:
1. You can get this from the browser (based on which browser you use)
2. You can run `export DEBUG_LOG_SDP=TRUE` and it will be displayed as part of the logs.

[2020-09-04 01:32] disa6302 commented on #710
@chertov ,

Closing this assuming your question is answered. Feel free to open a new issue if you have any questions. Thanks!

[2020-09-04 01:32] #710 closed

[2020-09-04 01:32] disa6302 commented on #702
@fernandoc1 ,

Any updates?

[2020-09-04 01:36] disa6302 commented on #755
@yanhui666 ,

Looks like an SRTP auth failure. Which version of srtp are you using?

[2020-09-04 01:38] disa6302 commented on #757
@jvasanthan ,

Can you check for any firewall or check if you are running on VPN?

[2020-09-04 01:40] disa6302 commented on #688
@codingspirit ,

Closing this since your changes are merged. Thank you for your contribution! Feel free to reach out with any questions in the future.

[2020-09-04 01:40] #688 closed

[2020-09-04 01:42] disa6302 commented on #708
@fernandoc1 ,

Updates?

[2020-09-04 01:44] disa6302 commented on #707
@fernandoc1 ,

Closing this issue since it is stale. Feel free to open a new issue if you have any questions. Thanks!

[2020-09-04 01:44] #707 closed

[2020-09-04 01:45] disa6302 commented on #711
@shiv50084 ,

Any updates?

[2020-09-04 01:46] disa6302 commented on #737
@fernandoc1 ,

Sounds like a good suggestion! Will surely look into it.

[2020-09-04 01:54] jonescx commented on #729
@modescode @MushMal I tested the new firmware with errorReportFn fixed version. The signal channel keeps stay at [9] state and live streaming is working as well. I don't see signal state the stuck at [6] issue. I think this issue is fixed. Thank you.

[2020-09-04 01:56] jonescx commented on #767
@MushMal No problem. We will collect more data to see if we can reproduce it.

[2020-09-04 02:05] disa6302 commented on #771
@fernandoc1 ,

Thank you for this!

Our doxygen usually gets updated with every merge commit. Will spend some time to see if any formatting is incorrect in the public header file `Include.h` and also add other public header files to the doc.

About  [use-pre-generated-certificates](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c#use-pre-generated-certificates), will look into

[2020-09-04 04:45] jvasanthan commented on #757
@disa6302
No. Firewall is disabled & there is no VPN.

The following scenario works well.
Device as Master - js as Viewer
Android as Master - js as Viewer
js as Mater - Android as Viewer
Android as Master - Android as Viewer

The only issue is with Device as Master - Android as Viewer. I added webrtc sdk into my project and feeding live video from camera. The Android Viewer is laggy/frame loss for

[2020-09-04 08:27] henryChmn opened #772 "[BUG] onFrameDroppedFunc has Segmentation fault problem"
**Describe the bug**
A clear and concise description of what the bug is.
**A mark**: %ld should be %lu for UINT32 type value
**B mark**: when process go here will has Segmentation fault problem
![image](https://user-images.githubusercontent.com/58592084/92218116-339e3700-eecb-11ea-9433-719979678ab5.png)

**SDK version number**
Include the SDK version you are running. If it is a specific commit on

[2020-09-04 08:39] henryChmn opened #773 "[QUESTION] Viewer play-stop-play will have error happen"
A one liner description about the use case and what you are trying to achieve
When client's app for live video play will have such problem happen.

** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution

** If you would not like to open an issue to discuss your solution in open-platform, please email your question to kinesis-video-s

[2020-09-04 12:15] shiv50084 commented on #770
@MushMal When webrtc init fail at time my internet connection working fine.then why webrtc init fail while till commit id: "abbdc60d1cc9788cc65f85d71efd25fb8f104064" code working fine.

I am trying to connect with second client.It not able to connect with second client. Same i tried 3 times but its fails while my 1 client is running.Please see log for this with name:"second client not able to conn

[2020-09-04 16:31] disa6302 commented on #773
@henryChmn ,

It is not clear from your description what happens. About **status code** `0x5d00002b`, it means that the signaling client has received a message that already exists in the queue and all it does is ignore the message to be queued. So, it shouldn't cause any problem.

About 0x40100001, it means that the hash table cannot find the key passed in as part of hashTable calls. From the logs

[2020-09-04 16:34] disa6302 commented on #772
@henryChmn ,

The seg fault need not be due to `onFrameDroppedFunction`, Do you have a stack trace we could look at to pin point the problem?

As for A. , thanks for pointing it out. Will fix it.

Also, which version/commit of SDK are you using?

[2020-09-04 16:55] disa6302 commented on #408
Closing this since we are tracking documentation related work items in #737

[2020-09-04 16:55] #408 closed

[2020-09-04 16:57] disa6302 commented on #729
@jonescx ,

Closing this issue based on your comment. Do not hesitate to reach out with any questions in the future.

[2020-09-04 16:57] #729 closed

[2020-09-04 17:05] disa6302 commented on #757
@jvasanthan ,

We modified the THREAD_SLEEP logic in the master sample recently. Do you mind pulling the latest and see if it works?

[2020-09-04 17:26] MushMal commented on #770
There are multiple questions you are posting in this ticket.

I see there is a crash that's pointing to the following line in the latest codebase: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L500

For some reason we end up with NULL pSampleStreamingSession. @chehefen could you please add a check and provide more info on what the circumstances a

[2020-09-04 18:21] jvasanthan commented on #757
@disa6302 I pulled the latest version. No change in behavior. is there any more information I can provide to debug the issue?

[2020-09-05 12:19] shiv50084 opened #775 "[BUG]: SSL failed because of this client not able to connect"
**Describe the bug**

When i am trying to connect master with viewer. Viewer fails to connect showing below log during fails.Its happen frequently

2020-09-05 11:35:46 DEBUG   iceAgentLogNewCandidate(): New remote ice candidate discovered. Id: JmLry6R9X. Ip: 13.232.104.254:57923. Type: host. Protocol: UDP.
2020-09-05 11:35:46 DEBUG   iceAgentLogNewCandidate(): New remote ice candidate discovered.

[2020-09-05 12:36] disa6302 commented on #702
@fernandoc1 ,

Closing this issue since it has gone stale. Feel free to reach out if you have any questions

[2020-09-05 12:36] #702 closed

[2020-09-05 12:36] disa6302 commented on #711
@shiv50084 ,

Closing this issue since it has gone stale. Feel free to reach out if you have any questions.

[2020-09-05 12:36] #711 closed

[2020-09-05 12:40] disa6302 commented on #767
@jonescx ,

Closing based on comment. Feel free to reach out if you have any questions.

[2020-09-05 12:40] #767 closed

[2020-09-05 13:13] disa6302 commented on #756
@Ben8823 ,

It does look like we do not support `WSAGetLastError` in our stack. We will look into it. Meanwhile, can you use WSAGetLastError and FormatMessage in [createSocket()](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/a7da1e06166ca2931c626b11e24f4bb2c05d4a0f/src/source/Ice/Network.c#L146) to get the error string so that we can understand what the error is?

[2020-09-05 13:37] disa6302 commented on #753
@kyledecot ,

Not sure what the issue could be. Considering the signaling client library generation is fine and the linking issue is seen while integrating with your Swift app, I would suggest to check the architecture of the app binary and see if it is x86_64 as well. It is possible the library and app binary architectures are different. If the architectures are not the same, based on the platfor

[2020-09-05 13:37] #753 closed

[2020-09-05 13:45] disa6302 commented on #766
@YUN-CHIEN-LO ,

For Gstreamer related questions, please reach out to the GStreamer forums. As for the code, if your pipeline is correct, it should work. Do try out what @lherman-cs suggested. Additionally, you can run the app with `GST_DEBUG=4` or `GST_DEBUG=5` to get more verbose GStreamer logs that might help you debug your pipeline. I am closing this ticket since the problem is specific to GSt

[2020-09-05 13:45] #766 closed

[2020-09-07 03:27] henryChmn commented on #772
console_sighandler:
Received signal 11, code(1)
Signal originates from process 1200
console_print_trace:
STACK: Obtained 3 stack frames.
STACK: ./aws_client() [0x29380]
STACK: ./aws_client() [0x28348]
STACK: /lib/libc.so.6(__default_rt_sa_restorer+0) [0x768f5190]

[2020-09-07 03:31] MushMal commented on #772
@henryChmn any chance you can capture the stack trace on a debug build? The attached info is not actionable.

@disa6302 any chance to reproduce the crash? I believe there was another instance reported after one of the latest commits.

[2020-09-07 09:45] Ben8823 commented on #756
@disa6302

ok but as far as i know there is not really an alternative to `WSAGetLastError()` if compiling on windows.
It's not `createSocket()` but the [socketConnect()](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/a7da1e06166ca2931c626b11e24f4bb2c05d4a0f/src/source/Ice/Network.c#L266) that fails.

That's the error i get. It's basically the same as the `EINPROGRESS` wh

[2020-09-07 20:56] mdonahoe commented on #754
It is still happening for me on master `a7da1e06166ca2931c626b11e24f4bb2c05d4a0f`

You have to wait for the credentials to expire, and then the program will start spamming while attempt to reconnect to the signaling service for a few minutes before crashing.

How should I go about capturing the crash stack?

For my purposes, I just want to know how to detect that the credentials have expired so th

[2020-09-08 16:54] disa6302 commented on #772
@henryChmn ,

A full stack trace would be helpful.

@MushMal , I have not been able to reproduce it in the usual sample runs.

[2020-09-08 21:21] suggestedfixes opened #777 "[QUESTION] Extra header files needed to Common.c when adding createLwsIotCredentialProvider?"
After adding
createLwsIotCredentialProvider to Common.c using a Mac
I get the following bunch of linking errors.
So any ideas what's going on? Do I need to add extra header files from libwebsockts to solve this?
[code]

[2020-09-08 22:22] suggestedfixes commented on #777
The one above is from Mac linking. The following is the error from arm cross building
[code]

[2020-09-08 22:53] suggestedfixes commented on #777
Solution for armv7:
Make the private ones public
[code]

[2020-09-08 23:11] suggestedfixes commented on #777
Tried the same thing for Mac. PRIVATE to PUBLIC somehow fixes the problem. I wonder if this is the proper fix?

[2020-09-09 02:36] ckotowski commented on #754
I am unable to reproduce this on Ubuntu 20.04.  Could you run under gdb and grab the backtrace?

[2020-09-09 02:53] disa6302 commented on #757
@jvasanthan ,

I do not think there is any other information. From the logs, I can see that TURN is being used and that the select() call is timing out. Can you check if the master and viewer are in the same network and if not, try that to see if you do not see frame losses?
The sample itself is fine.

[2020-09-09 02:57] disa6302 commented on #708
@fernandoc1 ,
Closing this since it has gone stale. Feel free to open a new issue if you have any questions.

[2020-09-09 02:57] #708 closed

[2020-09-09 03:19] disa6302 commented on #754
@mdonahoe ,

There is not a callback you can implement. AFAIK, we do not return credential expiry with a status code to the application. @MushMal can shed more light on this.

For the crash stack, just run your application with `gdb` and run `bt` after the crash to get the stack trace. That will pinpoint to what causes the crash.

[2020-09-09 05:16] MushMal commented on #754
RE: The callback. The SDK integrates with the auth via the credential provider interface. This is based on the callbacks. Take a look at any of the implementations of the credential provider. You could wrap it in your own provider and overtake the callback.

Please try to capture the debug crash stack that will give us some clue as to what's going on.

[2020-09-09 06:21] jonescx opened #778 "[QUESTION] receiveLwsMessageWrapper(): operation returned status code: 0x0000000f"
@MushMal
In the line attached log, at line 1016 there is a status code 0x0000000f for something timeout.
We want to know what functions we can add instrumentation to collect more information to know where the error code comes from. Thank you.

BTW, I found our application stop at closing video at line 851. In normal case, it should go through like from line 311 to 326.
It may be related between th

[2020-09-09 07:08] MushMal commented on #778
It's still not immediately clear as what's going on.

Could you please add some instrumentation to

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/LwsApiCalls.c#L1432
and
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/LwsApiCalls.c#L1453

Add in a form of

retStatus = CVAR_WAIT(..);
if (ST

[2020-09-09 07:16] YUN-CHIEN-LO opened #779 "[QUESTION] Receiving Video frame from remote"
Hi, I want to show remote video ( send from viewer) and display them on local-end (master).

What I did is that I add a `g_signal_connect` in `receiveGstreamerAudioVideo`
[code]
and then
[code]
[code]

My problem is that I'm not sure if it really received video data, because if it did, I suppose the function `on_new_remote` will be repeatedly called, but instead it would be called only once.

Here

[2020-09-09 07:48] jonescx opened #780 "[QUESTION] Streaming request timed out - answer took to long to send in master"
@MushMal
An attempt to stream timed out because the camera took too long to respond with an answer.

These times are in the attached uart logs:
16:28:23.645 - offer received by camera
Camera logs show that the offer was received at 16:28:23 (echoshow195)

Bumps the current session count to 2
16:28:30 - answer was sent, but it was too late
16:28:39 - freeing streaming session with peer id: echoshow

[2020-09-09 08:22] YUN-CHIEN-LO commented on #779
I have trace code to `PeerConnection.c` > `onFrameReadyFunc()`
I can see here frames from remote client is received. How can I display them?

[2020-09-09 11:13] henryChmn opened #781 "[QUESTION] signalingConnectSync(): operation returned status code: 0x0000000f"
A one liner description about the use case and what you are trying to achieve
Sometimes signalingConnectSync fail with timeout
** Any design considerations/constraints **
Explain in detail how you would like to integrate our SDK into your solution

SDK commit:
a7da1e06166ca2931c626b11e24f4bb2c05d4a0f

** If you would not like to open an issue to discuss your solution in open-platform, please email

[2020-09-09 11:25] henryChmn commented on #773
I have some logs for this question,
The problem happen when continues start viewer  and stop viewer, not sure what happen.

[teraterm_aws_client_fault.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5194760/teraterm_aws_client_fault.txt)
[teraterm_aws_client_sdk_malloc.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5194762/teraterm_a

[2020-09-09 16:06] lherman-cs commented on #781
@chehefen any idea?

[2020-09-09 16:51] fernandoc1 commented on #771
Hi @disa6302
I would like you to give special attention to documentation around PRtcPeerConnection, because it is initialized as PKvsPeerConnection. I had to expend sometime until I figured it out that is a "kind of Inheritance". It is not explicit in the code.

[2020-09-09 16:53] MushMal commented on #781
The log seems to be OK - it simply drops the connection and times out. You can debug by checking:

* The device has proper network - this is the most likely case as it seems to be an intermittent issue.
* Ensure your credentials have proper access rights
* Ensure your device can handle parallel contexts. Simply set the following to false: https://github.com/awslabs/amazon-kinesis-video-streams-web

[2020-09-09 16:54] modescode commented on #780
tagging @chehefen

[2020-09-09 17:00] MushMal commented on #773
@henryChmn the description of the issue is unclear. Do you mind perhaps rephrasing the question? What's the asset you are using? Which sample? I took a quick look at the attached logs which have a lot of spew in them which makes it unusable. However, I see there is a usage of KVS streams and not WebRTC.

As is, this is unactionable.

[2020-09-09 17:17] MushMal commented on #779
@YUN-CHIEN-LO seems that you are using GStreamer. Perhaps, the GStreamer forums might have more info on this. You need to decode the frames and render them. You might need to construct a pipeline for that and acts as a source for the frames.

[2020-09-09 19:04] disa6302 commented on #755
@yanhui666 ,

Any updates?

[2020-09-09 19:07] disa6302 commented on #771
@fernandoc1 ,

I am not sure I understand. `PKvsPeerConnection` is an internal structure which has `PRtcPeerConnection` as a member. What is available to use publicly is `PRtcPeerConnection`. What kind of documentation are you looking for around that?

[2020-09-09 19:11] fernandoc1 commented on #707
Hi @disa6302
I was just looking at the history commits from Kinesis and I found something that is very interesting here:
[Manual signaling](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/8a79ff0760cac72d0d3bed020bbf4edc427e5f35/samples/kvsWebRTCClientMaster.c)
I would be very happy if I could use this code to check P2P connections without the need of the signaling.
I jus

[2020-09-09 19:17] disa6302 commented on #740
@yanhui666 ,

Closing this issue since it has gone stale. Feel free to open a new issue if you have questions. Thanks!

[2020-09-09 19:17] #740 closed

[2020-09-09 19:27] fernandoc1 commented on #771
Because it looks like the PKvsPeerConnection is responsible to create the most important part of the P2P connection and its structure is hidden. By looking at the code, it is not easy to figure out that PRtcPeerConnection is related to PKvsPeerConnection and thus, not being able to quickly understand how the peer connection is actually established.
To be more clear, I have found a commit that just

[2020-09-09 19:43] disa6302 commented on #771
@fernandoc1 ,

We will add more documentation around how P2P connection works within the SDK. I will add it as an action item to the documentation ticket.

About Manual signaling, it is a good feature to have to test out signaling separately. We will get back on this shortly.

[2020-09-09 19:50] fernandoc1 commented on #350
This is a nice feature.
One of the discussions within my organization is that we should reduce the use of TURN as much as possible. We are going to sell camera for surveillance, and people will be looking at it 24h every day. If somehow TURN is the connection chosen, our costs will go out of our expectations and our customers budget will explode, rendering us a huge headache.
So, hearing that this

[2020-09-09 21:05] disa6302 commented on #780
@jonescx,

We do display the time taken to send answer after receiving offer here:
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/9da07ef74f1e0f8a12ed5aa61ebab11dd88cca55/samples/Common.c#L151

Somehow, the log gets cut at "handleOffer(): time taken to sen" in the file you attached.

[2020-09-09 21:49] MushMal commented on #707
@fernandoc1 the WebRTC spec does not specify the signaling methods. The Signaling service and it's client that's part of the embedded WebRTC SDK is purely AWS concept and thus, it requires the AWS integration. There is also another part that requires AWS integration which is TURN and STUN. If you don't use these then you can simply use the WebRTC pieces directly and specify your TURN and STUN URIs

[2020-09-09 22:20] mdonahoe commented on #754
Ok looks to be some kind of stack overflow. My gdb stack trace is 100K lines!

Here it is with repeated sections removed, but the whole file is attached.
[code]

**A note to those attempting to reproduce this:** once your credentials expire, you should start seeing 403 errors in the output. You have to wait other 20 minutes or so for the overflow to crash the process.

Full stacktrace here: [gdb.t

[2020-09-10 04:39] MushMal commented on #754
Oh wow!!! Very interesting case. Here is what's happening..

The background thread kicks off refreshing ICE config when it expires. The state machinery checks for the credentials expiration and if they have expired does a state transition to reacquire the fresh ones. However, in your case, the credential provider has "lied" to the signaling client by stating the credentials are GOOD so the state t

[2020-09-10 04:43] MushMal opened #782 "[BUG] Enforce 15 second refresh ICE credentials timeout"
**Describe the bug**
We need to enforce the 15 second ICE credentials refresh timeout. In case of the timeout is hit, the SDK should call the error callback. Currently, the step function of the state machine should fail (perhaps, executing a transitioned state) when ice refresh would fail and call the error handler.

**SDK version number**
Latest commits.

**Open source building**
None

**To Repro

[2020-09-10 04:44] MushMal commented on #754
Created https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/782 to track the fix for the timeout enforcement. The difficulty would be to simulate the error in the test environment - we already have some tests but need to ensure we do the transitions that will lead to the stack overflow before we actually fix it

[2020-09-10 20:02] mdonahoe commented on #754
@MushMal what do you mean by this?
"At any rate, in your case, please ensure your credentials are valid. Make sure to set the expiration when they indeed do expire."

I'm getting valid credentials and then just letting them expire. How do I set the expiration?

Also, where is the source for `createStaticCredentialProvider(...)`? I can only find the header. It would be nice to have a reference impl

[2020-09-10 20:09] MushMal commented on #754
Static credentials are designed to not "rotate" - they return expiration as not expiring (MAX_UINT64).

You can model your provider after it but ensure you return the right expiration, take a look at other providers such as IoT - those return the proper expiration and handle the calls properly.

https://github.com/awslabs/amazon-kinesis-video-streams-producer-c/blob/master/src/source/Common/IotCre

[2020-09-10 21:48] disa6302 commented on #755
@yanhui666

Closing this because of no updates. Please feel free to open a new issue if you have questions.

[2020-09-10 21:48] #755 closed

[2020-09-11 11:52] jvasanthan commented on #757
@disa6302 both master and viewer are always in same network. I am attaching android debug logs, EglRenderer: srRemoteViewDuration: 4011 ms. Frames received: is 0 or 1 initially and after sometime it comes back to 25-30 fps. is it because of TURN? can I rule out encoder issue?
[android_viewer.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5208725/android_viewer.txt)

[2020-09-11 12:06] jvasanthan commented on #757
@disa6302 The issue is with only video. Audio is streaming fine

[2020-09-11 18:26] disa6302 commented on #777
@suggestedfixes ,

I think it should be enough to add `${LIBWEBSOCKETS_LIBRARIES}` to `PUBLIC`

[2020-09-11 18:32] disa6302 commented on #757
Can you try without TURN enabled?

Since you are using the sample as it is, the only thing I can think about is network right now, considering the other combinations work.

[2020-09-11 18:40] disa6302 commented on #756
@Ben8823 ,

Sorry for the late response. From the logs, I see TURN is being used and no candidate pair is being chosen. Can you disable TURN to see how it works?

You need to replace [this](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/9da07ef74f1e0f8a12ed5aa61ebab11dd88cca55/samples/kvsWebRTCClientMaster.c#L22) line with this:

`createSampleConfiguration(argc > 1 ? arg

[2020-09-11 21:25] #782 closed

[2020-09-11 21:26] MushMal commented on #754
Resolving this as the code change went in to allow ICE refresh to fail without continuing to stack overflow

[2020-09-11 21:26] #754 closed

[2020-09-11 21:27] disa6302 commented on #752
Closing this for now. @sbarry157 , feel free to open a new issue when you capture some logs.

[2020-09-11 23:29] staowyze opened #787 "create Iot credential provider causes crash"
**Describe the bug**
If the NIC is down, create Iot credential provider in the sample code would cause crash, see the crash errors

**SDK version number**
1.3

[code]

[2020-09-11 23:36] #777 closed

[2020-09-12 03:50] jvasanthan commented on #757
@disa6302 tried without TURN. No change.

[2020-09-12 07:36] MushMal commented on #787
Could you please get the crash stacks for all of the threads for debug build so we can see what’s going on?

I can also try to reproduce with the steps you are describing- namely, use IoT credentials provider with no network.

[2020-09-12 22:29] staowyze opened #788 "[QUESTION] handleOffer() returns 0x5a00001d"
Hi experts,

Occasionally, my camera device would get into weird state that it cannot respond to any requests, here are the errors. I believe it might be related to network config, may I get suggestions on what might be wrong?

[code]

Thank you!

[2020-09-12 22:34] staowyze commented on #787
I tried then I realized this is not a crash, even though the log says `SIGSEGV`. I guess the seg fault was caught somewhere.
Yeah, i can reproduce it easily, just `ifconfig eth0 down`.

[2020-09-13 00:37] MushMal commented on #787
Must be in your application. Here is my recommendation.

1) Try to reproduce the issue with the stock master sample application
2) If you are able to reproduce the crash, please get the full stack dump so we can look

If we are unable to reproduce and don't have the full stack traces then we won't be able to act on this issue

[2020-09-13 01:01] MushMal commented on #788
STATUS_ICE_NO_LOCAL_HOST_CANDIDATE_AVAILABLE (0x5a00001d) is returned when the ICE agent is unable to find and pair the right candidates. This could happen if you don't have TURN enabled and the ICE agent can't find a P2P path.

[2020-09-13 12:47] staowyze opened #789 "[Questions] lwsIotCallbackRoutine(): Client connection failed. Connection error string: lws_ssl_client_connect1 failed"
Hi experts,

The sample application quit unexpectedly on some devices, with this log
`lwsIotCallbackRoutine(): Client connection failed. Connection error string: lws_ssl_client_connect1 failed`
This seems related to iot credential provider, could someone give some insight on how the credential provide works and why the application quit?

Thank you!

[2020-09-13 13:00] staowyze commented on #787
hm... seems it's not reproducible on my ubuntu machine, only my mips device has the issue.
i cannot catch the stack trace on the device, keep digging...

[2020-09-13 13:09] staowyze commented on #787
i was trying to find some example applications from Producer C, to check if they would crash on my device.
but seems not example applications are available if BUILD_COMMON_LWS is ON, is there anything I could try with BUILD_COMMON_LWS ON?

[2020-09-13 13:38] shiv50084 commented on #770
@chehefen Any update on this?

[2020-09-14 02:37] staowyze commented on #788
thanks, the connection was between my device and alexa echo show, TRUN is not required as alexa has sort of agent which has public IP.
do you have recommendation, for this kind of problem which does happen but rarely, how to debug? any useful log or metrics should be added?

[2020-09-14 05:44] suggestedfixes opened #790 "[QUESTION] Cost Optimization, Feasibility of Packing multiple Candidates in One message"
We are doing some signaling cost optimizations.
Just wondering if it is technically possible to pack multiple candidates into one JSON message?

[2020-09-14 05:58] suggestedfixes commented on #790
https://docs.aws.amazon.com/kinesisvideostreams-webrtc-dg/latest/devguide/kvswebrtc-websocket-apis5.html
From this, seems like we just have to delimit the message payload, and make sure there is an upperbound of 10k characters.

[2020-09-14 14:02] zhuker commented on #772
@henryChmn +1 for full stack trace, please compile with debug symbols

[2020-09-14 14:35] zhuker commented on #788
@MushMal do you think we should print `operation returned status code: STATUS_ICE_NO_LOCAL_HOST_CANDIDATE_AVAILABLE  (0x5a000005)` instead of `operation returned status code: 0x5a000005`
feels like it would make debugging much easier for users

[2020-09-14 14:37] zhuker commented on #787
@MushMal @staowyze looks like it may be caused by unaligned address read/write on mips

[2020-09-14 18:40] MushMal commented on #789
@staowyze the IoT credential provider is one of the types of credential providers. It's defined in the C Producer codebase in Common library.

The idea is to supply a callback that will be called by (in this case) the signaling client whenever it needs the credentials. The IoT credential provider has a caching logic so it won't issue the actual call if the credentials are still valid for a certain

[2020-09-14 18:40] lherman-cs opened #791 "[BUG] non-trickle ICE doesn't include candidates in the SDP offer"
**Describe the bug**
In non-trickle ICE mode, ICE candidates information are sent alongside the SDP offer/answer init. Following is the expected SDP offer (taken from Firefox):

[code]

The ICE candidate information can be seen from `a=candidate` lines.

**SDK version number**
17fa3a7234944ee7d5d9ee8124ecfbc510ce0f98

**Open source building**
N/A

**To Reproduce**
Steps to reproduce the behavior:

[2020-09-14 18:45] MushMal commented on #787
@staowyze C Producer is getting compiled to use libCurl instead of LWS so you won't be able to do it with ease.

@zhuker, there is no unaligned access in the SDK when it comes to signaling path. The only unaligned access is in the content store which is only specific to c producer.

Recommend trying to reproduce this in various configurations. Please run the stock sample applications without any m

[2020-09-14 18:50] MushMal commented on #780
@jonescx Here is the latest thinking on this..

In your scenario, you are using the NON Trickle ICE due to Alexa. Alexa has a 6 second timeout overall. KVS master sample when receiving an offer needs to kick off ICE agent to collect ALL of the ICE candidates in order to furnish the answer. The main issue is that in non-trickle ICE mode, the ICE agent has to wait for all of them to resolve - either

[2020-09-14 18:54] MushMal commented on #770
@shiv50084 I assume all of the questions you asked have been answered and we are tracking the NULL deref issue in this ticket (if not, please cut separate issues with others).

Can you please confirm that you are running stock master application when you got the NULL deref? Can you provide more information on how to reproduce?

[2020-09-14 18:55] MushMal commented on #790
Yes, the limit is 10K for the message. This should cover most of the cases, unless your device has numerous interfaces. This is not a soft-limit as of now. Please provide a little more information about your scenario if this really is an issue on a prod device.

[2020-09-14 18:57] MushMal commented on #772
@henryChmn have you had a chance to reproduce this and capture the crash stack?

[2020-09-14 19:01] suggestedfixes commented on #790
The issue is mostly related to cost, currently the price is $2.25/million messages. Currently, it takes around 20-40 messages to establish a connection. However, if we can pack multiple candidates into one message, so it might only take about 4-10 messages to per connection. This is about 5-10 times of saving on signaling messages.

[2020-09-14 19:05] MushMal commented on #788
@staowyze we have a nat behavior checking API that you could try: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/include/com/amazonaws/kinesis/video/webrtcclient/Include.h#L1774 and print it with the getNatBehaviorStr. This said, you might have some other ways to track the connectivity on your local network topology.

@zhuker having 0x5a000005 printed in the l

[2020-09-14 19:10] MushMal commented on #790
In your real-world prod devices you shouldn't end up with that many messages as you should filter out all of the non-needed interfaces. You could then indeed tight-pack the remainder. Try using non-trickle ICE mode. This will increase the latency though

[2020-09-14 19:14] suggestedfixes commented on #790
So you would suggest whitelisting only gateways and for example eth0 if device is on a LAN. Would this be configurable on the SDK level or this is more of a system level configuration, or both?

[2020-09-14 19:16] disa6302 commented on #790
@suggestedfixes ,

You can set your callback to whitelist interfaces [here](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/17fa3a7234944ee7d5d9ee8124ecfbc510ce0f98/samples/Common.c#L260):

[2020-09-14 19:16] MushMal commented on #778
Any updates on this issue after you've implemented the error callback handler?

[2020-09-14 19:17] MushMal commented on #790
@suggestedfixes Yes, this would really be needed on a proper prod devices. @disa6302 do we have an example of actually using the filter that can help?

[2020-09-14 19:26] disa6302 commented on #790
@MushMal ,

I do not think so. But, this is a simple example of the callback:

[code]

This will lead to collecting all details related to `eth0` such as address, family and port.

[2020-09-14 19:26] suggestedfixes commented on #790
Thanks! I will try it out!

[2020-09-14 19:27] chehefen commented on #791
`a=ice-options:trickle`
Offer says that it supports trickle therefore sdk ran in trickle mode. At some point we made a change to detect trickle ice from the sdp and trickle ice could no longer be disabled just in the sdk.

[2020-09-14 19:29] disa6302 commented on #780
@jonescx ,

You can refer to this to add network interface filtering:
[this](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/790#issuecomment-692258493) and [this](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/790#issuecomment-692263868)  and see if it helps.

[2020-09-14 19:31] MushMal commented on #790
@disa6302 thanks for adding this info. We really need to add some samples utilizing it. I am also wondering how Windows will work with this filter.

@suggestedfixes could you please resolve this issue as we are going off of the main topic

[2020-09-14 19:32] chehefen commented on #788
@staowyze, STATUS_ICE_NO_LOCAL_HOST_CANDIDATE_AVAILABLE  means getifaddrs returned an empty array and we couldnt find any network interface to use on your device. This is quite unexpected. Do you know if there is any circumstance where your device would have no network interface?

[2020-09-14 19:33] disa6302 commented on #790
[Windows](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/17fa3a7234944ee7d5d9ee8124ecfbc510ce0f98/src/source/Ice/Network.c#L28) is taken care of as well.

[2020-09-14 19:35] suggestedfixes commented on #790
@MushMal How difficult would it for us to customize packing multiple candidates? And would you recommend the packing approach?

[2020-09-14 19:37] disa6302 commented on #779
@YUN-CHIEN-LO ,

If you are using `DLOGx` to display the entry in the callback `on_new_remote_video`, make sure the appropriate log level is enabled. As such, the callback registration looks fine. I am going to close this issue for now since there is not much we can do for the GStreamer pipeline. Feel free to open a new issue if you have questions. Thanks!

[2020-09-14 19:37] #779 closed

[2020-09-14 19:39] MushMal commented on #790
It's not really super hard but you are talking about a hybrid kind of mode between trickle and non-trickle. You could control the device side as you have the SDK but you won't control the other side if based on non-embedded SDK.

[2020-09-14 19:40] suggestedfixes commented on #790
The other side is based on aws's javascript Signaling Client library, which is a wrapper around websockets

[2020-09-14 19:43] MushMal commented on #790
I see. Yeah, I guess you could pack those too. You really need to modify the SDK code in both of those cases. Try to eliminate the non-used interfaces by filtering first. Then, try to see if you can simply do non-trickle ICE and if that works then you don't need to do anything. If not, you will have to write some heuristics logic in both clients to do packing based on the size vs time heuristics.

[2020-09-14 19:44] lherman-cs commented on #791
@chehefen yep, I think that's expected if it's master. But, the viewer should not have any idea about the other peer at the moment it created the SDP offer, so it should include the ICE candidates alongside the `a=ice-options:trickle`

[2020-09-14 19:49] lherman-cs commented on #791
The ICE candidates should be attached after each media line, but found that to be not existing in the offer creation:

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/17fa3a7234944ee7d5d9ee8124ecfbc510ce0f98/src/source/PeerConnection/SessionDescription.c#L733-L741

The above snippet should also get the list of ICE candidates from the ICE agent and attach them to the SDP.

[2020-09-14 19:53] suggestedfixes commented on #790
Thanks! We can experiment with interface and ip white listing and resort to packing as a last resort.

[2020-09-14 19:53] #790 closed

[2020-09-14 22:22] lherman-cs commented on #791
nevermind, the candidate lines indeed were added here, https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/SessionDescription.c#L353-L354.

[2020-09-15 00:16] #791 closed

[2020-09-15 01:06] henryChmn commented on #772
We had chance to reproduce this in poor connection condition, but not capture the crash stack in debug build yet.

[2020-09-15 01:36] MushMal commented on #772
Thanks, please try to run multiple different devices to maximize the chance. Try to run debug bits either under the debugger or with an OS crash stack capture.

I am afraid we will need detailed repro or the crash stack in order to be able to help

[2020-09-15 01:51] jonescx commented on #778
@MushMal We patched the openssl library by another way to solve the wait too long issue. It seems hard to reproduce the timeout issue.

[2020-09-15 01:52] jonescx commented on #780
@disa6302 Thanks. We will check them out.

[2020-09-15 01:55] MushMal commented on #778
These are hard to repro issues indeed. Please run multiple scenarios to ensure you the suggested steps are reducing the connect time by reducing ice agent time. Please resolve this issue once verified

[2020-09-15 03:19] jonescx opened #794 "[QUESTION] Session keeps streaming from master but there is no client viewing"
Here are some logs from the file "2020-09-11 08-48-41 FT230X Basic UART #2.log"

`09-11 08:44:59.208: [ 947][W]webrtc_master: heartbeat. state:[9], sessions:[0]`
no viewer session

`09-11 08:45:01.806: [ 947][D]lwsWssCallbackRoutine(): Client receive`
got viewer offer

`09-11 08:45:02.211: [ 947][D]doMasterMessageReceived(): Creating new streaming session for peer [echoshow353]
`
create session fo

[2020-09-15 03:35] jonescx opened #795 "[QUESTION] signalingSendMessageSync(): operation returned status code: 0x5d00002b"
Here is a streaming fail case with these error messages. Is there any suggestion to improve it?

in UART log line 78311
09-11 11:42:54.877: [ 964][I]signalingClientSendMessageSync(): Signaling Client Sending Message Sync
09-11 11:42:54.878: [ 964][E]signalingSendMessageSync(): operation returned status code: 0x5d00002b
09-11 11:42:54.878: [ 964][E]respondWithAnswer(): operation returned status cod

[2020-09-15 04:17] jonescx opened #796 "[QUESTION] Sample code porting issues on the Grand Media platform"
We use the latest SDK and the sample code with sample video frames to make it runs on our platform.
There are two issues.

First, it works on KVS webrtc test page and customer's web app. However, it always connects fail on echo show.
In the attached console log, it shows 2 times of failure.
[09-15 11:56:45]2020-09-15 03:56:45 ERROR   executeFailedIceAgentState(): IceAgent failed with 0x5a000013
[0

[2020-09-15 10:30] Ben8823 commented on #756
@disa6302
I've tried it with TURN disabled and using `WSAGetLastError()` in `socketConnect()`.  Unfortunately I'm still not getting video in the browser.
Attached you can find the viewer and master logs.

I think a PR makes no sense at this stage as i only added handling of `WSAGetLastError()` at one place but `errno` is used at a lot of places in the code (Network.c, SocketConnection.c, Connectio

[2020-09-15 11:42] shiv50084 commented on #770
@MushMal
when i am running sample Master code on my device then there is not NULL deref?
but when i take master code on my device and configure master code (master.c ,common.c) and running with my application then at that time its dereg to NULL. but at then time i seen  "SIGNALING_MESSAGE_TYPE_OFFER" request come before the "SIGNALING_MESSAGE_TYPE_ICE_CANDIDATE".

in sample master i seen there is

[2020-09-15 12:19] zhuker commented on #788
@MushMal makes sense

[2020-09-15 12:31] shiv50084 opened #797 "There different scenarios where master not able to send audio and video to viewer"
**Describe the bug**
when i am starting viewer and try to see AV master fails on my device.
Please see attached log where Master giving an error and giving different error logs in error condition and didn't show any AV on viewer

PFA....
[working_scenario.txt](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5224686/working_scenario.txt)
[working_scenario_2.txt](https://g

[2020-09-15 14:07] zhuker commented on #772
by looking at the code i dont understand where it may have crashed
the only idea i have is that pointer is used after it was freed

[2020-09-15 15:17] MushMal commented on #770
Offer should come before ice candidates.

I am not sure how I can help you debug your code. Try to make a single modification at a time if you can’t tell what your code is doing and don’t have a capability of running under a debugger.

[2020-09-15 15:18] MushMal commented on #770
Resolving for now. Please cut a separate issue if you need help with KVS itself

[2020-09-15 15:18] #770 closed

[2020-09-15 15:20] MushMal commented on #772
Perhaps, double check the callback or any other custom code you’ve added

[2020-09-15 16:12] staowyze commented on #789
thanks for the concrete answer! I tagged bug by accident, and then didn't find a way to remove the bug tag, sorry.

[2020-09-15 16:15] staowyze commented on #788
@chehefen it's possible I messed up the NIC, as I was disabling / enabling the NIC to see if the sample application would crash or not, your information is really helpful, thank you!

[2020-09-15 16:16] staowyze commented on #787
ok, will take a try, thank you!

[2020-09-15 16:41] MushMal commented on #756
Curious, if there is anything special on your platform that for some reasons fails the socket operations with errno - no error? We had added Windows support not so long ago but have Windows runs in Travis CI and they are working OK. I don't have a stock windows machine handy to give it a try but perhaps someone could verify that Windows build works OK?

[2020-09-15 16:50] MushMal commented on #789
No worries. I am going to resolve this issue. Please feel free to cut a new one or reopen this if you need further assistance with IoT credential provider

[2020-09-15 16:50] #789 closed

[2020-09-15 16:51] MushMal commented on #788
Resolving. Please cut a new issue if you still need help with this

[2020-09-15 16:51] #788 closed

[2020-09-15 17:10] MushMal commented on #794
The peer connection state change should trigger the cleanup.

Take a look at how sample specifies it: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L32-L47

Ensure this API gets set in the peer connection like so: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L389

And, ensure that when setting

[2020-09-15 17:16] MushMal commented on #796
@jonescx the log doesn't really tell us much - it just states that it failed to nominate the ice pair: STATUS_ICE_FAILED_TO_NOMINATE_CANDIDATE_PAIR which is 0x5a000013

Could this issue be caused by your network or the topology somehow? Can you reproduce this on non-device with stock master? I suspect something odd must be going on with the network.

Regarding the crash... Let's not track it here

[2020-09-15 17:20] MushMal commented on #795
0x5d00002b is a duplicate message status. This indicates that another send message is in progress, though I am not sure why exactly the sending is "stuck". Can you check whether you have a good network? This could happen on trickle ICE but normally this won't cause an error. Can you see if you can reproduce this on the stock master sample? You might need to be careful with the trickle ICE and send

[2020-09-15 18:43] Ben8823 commented on #756
Sure it compiles fine on windows.
The problem is that `errno` never gets set if you call a winapi method like [sendto]( https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-sendto) or [connect](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-connect).
Instead of reading `errno` the `WSAGetLastError()` function has to be called on windows.

[2020-09-15 19:06] MushMal commented on #756
I understand. This requires some re-plumbing for these APIs. Is this the entire list BTW?

Ideally, we implement the errno code as an internal API in Network.c which then can be compile-time defined into platform specific error code retrieval and mapping API.

No ETA for this work for now

[2020-09-15 19:07] MushMal commented on #756
P.S. We love if people could contribute to the codebase. Please let us know if you would like to work on it. We have a number of community members contributing by submitting their PRs

[2020-09-15 19:12] chehefen commented on #780
@jonescx you have at least three network interfaces on your camera:
09-08 16:28:29.620: iceAgentLogNewCandidate(): New local ice candidate discovered. Id: QCkpK0VLK. Ip: 2601:0540:c601:2f50:8fb7:aa44:4d62:00d9:43947. Type: host. Protocol: UDP.
09-08 16:28:29.621: iceAgentLogNewCandidate(): New local ice candidate discovered. Id: W+oiVdGmZ. Ip: 2601:0540:c601:2f50:0000:0000:0000:13b2:40313. Type: h

[2020-09-15 22:42] staowyze commented on #787
i got the core dump, it turns out the sample application crashed, the logs are interleaved together, causes confusion.
close for now.

[2020-09-15 22:42] #787 closed

[2020-09-16 01:35] sbarry157 commented on #794
Here is example of this issue that is not using an echo show as the viewer. The viewer will abort and retry if it does not receive an sdp_answer within 10 seconds. There were 7 failures with an eventual success. And after the successful stream was stopped, master continued to stream and reported the number of sessions to be equal to 1.

12:44:25.651    success
12:44:14.648    failed
12:44:03.644

[2020-09-16 01:38] sbarry157 commented on #795
Here is example of this issue (same logs and sequence as mentioned in #794). The viewer will abort and retry if it does not receive an sdp_answer within 10 seconds. There were 7 failures with an eventual success. The first failure shows the error code 0x5d00002b.

12:44:25.651 success
12:44:14.648 failed
12:44:03.644 failed
12:43:53.641 failed
12:43:42.639 failed
12:43:31.635 failed
12:43:20.632 f

[2020-09-16 01:59] sbarry157 commented on #796
Here is an example of the streaming failing using an echo show to initiate the stream with error code 0x5a000013. But streaming is working when initiated using a browser:

2020-09-15 14:53:44 - Streaming worked using the browser
2020-09-15 14:55:28 - Streaming failed using echo show

[CMAX-513-2020-09-15 10-53-40 FT230X Basic UART #1.log](https://github.com/awslabs/amazon-kinesis-video-streams-web

[2020-09-16 05:13] disa6302 commented on #771
@fernandoc1 ,

The initial documentation issues have been resolved: The doxygen now has call graphs and the documentation for pre-gen certificate int he README.md is fixed. I am going to go ahead and close the issue.

Feel free to reach out with any questions in the future. Thanks!

[2020-09-16 05:13] #771 closed

[2020-09-16 05:41] ycyang1229 opened #799 "[QUESTION] typo?"
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Sdp/Serialize.c#L33

    if (pSDPOrigin->userName[0] != '\0' && pSDPOrigin->sdpConnectionInformation.connectionAddress[0] != '\0' &&
        pSDPOrigin->sdpConnectionInformation.connectionAddress[0] != '\0' && pSDPOrigin->sdpConnectionInformation.connectionAddress[0] != '\0') {
        currentWriteSize = SN

[2020-09-16 05:42] ycyang1229 commented on #799
I guess it should be like this.

    /** #BUG. */
    if (pSDPOrigin->userName[0] != '\0' &&
        pSDPOrigin->sdpConnectionInformation.networkType[0] != '\0' &&
        pSDPOrigin->sdpConnectionInformation.addressType[0] != '\0' &&
        pSDPOrigin->sdpConnectionInformation.connectionAddress[0] != '\0') {
        currentWriteSize = SNPRINTF(*ppOutputData,
                                    (

[2020-09-16 06:19] jonescx commented on #796
@MushMal We've already provided source code with stock master and toolkit of our platform to @sbarry157. Sean will pass the whole package to your team, please make sure you have device with UART output to setup the environment. If you have any question, please feel free to let us know.

[2020-09-16 06:23] MushMal commented on #799
Oh wow... Thanks for spotting it. Not sure how this got in but certainly need to be fixed to prevent a possible NULL deref crash.

@ycyang1229 do you want to provide a PR for this please?

[2020-09-16 06:27] MushMal commented on #796
@jonescx @sbarry157 Ideally, we would prefer to not debug custom software on custom hardware platforms but rather rely on repro on the samples on a generic platform such as Linux. Could I ask you folks to also try to reproduce these issues on commodity platforms so we can identify the root causes easier?

[2020-09-16 07:14] MushMal commented on #773
Resolving due to staleness. Please re-open with more detailed info

[2020-09-16 07:14] #773 closed

[2020-09-16 07:15] MushMal commented on #781
Resolving as it seems to be related to network

[2020-09-16 07:15] #781 closed

[2020-09-16 07:18] MushMal commented on #775
@shiv50084 apologies for this issue not being looked at. Can you describe your scenario? Which samples are you using - both master and viewer the C WebRTC SDK or your master is the JS sample?

I am trying to see if we can reproduce this issue.

[2020-09-16 07:20] MushMal commented on #797
@shiv50084 can you please deduce from the logs what's going on? What assets are you using? Are you using master sample without any modification? Which viewer sample are you using - I assume it's the stock JS but which browser are you using?

It's hard to look through tons of logs searching for something that's not immediately clear.

I am removing the BUG label as this is a question a this stage

[2020-09-16 07:21] MushMal commented on #772
Resolving this for now. Please cut a separate issue with the detailed crash dump of debug bits for us to be able to transact on

[2020-09-16 07:21] #772 closed

[2020-09-16 07:27] MushMal commented on #757
I am also drawing a blank here. Recommend trying different network configuration to narrow down the potential bandwidth issue. The main issue is that we are not exposed to the actual Androids webrtc implementation and there really isn't much we can recommend in terms of debugging it.

[2020-09-16 07:28] #752 closed

[2020-09-16 07:33] ycyang1229 commented on #799
My repo is quite different from the master trunk now, so I prefer the team fix it if you think it is necessary. Maybe add code review when merging the code.

[2020-09-16 07:33] MushMal commented on #750
Not sure what the problem might be. Can you clarify which platforms/versions are you using?

@chehefen @disa6302 any ideas?

[2020-09-16 07:39] MushMal commented on #799
No worries, just submitted a PR: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/pull/800

[2020-09-16 08:26] jonescx commented on #796
@MushMal I think the network is fine. I use the same network and same device to test.
The webrtc master application that we develop works on both web app and echo show.
The sample code application only works on web app but not echo show (always fail, never success)
Do you have idea where we can add some instrumentation to figure out this problem?

[2020-09-16 09:16] shiv50084 commented on #775
@MushMal I am using this JS test page ( https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html ) on  google chrome browser.

to reproduce this try connect, disconnect and connect again immediately  till issue is reproduce.

[2020-09-16 09:24] shiv50084 commented on #797
@MushMal I am using master sample on my embedded (MIPS, compiled with uclibc) device and i am using as viewer JS test page
https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html on google-chrome browser.

from "not_wroking_scenario_1.txt" log try to search "ERROR" string. You will find out at line number 182-184 and 191-192 . This error occur when master start aft

[2020-09-16 09:58] jonescx commented on #780
@chehefen We will add the network filtering function in our application. Thanks.

[2020-09-16 13:24] ycyang1229 commented on #799
cool, thanks.

[2020-09-16 14:38] staowyze opened #801 "[BUG] Race condition of `signalingClientHandle` in the sample code"
Hi experts,

In the sample code, `signalingClientHandle` is freed and recreated at https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/samples/Common.c#L904
`recreateSignalingClient` is atomic, however is it possible  that `signalingClientHandle` is accessed by multiple threads?

Not very familiar with the implementation of signaling state machine, couldn't get confide

[2020-09-16 16:58] ycyang1229 opened #802 "[QUESTION] m=audio 0 or m=video 0 ?"
I assume my device only has the capability of streaming video, and tried to use video only in the sample code.
I removed audio related code in the sample code in order to make it as a video-only device.

    CHK_STATUS(addSupportedCodec(pSampleStreamingSession->pPeerConnection, RTC_CODEC_OPUS));

    // Add a SendRecv Transceiver of type video
    audioTrack->kind = MEDIA_STREAM_TRACK_KIND_AUDIO;

[2020-09-16 16:59] MushMal commented on #796
@jonescx without any understanding what is wrong I can't recommend any actual steps. We really need to start converging with the scenarios. For that, we will need your team to pin point the issues and ensure we are constantly looking at the same thing and that we can trust the experiments.

The sample log that @sbarry157 attached contains a successful streaming session and following it there is on

[2020-09-16 17:03] MushMal commented on #802
You should be able to remove the audio from the sample. Unfortunately, the issue you've posted is vague and is not actionable on our side. I am going to close this issue. Please cut a targeted question that we can help you with

[2020-09-16 17:03] #802 closed

[2020-09-16 17:09] ycyang1229 commented on #795
@sbarry157 Just curious. Did you have any ice candidate pair each streaming session? It means master does receive the remote ice candidate, handle it and make the relationship between local ice candidate and remote ice candidate. Btw, did you use single core chip as your platform? thanks.

[2020-09-16 17:09] MushMal commented on #797
Status code of 0x5200002b (STATUS_SIGNALING_DUPLICATE_MESSAGE_BEING_SENT) is generated when there are duplicate messages in the queue. What this means is that a thread is calling a send message API which is synchronous while another thread is already in the process of sending a message with the same correlation ID. Currently, we only support blocking send message calls.

What is happening likely i

[2020-09-16 17:11] MushMal commented on #775
OK, thanks for clarifying. While this is one of the common scenarios we try (automated) we haven't run into this issue. This seems that your open ssl gets into a bad state somehow. Is the master stock master application on a Linux for example or this is the stock master on your own device?

[2020-09-16 17:22] ycyang1229 commented on #802
Does this sdk handle this situation for video-only? The order of m-lines in answer doesn't match order in offer.

[2020-09-16 17:26] hassanctech commented on #802
It would work, what version of the SDK are you using?  This issue was fixed a month ago and I tested it by removing audio parts from the sample.

[2020-09-16 17:32] ycyang1229 commented on #802
My repo is detached from this commit. Would you mind giving me the commit fixing this problem? I did not add codec table and tranceiver of audio. Does this sdk reply to the viewer with "m=audio 0"? Or just ignore the "m=audio xxx" from offer.

*   commit e2fad0b46c5ae8ccfae5fd600c523c97f9cf8b3e (origin/viewer-mode, origin/master, origin/jetson-porting, origin/HEAD, master)
|\  Merge: 1d8a292a 2c7a

[2020-09-16 17:36] hassanctech commented on #802
Yep that would explain it -- this is where it is fixed:  https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/5f24664abb9f07d2ebd776a965ef7ff51f647746

Which is from Aug 19, it looks like you have a commit from Aug 13.

[2020-09-16 17:40] ycyang1229 commented on #802
Cool. It looks good. I will try it tmr in my timezone.  Thanks.

[2020-09-16 19:03] disa6302 commented on #759
@zhuker ,

I will work on a fix for `currentRoundTripTime` soon. Sorry its taken this long. Will update this ticket once I add in the fix.

[2020-09-16 22:58] staowyze commented on #801
@MushMal what do you think?

[2020-09-16 23:11] MushMal commented on #801
@staowyze there is indeed a chance of a race condition as we are not interlocking. The race could happen when we receive a message (either trickle ICE candidate or an offer for example) - this is handled on a separate thread that's created within the signaling client. The race could happen if we are still within the thread handling the message and an error gets triggered by the signaling (either d

[2020-09-16 23:26] staowyze commented on #801
Thanks for confirming @MushMal ! Could you please elaborate why it is not possible to hit in practice due to the retry logic in the signaling client?
My metrics show there are crashes on our devices, especially when they are in trouble to reconnect signaling channel, i am wondering is it possible that, ICE refreshing could hit the race condition?

[2020-09-16 23:34] MushMal commented on #801
It is possible to hit race condition even with the retries in refreshing ICE config. This said, I would recommend capturing the crash stack to ensure it's not something else that's crashing.

We will prioritize the fix for this

[2020-09-16 23:42] staowyze commented on #801
thank you! this is the top issue I have seen on my devices.

[2020-09-17 05:15] MushMal commented on #799
fix is in

[2020-09-17 05:15] #799 closed

[2020-09-17 09:37] ycyang1229 commented on #802
I used the latest webrtc sdk on ubuntu, and webrtc test page on chrome. Did not add the codec table and transceiver of audio and made master sample as video-only. It did not work.  Safari works since it seems not to check "m=".  Not sure the team want to deep dive into this, or has the plan to do sdp negotiation.

[2020-09-17 13:17] hassanctech opened #803 "[BUG] Answer m-lines should match offer m-lines even when answerer doesn't support media type"
**Describe the bug**
The master sample right now adds audio/video transceivers.  If we modify it to only have video -- when replying to an offer which has recvonly audio, instead of sending an m-line it will send nothing.

Need to modify the logic that determines the response to match m-lines in offer even when local transceivers might not have matching media.

**SDK version number**
eac3e1656aa01

[2020-09-17 13:17] hassanctech commented on #802
Yes actually what you describe is a known issue -- it works in Safari because in the js sdk we offer to receive/send audio (https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/blob/master/examples/viewer.js#L131-L132) but Safari ignores those and actually doesn't send any m lines for media types that are not explicitly selected.  What I mean by this is when you select video-only

[2020-09-17 13:42] ycyang1229 commented on #802
Thanks for the detailed information. Look forward to its fix. Would you also consider the  scenario of audio-only?

[2020-09-17 13:53] hassanctech commented on #802
Yes, the fix would make sure we match up a response m-line to all m-lines present in the answer, which we do now the only exception is when the master side doesn't have the matching capability in which case we don't currently "create" the capability if it's not in the local transceiver to send an m-line but the correct solution is to still send the response to match the answer with direction set t

[2020-09-17 14:05] ycyang1229 commented on #802
Cool. That will be nice. Thanks.

[2020-09-17 14:51] jvasanthan commented on #757
closing the issue for now. I didn't see frame loss in a different network.

[2020-09-17 15:39] #757 closed

[2020-09-17 16:58] MushMal commented on #794
@jonescx @sbarry157 any update on this particular issue? Have you debugged this issue any further to understand why your master application doesn't respond properly to the state change callbacks?

[2020-09-17 16:59] MushMal commented on #762
IPv6 should not be listed for TURN. Our TURN is IPv4 only. Please re-open or cut a new one if you need further assistance

[2020-09-17 16:59] #762 closed

[2020-09-17 18:09] ycyang1229 opened #804 "[QUESTION] Does this sdk pend the emitting of ice candidate until sdp offer or answer is received?"
Does this sdk pend the emitting of ice candidate until sdp offer or answer is received? The js sdk does, but I am not sure c sdk support this or not. Thanks.

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/blob/master/src/SignalingClient.ts#L283
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js/blob/master/src/SignalingClient.ts#L298

[2020-09-17 20:10] MushMal commented on #804
The SDK is not the one responsible for it. In this case, it's the master and viewer sample applications. They use the signaling client to exchange the offer and answer and then prepare the peer connection which would then use the signaling client in the ICE agent state machinery to exchange the ICE candidates

[2020-09-17 21:20] staowyze opened #806 "[QUESTION] cannot establish connection between Alexa and the camera"
Hi experts,

We are using the SDK to make a call between Alexa and the camera, here is the log that we couldn't establish connection, could you please help to see what could be wrong? thank you!
[code]

[2020-09-17 22:15] Kho-Wyze commented on #806
This is the signaling channel.
2CAA8E0EC129

[2020-09-18 02:23] jonescx commented on #794
@MushMal We have updated the master code to the latest version of master stock and doing the network filtering now. We will check issues again after these updates.

[2020-09-18 02:32] jonescx commented on #795
@ycyang1229 From @sbarry157 attached log, we can see the candidate pair is 0 in those fail cases.
`iceAgentCheckConnectionStateSetup(): ice candidate pair count 0`

The platform uses an ARM single core CPU.

[2020-09-18 02:37] mdonahoe opened #807 "[Connection Help] Can someone help me interpret these error messages?"
My master at my office is unable to connect to a client at my house.

This is the log from the master.
[code]
After this it just stalls for a several minutes and never connects.

I'm confused by TURN_STATE_READY, given that both sides don't seem to be able to connect and send offer/answer.

Also, what does `Received STUN error response. Error type: 0x00, Error Code: 403. attribute len 16, Error de

[2020-09-18 02:51] jonescx commented on #796
@MushMal  @sbarry157 We found the root cause of echo show cannot connect. It's because the tricleIce is TRUE in the sample code. It must be FALSE for echo show connection.

`STATUS createSampleConfiguration(PCHAR channelName, SIGNALING_CHANNEL_ROLE_TYPE roleType, BOOL trickleIce, BOOL useTurn, PSampleConfiguration* ppSampleConfiguration)`

[2020-09-18 04:23] MushMal commented on #806
Casual look at it tells me that either you have no network or something is seriously wrong with you network stack. You have both the signaling client timing out and the socket operations failing.

I see this output in the log

`[09-17 20:56:49][2020-08-17 12:56:49] [KVS]tlsSessionProcessPacket(): SSL_read failed with error:140943FC:SSL routines:ssl3_read_bytes:sslv3 alert bad record mac
`
I am not

[2020-09-18 04:29] MushMal commented on #807
Not yet entirely sure why handling the offer times out in your case. Can you check earlier logs and see if refreshing ICE failed and whether it was handled properly by restarting the signaling.

`2020-09-17 23:37:27 ERROR   handleOffer(): operation returned status code: 0x0000000f`

The particular error 403 is OK in some cases. What this means is that we are pinging STUN to resolve an IP that it d

[2020-09-18 04:31] MushMal commented on #796
Oooookay! Thanks for this, entirely forgot to mention it.

[2020-09-18 04:31] MushMal commented on #807
Can you also try disabling Trickle ICE?

[2020-09-18 04:32] #796 closed

[2020-09-18 05:02] mdonahoe commented on #807
I have a TX2 running at my office as the master. My android phone is at home running as the client. This logs comes from the master.

Interestingly, I also have a workstation at the office running as master, and my android phone is able to connect to that just fine.

Also, when I run the JS viewer at the office as the master, my android phone connects to that too.

Finally, I have a TX2 at home th

[2020-09-18 05:12] shiv50084 commented on #797
@MushMal
First client connect properly.When i try to connect same client (Viewer) after closing previous connection then this error occurs.

[2020-09-18 05:23] MushMal commented on #807
I am guessing it’s due to your office network. It’s likely timing out gathering ice candidates. Filter out unused interfaces like eth0 if you only use wifi for example.

[2020-09-18 05:27] MushMal commented on #797
If the client uses the same client Id and if the mater hasn’t yet cleared the session then you will have connection failure. Either modify the master to handle different sessions with the same client id somehow or wait until the session clears out. Normal path is to use a different client if.

[2020-09-18 05:28] MushMal commented on #797
Client ID that is.

[2020-09-18 05:35] mdonahoe commented on #807
That seems to have done it!

I was already filtering out most interfaces, but the TX2 has two (wifi and wired) whereas my workstation on the same network only had one. Filtering out the wifi address on the TX2 made it work, thanks.

[2020-09-18 05:35] #807 closed

[2020-09-18 07:24] shiv50084 commented on #797
@MushMal According to my understanding this function "sessionCleanupWait" is responsible for clean up am i right?

and where i need to modify in master ?

[2020-09-18 07:36] ycyang1229 commented on #804
Thanks for the information. I wonder the specification of trickle ice defines the behavior of sdp offer/answer/ice candidate or not.
After master receives the sdp offer. Does master need to hold all the local ice candidate until it sends the sdp answer? Or the master can send local ice candidate freely after receiving the sdp offfer?

[2020-09-18 14:05] MushMal commented on #804
In trickle ice more the master will send the answer and will start sending the ice candidates as it discovers the

[2020-09-18 15:34] MushMal commented on #797
Yes, that's the code that's responsible for the cleanup. Not sure what your design is to suggest what you want to do. There is some wording in the WebRTC spec stating how to "determine" the session termination. This is done in the PeerConnection properly on the SDK part. The sample listens to the state changes and kicks off the cleanup in the session cleanup when needed. The issue is that there is

[2020-09-18 16:05] ycyang1229 commented on #804
I am using one single-core 240Mhz chip to run this sdk, and it works well at low bit rate/frame rate now. Device as a master, and js sdk as a viewer. Why I trying to confirm this behavior of trickle ice here. It is because of having the similar situation in this case(https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/795). When the sequence was not correct, I received the

[2020-09-18 16:06] ycyang1229 commented on #804
Btw, does the team have the plan to do zero-copy/__packed...etc to speed up the process of packets?

[2020-09-18 16:11] ycyang1229 commented on #795
@jonescx I did check the log, but I am not sure the behavior since it is not the original pattern. Maybe you can confirm the sequence of related sdp. If it is not correct. you can try what I mentioned in this issue(https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/804). Thanks.

[2020-09-18 16:18] ycyang1229 commented on #795
Btw, I am not a member of this sdk team, so the suggestion from this sdk team is definitely your first choice. You can try what I mentioned if you want to do it, in case you waste your time to do it. Thanks.

[2020-09-18 16:19] MushMal commented on #804
I think it's not the LWS that stuck in the first case. What happens is that while we gather the ICE candidates, the socket code gets blocked and times out 5 seconds later. This causes timeouts throughout which is expected. Recommend filtering all the interfaces which are "bad". For example, if your device has both wifi and ethernet, and the latter one is not plugged in, it will cause the timeout.

[2020-09-18 16:25] staowyze opened #808 "[BUG] dereference null pointer in executeGetTokenSignalingState"
Hi experts,

in `executeGetTokenSignalingState`,  we try to get new credential
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/Signaling/StateMachine.c#L279
however, `pSignalingClient->pAwsCredentials` could be null if get credential fails.
e.g. I got null credential with the following log
[code]
Then we will dereference null pointer https://github.com/a

[2020-09-18 16:28] ycyang1229 commented on #804
I only have one network interface, and I confirmed it only has two ice candidates(host/srflx) in the master when I disabled turn. I saw the lws did not send writable callback back to lws routine, so I guess it may hang there.  But you are right. I will check the socket code and confirm the behavior. Thanks for your advice. :)

[2020-09-18 16:45] MushMal commented on #808
@staowyze thanks for reporting. We need to properly fix this.

[2020-09-18 18:05] MushMal commented on #808
Done

[2020-09-18 18:05] #808 closed

[2020-09-18 20:20] staowyze commented on #801
@MushMal any updates on this?

[2020-09-18 20:23] MushMal commented on #801
Sorry, nothing yet. We will update as soon as we have something

[2020-09-20 03:34] MushMal commented on #801
Just had a chance to look into this. I believe the crashes you were seeing are related to the NULL deref. There is also the race condition that's been fixed in this PR: #810 - please take a look. We will get this through and push this into master branch ASAP.

[2020-09-20 05:26] suggestedfixes opened #811 "[BUG] 71e1deb7ffcff6d1839a7698b15b68bad9153a8a does not support firefox v80.0+"
**Describe the bug**
We are trying to figure out why firefox stopped decoding, we tried to go as far back as early as possible when we recalled that firefox can decode, so far no luck.
So far we think it's not because of SDK changes, but most likely due to firefox's side of changes.

**SDK version number**
71e1deb7ffcff6d1839a7698b15b68bad9153a8a

**To Reproduce**
- Build 71e1deb7ffcff6d1839a7698b

[2020-09-20 19:43] suggestedfixes opened #812 "[BUG] Gst Sample Starting Writing Frames to RTP Transceiver before DTLS session is established"
**Describe the bug**
Would be nice to include a DTLS callback, or a way of detecting the session is ready before writing to transceiver.

[2020-09-21 03:33] chehefen commented on #812
can you give us some details what issue did you run it?

[2020-09-21 03:45] chehefen commented on #797
@shiv50084 can you try the stock master sample? In the not working log I see cases where not remote ice candidate was discovered, seems that you did not implement the sample properly.

[2020-09-21 17:05] staowyze commented on #801
yeah, the NULL deref is part of the cause of crashes, I have deployed the NULL deref fix, but still see crashes with the following logs
[code]
I am not able to collect crash dump from devices due to infra limits.
I will take a look at #810, thank you!

[2020-09-21 17:11] staowyze commented on #801
#810 is not related to my crashes, since all the crashes happened without active sessions, i.e. no offer, answer, etc.
I suspect it's related to signaling client recreation, as I always see logs about recreating signaling client just before the crash.

[2020-09-21 17:36] MushMal commented on #801
@staowyze we will need a little more info about the crash to repro or at least have some theories. As such, it's unactionable

[2020-09-21 18:01] disa6302 commented on #804
@ycyang1229 ,

Closing this issue for now. Feel free to reach out if you have any questions.

[2020-09-21 18:01] #804 closed

[2020-09-21 18:02] disa6302 commented on #794
@jonescx ,

Any update?

[2020-09-21 18:28] disa6302 opened #813 "[BUG] currentRoundTripTime in ICE candidate pair stats is updated only once"
**Describe the bug**
`currentRoundTripTime` must be updated every time a binding response for the pair is received. Currently, it is updated only once when candidate pair is not in `ICE_CANDIDATE_PAIR_STATE_SUCCEEDED` state. Taking this from https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/759

[2020-09-21 18:29] disa6302 commented on #759
Tracking this in #813

[2020-09-21 18:29] #759 closed

[2020-09-21 19:15] staowyze commented on #801
is #810 going to fix the race condition of `signalingClientHandle`? @MushMal

[2020-09-21 19:18] MushMal commented on #801
Yes, it contains the fix for the NULL deref (which I believe would be the root cause for the crash) and a fix for a race. We have a lock that controls the access.

[2020-09-21 19:29] staowyze commented on #801
would it possible some background thread is still using `signalingClientHandle` while it's been freed by `freeSignalingClient`? Just curious, not sure it's another race.

[2020-09-21 19:30] MushMal commented on #801
Not in the sample. Please make sure if you modify the sample, then you need to do the same interlocking.

pSampleConfiguration->sampleConfigurationObjLock

[2020-09-21 22:57] suggestedfixes commented on #812
When a second session joins, we start seeing a bunch of writeFrame message failed. Would that cause any issues?

[2020-09-21 23:01] disa6302 commented on #812
@suggestedfixes ,

What is the failure? Do you have logs?

[2020-09-21 23:07] suggestedfixes commented on #812
Everything leading up to DTLS init looks fine. writeFrame might have been non-critical?

[code]

[2020-09-21 23:10] disa6302 commented on #812
@suggestedfixes ,

This is non critical. I guess we do not handle this status code in the gstreamer sample. It is handled in the other sample. Let me add a PR to address this.
`STATUS_SRTP_NOT_READY_YET` is returned when SRTP session is not set up when the writeFrame is called.

It shouldnt affect anything. https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/b1c1934eae0e76dbc

[2020-09-22 00:44] suggestedfixes opened #815 "[QUESTION] Is it a good idea to fail peer connection when DTLS fails?"
In https://github.com/suggestedfixes/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/source/PeerConnection/PeerConnection.c,

VOID onDtlsStateChange(UINT64 customData, RTC_DTLS_TRANSPORT_STATE newDtlsState)

We see that we map DTLS state is closed, we trigger RTC_PEER_CONNECTION_STATE_CLOSED.

Is it also ok if the DTLS session is failed, we also trigger RTC_PEER_CONNECTION_STATE_FAILED?

[2020-09-22 01:13] MushMal commented on #801
Resolving this issue as the original issue has been addressed. Please cut a new issue once you update the codebase and get the debug crash stacks

[2020-09-22 01:13] #801 closed

[2020-09-22 01:37] disa6302 commented on #812
Closing this. @suggestedfixes , the spew will not be observed anymore

[2020-09-22 01:37] #812 closed

[2020-09-22 01:44] jonescx commented on #794
@disa6302 Sorry, no update yet.

[2020-09-22 01:46] jonescx commented on #795
@ycyang1229 Thanks for your advice. We will check it out.

[2020-09-22 01:48] MushMal commented on #795
This is a long thread including various questions. I am going to resolve this for now. Please cut separate issues with details

[2020-09-22 01:48] #795 closed

[2020-09-22 04:00] zwei333 commented on #488
Need to re-open this issue.  It does not work all the time.
After a camera power cycle, if viewer sends offer to signaling server before running webrtc master on camera, when webrtc master starts for the first time, the offer will be lost, so viewer can't connect to master.  But repeating the same operation without a power cycle will result in successful connection.
Steps to reproduce (using https

[2020-09-22 04:07] MushMal commented on #488
@zwei333 unfortunately, we will not be able to debug your application on your platform. The powercycle is irrelevant to the signaling.

Try to use an open platform such as Linux or Mac. Run the stock master application without any modifications. Ensure your signaling channel is created with enough TTL - for example 10 minutes. This will guarantee that when the viewer sends the message, the master

[2020-09-22 04:19] zwei333 commented on #488
To be clear, there is no problem with webrtc master code.
After power cycle, by running https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html sample viewer, tcpdump shows that signaling  server sends packets to camera even when webrtc is not running.
In the work around, I designed an experiment so that signaling server doesn't send packets to camera when webrtc i

[2020-09-22 05:41] MushMal commented on #488
I am puzzled really. The offer is exchanged via websocket so there must be a handshake - a connect event.
What I suspect is that the previous session was not gracefully terminated and the backend still thinks the connection is still open so it sends the packets. The client , just like the backend is sending pongs at regular intervals to indicate that it’s still up. If the other side is gone withou

[2020-09-22 07:28] huyhoangk50 opened #817 "[BUG] Can not show video in firefox"
**Describe the bug**
In `PeerConnection.c`, in function `addTransceiver` we set
[code]
That means the PeerConnection requires sending and receiving the audio/video track. But if the it's peer does not send any stream, in firefox it will show the error.
[code]
Should we add the parameter to the variable `direction` in the function `addTransceiver`  instead of fixing it.

**Desktop (please complete

[2020-09-22 14:13] hassanctech commented on #817
Can you please describe your setup for when you hit this issue.  While the `direction` parameter is initialized to `RTC_RTP_TRANSCEIVER_DIRECTION_SENDRECV` for the local transceiver at the time we build the local description (which is what's used to build the answer) we adjust the direction according to the offer, here:  https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/mas

[2020-09-22 14:20] zwei333 commented on #488
Yes, the offer should be sent after websocket connection is created.  But I do see that after camera is started and before webrtc is running, by starting viewer, a few packets are sent to camera using the old port number.  Whenever this happens, the offer never makes it into webrtc when webrtc is started later.  Below is tcpdump log:

0. run webrtc and then viewer, stream OK.  Stop viewer

2020-09

[2020-09-22 17:33] hassanctech commented on #811
I'm looking in the release notes for the Mac Firefox 80.0 release it looks like a bug was introduced in 80.0 but fixed in 81.0, can you please try the latest (81.0) ?

[2020-09-22 17:45] hassanctech commented on #811
Ok I can confirm that it worked on Firefox v79.0 but does not work on v80.0, v81.0 or v82.0b1 -- I will look into this.

[2020-09-22 17:48] hassanctech commented on #811
I see this in their release notes for 80.0

Firefox now supports RTX and Transport-cc for improved call quality in poor network conditions and better bandwidth estimation. These features also provide better compatibility with many websites using WebRTC. (https://www.mozilla.org/en-US/firefox/80.0/releasenotes/)

[2020-09-22 18:28] hassanctech commented on #811
Ok so I see an issue, running the stock master sample and the js test page in Firefox I see the following m-line in the offer produced by Firefox:

`m=video 60149 UDP/TLS/RTP/SAVPF 120 124 121 125 126 127 97 98`

However the answer the C SDK produces is:

`m=video 9 UDP/TLS/RTP/SAVPF 0`

We were expecting a '9' after video, I'll dig deeper into the spec and see if this is something we need to supp

[2020-09-22 18:29] hassanctech commented on #811
For example here is a video m-line produced by Firefox in v79.0

`m=video 9 UDP/TLS/RTP/SAVPF 120 121 126 97`

[2020-09-23 05:40] hsinghaowang commented on #797
@MushMal May I know what exactly the "Client ID" is used? Is there any log example? like:

[2020-09-23 06:06] MushMal commented on #797
Both are the same. ClientID is a KVS Signaling service concept. This is done so the master can identify the viewers. Say you have multiple viewers - all authenticated and authorized via AWS. Master can chose to add additional logic to respect the offers coming from them or not. The client ID can then be used to map the sessions. The message contains the recepient id which is the client id of the p

[2020-09-23 08:42] huyhoangk50 commented on #817
actually I am trying to encode video to vp8 format and send it through webrtc. It's kind of complex to reproduce here. Also I did not complete it. Let me standardize it and send back to you.

Moreover for the firefox, I cannot show h264 video on this too. To reproduce that.
- run ./kvsWebrtcClientMaster mychannel
- go to https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples

[2020-09-23 10:17] coolzsf opened #818 "[BUG]-Webrtc master responses the SDP_OFFER of Echo Show too late, the live streaming will be failed."
**Describe the bug**
Sometimes the Echo Show live streaming of camera will be failed.

**SDK version number**
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/commit/910a67c822a2bd9e14e3271a81cb57516add2b6e
https://github.com/awslabs/amazon-kinesis-video-streams-pic/commit/f362b4083366df2e3b1f56a860bf7dd474912fbe
https://github.com/awslabs/amazon-kinesis-video-streams-producer-

[2020-09-23 13:31] hassanctech commented on #817
Curious if this is because of a change recently introduced in Firefox, do you have Firefox 80.0 or newer?  There's a [bug](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/811) for this.  Can you confirm that you hit the same issue with Firefox 79.0?

[2020-09-23 21:31] MushMal commented on #818
It's not immediately clear from the picture you've attached but it looks like after it received the message the master is refreshing the ICE candidates which causes the blockage.

Can you describe your scenario and the devices in more details? How often does this happen? How often do you invoke the master? The ICE refresh logic is kicked off in the background prior to the TURN credentials expirati

[2020-09-24 02:23] huyhoangk50 commented on #817
I use Firefox 80.0, too. So it is the same bug.

[2020-09-24 02:59] pai-da-xin opened #820 "Have released the integration guide with Alexa?"
Hello,Experts,

Excuse me,Have released the integration guide with Alexa?Whether to push the reference lambda code on GitHub.

[2020-09-24 06:32] disa6302 commented on #794
I am closing this for now. @jonescx , feel free to reopen or reach out if you have questions

[2020-09-24 06:32] #794 closed

[2020-09-24 06:34] disa6302 commented on #806
@staowyze ,
Any updates?

[2020-09-24 17:40] aws-tec opened #821 "[BUG] onFrameDroppedFunc leads to Segmentation fault."
**Describe the bug**
When playing stream from viewer(Test Webpage) side for a while, the master(C SDK) side will lead to segmentation fault because of pTransceiver->statsLock can not be accessed.

**SDK version number**
Commit ID: 8c1eaf09d8f27d13efdac3808b3d6b7cd554fa74

**To Reproduce**
It's easy to reproduce. Run the kvsWebrtcClientMaster and connect to master via test webpage. It takes random

[2020-09-24 17:47] disa6302 commented on #821
@aws-tec ,

Can you please run your app under a debugger and provide a stack trace?

[2020-09-25 01:52] aws-tec commented on #821
@disa6302
Please check the attached log file.
[segmentation_fault.log](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/files/5280089/segmentation_fault.log)

[2020-09-25 02:48] suggestedfixes commented on #815
Looks like this is a hard question to answer. I will run some experiments I suppose.

[2020-09-25 03:06] disa6302 commented on #817
@huyhoangk50 ,

Can you try with an older Firefox version and see if you still see the issue?

We are aware there is a problem with Firefox version >=80.0

[2020-09-25 03:47] huyhoangk50 commented on #817
@disa6302 It seems do not work in firefox 79.0.

I did not see the official release for firefox 79.0 for ubutu 18.0.1 in apt release list. So, the way I installed the version 79.0 is: downloading from https://ftp.mozilla.org/pub/firefox/releases/79.0/linux-x86_64/en-US/.
Bellow is the error code generated when I did the same process.
[code]

[2020-09-25 03:50] suggestedfixes commented on #820
Pst. you can email @bdhandap or kinesis-video-support@amazon.com for a sample lambda implementation.

[2020-09-25 03:53] huyhoangk50 commented on #817
More over If I do not enable video/audio in the test page it will generate the error, which is the same as I mention in this bug report. For my project, if I hard code
`RTC_RTP_TRANSCEIVER_DIRECTION direction = RTC_RTP_TRANSCEIVER_DIRECTION_SENDONLY` in PeerConnection.c it will work. (in firefox 80.0, encoder=vp8, os ubuntu 18.04)

[code]

[2020-09-25 04:35] disa6302 commented on #817
@huyhoangk50 ,

Firefox is strict with the transceiver direction. FYI, You need not hard code in PeerConnection.c.

You can add these two lines before [this](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/8c1eaf09d8f27d13efdac3808b3d6b7cd554fa74/samples/Common.c#L400)  to set direction and pass it in:

[code]

You can do this for the respective video and audio transceive

[2020-09-25 04:41] disa6302 commented on #750
Not sure. It does look like nomination times out: `STATUS_ICE_FAILED_TO_NOMINATE_CANDIDATE_PAIR` (`0x5a000013`). It does look like STUN should work.

[2020-09-25 04:43] disa6302 commented on #806
@staowyze ,

Closing this based on the tag. Feel free to re-open or create a new issue if you have any more details. Thanks!

[2020-09-25 04:43] #806 closed

[2020-09-25 05:32] huyhoangk50 commented on #817
Yeah, I just temporary fixed that to see, if it would work.

[2020-09-25 10:05] coolzsf commented on #818
Thanks for your response.
We have disabled the Trickle ICE and filtered the useless interface already.
Our camera and Echo Show is located at Suzhou China, Alexa Lambda region is Virginia, and the KVS region is Oregon.
We tested it about 10 times and it happened once. And we waited about 3 minutes before next test.

[2020-09-25 12:15] MushMal commented on #818
See if your network has packet loss but in general Alexa will timeout in 6 seconds all together. Having multiple cross region calls might be getting too close to the timeout

[2020-09-25 17:26] jvasanthan opened #822 "Android webrtc forum"
Hi Team,
Apologies to post about Android in this forum.
is webrtc android forum active. I have stability issue with android signaling client connection couldn't get much help

[2020-09-25 18:44] MushMal commented on #822
@jvasanthan the forum is active, it just has lesser number of active people. I am going to resolve this.

[2020-09-25 18:44] #822 closed

[2020-09-25 23:44] mdonahoe opened #823 "[QUESTION] How do you close an existing data channel?"
So I have this function in my master code
[code]

And everything is good. But how do I let the master `close` the datachannel so it stops handling messages from the client? Is that part of the data channel api?